src/main/resources/wsdl/AccountCreationService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="accountCreationServiceSOAP" targetNamespace="KFS" xmlns:ns1="http://cxf.apache.org/bindings/xformat" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="KFS" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <wsdl:types>
<xs:schema elementFormDefault="unqualified" targetNamespace="KFS" version="1.0" xmlns:tns="KFS" xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:element name="createAccount" type="tns:createAccount"/>
<xs:element name="createAccountResponse" type="tns:createAccountResponse"/>
<xs:complexType name="createAccount">
<xs:sequence>
<xs:element minOccurs="0" name="accountParametersDTO" type="tns:accountParametersDTO"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="accountParametersDTO">
<xs:sequence>
<xs:element minOccurs="0" name="accountName" type="xs:string"/>
<xs:element minOccurs="0" name="accountNumber" type="xs:string"/>
<xs:element minOccurs="0" name="adminContactAddressCityName" type="xs:string"/>
<xs:element minOccurs="0" name="adminContactAddressStateCode" type="xs:string"/>
<xs:element minOccurs="0" name="adminContactAddressStreetAddress" type="xs:string"/>
<xs:element minOccurs="0" name="adminContactAddressZipCode" type="xs:string"/>
<xs:element minOccurs="0" name="cfdaNumber" type="xs:string"/>
<xs:element minOccurs="0" name="defaultAddressCityName" type="xs:string"/>
<xs:element minOccurs="0" name="defaultAddressStateCode" type="xs:string"/>
<xs:element minOccurs="0" name="defaultAddressStreetAddress" type="xs:string"/>
<xs:element minOccurs="0" name="defaultAddressZipCode" type="xs:string"/>
<xs:element minOccurs="0" name="effectiveDate" type="xs:dateTime"/>
<xs:element minOccurs="0" name="expenseGuidelineText" type="xs:string"/>
<xs:element minOccurs="0" name="expirationDate" type="xs:dateTime"/>
<xs:element minOccurs="0" name="higherEdFunctionCode" type="xs:string"/>
<xs:element minOccurs="0" name="incomeGuidelineText" type="xs:string"/>
<xs:element minOccurs="0" name="indirectCostRate" type="xs:string"/>
<xs:element minOccurs="0" name="indirectCostTypeCode" type="xs:string"/>
<xs:element name="offCampusIndicator" type="xs:boolean"/>
<xs:element minOccurs="0" name="paymentAddressCityName" type="xs:string"/>
<xs:element minOccurs="0" name="paymentAddressStateCode" type="xs:string"/>
<xs:element minOccurs="0" name="paymentAddressStreetAddress" type="xs:string"/>
<xs:element minOccurs="0" name="paymentAddressZipCode" type="xs:string"/>
<xs:element minOccurs="0" name="principalId" type="xs:string"/>
<xs:element minOccurs="0" name="purposeText" type="xs:string"/>
<xs:element minOccurs="0" name="unit" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="createAccountResponse">
<xs:sequence>
<xs:element minOccurs="0" name="return" type="tns:accountCreationStatusDTO"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="accountCreationStatusDTO">
<xs:sequence>
<xs:element minOccurs="0" name="accountNumber" type="xs:string"/>
<xs:element minOccurs="0" name="chartOfAccountsCode" type="xs:string"/>
<xs:element minOccurs="0" name="documentNumber" type="xs:string"/>
<xs:element maxOccurs="unbounded" minOccurs="0" name="errorMessages" nillable="true" type="xs:string"/>
<xs:element minOccurs="0" name="status" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="createAccountResponse">
    <wsdl:part element="tns:createAccountResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="createAccount">
    <wsdl:part element="tns:createAccount" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="accountCreationService">
    <wsdl:operation name="createAccount">
      <wsdl:input message="tns:createAccount" name="createAccount">
    </wsdl:input>
      <wsdl:output message="tns:createAccountResponse" name="createAccountResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="accountCreationServiceSOAPSoapBinding" type="tns:accountCreationService">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="createAccount">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="createAccount">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="createAccountResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="accountCreationServiceSOAP">
    <wsdl:port binding="tns:accountCreationServiceSOAPSoapBinding" name="accountCreationServicePort">
      <soap:address location="https://test.kfs.kuali.org/kfs-reg/remoting/accountCreationServiceSOAP"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>