src/main/resources/wsdl/AgencyCreationService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="agencyCreationServiceSOAP" targetNamespace="KFS" xmlns:ns1="http://cxf.apache.org/bindings/xformat"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="KFS" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<wsdl:types>
		<xs:schema elementFormDefault="unqualified" targetNamespace="KFS" version="1.0" xmlns:tns="KFS" xmlns:xs="http://www.w3.org/2001/XMLSchema">
			<xs:element name="createAgency" type="tns:createAgency" />
			<xs:element name="createAgencyResponse" type="tns:createAgencyResponse" />
			<xs:element name="updateAgency" type="tns:updateAgency" />
			<xs:element name="updateAgencyResponse" type="tns:updateAgencyResponse" />
			<xs:complexType name="updateAgency">
				<xs:sequence>
					<xs:element minOccurs="0" name="agencyParametersDTO" type="tns:agencyParametersDTO" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="agencyParametersDTO">
				<xs:sequence>
					<xs:element name="active" type="xs:boolean" />
					<xs:element minOccurs="0" name="addressLine1" type="xs:string" />
					<xs:element minOccurs="0" name="addressLine2" type="xs:string" />
					<xs:element minOccurs="0" name="addressLine3" type="xs:string" />
					<xs:element minOccurs="0" name="addressLine4" type="xs:string" />
					<xs:element minOccurs="0" name="addressName" type="xs:string" />
					<xs:element minOccurs="0" name="agencyNumber" type="xs:string" />
					<xs:element minOccurs="0" name="agencyTypeCode" type="xs:string" />
					<xs:element minOccurs="0" name="cityName" type="xs:string" />
					<xs:element minOccurs="0" name="contactEmailAddress" type="xs:string" />
					<xs:element minOccurs="0" name="contactName" type="xs:string" />
					<xs:element minOccurs="0" name="countryCode" type="xs:string" />
					<xs:element minOccurs="0" name="faxNumber" type="xs:string" />
					<xs:element minOccurs="0" name="fullName" type="xs:string" />
					<xs:element name="inState" type="xs:boolean" />
					<xs:element minOccurs="0" name="phoneNumber" type="xs:string" />
					<xs:element minOccurs="0" name="principalId" type="xs:string" />
					<xs:element minOccurs="0" name="reportingName" type="xs:string" />
					<xs:element minOccurs="0" name="stateCode" type="xs:string" />
					<xs:element minOccurs="0" name="zipCode" type="xs:string" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="updateAgencyResponse">
				<xs:sequence>
					<xs:element minOccurs="0" name="return" type="tns:agencyCreationStatusDTO" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="agencyCreationStatusDTO">
				<xs:sequence>
					<xs:element minOccurs="0" name="documentNumber" type="xs:string" />
					<xs:element maxOccurs="unbounded" minOccurs="0" name="errorMessages" nillable="true" type="xs:string" />
					<xs:element minOccurs="0" name="status" type="xs:string" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="createAgency">
				<xs:sequence>
					<xs:element minOccurs="0" name="agencyParametersDTO" type="tns:agencyParametersDTO" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="createAgencyResponse">
				<xs:sequence>
					<xs:element minOccurs="0" name="return" type="tns:agencyCreationStatusDTO" />
				</xs:sequence>
			</xs:complexType>
		</xs:schema>
	</wsdl:types>
	<wsdl:message name="createAgencyResponse">
		<wsdl:part element="tns:createAgencyResponse" name="parameters">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="createAgency">
		<wsdl:part element="tns:createAgency" name="parameters">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="updateAgency">
		<wsdl:part element="tns:updateAgency" name="parameters">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="updateAgencyResponse">
		<wsdl:part element="tns:updateAgencyResponse" name="parameters">
		</wsdl:part>
	</wsdl:message>
	<wsdl:portType name="agencyCreationService">
		<wsdl:operation name="updateAgency">
			<wsdl:input message="tns:updateAgency" name="updateAgency">
			</wsdl:input>
			<wsdl:output message="tns:updateAgencyResponse" name="updateAgencyResponse">
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="createAgency">
			<wsdl:input message="tns:createAgency" name="createAgency">
			</wsdl:input>
			<wsdl:output message="tns:createAgencyResponse" name="createAgencyResponse">
			</wsdl:output>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="agencyCreationServiceSOAPSoapBinding" type="tns:agencyCreationService">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="updateAgency">
			<soap:operation soapAction="" style="document" />
			<wsdl:input name="updateAgency">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="updateAgencyResponse">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="createAgency">
			<soap:operation soapAction="" style="document" />
			<wsdl:input name="createAgency">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="createAgencyResponse">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="agencyCreationServiceSOAP">
		<wsdl:port binding="tns:agencyCreationServiceSOAPSoapBinding" name="agencyCreationServicePort">
			<soap:address location="http://localhost:8081/kfs-dev/remoting/agencyCreationServiceSOAP" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>