src/main/config/xsd/printing/irb.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- Created with Liquid XML Studio 1.0.8.0 (http://www.liquid-technologies.com) -->
<xs:schema xmlns="http://irb.mit.edu/irbnamespace" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://irb.mit.edu/irbnamespace" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Committee">
    <xs:annotation>
      <xs:documentation>replaced CommitteeMasterData with Committee </xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="CommitteeMasterData" />
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="CommitteeMember" />
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="ResearchArea" />
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="Schedule" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CommitteeMasterData">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="CommitteeId">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:maxLength value="15" />
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="CommitteeName">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:maxLength value="60" />
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element minOccurs="0" name="CommDescription" nillable="true">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:maxLength value="2000" />
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="HomeUnitNumber">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:maxLength value="8" />
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="HomeUnitName">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:maxLength value="60" />
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="CommitteeTypeCode" type="xs:integer" />
        <xs:element name="CommitteeTypeDesc">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:maxLength value="200" />
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element minOccurs="0" name="ScheduleDescription" nillable="true">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:maxLength value="2000" />
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element minOccurs="0" name="MinimumMembersRequired" nillable="true" type="xs:integer" />
        <xs:element minOccurs="0" name="MaxProtocols" nillable="true" type="xs:integer" />
        <xs:element minOccurs="0" name="AdvSubmissionDays" nillable="true" type="xs:integer" />
        <xs:element minOccurs="0" name="DefaultReviewTypeCode" nillable="true" type="xs:integer" />
        <xs:element minOccurs="0" name="DefaultReviewTypeDesc" nillable="true">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:maxLength value="200" />
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CommitteeMember">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="Person" />
        <xs:element name="TermStart" type="xs:date" />
        <xs:element name="TermEnd" type="xs:date" />
        <xs:element name="MemberStatus" type="xs:string" />
        <xs:element name="MemberStatusStartDt" type="xs:date" />
        <xs:element name="MemberStatusEndDt" type="xs:date" />
        <xs:element name="MemberType" type="xs:string" />
        <xs:element maxOccurs="unbounded" ref="ResearchArea" />
        <xs:element name="PaidMemberFlag" type="xs:boolean" />
        <xs:element maxOccurs="unbounded" ref="CommitteeMemberRole" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CommitteeMemberRole">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="MemberRoleCode" type="xs:integer" />
        <xs:element name="MemberRoleDesc">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:maxLength value="200" />
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="MemberRoleStartDt" type="xs:date" />
        <xs:element name="MemberRoleEndDt" type="xs:date" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Correspondent">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="Person" />
        <xs:element minOccurs="0" name="TypeOfCorrespondent">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:maxLength value="200" />
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element minOccurs="0" name="CorrespondentComments">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:maxLength value="2000" />
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Investigator">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="Person" />
        <xs:element name="PI_flag" type="xs:boolean" />
        <xs:element minOccurs="0" name="AffiliationDesc">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:maxLength value="200" />
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element minOccurs="0" name="AffiliationCode" type="xs:integer" />
        <xs:sequence maxOccurs="unbounded">
          <xs:element ref="Unit" />
          <xs:element name="LeadUnit_Flag" type="xs:boolean" />
        </xs:sequence>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="KeyStudyPerson">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="Person" />
        <xs:element minOccurs="0" name="Role">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:maxLength value="60" />
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="Affiliation">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:maxLength value="200" />
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Person">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="PersonID">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:maxLength value="9" />
              <xs:minLength value="6" />
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="LastName" nillable="true">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:maxLength value="30" />
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element minOccurs="0" name="Middlename" nillable="true">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:maxLength value="30" />
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element minOccurs="0" name="Salutation" nillable="true">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:maxLength value="30" />
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element minOccurs="0" name="Firstname" nillable="true">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:maxLength value="30" />
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="Fullname" nillable="true">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:maxLength value="90" />
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element minOccurs="0" name="Email" nillable="true">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:maxLength value="60" />
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element minOccurs="0" name="Degree" nillable="true">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:maxLength value="11" />
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element minOccurs="0" name="OfficeLocation" nillable="true">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:maxLength value="30" />
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element minOccurs="0" name="OfficePhone" nillable="true">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:maxLength value="20" />
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element minOccurs="0" name="School" nillable="true">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:maxLength value="50" />
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element minOccurs="0" name="YearGraduated" nillable="true">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:maxLength value="30" />
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element minOccurs="0" name="Department_Organization" nillable="true">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:maxLength value="80" />
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element minOccurs="0" name="Citizenship" nillable="true">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:maxLength value="30" />
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element minOccurs="0" name="PrimaryTitle" nillable="true">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:maxLength value="51" />
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element minOccurs="0" name="DirectoryTitle" nillable="true">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:maxLength value="50" />
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element minOccurs="0" name="HomeUnit">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="UnitNumber">
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:maxLength value="8" />
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element name="UnitName">
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:maxLength value="60" />
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="FacultyFlag" nillable="true" type="xs:boolean" />
        <xs:element name="EmployeeFlag" type="xs:boolean" />
        <xs:element minOccurs="0" name="AddressLine1" nillable="true">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:maxLength value="80" />
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element minOccurs="0" name="AddressLine2" nillable="true">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:maxLength value="80" />
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element minOccurs="0" name="AddressLine3" nillable="true">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:maxLength value="80" />
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element minOccurs="0" name="City" nillable="true">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:maxLength value="30" />
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element minOccurs="0" name="Country" nillable="true">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:maxLength value="30" />
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element minOccurs="0" name="State" nillable="true">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:maxLength value="30" />
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element minOccurs="0" name="PostalCode" nillable="true">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:maxLength value="15" />
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element minOccurs="0" name="CountryCode" nillable="true">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:maxLength value="3" />
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element minOccurs="0" name="FaxNumber" nillable="true">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:maxLength value="20" />
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element minOccurs="0" name="PagerNumber" nillable="true">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:maxLength value="20" />
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element minOccurs="0" name="MobilePhoneNumber" nillable="true">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:maxLength value="20" />
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Protocol">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="ProtocolMasterData" />
        <xs:element maxOccurs="unbounded" ref="Investigator" />
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="KeyStudyPerson" />
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="Correspondent" />
        <xs:element maxOccurs="unbounded" ref="ResearchArea" />
        <xs:element minOccurs="0" maxOccurs="unbounded" name="FundingSource">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="TypeOfFundingSource">
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:maxLength value="200" />
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element name="FundingSourceName">
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:maxLength value="200" />
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="VulnerableSubject" />
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="SpecialReview" />
        <xs:element minOccurs="0" maxOccurs="unbounded" name="RiskLevels">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="RiskLevelCode" type="xs:integer" />
              <xs:element name="RiskLevelDescription" type="xs:string" />
              <xs:element minOccurs="0" name="Comments" nillable="true" type="xs:string" />
              <xs:element minOccurs="0" name="DateAssigned" nillable="true" type="xs:date" />
              <xs:element minOccurs="0" name="DateUpdated" nillable="true" type="xs:date" />
              <xs:element minOccurs="0" name="Status" type="xs:string" />
              <xs:element name="UpdateUser" type="xs:string" />
              <xs:element name="UpdateTimestamp" type="xs:date" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" maxOccurs="unbounded" name="Submissions">
          <xs:complexType>
            <xs:sequence>
              <xs:element ref="SubmissionDetails" />
              <xs:element minOccurs="0" ref="CommitteeMasterData" />
              <xs:element minOccurs="0" maxOccurs="unbounded" ref="CommitteeMember" />
              <xs:element minOccurs="0" maxOccurs="unbounded" ref="Minutes" />
              <xs:element minOccurs="0" ref="ScheduleMasterData" />
              <xs:element minOccurs="0" name="PrevSchedule">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element ref="ScheduleMasterData" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element minOccurs="0" name="NextSchedule">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element ref="ScheduleMasterData" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="CurrentSubmissionFlag" type="xs:string" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProtocolSubmission">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="ProtocolSummary" />
        <xs:element ref="SubmissionDetails" />
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="Minutes" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProtocolMasterData">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="ProtocolNumber">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:maxLength value="20" />
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="DocumentNumber">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:maxLength value="20" />
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="SequenceNumber" type="xs:integer" />
        <xs:element name="ProtocolTypeCode" type="xs:integer" />
        <xs:element name="ProtocolTypeDesc">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:maxLength value="200" />
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="ProtocolStatusCode" type="xs:integer" />
        <xs:element name="ProtocolStatusDesc">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:maxLength value="200" />
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="ProtocolTitle">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:maxLength value="2000" />
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element minOccurs="0" name="ProtocolDescription" nillable="true">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:maxLength value="2000" />
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="ApplicationDate" type="xs:date" />
        <xs:element minOccurs="0" name="ApprovalDate" nillable="true" type="xs:date" />
        <xs:element minOccurs="0" name="ExpirationDate" nillable="true" type="xs:date" />
         <xs:element minOccurs="0" name="LastApprovalDate" nillable="true" type="xs:date" />
        <xs:element minOccurs="0" name="BillableFlag" type="xs:boolean" />
        <xs:element minOccurs="0" name="FdaApplicationNumber" nillable="true">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:maxLength value="15" />
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element minOccurs="0" name="RefNumber1" nillable="true">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:maxLength value="50" />
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element minOccurs="0" name="RefNumber2" nillable="true">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:maxLength value="50" />
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProtocolSummary">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="ProtocolMasterData" />
        <xs:element maxOccurs="unbounded" ref="Investigator" />
        <xs:element minOccurs="0" maxOccurs="unbounded" name="FundingSource">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="TypeOfFundingSource">
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:maxLength value="200" />
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element name="FundingSourceName">
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:maxLength value="200" />
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ResearchArea">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="ResearchAreaCode">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:maxLength value="8" />
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="ResearchAreaDescription">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:maxLength value="200" />
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NextScheduleDate">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="ScheduleNumber" type="xs:int" />
        <xs:element name="ScheduleDate" type="xs:date" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Schedule">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="ScheduleMasterData" />
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="ProtocolSubmission" />
        <xs:element minOccurs="0" maxOccurs="unbounded" name="OtherBusiness">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="ActionItemNumber" type="xs:integer" />
              <xs:element name="ActionItemCode" type="xs:integer" />
              <xs:element name="ActionItemCodeDesc">
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:maxLength value="200" />
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element name="ActionItemDesc">
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:maxLength value="2000" />
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="Minutes" />
        <xs:element minOccurs="0" maxOccurs="unbounded" name="Attendents">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="AttendentName" type="xs:string" />
              <xs:element name="GuestFlag" type="xs:boolean" />
              <xs:element name="AlternateFlag" type="xs:boolean" />
              <xs:element minOccurs="0" name="AlternateFor" type="xs:string" />
              <xs:element name="PresentFlag" type="xs:boolean" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" name="NextSchedule">
          <xs:complexType>
            <xs:sequence>
              <xs:element ref="ScheduleMasterData" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" name="PreviousSchedule">
          <xs:complexType>
            <xs:sequence>
              <xs:element ref="ScheduleMasterData" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ScheduleMasterData">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="ScheduleId">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:maxLength value="10" />
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="CommitteeId" nillable="true">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:maxLength value="15" />
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="CommitteeName">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:maxLength value="60" />
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="ScheduleStatusCode" type="xs:integer" />
        <xs:element name="ScheduleStatusDesc">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:maxLength value="200" />
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="ScheduledDate" type="xs:date" />
        <xs:element minOccurs="0" name="ScheduledTime" type="xs:time" />
        <xs:element minOccurs="0" name="Place" nillable="true">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:maxLength value="200" />
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element minOccurs="0" name="ProtocolSubDeadline" type="xs:date" />
        <xs:element minOccurs="0" name="MeetingDate" nillable="true" type="xs:date" />
        <xs:element minOccurs="0" name="StartTime" nillable="true" type="xs:time" />
        <xs:element minOccurs="0" name="EndTime" nillable="true" type="xs:time" />
        <xs:element minOccurs="0" name="AgendaProdRevDate" nillable="true" type="xs:date" />
        <xs:element minOccurs="0" name="MaxProtocols" nillable="true" type="xs:integer" />
        <xs:element minOccurs="0" name="Comments" nillable="true">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:maxLength value="2000" />
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SpecialReview">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="SpecialReviewNumber" type="xs:integer" />
        <xs:element name="SpecialReviewTypeCode" type="xs:integer" />
        <xs:element name="SpecialReviewTypeDesc">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:maxLength value="200" />
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="SpecialReviewApprovalTypeCode" type="xs:integer" />
        <xs:element name="SpecialReviewApprovalTypeDesc">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:maxLength value="200" />
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element minOccurs="0" name="SpecialReviewProtocolNumber">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:maxLength value="20" />
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element minOccurs="0" name="SpecialReviewApplicationDate" type="xs:date" />
        <xs:element minOccurs="0" name="SpecialReviewApprovalDate" type="xs:date" />
        <xs:element minOccurs="0" name="SpecialReviewComments" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SubmissionDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="ProtocolNumber">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:maxLength value="20" />
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="SubmissionNumber" type="xs:integer" />
        <xs:element name="SubmissionTypeCode" type="xs:integer" />
        <xs:element name="SubmissionTypeDesc">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:maxLength value="200" />
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element minOccurs="0" name="SubmissionTypeQualifierCode" type="xs:integer" />
        <xs:element minOccurs="0" name="SubmissionTypeQualifierDesc">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:maxLength value="200" />
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="ProtocolReviewTypeCode" type="xs:integer" />
        <xs:element name="ProtocolReviewTypeDesc">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:maxLength value="200" />
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="SubmissionStatusCode" type="xs:integer" />
        <xs:element name="SubmissionStatusDesc" type="xs:string" />
        <xs:element name="SubmissionDate" type="xs:date" />
        <xs:element minOccurs="0" name="SubmissionComments">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:maxLength value="2000" />
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element minOccurs="0" name="YesVote" type="xs:integer" />
        <xs:element minOccurs="0" name="NoVote" type="xs:integer" />
        <xs:element minOccurs="0" name="AbstainerCount" type="xs:integer" />
        <xs:element minOccurs="0" name="VotingComments">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:maxLength value="2000" />
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="ProtocolReviewer" />
        <xs:element minOccurs="0" name="SubmissionChecklistInfo">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="ChecklistCodesFormatted" type="xs:string" />
              <xs:element maxOccurs="unbounded" name="Checklists">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="ChecklistCode" type="xs:string" />
                    <xs:element name="ChecklistDescription" type="xs:string" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" name="ActionType">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="ActionId" type="xs:integer" />
              <xs:element name="ActionTypeCode" type="xs:integer" />
              <xs:element name="ActionTypeDescription" type="xs:string" />
              <xs:element name="ActionDate" type="xs:date" />
              <xs:element minOccurs="0" name="ActionComments" type="xs:string" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Unit">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="UnitNumber">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:maxLength value="8" />
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="UnitName">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:maxLength value="60" />
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VulnerableSubject">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="VulnerableSubjectTypeCode" type="xs:integer" />
        <xs:element name="VulnerableSubjectTypeDesc">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:maxLength value="200" />
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="VulnerableSubjectCount" type="xs:integer" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Minutes">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="ScheduleId">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:maxLength value="10" />
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="EntryNumber" type="xs:integer" />
        <xs:element name="EntryTypeCode" type="xs:integer" />
        <xs:element name="EntryTypeDesc" type="xs:string" />
        <xs:element minOccurs="0" name="EntrySortCode" type="xs:integer" />
        <xs:element minOccurs="0" name="ProtocolNumber">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:maxLength value="20" />
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="PrivateCommentFlag" type="xs:boolean" />
        <xs:element minOccurs="0" name="ProtocolContingencyCode">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:maxLength value="4" />
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="MinuteEntry" type="xs:string" />
        <xs:element name="UpdateTimestamp" nillable="true" type="xs:date" />
        <xs:element name="UpdateUser" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Correspondence">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="Protocol" />
        <xs:element minOccurs="0" name="CurrentUser" type="xs:string" />
        <xs:element minOccurs="0" name="CurrentDate" type="xs:date" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProtocolReviewer">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="Person" />
        <xs:element name="ReviewerTypeDesc" type="xs:string" />
        <xs:element name="ReviewerTypeCode" type="xs:integer" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RenewalReminder">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="CommitteeMasterData" />
        <xs:element ref="Protocol" />
        <xs:element minOccurs="0" maxOccurs="5" ref="NextScheduleDate" />
        <xs:element minOccurs="0" name="CurrentUser" type="xs:string" />
        <xs:element minOccurs="0" name="CurrentDate" type="xs:date" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>