coeus-code/src/main/resources/org/kuali/kra/s2s/gg/schema/Attachments-V1.0.xsd.broken

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSPY v2004 rel. 2 U (http://www.xmlspy.com) by Andy Andrews (Northrop Grumman IT) -->
<!--************************************************************************************************-->
<!-- TITLE:    Research & Related, Other Project Information                                        -->
<!--               OMB Number:                                                                                           -->
<!--                                                                                                                                -->
<!-- DATE:    May 6, 2004                                                                                             -->
<!-- VERSION:  1.0                                                                                                        -->
<!--                                                                                                                                -->
<!--                                                                                                                                -->
<!-- REVISION HISTORY:                                                                                              -->
<!--                                                                                                                                -->
<!--************************************************************************************************-->
<xs:schema targetNamespace="http://apply.grants.gov/forms/Attachments-V1.0" xmlns:Attachments="http://apply.grants.gov/forms/Attachments-V1.0" xmlns:att="http://apply.grants.gov/system/Attachments-V1.0" xmlns:globLib="http://apply.grants.gov/system/GlobalLibrary-V1.0" xmlns:glob="http://apply.grants.gov/system/Global-V1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="qualified" version="1.0">
	<xs:import namespace="http://apply.grants.gov/system/Attachments-V1.0" schemaLocation="http://at07apply.grants.gov/apply/system/schemas/Attachments-V1.0.xsd"/>
	<xs:import namespace="http://apply.grants.gov/system/Global-V1.0" schemaLocation="http://at07apply.grants.gov/apply/system/schemas/Global-V1.0.xsd"/>
	<xs:import namespace="http://apply.grants.gov/system/GlobalLibrary-V1.0" schemaLocation="http://at07apply.grants.gov/apply/system/schemas/GlobalLibrary-V1.0.xsd"/>
	<xs:element name="Attachments">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="ATT1" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="ATT1File" type="att:AttachedFileDataType"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="ATT2" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="ATT2File" type="att:AttachedFileDataType"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="ATT3" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="ATT3File" type="att:AttachedFileDataType"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="ATT4" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="ATT4File" type="att:AttachedFileDataType"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="ATT5" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="ATT5File" type="att:AttachedFileDataType"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="ATT6" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="ATT6File" type="att:AttachedFileDataType"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="ATT7" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="ATT7File" type="att:AttachedFileDataType"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="ATT8" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="ATT8File" type="att:AttachedFileDataType"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="ATT9" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="ATT9File" type="att:AttachedFileDataType"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="ATT10" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="ATT10File" type="att:AttachedFileDataType"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="ATT11" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="ATT11File" type="att:AttachedFileDataType"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="ATT12" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="ATT12File" type="att:AttachedFileDataType"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="ATT13" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="ATT13File" type="att:AttachedFileDataType"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="ATT14" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="ATT14File" type="att:AttachedFileDataType"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="ATT15" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="ATT15File" type="att:AttachedFileDataType"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
			<xs:attribute name="FormVersion" type="globLib:FormVersionDataType" use="required" fixed="1.0"/>
		</xs:complexType>
	</xs:element>
</xs:schema>
