coeus-code/src/main/resources/org/kuali/kra/s2s/gg/schema/CDFI_3_0-V3.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:CDFI_3_0="http://apply.grants.gov/forms/CDFI_3_0-V3.0" xmlns:att="http://apply.grants.gov/system/Attachments-V1.0" xmlns:globLib="http://apply.grants.gov/system/GlobalLibrary-V2.0" xmlns:codes="http://apply.grants.gov/system/UniversalCodes-V2.0" xmlns:glob="http://apply.grants.gov/system/Global-V1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://apply.grants.gov/forms/CDFI_3_0-V3.0" elementFormDefault="qualified" attributeFormDefault="qualified" version="3.0">
	<xs:import namespace="http://apply.grants.gov/system/Global-V1.0" schemaLocation="http://at07apply.grants.gov/apply/system/schemas/Global-V1.0.xsd"/>
	<xs:import namespace="http://apply.grants.gov/system/UniversalCodes-V2.0" schemaLocation="http://at07apply.grants.gov/apply/system/schemas/UniversalCodes-V2.0.xsd"/>
	<xs:import namespace="http://apply.grants.gov/system/GlobalLibrary-V2.0" schemaLocation="http://at07apply.grants.gov/apply/system/schemas/GlobalLibrary-V2.0.xsd"/>
	<xs:import namespace="http://apply.grants.gov/system/Attachments-V1.0" schemaLocation="http://at07apply.grants.gov/apply/system/schemas/Attachments-V1.0.xsd"/>
	<xs:element name="CDFI_3_0">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Organization">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="OrganizationName" type="globLib:OrganizationNameDataType"/>
							<xs:element name="Street1" type="globLib:StreetDataType"/>
							<xs:element name="Street2" type="globLib:StreetDataType" minOccurs="0"/>
							<xs:element name="City" type="globLib:CityDataType"/>
							<xs:element name="State" type="codes:StateCodeDataType" minOccurs="0"/>
							<xs:element name="ZipCode" type="globLib:ZipPostalCodeDataType" minOccurs="0"/>
							<xs:element name="EIN" type="CDFI_3_0:CDFI_3_0_EmployerIDDataType"/>
							<xs:element name="DUNSNumber" type="globLib:DUNSIDDataType"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>							
				<xs:element name="AuthorizedRep">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Prefix" type="globLib:PrefixNameDataType" minOccurs="0"/>
							<xs:element name="FirstName" type="globLib:FirstNameDataType"/>
							<xs:element name="LastName" type="globLib:LastNameDataType"/>
							<xs:element name="Title" type="globLib:HumanTitleDataType"/>
							<xs:element name="Email" type="globLib:EmailDataType"/>
							<xs:element name="Phone" type="globLib:TelephoneNumberDataType"/>
							<xs:element name="Fax" type="globLib:TelephoneNumberDataType" minOccurs="0"/>
							<xs:element name="Street1" type="globLib:StreetDataType"/>
							<xs:element name="Street2" type="globLib:StreetDataType" minOccurs="0"/>
							<xs:element name="City" type="globLib:CityDataType"/>
							<xs:element name="State" type="codes:StateCodeDataType"/>
							<xs:element name="ZipCode" type="globLib:ZipPostalCodeDataType"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>	
				<xs:element name="ApplicationPOC" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Prefix" type="globLib:PrefixNameDataType" minOccurs="0"/>
							<xs:element name="FirstName" type="globLib:FirstNameDataType" minOccurs="0"/>
							<xs:element name="LastName" type="globLib:LastNameDataType" minOccurs="0"/>
							<xs:element name="Title" type="globLib:HumanTitleDataType" minOccurs="0"/>
							<xs:element name="Email" type="globLib:EmailDataType" minOccurs="0"/>
							<xs:element name="Phone" type="globLib:TelephoneNumberDataType" minOccurs="0"/>
							<xs:element name="Fax" type="globLib:TelephoneNumberDataType" minOccurs="0"/>
							<xs:element name="Street1" type="globLib:StreetDataType" minOccurs="0"/>
							<xs:element name="Street2" type="globLib:StreetDataType" minOccurs="0"/>
							<xs:element name="City" type="globLib:CityDataType" minOccurs="0"/>
							<xs:element name="State" type="codes:StateCodeDataType" minOccurs="0"/>
							<xs:element name="ZipCode" type="globLib:ZipPostalCodeDataType" minOccurs="0"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>		
				<xs:element name="TypeAssistance">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:enumeration value="FA"/>
							<xs:enumeration value="TA"/>
							<xs:enumeration value="FA-HFFI"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="FARequestedAmount" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Loan" type="CDFI_3_0:CDFI_3_0_0_to_2000000_DataType" minOccurs="0"/>
							<xs:element name="Grant" type="CDFI_3_0:CDFI_3_0_0_to_2000000_DataType" minOccurs="0"/>
							<xs:element name="Equity" type="CDFI_3_0:CDFI_3_0_0_to_2000000_DataType" minOccurs="0"/>
							<xs:element name="SharesDeposits" type="CDFI_3_0:CDFI_3_0_0_to_2000000_DataType" minOccurs="0"/>
							<xs:element name="SecondaryCapital" type="CDFI_3_0:CDFI_3_0_0_to_2000000_DataType" minOccurs="0"/>
							<xs:element name="QID_54"  type="CDFI_3_0:CDFI_3_0_1_to_2000000_DataType" minOccurs="0"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="TARequestSummary" minOccurs="0">
					<xs:complexType>
						<xs:sequence>				
							<xs:element name="Personnel" minOccurs="0">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="PersonnelItem" minOccurs="0" maxOccurs="10">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="PositionEmployeeName" type="CDFI_3_0:CDFI_3_0_String30_DataType" minOccurs="0"/>
													<xs:element name="Salary" type="CDFI_3_0:CDFI_3_0_0_to_999999_DataType" minOccurs="0"/>
													<xs:element name="Fringe" type="CDFI_3_0:CDFI_3_0_0_to_100_DataType" minOccurs="0"/>
													<xs:element name="Workload" type="CDFI_3_0:CDFI_3_0_0_to_100_DataType" minOccurs="0"/>
													<xs:element name="Years" type="CDFI_3_0:CDFI_3_0_1_to_3_DataType" minOccurs="0"/>
													<xs:element name="Total" type="CDFI_3_0:CDFI_3_0_0_to_125000_DataType" minOccurs="0"/>
												</xs:sequence>
											</xs:complexType>
										</xs:element>		
										<xs:element name="SubTotal" type="CDFI_3_0:CDFI_3_0_0_to_125000_DataType" minOccurs="0"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>		
							<xs:element name="Training" minOccurs="0">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="TrainingItem" minOccurs="0" maxOccurs="10">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="CourseNameDescription" type="CDFI_3_0:CDFI_3_0_String30_DataType" minOccurs="0"/>
													<xs:element name="Provider" type="CDFI_3_0:CDFI_3_0_String30_DataType" minOccurs="0"/>													
													<xs:element name="Attendees" type="CDFI_3_0:CDFI_3_0_0_to_999_DataType" minOccurs="0"/>
													<xs:element name="CostPerPerson" type="CDFI_3_0:CDFI_3_0_0_to_125000_DataType" minOccurs="0"/>
													<xs:element name="Total" type="CDFI_3_0:CDFI_3_0_0_to_125000_DataType" minOccurs="0"/>
												</xs:sequence>
											</xs:complexType>
										</xs:element>		
										<xs:element name="SubTotal" type="CDFI_3_0:CDFI_3_0_0_to_125000_DataType" minOccurs="0"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>		
							<xs:element name="Travel" minOccurs="0">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="TravelItem" minOccurs="0" maxOccurs="10">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="TripName" type="CDFI_3_0:CDFI_3_0_String30_DataType" minOccurs="0"/>
													<xs:element name="Location" type="CDFI_3_0:CDFI_3_0_String30_DataType" minOccurs="0"/>													
													<xs:element name="People" type="CDFI_3_0:CDFI_3_0_0_to_999_DataType" minOccurs="0"/>
													<xs:element name="Transportation" type="CDFI_3_0:CDFI_3_0_0_to_125000_DataType" minOccurs="0"/>
													<xs:element name="Lodging" type="CDFI_3_0:CDFI_3_0_0_to_125000_DataType" minOccurs="0"/>
													<xs:element name="Total" type="CDFI_3_0:CDFI_3_0_0_to_125000_DataType" minOccurs="0"/>
												</xs:sequence>
											</xs:complexType>
										</xs:element>		
										<xs:element name="SubTotal" type="CDFI_3_0:CDFI_3_0_0_to_125000_DataType" minOccurs="0"/>
										<xs:element name="TravelPolicies" minOccurs="0">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:enumeration value="Federal"/>
													<xs:enumeration value="Internal"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>		
							<xs:element name="ProfessionalServices" minOccurs="0">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="ProfessionalServicesItem" minOccurs="0" maxOccurs="10">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="Service" type="CDFI_3_0:CDFI_3_0_String30_DataType" minOccurs="0"/>
													<xs:element name="Provider" type="CDFI_3_0:CDFI_3_0_String30_DataType" minOccurs="0"/>													
													<xs:element name="ContractType" minOccurs="0">
														<xs:simpleType>
															<xs:restriction base="xs:string">
																<xs:enumeration value="Consultant/Sole Source"/>
																<xs:enumeration value="Contractor/Competitive Bid"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element name="CostType" minOccurs="0">
														<xs:simpleType>
															<xs:restriction base="xs:string">
																<xs:enumeration value="Hourly"/>
																<xs:enumeration value="Per Task"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element name="Hours" type="CDFI_3_0:CDFI_3_0_0_to_9999_DataType" minOccurs="0"/>
													<xs:element name="HourlyRate" type="CDFI_3_0:CDFI_3_0_0_to_999p99_DataType" minOccurs="0"/>
													<xs:element name="ProjectedCost" type="CDFI_3_0:CDFI_3_0_0_to_125000_DataType" minOccurs="0"/>
													<xs:element name="Total" type="CDFI_3_0:CDFI_3_0_0_to_125000_DataType" minOccurs="0"/>
												</xs:sequence>
											</xs:complexType>
										</xs:element>		
										<xs:element name="SubTotal" type="CDFI_3_0:CDFI_3_0_0_to_125000_DataType" minOccurs="0"/>
										<xs:element name="ProcurementPolicies" minOccurs="0">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:enumeration value="Federal"/>
													<xs:enumeration value="Internal"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>		
							<xs:element name="Equipment" minOccurs="0">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="EquipmentItem" minOccurs="0" maxOccurs="10">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="Category" type="CDFI_3_0:CDFI_3_0_String30_DataType" minOccurs="0"/>
													<xs:element name="Description" type="CDFI_3_0:CDFI_3_0_String30_DataType" minOccurs="0"/>													
													<xs:element name="Cost" type="CDFI_3_0:CDFI_3_0_0_to_125000_DataType" minOccurs="0"/>
													<xs:element name="Units" type="CDFI_3_0:CDFI_3_0_0_to_125000_DataType" minOccurs="0"/>
													<xs:element name="Total" type="CDFI_3_0:CDFI_3_0_0_to_125000_DataType" minOccurs="0"/>
												</xs:sequence>
											</xs:complexType>
										</xs:element>		
										<xs:element name="SubTotal" type="CDFI_3_0:CDFI_3_0_0_to_125000_DataType" minOccurs="0"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="TotalTARequest" type="CDFI_3_0:CDFI_3_0_0_to_125000_DataType" minOccurs="0"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="HFFIFARequestedAmount" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Loan" type="CDFI_3_0:CDFI_3_0_0_to_5000000_DataType" minOccurs="0"/>
							<xs:element name="Grant" type="CDFI_3_0:CDFI_3_0_0_to_5000000_DataType" minOccurs="0"/>
							<xs:element name="Equity" type="CDFI_3_0:CDFI_3_0_0_to_5000000_DataType" minOccurs="0"/>
							<xs:element name="SharesDeposits" type="CDFI_3_0:CDFI_3_0_0_to_5000000_DataType" minOccurs="0"/>
							<xs:element name="SecondaryCapital" type="CDFI_3_0:CDFI_3_0_0_to_5000000_DataType" minOccurs="0"/>
							<xs:element name="TotalHFFIRequest" type="CDFI_3_0:CDFI_3_0_1_to_5000000_DataType" minOccurs="0"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>		
				<xs:element name="FAApplicantCategory" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:enumeration value="Core"/>
							<xs:enumeration value="SECA"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="OtherFunds" type="globLib:YesNoDataType"/>
				<xs:element name="OtherFundsTable" minOccurs="0" maxOccurs="5">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="AffiliateName" type="CDFI_3_0:CDFI_3_0_String30_DataType"/>	
							<xs:element name="AffiliateEIN" type="CDFI_3_0:CDFI_3_0_EmployerIDDataType"/>
							<xs:element name="CDFIFundProgram">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:enumeration value="BEA"/>
										<xs:enumeration value="CMF"/>
										<xs:enumeration value="FA"/>
										<xs:enumeration value="FEC"/>
										<xs:enumeration value="NACA"/>
										<xs:enumeration value="NMTC"/>
										<xs:enumeration value="TA"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>		
				<xs:element name="PriorAwardsTable" minOccurs="0" maxOccurs="10">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="OrganizationName" type="CDFI_3_0:CDFI_3_0_String30_DataType" minOccurs="0"/>	
							<xs:element name="EIN" type="CDFI_3_0:CDFI_3_0_EmployerIDDataType" minOccurs="0"/>
							<xs:element name="ControlNumber" minOccurs="0">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:minLength value="0"/>
										<xs:maxLength value="12"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="TotalAward" type="CDFI_3_0:CDFI_3_0_1_to_999999999_DataType" minOccurs="0"/>
							<xs:element name="AwardType" minOccurs="0">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:enumeration value="FA"/>
										<xs:enumeration value="NACA"/>
										<xs:enumeration value="TA"/>
										<xs:enumeration value="BEA"/>
										<xs:enumeration value="NMTC"/>
										<xs:enumeration value="CMF"/>
										<xs:enumeration value="Other"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>		
				<xs:element name="InstitutionType">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:enumeration value="Loan Fund"/>
							<xs:enumeration value="Credit Union"/>
							<xs:enumeration value="Bank Holding Company"/>
							<xs:enumeration value="Bank or Thrift"/>
							<xs:enumeration value="Venture Capital"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="OrganizationStructure" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:enumeration value="For-Profit"/>
							<xs:enumeration value="501(c)(4)"/>
							<xs:enumeration value="501(c)(3)"/>						
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="QID_65" type="globLib:YesNoDataType"/>
				<xs:element name="DateofIncorporation" type="xs:date"/>
				<xs:element name="DateStarted" type="xs:date"/>
				<xs:element name="CongressionalDistrictApplicant" type="globLib:CongressionalDistrictDataType"/>
				<xs:element name="QID_42" type="CDFI_3_0:CDFI_3_0_MMDD_DataType" minOccurs="0"/>
				<xs:element name="QID_66" type="CDFI_3_0:CDFI_3_0_s999999999999_DataType"/>
				<xs:element name="RegulatoryBody" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:enumeration value="FDIC"/>
							<xs:enumeration value="Federal Reserve"/>
							<xs:enumeration value="NCUA"/>
							<xs:enumeration value="OCC"/>
							<xs:enumeration value="Other"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="OtherRegulatoryBody" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:minLength value="0"/>
							<xs:maxLength value="40"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="FDICCertification" type="CDFI_3_0:CDFI_3_0_String15_DataType" minOccurs="0"/>
				<xs:element name="CharterNumber" type="CDFI_3_0:CDFI_3_0_String15_DataType" minOccurs="0"/>
				<xs:element name="MinorityDepository" type="globLib:YesNoDataType" minOccurs="0"/>
				<xs:element name="CertificationStatus">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:enumeration value="CDFI Certified"/>
							<xs:enumeration value="Not Certified"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="CDFICertificationNumber" type="CDFI_3_0:CDFI_3_0_String15_DataType" minOccurs="0"/>
				<xs:element name="CertificationPending" type="globLib:YesNoDataType" minOccurs="0"/>
				<xs:element name="SubmissionDate" type="xs:date" minOccurs="0"/>
				<xs:element name="CertificationChecklist" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="PrimaryMissionRequirement" type="globLib:YesNoDataType"/>
							<xs:element name="TargetMarketRequirement" type="globLib:YesNoDataType"/>
							<xs:element name="DevelopmentServicesRequirement" type="globLib:YesNoDataType"/>
							<xs:element name="AccountabilityRequirement" type="globLib:YesNoDataType"/>
							<xs:element name="NonGovernmentEntityRequirement" type="globLib:YesNoDataType"/>
							<xs:element name="LegalEntity" type="globLib:YesNoDataType"/>
							<xs:element name="FinancingEntity" type="globLib:YesNoDataType"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="QID_58">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:enumeration value="Major Urban"/>
							<xs:enumeration value="Minor Urban"/>
							<xs:enumeration value="Rural"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="PrimaryMarket" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="QID_80" type="globLib:YesNoDataType" minOccurs="0"/>
							<xs:element name="QID_81" type="globLib:YesNoDataType" minOccurs="0"/>
							<xs:element name="QID_84" type="globLib:YesNoDataType" minOccurs="0"/>
							<xs:element name="QID_82" type="globLib:YesNoDataType" minOccurs="0"/>
							<xs:element name="QID_83" type="globLib:YesNoDataType" minOccurs="0"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="GeographicMarketServed" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Alabama" type="globLib:YesNoDataType" minOccurs="0"/>
							<xs:element name="Alaska" type="globLib:YesNoDataType" minOccurs="0"/>
							<xs:element name="AmericanSamoa" type="globLib:YesNoDataType" minOccurs="0"/>
							<xs:element name="Arizona" type="globLib:YesNoDataType" minOccurs="0"/>
							<xs:element name="Arkansas" type="globLib:YesNoDataType" minOccurs="0"/>
							<xs:element name="California" type="globLib:YesNoDataType" minOccurs="0"/>
							<xs:element name="Colorado" type="globLib:YesNoDataType" minOccurs="0"/>
							<xs:element name="Connecticut" type="globLib:YesNoDataType" minOccurs="0"/>
							<xs:element name="Delaware" type="globLib:YesNoDataType" minOccurs="0"/>
							<xs:element name="DistrictofColumbia" type="globLib:YesNoDataType" minOccurs="0"/>
							<xs:element name="FederatedStatesofMicronesia" type="globLib:YesNoDataType" minOccurs="0"/>
							<xs:element name="Florida" type="globLib:YesNoDataType" minOccurs="0"/>
							<xs:element name="Georgia" type="globLib:YesNoDataType" minOccurs="0"/>
							<xs:element name="Guam" type="globLib:YesNoDataType" minOccurs="0"/>
							<xs:element name="Hawaii" type="globLib:YesNoDataType" minOccurs="0"/>
							<xs:element name="Idaho" type="globLib:YesNoDataType" minOccurs="0"/>
							<xs:element name="Illinois" type="globLib:YesNoDataType" minOccurs="0"/>
							<xs:element name="Indiana" type="globLib:YesNoDataType" minOccurs="0"/>
							<xs:element name="Iowa" type="globLib:YesNoDataType" minOccurs="0"/>
							<xs:element name="Kansas" type="globLib:YesNoDataType" minOccurs="0"/>
							<xs:element name="Kentucky" type="globLib:YesNoDataType" minOccurs="0"/>
							<xs:element name="Louisiana" type="globLib:YesNoDataType" minOccurs="0"/>
							<xs:element name="Maine" type="globLib:YesNoDataType" minOccurs="0"/>
							<xs:element name="Maryland" type="globLib:YesNoDataType" minOccurs="0"/>
							<xs:element name="Massachusetts" type="globLib:YesNoDataType" minOccurs="0"/>
							<xs:element name="Michigan" type="globLib:YesNoDataType" minOccurs="0"/>
							<xs:element name="MidwayIslands" type="globLib:YesNoDataType" minOccurs="0"/>
							<xs:element name="Minnesota" type="globLib:YesNoDataType" minOccurs="0"/>
							<xs:element name="Mississippi" type="globLib:YesNoDataType" minOccurs="0"/>
							<xs:element name="Missouri" type="globLib:YesNoDataType" minOccurs="0"/>
							<xs:element name="Montana" type="globLib:YesNoDataType" minOccurs="0"/>
							<xs:element name="Nebraska" type="globLib:YesNoDataType" minOccurs="0"/>
							<xs:element name="Nevada" type="globLib:YesNoDataType" minOccurs="0"/>
							<xs:element name="NewHampshire" type="globLib:YesNoDataType" minOccurs="0"/>
							<xs:element name="NewJersey" type="globLib:YesNoDataType" minOccurs="0"/>
							<xs:element name="NewMexico" type="globLib:YesNoDataType" minOccurs="0"/>
							<xs:element name="NewYork" type="globLib:YesNoDataType" minOccurs="0"/>
							<xs:element name="NorthCarolina" type="globLib:YesNoDataType" minOccurs="0"/>
							<xs:element name="NorthDakota" type="globLib:YesNoDataType" minOccurs="0"/>
							<xs:element name="Ohio" type="globLib:YesNoDataType" minOccurs="0"/>
							<xs:element name="Oklahoma" type="globLib:YesNoDataType" minOccurs="0"/>
							<xs:element name="Oregon" type="globLib:YesNoDataType" minOccurs="0"/>
							<xs:element name="Pennsylvania" type="globLib:YesNoDataType" minOccurs="0"/>
							<xs:element name="PuertoRico" type="globLib:YesNoDataType" minOccurs="0"/>
							<xs:element name="RhodeIsland" type="globLib:YesNoDataType" minOccurs="0"/>
							<xs:element name="SouthCarolina" type="globLib:YesNoDataType" minOccurs="0"/>
							<xs:element name="SouthDakota" type="globLib:YesNoDataType" minOccurs="0"/>
							<xs:element name="Tennessee" type="globLib:YesNoDataType" minOccurs="0"/>
							<xs:element name="Texas" type="globLib:YesNoDataType" minOccurs="0"/>
							<xs:element name="USVirginIslands" type="globLib:YesNoDataType" minOccurs="0"/>
							<xs:element name="Utah" type="globLib:YesNoDataType" minOccurs="0"/>
							<xs:element name="Vermont" type="globLib:YesNoDataType" minOccurs="0"/>
							<xs:element name="Virginia" type="globLib:YesNoDataType" minOccurs="0"/>
							<xs:element name="Washington" type="globLib:YesNoDataType" minOccurs="0"/>
							<xs:element name="WestVirginia" type="globLib:YesNoDataType" minOccurs="0"/>
							<xs:element name="Wisconsin" type="globLib:YesNoDataType" minOccurs="0"/>
							<xs:element name="Wyoming" type="globLib:YesNoDataType" minOccurs="0"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="PrimaryBusiness">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:enumeration value="Affordable Housing"/>
							<xs:enumeration value="Consumer Finance"/>
							<xs:enumeration value="Microenterprise"/>
							<xs:enumeration value="Small Business"/>
							<xs:enumeration value="Intermediary Lending"/>
							<xs:enumeration value="Community Facilities"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="SecondaryBusiness" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="AffordableHousing" type="globLib:YesNoDataType" minOccurs="0"/>
							<xs:element name="ConsumerFinance" type="globLib:YesNoDataType" minOccurs="0"/>
							<xs:element name="Microenterprise" type="globLib:YesNoDataType" minOccurs="0"/>
							<xs:element name="SmallBusiness" type="globLib:YesNoDataType" minOccurs="0"/>
							<xs:element name="Commercial" type="globLib:YesNoDataType" minOccurs="0"/>
							<xs:element name="Retail" type="globLib:YesNoDataType" minOccurs="0"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="ProductsOffered" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="IndividualDevelopmentAccounts" type="globLib:YesNoDataType" minOccurs="0"/>
							<xs:element name="NoCostAccounts" type="globLib:YesNoDataType" minOccurs="0"/>
							<xs:element name="LoansToRefinance" type="globLib:YesNoDataType" minOccurs="0"/> 
							<xs:element name="LoansToBuild" type="globLib:YesNoDataType" minOccurs="0"/>
							<xs:element name="ShortTerm" type="globLib:YesNoDataType" minOccurs="0"/>
							<xs:element name="QID_56" type="globLib:YesNoDataType" minOccurs="0"/>
							<xs:element name="QID_62" type="globLib:YesNoDataType" minOccurs="0"/>
							<xs:element name="ServicesToDisabled" type="globLib:YesNoDataType" minOccurs="0"/>
							<xs:element name="EquityInvestments" type="globLib:YesNoDataType" minOccurs="0"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="QID_24">
					<xs:simpleType>
						<xs:restriction base="xs:int">
							<xs:minInclusive value="0"/>
							<xs:maxInclusive value="9999"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="AssurancesCertifications" type="globLib:YesNoDataType"/>
				<xs:element name="Details" type="CDFI_3_0:CDFI_3_0_String4000_DataType" minOccurs="0"/>
				<xs:element name="Questionnaire" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="FederalLegislation" type="globLib:YesNoDataType" minOccurs="0"/>
							<xs:element name="FederalRule" type="globLib:YesNoDataType" minOccurs="0"/>
							<xs:element name="FederalProgram" type="globLib:YesNoDataType" minOccurs="0"/>
							<xs:element name="Nomination" type="globLib:YesNoDataType" minOccurs="0"/>
							<xs:element name="BackgroundWork" type="globLib:YesNoDataType" minOccurs="0"/>
							<xs:element name="FederalLegislation2" type="globLib:YesNoDataType" minOccurs="0"/>
							<xs:element name="FederalRule2" type="globLib:YesNoDataType" minOccurs="0"/>
							<xs:element name="FederalProgram2" type="globLib:YesNoDataType" minOccurs="0"/>
							<xs:element name="Nomination2" type="globLib:YesNoDataType" minOccurs="0"/>
							<xs:element name="BackgroundWork2" type="globLib:YesNoDataType" minOccurs="0"/>
							<xs:element name="Comments" type="CDFI_3_0:CDFI_3_0_String4000_DataType" minOccurs="0"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="EnvironmentalReview">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="CategoricalExclusion" type="globLib:YesNoDataType"/>
							<xs:element name="EnvironmentalImpact" type="globLib:YesNoDataType"/>
							<xs:element name="HistoricalSites" type="globLib:YesNoDataType"/>
							<xs:element name="WildernessAreas" type="globLib:YesNoDataType"/>
							<xs:element name="ScenicRivers" type="globLib:YesNoDataType"/>
							<xs:element name="CriticalHabitats" type="globLib:YesNoDataType"/>
							<xs:element name="NaturalLandmarks" type="globLib:YesNoDataType"/>
							<xs:element name="CostalBarrier" type="globLib:YesNoDataType"/>
							<xs:element name="CostalZone" type="globLib:YesNoDataType"/>
							<xs:element name="SoleSourceAquifer" type="globLib:YesNoDataType"/>
							<xs:element name="Wetlands" type="globLib:YesNoDataType"/>
							<xs:element name="FloodPlains" type="globLib:YesNoDataType"/>
							<xs:element name="PrimeFarmland" type="globLib:YesNoDataType"/>
							<xs:element name="EPAList" type="globLib:YesNoDataType"/>
							<xs:element name="ERNarrative" type="CDFI_3_0:CDFI_3_0_String5000_DataType" minOccurs="0"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
			<xs:attribute name="FormVersion" type="globLib:FormVersionDataType" use="required" fixed="3.0"/>
		</xs:complexType>
	</xs:element>
	<xs:simpleType name="CDFI_3_0_EmployerIDDataType">
		<xs:restriction base="xs:string">
			<xs:minLength value="9"/>
			<xs:maxLength value="9"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="CDFI_3_0_1_to_3_DataType">
		<xs:restriction base="xs:int">
			<xs:minInclusive value="1"/>
			<xs:maxInclusive value="3"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="CDFI_3_0_0_to_100_DataType">
		<xs:restriction base="xs:int">
			<xs:minInclusive value="0"/>
			<xs:maxInclusive value="100"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="CDFI_3_0_0_to_999_DataType">
		<xs:restriction base="xs:int">
			<xs:minInclusive value="0"/>
			<xs:maxInclusive value="999"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="CDFI_3_0_0_to_9999_DataType">
		<xs:restriction base="xs:int">
			<xs:minInclusive value="0"/>
			<xs:maxInclusive value="9999"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="CDFI_3_0_0_to_125000_DataType">
		<xs:restriction base="xs:int">
			<xs:minInclusive value="0"/>
			<xs:maxInclusive value="125000"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="CDFI_3_0_0_to_999999_DataType">
		<xs:restriction base="xs:int">
			<xs:minInclusive value="0"/>
			<xs:maxInclusive value="999999"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="CDFI_3_0_0_to_5000000_DataType">
		<xs:restriction base="xs:int">
			<xs:minInclusive value="0"/>
			<xs:maxInclusive value="5000000"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="CDFI_3_0_1_to_5000000_DataType">
		<xs:restriction base="xs:int">
			<xs:minInclusive value="1"/>
			<xs:maxInclusive value="5000000"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="CDFI_3_0_0_to_2000000_DataType">
		<xs:restriction base="xs:int">
			<xs:minInclusive value="0"/>
			<xs:maxInclusive value="2000000"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="CDFI_3_0_1_to_2000000_DataType">
		<xs:restriction base="xs:int">
			<xs:minInclusive value="1"/>
			<xs:maxInclusive value="2000000"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="CDFI_3_0_1_to_999999999_DataType">
		<xs:restriction base="xs:int">
			<xs:minInclusive value="1"/>
			<xs:maxInclusive value="999999999"/>
		</xs:restriction>
	</xs:simpleType>	
	<xs:simpleType name="CDFI_3_0_s999999999999_DataType">
		<xs:restriction base="xs:integer">
			<xs:minInclusive value="-999999999999"/>
			<xs:maxInclusive value="999999999999"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="CDFI_3_0_0_to_999p99_DataType">
		<xs:restriction base="xs:decimal">
			<xs:minInclusive value="0.00"/>
			<xs:maxInclusive value="999.99"/>
			<xs:totalDigits value="5"/>
			<xs:fractionDigits value="2"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="CDFI_3_0_MMDD_DataType">
		<xs:restriction base="xs:string">
			<xs:minLength value="5"/>
			<xs:maxLength value="5"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="CDFI_3_0_String15_DataType">
		<xs:restriction base="xs:string">
			<xs:minLength value="0"/>
			<xs:maxLength value="15"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="CDFI_3_0_String30_DataType">
		<xs:restriction base="xs:string">
			<xs:minLength value="0"/>
			<xs:maxLength value="30"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="CDFI_3_0_String4000_DataType">
		<xs:restriction base="xs:string">
			<xs:minLength value="0"/>
			<xs:maxLength value="4000"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="CDFI_3_0_String5000_DataType">
		<xs:restriction base="xs:string">
			<xs:minLength value="0"/>
			<xs:maxLength value="5000"/>
		</xs:restriction>
	</xs:simpleType>
</xs:schema>



