coeus-code/src/main/resources/org/kuali/kra/s2s/gg/schema/COPS_Budget_Civilian_Attachment-V1.1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- $Revision:   1.2  $ -->
<xs:schema xmlns:COPS_Budget="http://apply.grants.gov/forms/COPS_Budget-V1.1" xmlns:att="http://apply.grants.gov/system/Attachments-V1.0" xmlns:globLib="http://apply.grants.gov/system/GlobalLibrary-V2.0" xmlns:glob="http://apply.grants.gov/system/Global-V1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://apply.grants.gov/forms/COPS_Budget-V1.1" elementFormDefault="qualified" attributeFormDefault="qualified" version="1.1">
	<xs:import namespace="http://apply.grants.gov/system/Global-V1.0" schemaLocation="http://at07apply.grants.gov/apply/system/schemas/Global-V1.0.xsd"/>
	<xs:import namespace="http://apply.grants.gov/system/GlobalLibrary-V2.0" schemaLocation="http://at07apply.grants.gov/apply/system/schemas/GlobalLibrary-V2.0.xsd"/>
	<xs:import namespace="http://apply.grants.gov/system/Attachments-V1.0" schemaLocation="http://at07apply.grants.gov/apply/system/schemas/Attachments-V1.0.xsd"/>
	<!--Root element definition-->
	<xs:element name="COPS_Budget">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="ApplicantOrganization" type="globLib:OrganizationNameDataType"/>
				<xs:element name="ApplicantORINumber" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:minLength value="0"/>
							<xs:maxLength value="7"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="ProgramName">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:enumeration value="COPSInSchools"/>
							<xs:enumeration value="TribalPrograms"/>
							<xs:enumeration value="UniversalHiringProgram"/>
							<xs:enumeration value="CommunityPolicingDevelopmentPrograms"/>
							<xs:enumeration value="TargetedPrograms"/>
							<xs:enumeration value="InteroperableCommunicationsTechnologyProgram"/>
							<xs:enumeration value="SecureOurSchools"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="no_officer_personnel" type="globLib:YesNoDataType" minOccurs="0"/>
				<xs:element name="full_time_officers_requested" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:int">
							<xs:minInclusive value="0"/>
							<xs:maxInclusive value="99999"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="part_time_officers_requested" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:int">
							<xs:minInclusive value="0"/>
							<xs:maxInclusive value="99999"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="pt_avg_hrs_per_wk" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:int">
							<xs:minInclusive value="0"/>
							<xs:maxInclusive value="99"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="pt_hours_fulltime" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:int">
							<xs:minInclusive value="0"/>
							<xs:maxInclusive value="99"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="pt_hours_per_yr" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:int">
							<xs:minInclusive value="0"/>
							<xs:maxInclusive value="9999"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="pt_hourly_rate" type="glob:DecimalMin1Max4Places2Type" minOccurs="0"/>
				<xs:element name="full_time_bsalary_fbenefits" minOccurs="0" maxOccurs="3">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="full_time_base_salary_amount" type="globLib:BudgetAmountDataType" minOccurs="0"/>
							<xs:element name="full_time_social_security_fringe_benefit_amount" type="globLib:BudgetAmountDataType" minOccurs="0"/>
							<xs:element name="full_time_social_security_fringe_pct_base_salary" type="glob:DecimalMin1Max4Places2Type" minOccurs="0"/>
							<xs:element name="full_time_medicare_fringe_benefit_amount" type="globLib:BudgetAmountDataType" minOccurs="0"/>
							<xs:element name="full_time_medicare_fringe_pct_base_salary" type="glob:DecimalMin1Max4Places2Type" minOccurs="0"/>
							<xs:element name="full_time_health_ins_fringe_benefit_amount" type="globLib:BudgetAmountDataType" minOccurs="0"/>
							<xs:element name="full_time_health_ins_fringe_pct_base_salary" type="glob:DecimalMin1Max4Places2Type" minOccurs="0"/>
							<xs:element name="full_time_life_ins_fringe_benefit_amount" type="globLib:BudgetAmountDataType" minOccurs="0"/>
							<xs:element name="full_time_life_ins_fringe_pct_base_salary" type="glob:DecimalMin1Max4Places2Type" minOccurs="0"/>
							<xs:element name="full_time_vacation_fringe_benefit_amount" type="globLib:BudgetAmountDataType" minOccurs="0"/>
							<xs:element name="full_time_vacation_fringe_pct_base_salary" type="glob:DecimalMin1Max4Places2Type" minOccurs="0"/>
							<xs:element name="full_time_sick_leave_fringe_benefit_amount" type="globLib:BudgetAmountDataType" minOccurs="0"/>
							<xs:element name="full_time_sick_leave_fringe_pct_base_salary" type="glob:DecimalMin1Max4Places2Type" minOccurs="0"/>
							<xs:element name="full_time_retirement_fringe_benefit_amount" type="globLib:BudgetAmountDataType" minOccurs="0"/>
							<xs:element name="full_time_retirement_fringe_pct_base_salary" type="glob:DecimalMin1Max4Places2Type" minOccurs="0"/>
							<xs:element name="full_time_workers_comp_fringe_benefit_amount" type="globLib:BudgetAmountDataType" minOccurs="0"/>
							<xs:element name="full_time_workers_comp_fringe_pct_base_salary" type="glob:DecimalMin1Max4Places2Type" minOccurs="0"/>
							<xs:element name="full_time_unemployment_fringe_benefit_amount" type="globLib:BudgetAmountDataType" minOccurs="0"/>
							<xs:element name="full_time_unemployment_fringe_pct_base_salary" type="glob:DecimalMin1Max4Places2Type" minOccurs="0"/>
							<xs:element name="full_time_other1_fringe_benefit_amount" type="globLib:BudgetAmountDataType" minOccurs="0"/>
							<xs:element name="full_time_other1_fringe_pct_base_salary" type="glob:DecimalMin1Max4Places2Type" minOccurs="0"/>
							<xs:element name="full_time_other2_fringe_benefit_amount" type="globLib:BudgetAmountDataType" minOccurs="0"/>
							<xs:element name="full_time_other2_fringe_pct_base_salary" type="glob:DecimalMin1Max4Places2Type" minOccurs="0"/>
							<xs:element name="full_time_total_fringe" type="globLib:BudgetTotalAmountDataType" minOccurs="0"/>
							<xs:element name="full_time_total_base_salary_and_fringe" type="globLib:BudgetTotalAmountDataType" minOccurs="0"/>
							<xs:element name="full_time_soc_sec_exempt" type="globLib:YesNoDataType" minOccurs="0"/>
							<xs:element name="full_time_medicare_exempt" type="globLib:YesNoDataType" minOccurs="0"/>
							<xs:element name="full_time_family_coverage" type="globLib:YesNoDataType" minOccurs="0"/>
							<xs:element name="full_time_vacation_hours" minOccurs="0">
								<xs:simpleType>
									<xs:restriction base="xs:int">
										<xs:minInclusive value="0"/>
										<xs:maxInclusive value="999"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="full_time_sick_leave_hours_per_yr" minOccurs="0">
								<xs:simpleType>
									<xs:restriction base="xs:int">
										<xs:minInclusive value="0"/>
										<xs:maxInclusive value="999"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="full_time_description_fringe_other1" minOccurs="0">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:minLength value="0"/>
										<xs:maxLength value="50"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="full_time_description_fringe_other2" minOccurs="0">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:minLength value="0"/>
										<xs:maxLength value="50"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="part_time_bsalary_fbenefits" minOccurs="0" maxOccurs="3">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="part_time_base_salary_amount" type="globLib:BudgetAmountDataType" minOccurs="0"/>
							<xs:element name="part_time_social_security_fringe_benefit_amount" type="globLib:BudgetAmountDataType" minOccurs="0"/>
							<xs:element name="part_time_social_security_fringe_pct_base_salary" type="glob:DecimalMin1Max4Places2Type" minOccurs="0"/>
							<xs:element name="part_time_medicare_fringe_benefit_amount" type="globLib:BudgetAmountDataType" minOccurs="0"/>
							<xs:element name="part_time_medicare_fringe_pct_base_salary" type="glob:DecimalMin1Max4Places2Type" minOccurs="0"/>
							<xs:element name="part_time_health_ins_fringe_benefit_amount" type="globLib:BudgetAmountDataType" minOccurs="0"/>
							<xs:element name="part_time_health_ins_fringe_pct_base_salary" type="glob:DecimalMin1Max4Places2Type" minOccurs="0"/>
							<xs:element name="part_time_life_ins_fringe_benefit_amount" type="globLib:BudgetAmountDataType" minOccurs="0"/>
							<xs:element name="part_time_life_ins_fringe_pct_base_salary" type="glob:DecimalMin1Max4Places2Type" minOccurs="0"/>
							<xs:element name="part_time_vacation_fringe_benefit_amount" type="globLib:BudgetAmountDataType" minOccurs="0"/>
							<xs:element name="part_time_vacation_fringe_pct_base_salary" type="glob:DecimalMin1Max4Places2Type" minOccurs="0"/>
							<xs:element name="part_time_sick_leave_fringe_benefit_amount" type="globLib:BudgetAmountDataType" minOccurs="0"/>
							<xs:element name="part_time_sick_leave_fringe_pct_base_salary" type="glob:DecimalMin1Max4Places2Type" minOccurs="0"/>
							<xs:element name="part_time_retirement_fringe_benefit_amount" type="globLib:BudgetAmountDataType" minOccurs="0"/>
							<xs:element name="part_time_retirement_fringe_pct_base_salary" type="glob:DecimalMin1Max4Places2Type" minOccurs="0"/>
							<xs:element name="part_time_workers_comp_fringe_benefit_amount" type="globLib:BudgetAmountDataType" minOccurs="0"/>
							<xs:element name="part_time_workers_comp_fringe_pct_base_salary" type="glob:DecimalMin1Max4Places2Type" minOccurs="0"/>
							<xs:element name="part_time_unemployment_fringe_benefit_amount" type="globLib:BudgetAmountDataType" minOccurs="0"/>
							<xs:element name="part_time_unemployment_fringe_pct_base_salary" type="glob:DecimalMin1Max4Places2Type" minOccurs="0"/>
							<xs:element name="part_time_other1_fringe_benefit_amount" type="globLib:BudgetAmountDataType" minOccurs="0"/>
							<xs:element name="part_time_other1_fringe_pct_base_salary" type="glob:DecimalMin1Max4Places2Type" minOccurs="0"/>
							<xs:element name="part_time_other2_fringe_benefit_amount" type="globLib:BudgetAmountDataType" minOccurs="0"/>
							<xs:element name="part_time_other2_fringe_pct_base_salary" type="glob:DecimalMin1Max4Places2Type" minOccurs="0"/>
							<xs:element name="part_time_total_fringe" type="globLib:BudgetTotalAmountDataType" minOccurs="0"/>
							<xs:element name="part_time_total_base_salary_and_fringe" type="globLib:BudgetTotalAmountDataType" minOccurs="0"/>
							<xs:element name="part_time_soc_sec_exempt" type="globLib:YesNoDataType" minOccurs="0"/>
							<xs:element name="part_time_medicare_exempt" type="globLib:YesNoDataType" minOccurs="0"/>
							<xs:element name="part_time_family_coverage" minOccurs="0" type="globLib:YesNoDataType"/>
							<xs:element name="part_time_vacation_hours" minOccurs="0">
								<xs:simpleType>
									<xs:restriction base="xs:int">
										<xs:minInclusive value="0"/>
										<xs:maxInclusive value="999"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="part_time_sick_leave_hours_per_yr" minOccurs="0">
								<xs:simpleType>
									<xs:restriction base="xs:int">
										<xs:minInclusive value="0"/>
										<xs:maxInclusive value="999"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="part_time_description_fringe_other1" minOccurs="0">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:minLength value="0"/>
										<xs:maxLength value="50"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="part_time_description_fringe_other2" minOccurs="0">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:minLength value="0"/>
										<xs:maxLength value="50"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="sal_incr" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="sal_incr_cola" type="globLib:YesNoDataType" minOccurs="0"/>
							<xs:element name="sal_incr_step_raise" type="globLib:YesNoDataType" minOccurs="0"/>
							<xs:element name="sal_incr_change_benefits" type="globLib:YesNoDataType" minOccurs="0"/>
							<xs:element name="sal_incr_other" type="globLib:YesNoDataType" minOccurs="0"/>
							<xs:element name="sal_incr_other_reason" minOccurs="0">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:minLength value="0"/>
										<xs:maxLength value="500"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="sal_reasons" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="reason_social_security" minOccurs="0">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:minLength value="0"/>
										<xs:maxLength value="500"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="reason_medicare" minOccurs="0">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:minLength value="0"/>
										<xs:maxLength value="500"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="reason_workers_comp" minOccurs="0">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:minLength value="0"/>
										<xs:maxLength value="500"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="reason_unemployment_ins" minOccurs="0">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:minLength value="0"/>
										<xs:maxLength value="500"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="full_time_three_yr_projection" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="grantee_ft_fed" minOccurs="0">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="grantee_ft_fed_year1_amt" type="globLib:BudgetAmountDataType" minOccurs="0"/>
										<xs:element name="grantee_ft_fed_year2_amt" type="globLib:BudgetAmountDataType" minOccurs="0"/>
										<xs:element name="grantee_ft_fed_year3_amt" type="globLib:BudgetAmountDataType" minOccurs="0"/>
										<xs:element name="grantee_ft_fed_total_amt" type="globLib:BudgetTotalAmountDataType" minOccurs="0"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="grantee_ft_local" minOccurs="0">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="grantee_ft_local_year1_amt" type="globLib:BudgetAmountDataType" minOccurs="0"/>
										<xs:element name="grantee_ft_local_year2_amt" type="globLib:BudgetAmountDataType" minOccurs="0"/>
										<xs:element name="grantee_ft_local_year3_amt" type="globLib:BudgetAmountDataType" minOccurs="0"/>
										<xs:element name="grantee_ft_local_total_amt" type="globLib:BudgetTotalAmountDataType" minOccurs="0"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="grantee_ft_total" minOccurs="0">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="grantee_ft_total_year1_amt" type="globLib:BudgetAmountDataType" minOccurs="0"/>
										<xs:element name="grantee_ft_total_year2_amt" type="globLib:BudgetAmountDataType" minOccurs="0"/>
										<xs:element name="grantee_ft_total_year3_amt" type="globLib:BudgetAmountDataType" minOccurs="0"/>
										<xs:element name="grantee_ft_grand_total_amt" type="globLib:BudgetTotalAmountDataType" minOccurs="0"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="part_time_three_yr_projection" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="grantee_pt_fed" minOccurs="0">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="grantee_pt_fed_year1_amt" type="globLib:BudgetAmountDataType" minOccurs="0"/>
										<xs:element name="grantee_pt_fed_year2_amt" type="globLib:BudgetAmountDataType" minOccurs="0"/>
										<xs:element name="grantee_pt_fed_year3_amt" type="globLib:BudgetAmountDataType" minOccurs="0"/>
										<xs:element name="grantee_pt_fed_total_amt" type="globLib:BudgetTotalAmountDataType" minOccurs="0"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="grantee_pt_local" minOccurs="0">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="grantee_pt_local_year1_amt" type="globLib:BudgetAmountDataType" minOccurs="0"/>
										<xs:element name="grantee_pt_local_year2_amt" type="globLib:BudgetAmountDataType" minOccurs="0"/>
										<xs:element name="grantee_pt_local_year3_amt" type="globLib:BudgetAmountDataType" minOccurs="0"/>
										<xs:element name="grantee_pt_local_total_amt" type="globLib:BudgetTotalAmountDataType" minOccurs="0"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="grantee_pt_total" minOccurs="0">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="grantee_pt_total_year1_amt" type="globLib:BudgetAmountDataType" minOccurs="0"/>
										<xs:element name="grantee_pt_total_year2_amt" type="globLib:BudgetAmountDataType" minOccurs="0"/>
										<xs:element name="grantee_pt_total_year3_amt" type="globLib:BudgetAmountDataType" minOccurs="0"/>
										<xs:element name="grantee_pt_grand_total_amt" type="globLib:BudgetTotalAmountDataType" minOccurs="0"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="sworn_officer_budget" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="sworn_officer_ft_fed_total_amt" type="globLib:BudgetTotalAmountDataType" minOccurs="0"/>
							<xs:element name="sworn_full_time_officers_requested_fed" minOccurs="0">
								<xs:simpleType>
									<xs:restriction base="xs:int">
										<xs:minInclusive value="0"/>
										<xs:maxInclusive value="99999"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="federal_share_full_time" type="globLib:BudgetTotalAmountDataType" minOccurs="0"/>
							<xs:element name="sworn_officer_pt_fed_total_amt" type="globLib:BudgetTotalAmountDataType" minOccurs="0"/>
							<xs:element name="sworn_part_time_officers_requested_fed" minOccurs="0">
								<xs:simpleType>
									<xs:restriction base="xs:int">
										<xs:minInclusive value="0"/>
										<xs:maxInclusive value="99999"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="federal_share_part_time" type="globLib:BudgetTotalAmountDataType" minOccurs="0"/>
							<xs:element name="federal_share_total" type="globLib:BudgetTotalAmountDataType" minOccurs="0"/>
							<xs:element name="sworn_officer_ft_local_total_amt" type="globLib:BudgetTotalAmountDataType" minOccurs="0"/>
							<xs:element name="sworn_full_time_officers_requested_local" minOccurs="0">
								<xs:simpleType>
									<xs:restriction base="xs:int">
										<xs:minInclusive value="0"/>
										<xs:maxInclusive value="99999"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="local_share_full_time" type="globLib:BudgetTotalAmountDataType" minOccurs="0"/>
							<xs:element name="sworn_officer_pt_local_total_amt" type="globLib:BudgetTotalAmountDataType" minOccurs="0"/>
							<xs:element name="sworn_part_time_officers_requested_local" minOccurs="0">
								<xs:simpleType>
									<xs:restriction base="xs:int">
										<xs:minInclusive value="0"/>
										<xs:maxInclusive value="99999"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="local_share_part_time" type="globLib:BudgetTotalAmountDataType" minOccurs="0"/>
							<xs:element name="local_share_total" type="globLib:BudgetTotalAmountDataType" minOccurs="0"/>
							<xs:element name="federal_share_grand_total" type="globLib:BudgetTotalAmountDataType" minOccurs="0"/>
							<xs:element name="local_share_grand_total" type="globLib:BudgetTotalAmountDataType" minOccurs="0"/>
							<xs:element name="sworn_officer_grand_total" type="globLib:BudgetTotalAmountDataType" minOccurs="0"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="civilian_other_personnel" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="no_civilian_personnel" type="globLib:YesNoDataType" minOccurs="0"/>
							<xs:element name="position_title" type="globLib:HumanTitleDataType" minOccurs="0"/>
							<xs:element name="annual_base_salary" type="globLib:BudgetAmountDataType" minOccurs="0"/>
							<xs:element name="pct_project_base_salary" type="globLib:PercentageDecimalDataType" minOccurs="0"/>
							<xs:element name="years_project_base_salary" minOccurs="0">
								<xs:simpleType>
									<xs:restriction base="xs:int">
										<xs:minInclusive value="0"/>
										<xs:maxInclusive value="99"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="civilian_base_salary_amount" type="globLib:BudgetTotalAmountDataType" minOccurs="0"/>
							<xs:element name="civilian_social_security_fringe_benefit_amount" type="globLib:BudgetAmountDataType" minOccurs="0"/>
							<xs:element name="civilian_social_security_fringe_pct_base_salary" type="glob:DecimalMin1Max4Places2Type" minOccurs="0"/>
							<xs:element name="civilian_medicare_fringe_benefit_amount" type="globLib:BudgetAmountDataType" minOccurs="0"/>
							<xs:element name="civilian_medicare_fringe_pct_base_salary" type="glob:DecimalMin1Max4Places2Type" minOccurs="0"/>
							<xs:element name="civilian_health_ins_fringe_benefit_amount" type="globLib:BudgetAmountDataType" minOccurs="0"/>
							<xs:element name="civilian_health_ins_fringe_pct_base_salary" type="glob:DecimalMin1Max4Places2Type" minOccurs="0"/>
							<xs:element name="civilian_life_ins_fringe_benefit_amount" type="globLib:BudgetAmountDataType" minOccurs="0"/>
							<xs:element name="civilian_life_ins_fringe_pct_base_salary" type="glob:DecimalMin1Max4Places2Type" minOccurs="0"/>
							<xs:element name="civilian_vacation_fringe_benefit_amount" type="globLib:BudgetAmountDataType" minOccurs="0"/>
							<xs:element name="civilian_vacation_fringe_pct_base_salary" type="glob:DecimalMin1Max4Places2Type" minOccurs="0"/>
							<xs:element name="civilian_sick_leave_fringe_benefit_amount" type="globLib:BudgetAmountDataType" minOccurs="0"/>
							<xs:element name="civilian_sick_leave_fringe_pct_base_salary" type="glob:DecimalMin1Max4Places2Type" minOccurs="0"/>
							<xs:element name="civilian_retirement_fringe_benefit_amount" type="globLib:BudgetAmountDataType" minOccurs="0"/>
							<xs:element name="civilian_retirement_fringe_pct_base_salary" type="glob:DecimalMin1Max4Places2Type" minOccurs="0"/>
							<xs:element name="civilian_workers_comp_fringe_benefit_amount" type="globLib:BudgetAmountDataType" minOccurs="0"/>
							<xs:element name="civilian_workers_comp_fringe_pct_base_salary" type="glob:DecimalMin1Max4Places2Type" minOccurs="0"/>
							<xs:element name="civilian_unemployment_fringe_benefit_amount" type="globLib:BudgetAmountDataType" minOccurs="0"/>
							<xs:element name="civilian_unemployment_fringe_pct_base_salary" type="glob:DecimalMin1Max4Places2Type" minOccurs="0"/>
							<xs:element name="civilian_other1_fringe_benefit_amount" type="globLib:BudgetAmountDataType" minOccurs="0"/>
							<xs:element name="civilian_other1_fringe_pct_base_salary" type="glob:DecimalMin1Max4Places2Type" minOccurs="0"/>
							<xs:element name="civilian_other2_fringe_benefit_amount" type="globLib:BudgetAmountDataType" minOccurs="0"/>
							<xs:element name="civilian_other2_fringe_pct_base_salary" type="glob:DecimalMin1Max4Places2Type" minOccurs="0"/>
							<xs:element name="civilian_total_fringe" type="globLib:BudgetTotalAmountDataType" minOccurs="0"/>
							<xs:element name="civilian_total_base_salary_and_fringe" type="globLib:BudgetTotalAmountDataType" minOccurs="0"/>
							<xs:element name="civilian_soc_sec_exempt" type="globLib:YesNoDataType" minOccurs="0"/>
							<xs:element name="civilian_medicare_exempt" type="globLib:YesNoDataType" minOccurs="0"/>
							<xs:element name="civilian_family_coverage" minOccurs="0" type="globLib:YesNoDataType"/>
							<xs:element name="civilian_vacation_hours" minOccurs="0">
								<xs:simpleType>
									<xs:restriction base="xs:int">
										<xs:minInclusive value="0"/>
										<xs:maxInclusive value="999"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="civilian_sick_leave_hours_per_yr" minOccurs="0">
								<xs:simpleType>
									<xs:restriction base="xs:int">
										<xs:minInclusive value="0"/>
										<xs:maxInclusive value="999"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="civilian_description_fringe_other1" minOccurs="0">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:minLength value="0"/>
										<xs:maxLength value="50"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="civilian_description_fringe_other2" minOccurs="0">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:minLength value="0"/>
										<xs:maxLength value="50"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="FilenameAtt01" type="xs:string" minOccurs="0"/>
							<xs:element name="FilenameAtt02" type="xs:string" minOccurs="0"/>
							<xs:element name="FilenameAtt03" type="xs:string" minOccurs="0"/>
							<xs:element name="FilenameAtt04" type="xs:string" minOccurs="0"/>
							<xs:element name="FilenameAtt05" type="xs:string" minOccurs="0"/>
							<xs:element name="FilenameAtt06" type="xs:string" minOccurs="0"/>
							<xs:element name="FilenameAtt07" type="xs:string" minOccurs="0"/>
							<xs:element name="FilenameAtt08" type="xs:string" minOccurs="0"/>
							<xs:element name="FilenameAtt09" type="xs:string" minOccurs="0"/>
							<xs:element name="BudgetAttachments" minOccurs="0">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="COPS_Budget_Civilian_Attachment" minOccurs="0" maxOccurs="9">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="civilian_other_personnel" minOccurs="0">
														<xs:complexType>
															<xs:sequence>
																<xs:element name="position_title" type="globLib:HumanTitleDataType"/>
																<xs:element name="annual_base_salary" type="globLib:BudgetAmountDataType"/>
																<xs:element name="pct_project_base_salary" type="globLib:PercentageDecimalDataType"/>
																<xs:element name="years_project_base_salary">
																	<xs:simpleType>
																		<xs:restriction base="xs:int">
																			<xs:minInclusive value="0"/>
																			<xs:maxInclusive value="99"/>
																		</xs:restriction>
																	</xs:simpleType>
																</xs:element>
																<xs:element name="civilian_base_salary_amount" type="globLib:BudgetTotalAmountDataType"/>
																<xs:element name="civilian_social_security_fringe_benefit_amount" type="globLib:BudgetAmountDataType" minOccurs="0"/>
																<xs:element name="civilian_social_security_fringe_pct_base_salary" type="glob:DecimalMin1Max4Places2Type" minOccurs="0"/>
																<xs:element name="civilian_medicare_fringe_benefit_amount" type="globLib:BudgetAmountDataType" minOccurs="0"/>
																<xs:element name="civilian_medicare_fringe_pct_base_salary" type="glob:DecimalMin1Max4Places2Type" minOccurs="0"/>
																<xs:element name="civilian_health_ins_fringe_benefit_amount" type="globLib:BudgetAmountDataType" minOccurs="0"/>
																<xs:element name="civilian_health_ins_fringe_pct_base_salary" type="glob:DecimalMin1Max4Places2Type" minOccurs="0"/>
																<xs:element name="civilian_life_ins_fringe_benefit_amount" type="globLib:BudgetAmountDataType" minOccurs="0"/>
																<xs:element name="civilian_life_ins_fringe_pct_base_salary" type="glob:DecimalMin1Max4Places2Type" minOccurs="0"/>
																<xs:element name="civilian_vacation_fringe_benefit_amount" type="globLib:BudgetAmountDataType" minOccurs="0"/>
																<xs:element name="civilian_vacation_fringe_pct_base_salary" type="glob:DecimalMin1Max4Places2Type" minOccurs="0"/>
																<xs:element name="civilian_sick_leave_fringe_benefit_amount" type="globLib:BudgetAmountDataType" minOccurs="0"/>
																<xs:element name="civilian_sick_leave_fringe_pct_base_salary" type="glob:DecimalMin1Max4Places2Type" minOccurs="0"/>
																<xs:element name="civilian_retirement_fringe_benefit_amount" type="globLib:BudgetAmountDataType" minOccurs="0"/>
																<xs:element name="civilian_retirement_fringe_pct_base_salary" type="glob:DecimalMin1Max4Places2Type" minOccurs="0"/>
																<xs:element name="civilian_workers_comp_fringe_benefit_amount" type="globLib:BudgetAmountDataType" minOccurs="0"/>
																<xs:element name="civilian_workers_comp_fringe_pct_base_salary" type="glob:DecimalMin1Max4Places2Type" minOccurs="0"/>
																<xs:element name="civilian_unemployment_fringe_benefit_amount" type="globLib:BudgetAmountDataType" minOccurs="0"/>
																<xs:element name="civilian_unemployment_fringe_pct_base_salary" type="glob:DecimalMin1Max4Places2Type" minOccurs="0"/>
																<xs:element name="civilian_other1_fringe_benefit_amount" type="globLib:BudgetAmountDataType" minOccurs="0"/>
																<xs:element name="civilian_other1_fringe_pct_base_salary" type="glob:DecimalMin1Max4Places2Type" minOccurs="0"/>
																<xs:element name="civilian_other2_fringe_benefit_amount" type="globLib:BudgetAmountDataType" minOccurs="0"/>
																<xs:element name="civilian_other2_fringe_pct_base_salary" type="glob:DecimalMin1Max4Places2Type" minOccurs="0"/>
																<xs:element name="civilian_total_fringe" type="globLib:BudgetTotalAmountDataType" minOccurs="0"/>
																<xs:element name="civilian_total_base_salary_and_fringe" type="globLib:BudgetTotalAmountDataType" minOccurs="0"/>
																<xs:element name="civilian_soc_sec_exempt" type="globLib:YesNoDataType" minOccurs="0"/>
																<xs:element name="civilian_medicare_exempt" type="globLib:YesNoDataType" minOccurs="0"/>
																<xs:element name="civilian_family_coverage" minOccurs="0" type="globLib:YesNoDataType"/>
																<xs:element name="civilian_vacation_hours" minOccurs="0">
																	<xs:simpleType>
																		<xs:restriction base="xs:int">
																			<xs:minInclusive value="0"/>
																			<xs:maxInclusive value="999"/>
																		</xs:restriction>
																	</xs:simpleType>
																</xs:element>
																<xs:element name="civilian_sick_leave_hours_per_yr" minOccurs="0">
																	<xs:simpleType>
																		<xs:restriction base="xs:int">
																			<xs:minInclusive value="0"/>
																			<xs:maxInclusive value="999"/>
																		</xs:restriction>
																	</xs:simpleType>
																</xs:element>
																<xs:element name="civilian_description_fringe_other1" minOccurs="0">
																	<xs:simpleType>
																		<xs:restriction base="xs:string">
																			<xs:minLength value="0"/>
																			<xs:maxLength value="50"/>
																		</xs:restriction>
																	</xs:simpleType>
																</xs:element>
																<xs:element name="civilian_description_fringe_other2" minOccurs="0">
																	<xs:simpleType>
																		<xs:restriction base="xs:string">
																			<xs:minLength value="0"/>
																			<xs:maxLength value="50"/>
																		</xs:restriction>
																	</xs:simpleType>
																</xs:element>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="total_base_salary_and_fringe_all_positions_civ" type="globLib:BudgetTotalAmountDataType" minOccurs="0"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="not_budgeted_reason" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="reason_social_security" minOccurs="0">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:minLength value="0"/>
										<xs:maxLength value="500"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="reason_medicare" minOccurs="0">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:minLength value="0"/>
										<xs:maxLength value="500"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="reason_workers_comp" minOccurs="0">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:minLength value="0"/>
										<xs:maxLength value="500"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="reason_unemployment_ins" minOccurs="0">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:minLength value="0"/>
										<xs:maxLength value="500"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="Equipment_Section" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="no_equipment" type="globLib:YesNoDataType" minOccurs="0"/>
							<xs:element name="Equipment_Budget_Item" minOccurs="0" maxOccurs="6">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="budget_item_description" minOccurs="0">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:minLength value="1"/>
													<xs:maxLength value="100"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="budget_item_count" minOccurs="0">
											<xs:simpleType>
												<xs:restriction base="xs:int">
													<xs:minInclusive value="0"/>
													<xs:maxInclusive value="999999999"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="budget_unit_cost" type="globLib:BudgetTotalAmountDataType" minOccurs="0"/>
										<xs:element name="budget_item_subtotal" type="globLib:BudgetTotalAmountDataType" minOccurs="0"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="budget_category_cost" type="globLib:BudgetTotalAmountDataType" minOccurs="0"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="Other_Costs_Section" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="no_othercosts" type="globLib:YesNoDataType" minOccurs="0"/>
							<xs:element name="Other_Costs_Budget_Item" minOccurs="0" maxOccurs="6">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="budget_item_description" minOccurs="0">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:minLength value="1"/>
													<xs:maxLength value="100"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="budget_item_count" minOccurs="0">
											<xs:simpleType>
												<xs:restriction base="xs:int">
													<xs:minInclusive value="0"/>
													<xs:maxInclusive value="999999999"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="budget_unit_cost" type="globLib:BudgetTotalAmountDataType" minOccurs="0"/>
										<xs:element name="budget_item_subtotal" type="globLib:BudgetTotalAmountDataType" minOccurs="0"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="budget_category_cost" type="globLib:BudgetTotalAmountDataType" minOccurs="0"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="Supplies_Section" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="no_supplies" type="globLib:YesNoDataType" minOccurs="0"/>
							<xs:element name="Supplies_Budget_Item" minOccurs="0" maxOccurs="6">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="budget_item_description" minOccurs="0">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:minLength value="1"/>
													<xs:maxLength value="100"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="budget_item_count" minOccurs="0">
											<xs:simpleType>
												<xs:restriction base="xs:int">
													<xs:minInclusive value="0"/>
													<xs:maxInclusive value="999999999"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="budget_unit_cost" type="globLib:BudgetTotalAmountDataType" minOccurs="0"/>
										<xs:element name="budget_item_subtotal" type="globLib:BudgetTotalAmountDataType" minOccurs="0"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="budget_category_cost" type="globLib:BudgetTotalAmountDataType" minOccurs="0"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="Travel_Training" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="budget_category_not_used_equip_budget_travel" type="globLib:YesNoDataType" minOccurs="0"/>
							<xs:element name="Travel_Training_Budget_Items" minOccurs="0" maxOccurs="6">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="item_reason_equip_budget_travel" minOccurs="0">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:minLength value="1"/>
													<xs:maxLength value="50"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="item_desc_equip_budget_travel" minOccurs="0">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:minLength value="1"/>
													<xs:maxLength value="50"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="number_of_staff_equip_budget_travel" minOccurs="0">
											<xs:simpleType>
												<xs:restriction base="xs:int">
													<xs:minInclusive value="0"/>
													<xs:maxInclusive value="999999999"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="unit_cost_equip_budget_travel" type="globLib:BudgetTotalAmountDataType" minOccurs="0"/>
										<xs:element name="number_of_days_equip_budget_travel" minOccurs="0">
											<xs:simpleType>
												<xs:restriction base="xs:int">
													<xs:minInclusive value="0"/>
													<xs:maxInclusive value="999999999"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="per_item_subtotal_equip_budget_travel" type="globLib:BudgetTotalAmountDataType" minOccurs="0"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="budget_category_subtotal_equip_travel" type="globLib:BudgetTotalAmountDataType" minOccurs="0"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="Contracts" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="budget_category_not_used_equip_budget_contracts" type="globLib:YesNoDataType" minOccurs="0"/>
							<xs:element name="Contracts_Budget_Items" minOccurs="0" maxOccurs="4">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="contract_item_desc_equip_budget_contracts" minOccurs="0">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:minLength value="1"/>
													<xs:maxLength value="50"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="contract_bid_type_equip_budget_contracts" minOccurs="0">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:enumeration value="Open_Competitive"/>
													<xs:enumeration value="Sole_Source"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="per_contract_subtotal_equip_budget_contracts" type="globLib:BudgetTotalAmountDataType" minOccurs="0"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="contracts_subtotal_equip_contracts" type="globLib:BudgetTotalAmountDataType" minOccurs="0"/>
							<xs:element name="Consultant_Budget_Items" minOccurs="0" maxOccurs="4">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="consultant_name_equip_budget_contracts" minOccurs="0">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:minLength value="1"/>
													<xs:maxLength value="50"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="consultant_service_equip_budget_contracts" minOccurs="0">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:minLength value="1"/>
													<xs:maxLength value="50"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="consultant_unit_cost_equip_budget_contracts" type="globLib:BudgetTotalAmountDataType" minOccurs="0"/>
										<xs:element name="consultant_days_equip_budget_contracts" minOccurs="0">
											<xs:simpleType>
												<xs:restriction base="xs:int">
													<xs:minInclusive value="0"/>
													<xs:maxInclusive value="999999999"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="per_consultant_subtotal_equip_budget_contracts" type="globLib:BudgetTotalAmountDataType" minOccurs="0"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="consultant_subtotal_equip_budget_contracts" type="globLib:BudgetTotalAmountDataType" minOccurs="0"/>
							<xs:element name="Consultant_Exp_Budget_Items" minOccurs="0" maxOccurs="4">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="consultant_exp_name_equip_budget_contracts" minOccurs="0">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:minLength value="1"/>
													<xs:maxLength value="50"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="consultant_exp_service_equip_budget_contracts" minOccurs="0">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:minLength value="1"/>
													<xs:maxLength value="50"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="consultant_exp_unit_cost_equip_budget_contracts" type="globLib:BudgetTotalAmountDataType" minOccurs="0"/>
										<xs:element name="consultant_exp_days_equip_budget_contracts" minOccurs="0">
											<xs:simpleType>
												<xs:restriction base="xs:int">
													<xs:minInclusive value="0"/>
													<xs:maxInclusive value="999999999"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="per_consultant_exp_subtotal_equip_budget_contracts" type="globLib:BudgetTotalAmountDataType" minOccurs="0"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="consultant_exp_subtotal_equip_travel_contracts" type="globLib:BudgetTotalAmountDataType" minOccurs="0"/>
							<xs:element name="budget_category_subtotal_equip_contracts" type="globLib:BudgetTotalAmountDataType" minOccurs="0"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="Indirect_Costs" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="budget_category_not_used_equip_budget_indirect" type="globLib:YesNoDataType" minOccurs="0"/>
							<xs:element name="Indirect_Budget_Items" minOccurs="0" maxOccurs="6">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="item_desc_equip_budget_indirect" minOccurs="0">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:minLength value="1"/>
													<xs:maxLength value="100"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="computation_equip_budget_indirect" minOccurs="0">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:minLength value="1"/>
													<xs:maxLength value="100"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="per_item_subtotal_equip_budget_indirect" type="globLib:BudgetTotalAmountDataType" minOccurs="0"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="budget_category_subtotal_equip_indirect" type="globLib:BudgetTotalAmountDataType" minOccurs="0"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="Budget_Summary" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="total_sworn_officer_costs_budget_summary" type="globLib:BudgetTotalAmountDataType" minOccurs="0"/>
							<xs:element name="total_civ_costs_budget_summary" type="globLib:BudgetTotalAmountDataType" minOccurs="0"/>
							<xs:element name="total_equipment_costs_budget_summary" type="globLib:BudgetTotalAmountDataType" minOccurs="0"/>
							<xs:element name="total_other_costs_budget_summary" type="globLib:BudgetTotalAmountDataType" minOccurs="0"/>
							<xs:element name="total_supplies_costs_budget_summary" type="globLib:BudgetTotalAmountDataType" minOccurs="0"/>
							<xs:element name="total_travel_costs_budget_summary" type="globLib:BudgetTotalAmountDataType" minOccurs="0"/>
							<xs:element name="total_contracts_costs_budget_summary" type="globLib:BudgetTotalAmountDataType" minOccurs="0"/>
							<xs:element name="total_indirect_costs_budget_summary" type="globLib:BudgetTotalAmountDataType" minOccurs="0"/>
							<xs:element name="total_project_cost" type="globLib:BudgetTotalAmountDataType" minOccurs="0"/>
							<xs:element name="total_project_federal_share" type="globLib:BudgetTotalAmountDataType" minOccurs="0"/>
							<xs:element name="total_project_local_share" type="globLib:BudgetTotalAmountDataType" minOccurs="0"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="budget_contact">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="budget_contact_name" type="globLib:HumanNameDataType"/>
							<xs:element name="budget_contact_title" type="globLib:HumanTitleDataType"/>
							<xs:element name="budget_contact_phone" type="globLib:TelephoneNumberDataType"/>
							<xs:element name="budget_contact_fax" type="globLib:TelephoneNumberDataType"/>
							<xs:element name="budget_contact_email" type="globLib:EmailDataType"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
			<xs:attribute name="FormVersion" type="globLib:FormVersionDataType" use="required" fixed="1.1"/>
		</xs:complexType>
	</xs:element>
	<!--Custom types definitions-->
</xs:schema>
