coeus-code/src/main/resources/org/kuali/kra/s2s/gg/schema/DOL_BudgetInformationFormLMIAAMC-V1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--*******************************************************************************************************************-->
<!-- TITLE: BUREAU of LABOR STATISTICS BUDGET INFORMATION FORM U.S. DEPARTMENT OF LABOR-->
<!-- DESCRIPTION: -->
<!-- FORM VERSION: 1.0-->
<!-- SCHEMA VERSION: 1.0-->
<!-- OMB NUMBER: 1220-0079-->
<!-- FORM EXPIRATION DATE:  09/30/2006-->
<!-- REVISION HISTORY:-->
<!-- TO DO:-->
<!--*******************************************************************************************************************-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:codes="http://apply.grants.gov/system/UniversalCodes-V2.0" xmlns:globLib="http://apply.grants.gov/system/GlobalLibrary-V2.0" xmlns:att="http://apply.grants.gov/system/Attachments-V1.0" xmlns:glob="http://apply.grants.gov/system/Global-V1.0" xmlns:DOL_BudgetInformationFormLMIAAMC="http://apply.grants.gov/forms/DOL_BudgetInformationFormLMIAAMC-V1.0" targetNamespace="http://apply.grants.gov/forms/DOL_BudgetInformationFormLMIAAMC-V1.0" elementFormDefault="qualified" attributeFormDefault="qualified" version="1.0">
	<xs:import namespace="http://apply.grants.gov/system/UniversalCodes-V2.0" schemaLocation="http://at07apply.grants.gov/apply/system/schemas/UniversalCodes-V2.0.xsd"/>
	<xs:import namespace="http://apply.grants.gov/system/GlobalLibrary-V2.0" schemaLocation="http://at07apply.grants.gov/apply/system/schemas/GlobalLibrary-V2.0.xsd"/>
	<xs:import namespace="http://apply.grants.gov/system/Attachments-V1.0" schemaLocation="http://at07apply.grants.gov/apply/system/schemas/Attachments-V1.0.xsd"/>
	<xs:import namespace="http://apply.grants.gov/system/Global-V1.0" schemaLocation="http://at07apply.grants.gov/apply/system/schemas/Global-V1.0.xsd"/>
	<xs:element name="DOL_BudgetInformationFormLMIAAMC">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="BLS_LMI_TYPE" type="DOL_BudgetInformationFormLMIAAMC:BLS_LMI_Type"/>
				<xs:element name="BudgetInfo" maxOccurs="2">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="FiscalYear">
								<xs:simpleType>
									<xs:restriction base="xs:int">
										<xs:minInclusive value="1000"/>
										<xs:maxInclusive value="9999"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="FYAAMC">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:enumeration value="FY"/>
										<xs:enumeration value="AAMC"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="Programing_Type" type="DOL_BudgetInformationFormLMIAAMC:Programing_Type" maxOccurs="5"/>
							<xs:element name="Current_Employment_Statistics" type="DOL_BudgetInformationFormLMIAAMC:Program_and_Cost_Type" maxOccurs="5"/>
							<xs:element name="Total_LMI_Base_Programs">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="Quarter_1_Total" minOccurs="0">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="FIRST_Qtr_AAMCSY" minOccurs="0">
														<xs:simpleType>
															<xs:restriction base="xs:decimal">
																<xs:minInclusive value="0.00"/>
																<xs:maxInclusive value="999.99"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element name="FIRST_Qtr_AAMC_DollarAmt" type="globLib:BudgetAmountDataType" minOccurs="0"/>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="Quarter_2_Total" minOccurs="0">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="SECOND_Qtr_AAMCSY" minOccurs="0">
														<xs:simpleType>
															<xs:restriction base="xs:decimal">
																<xs:minInclusive value="0.00"/>
																<xs:maxInclusive value="999.99"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element name="SECOND_Qtr_AAMC_DollarAmt" type="globLib:BudgetAmountDataType" minOccurs="0"/>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="Quarter_3_Total" minOccurs="0">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="THIRD_Qtr_AAMCSY" minOccurs="0">
														<xs:simpleType>
															<xs:restriction base="xs:decimal">
																<xs:minInclusive value="0.00"/>
																<xs:maxInclusive value="999.99"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element name="THIRD_Qtr_AAMC_DollarAmt" type="globLib:BudgetAmountDataType" minOccurs="0"/>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="Quarter_4_Total" minOccurs="0">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="FORTH_Qtr_AAMCSY" minOccurs="0">
														<xs:simpleType>
															<xs:restriction base="xs:decimal">
																<xs:minInclusive value="0.00"/>
																<xs:maxInclusive value="999.99"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element name="FORTH_Qtr_AAMC_DollarAmt" type="globLib:BudgetAmountDataType" minOccurs="0"/>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="FiscalYear_Total" minOccurs="0">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="FYTotalAAMCSY">
														<xs:simpleType>
															<xs:restriction base="xs:decimal">
																<xs:minInclusive value="0.01"/>
																<xs:maxInclusive value="999.99"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element name="FYTotalAAMCDollarAmt" type="globLib:BudgetTotalAmountDataType"/>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
			<xs:attribute name="FormVersion" type="globLib:FormVersionDataType" use="required" fixed="1.0"/>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="BLS_LMI_Type">
		<xs:sequence>
			<xs:element name="StateAbbreviation">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="2"/>
						<xs:maxLength value="2"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="NameOfSubmittingOfficial" type="globLib:HumanNameDataType" minOccurs="0"/>
			<xs:element name="CANo" type="globLib:FederalIDDataType"/>
			<xs:element name="SubmittingOfficialTitle" type="globLib:HumanTitleDataType"/>
			<xs:element name="Phone" type="globLib:TelephoneNumberDataType"/>
			<xs:element name="CADuration_Group" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="CADurationStart" type="xs:date"/>
						<xs:element name="CADurationEnd" type="xs:date"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="AuthorizedRepSignatureDate" type="xs:date"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Program_and_Cost_Type">
		<xs:sequence>
			<xs:element name="Program_Staff" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Quarter_1" minOccurs="0">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="Qtr1SY" minOccurs="0">
										<xs:simpleType>
											<xs:restriction base="xs:decimal">
												<xs:minInclusive value="0.00"/>
												<xs:maxInclusive value="999.99"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
									<xs:element name="Qtr1DollarAmt" type="globLib:BudgetAmountDataType" minOccurs="0"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="Quarter_2" minOccurs="0">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="Qtr2SY" minOccurs="0">
										<xs:simpleType>
											<xs:restriction base="xs:decimal">
												<xs:minInclusive value="0.00"/>
												<xs:maxInclusive value="999.99"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
									<xs:element name="Qtr2DollarAmt" type="globLib:BudgetAmountDataType" minOccurs="0"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="Quarter_3" minOccurs="0">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="Qtr3SY" minOccurs="0">
										<xs:simpleType>
											<xs:restriction base="xs:decimal">
												<xs:minInclusive value="0.00"/>
												<xs:maxInclusive value="999.99"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
									<xs:element name="Qtr3DollarAmt" type="globLib:BudgetAmountDataType" minOccurs="0"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="Quarter_4" minOccurs="0">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="Qtr4SY" minOccurs="0">
										<xs:simpleType>
											<xs:restriction base="xs:decimal">
												<xs:minInclusive value="0.00"/>
												<xs:maxInclusive value="999.99"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
									<xs:element name="Qtr4DollarAmt" type="globLib:BudgetAmountDataType" minOccurs="0"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="FiscalYear_Total" minOccurs="0">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="FYTotalSY" minOccurs="0">
										<xs:simpleType>
											<xs:restriction base="xs:decimal">
												<xs:minInclusive value="0.00"/>
												<xs:maxInclusive value="999.99"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
									<xs:element name="FYTotalDollarAmt" type="globLib:BudgetTotalAmountDataType" minOccurs="0"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="AST_Staff" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Quarter_1" minOccurs="0">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="Qtr1SY" minOccurs="0">
										<xs:simpleType>
											<xs:restriction base="xs:decimal">
												<xs:minInclusive value="0.00"/>
												<xs:maxInclusive value="999.99"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
									<xs:element name="Qtr1DollarAmt" type="globLib:BudgetAmountDataType" minOccurs="0"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="Quarter_2" minOccurs="0">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="Qtr2SY" minOccurs="0">
										<xs:simpleType>
											<xs:restriction base="xs:decimal">
												<xs:minInclusive value="0.00"/>
												<xs:maxInclusive value="999.99"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
									<xs:element name="Qtr2DollarAmt" type="globLib:BudgetAmountDataType" minOccurs="0"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="Quarter_3" minOccurs="0">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="Qtr3SY" minOccurs="0">
										<xs:simpleType>
											<xs:restriction base="xs:decimal">
												<xs:minInclusive value="0.00"/>
												<xs:maxInclusive value="999.99"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
									<xs:element name="Qtr3DollarAmt" type="globLib:BudgetAmountDataType" minOccurs="0"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="Quarter_4" minOccurs="0">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="Qtr4SY" minOccurs="0">
										<xs:simpleType>
											<xs:restriction base="xs:decimal">
												<xs:minInclusive value="0.00"/>
												<xs:maxInclusive value="999.99"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
									<xs:element name="Qtr4DollarAmt" type="globLib:BudgetAmountDataType" minOccurs="0"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="FiscalYear_Total" minOccurs="0">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="FYTotalSY" minOccurs="0">
										<xs:simpleType>
											<xs:restriction base="xs:decimal">
												<xs:minInclusive value="0.00"/>
												<xs:maxInclusive value="999.99"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
									<xs:element name="FYTotalDollarAmt" type="globLib:BudgetTotalAmountDataType" minOccurs="0"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="Nonpersonal_Services" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Qtr1AAMC1PSRNPSDollarAmt" type="globLib:BudgetAmountDataType" minOccurs="0"/>
						<xs:element name="Qtr2AAMC1PSRNPSDollarAmt" type="globLib:BudgetAmountDataType" minOccurs="0"/>
						<xs:element name="Qtr3AAMC1PSRNPSDollarAmt" type="globLib:BudgetAmountDataType" minOccurs="0"/>
						<xs:element name="Qtr4AAMC1PSRNPSDollarAmt" type="globLib:BudgetAmountDataType" minOccurs="0"/>
						<xs:element name="FYTotalAAMC1PSRNPSDollarAmt" type="globLib:BudgetTotalAmountDataType" minOccurs="0"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="Total_Resources" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Quarter_1" minOccurs="0">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="Qtr1SY" minOccurs="0">
										<xs:simpleType>
											<xs:restriction base="xs:decimal">
												<xs:minInclusive value="0.00"/>
												<xs:maxInclusive value="999.99"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
									<xs:element name="Qtr1DollarAmt" type="globLib:BudgetAmountDataType" minOccurs="0"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="Quarter_2" minOccurs="0">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="Qtr2SY" minOccurs="0">
										<xs:simpleType>
											<xs:restriction base="xs:decimal">
												<xs:minInclusive value="0.00"/>
												<xs:maxInclusive value="999.99"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
									<xs:element name="Qtr2DollarAmt" type="globLib:BudgetAmountDataType" minOccurs="0"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="Quarter_3" minOccurs="0">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="Qtr3SY" minOccurs="0">
										<xs:simpleType>
											<xs:restriction base="xs:decimal">
												<xs:minInclusive value="0.00"/>
												<xs:maxInclusive value="999.99"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
									<xs:element name="Qtr3DollarAmt" type="globLib:BudgetAmountDataType" minOccurs="0"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="Quarter_4" minOccurs="0">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="Qtr4SY" minOccurs="0">
										<xs:simpleType>
											<xs:restriction base="xs:decimal">
												<xs:minInclusive value="0.00"/>
												<xs:maxInclusive value="999.99"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
									<xs:element name="Qtr4DollarAmt" type="globLib:BudgetAmountDataType" minOccurs="0"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="FiscalYear_Total" minOccurs="0">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="FYTotalSY">
										<xs:simpleType>
											<xs:restriction base="xs:decimal">
												<xs:minInclusive value="0.00"/>
												<xs:maxInclusive value="999.99"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
									<xs:element name="FYTotalDollarAmt" type="globLib:BudgetTotalAmountDataType"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Programing_Type">
		<xs:sequence>
			<xs:element name="Program" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="0"/>
						<xs:maxLength value="15"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="FLC" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="0"/>
						<xs:maxLength value="15"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="ActivityTitle" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="0"/>
						<xs:maxLength value="60"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
