coeus-code/src/main/resources/org/kuali/kra/s2s/gg/schema/FellowshipsSupplemental-V1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:FellowshipsSupplemental="http://apply.grants.gov/forms/FellowshipsSupplemental-V1.0" xmlns:globLib="http://apply.grants.gov/system/GlobalLibrary-V2.0" xmlns:codes="http://apply.grants.gov/system/UniversalCodes-V2.0" xmlns:glob="http://apply.grants.gov/system/Global-V1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://apply.grants.gov/forms/FellowshipsSupplemental-V1.0" elementFormDefault="qualified" attributeFormDefault="qualified" version="1.0">
	<xs:import namespace="http://apply.grants.gov/system/Global-V1.0" schemaLocation="http://at07apply.grants.gov/apply/system/schemas/Global-V1.0.xsd"/>
	<xs:import namespace="http://apply.grants.gov/system/UniversalCodes-V2.0" schemaLocation="http://at07apply.grants.gov/apply/system/schemas/UniversalCodes-V2.0.xsd"/>
	<xs:import namespace="http://apply.grants.gov/system/GlobalLibrary-V2.0" schemaLocation="http://at07apply.grants.gov/apply/system/schemas/GlobalLibrary-V2.0.xsd"/>
	<xs:element name="FellowshipsSupplemental">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="FieldOfProject" type="FellowshipsSupplemental:FellowshipsSupplemental_Field_DataType"/>
				<xs:element name="ProjectDirectorFOS" type="FellowshipsSupplemental:FellowshipsSupplemental_Field_DataType"/>
				<xs:element name="DefaultMailingAddress">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:enumeration value="work"/>
							<xs:enumeration value="home"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>			
				<xs:element name="InstitutionalAffiliation">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="IsAffiliated" type="globLib:YesNoDataType"/>
							<xs:element name="AffiliatedInstitution" type="FellowshipsSupplemental:FellowshipsSupplemental_AffiliatedInstitution_DataType" minOccurs="0"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>							
				<xs:element name="ScholarlyStatus">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:enumeration value="Senior Scholar"/>
							<xs:enumeration value="Junior Scholar"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="Reference1" type="FellowshipsSupplemental:FellowshipsSupplemental_Reference_DataType" minOccurs="0"/>
				<xs:element name="Reference2" type="FellowshipsSupplemental:FellowshipsSupplemental_Reference_DataType" minOccurs="0"/>
				<xs:element name="NominatingOfficial">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="IsNomExempt" type="globLib:YesNoDataType"/>
							<xs:element name="Official" type="FellowshipsSupplemental:FellowshipsSupplemental_Official_DataType" minOccurs="0"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>	
			</xs:sequence>
			<xs:attribute name="FormVersion" type="globLib:FormVersionDataType" use="required" fixed="1.0"/>
		</xs:complexType>
	</xs:element>
	<xs:simpleType name="FellowshipsSupplemental_Field_DataType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="G3:American Studies"/>
			<xs:enumeration value="L1:Anthropology"/>
			<xs:enumeration value="U6:Archaeology"/>
			<xs:enumeration value="I1:Archival Management/Conservation"/>
			<xs:enumeration value="GH:Area Studies"/>
			<xs:enumeration value="MA:Arts: History and Criticism"/>
			<xs:enumeration value="U3:Arts: History and Criticism - Architecture"/>
			<xs:enumeration value="M1:Arts: History and Criticism - Art"/>
			<xs:enumeration value="M3:Arts: History and Criticism - Dance"/>
			<xs:enumeration value="M4:Arts: History and Criticism - Film"/>
			<xs:enumeration value="M5:Arts: History and Criticism - Music"/>
			<xs:enumeration value="M2:Arts: History and Criticism - Theater"/>
			<xs:enumeration value="G5:Asian Studies"/>
			<xs:enumeration value="G7:Classics"/>
			<xs:enumeration value="P2:Communications"/>
			<xs:enumeration value="P1:Communications - Composition and Rhetoric"/>
			<xs:enumeration value="P4:Communications - Journalism"/>
			<xs:enumeration value="P3:Communications - Media"/>
			<xs:enumeration value="N1:Economics"/>
			<xs:enumeration value="H1:Education"/>
			<xs:enumeration value="K1:Ethnic Studies"/>
			<xs:enumeration value="K5:Ethnic Studies - Asian American"/>
			<xs:enumeration value="K4:Ethnic Studies - Black/African American"/>
			<xs:enumeration value="K3:Ethnic Studies - Hispanic American"/>
			<xs:enumeration value="K6:Ethnic Studies - Jewish"/>
			<xs:enumeration value="K2:Ethnic Studies - Native American"/>
			<xs:enumeration value="R1:Folklore/Folklife"/>
			<xs:enumeration value="U7:Geography"/>
			<xs:enumeration value="A1:History"/>
			<xs:enumeration value="A2:History - African"/>
			<xs:enumeration value="A3:History - American"/>
			<xs:enumeration value="AC:History - Ancient"/>
			<xs:enumeration value="A4:History - British"/>
			<xs:enumeration value="A5:History - Classical"/>
			<xs:enumeration value="A6:History - European"/>
			<xs:enumeration value="A7:History - Far Eastern"/>
			<xs:enumeration value="A8:History - Latin American"/>
			<xs:enumeration value="A9:History - Near Eastern"/>
			<xs:enumeration value="AA:History - Russian"/>
			<xs:enumeration value="AB:History - South Asian"/>
			<xs:enumeration value="GA:History and Philosophy of Science/Technology/Medicine"/>
			<xs:enumeration value="U8:Humanities"/>
			<xs:enumeration value="U1:Interdisciplinary"/>
			<xs:enumeration value="F3:International Relations"/>
			<xs:enumeration value="GG:International Studies"/>
			<xs:enumeration value="G4:Labor Studies"/>
			<xs:enumeration value="C1:Languages"/>
			<xs:enumeration value="CC:Languages - Ancient"/>
			<xs:enumeration value="CA:Languages - Asian"/>
			<xs:enumeration value="C2:Languages - Classical"/>
			<xs:enumeration value="C9:Languages - Comparative"/>
			<xs:enumeration value="CE:Languages - English"/>
			<xs:enumeration value="C3:Languages - French"/>
			<xs:enumeration value="C4:Languages - German"/>
			<xs:enumeration value="C5:Languages - Italian"/>
			<xs:enumeration value="C6:Languages - Latin American"/>
			<xs:enumeration value="CB:Languages - Near Eastern"/>
			<xs:enumeration value="C7:Languages - Slavic"/>
			<xs:enumeration value="C8:Languages - Spanish"/>
			<xs:enumeration value="GJ:Latin American Studies"/>
			<xs:enumeration value="Q1:Law/Jurisprudence"/>
			<xs:enumeration value="H3:Library Science"/>
			<xs:enumeration value="J1:Linguistics"/>
			<xs:enumeration value="DI:Literary Criticism"/>
			<xs:enumeration value="D1:Literature"/>
			<xs:enumeration value="DK:Literature - African"/>
			<xs:enumeration value="DE:Literature - American"/>
			<xs:enumeration value="DC:Literature - Ancient"/>
			<xs:enumeration value="DA:Literature - Asian"/>
			<xs:enumeration value="DD:Literature - British"/>
			<xs:enumeration value="D2:Literature - Classical"/>
			<xs:enumeration value="D9:Literature - Comparative"/>
			<xs:enumeration value="D3:Literature - French"/>
			<xs:enumeration value="D4:Literature - German"/>
			<xs:enumeration value="D5:Literature - Italian"/>
			<xs:enumeration value="D6:Literature - Latin American"/>
			<xs:enumeration value="DB:Literature - Near Eastern"/>
			<xs:enumeration value="D7:Literature - Slavic"/>
			<xs:enumeration value="D8:Literature - Spanish"/>
			<xs:enumeration value="G8:Medieval Studies"/>
			<xs:enumeration value="I2:Museum Studies/Historic Preservation"/>
			<xs:enumeration value="B1:Philosophy"/>
			<xs:enumeration value="B2:Philosophy - Aesthetics"/>
			<xs:enumeration value="B3:Philosophy - Epistemology"/>
			<xs:enumeration value="B4:Philosophy - Ethics"/>
			<xs:enumeration value="B5:Philosophy - History of Philosophy"/>
			<xs:enumeration value="B6:Philosophy - Logic"/>
			<xs:enumeration value="B7:Philosophy - Metaphysics"/>
			<xs:enumeration value="B8:Philosophy - Non-Western Philosophy"/>
			<xs:enumeration value="F1:Political Science"/>
			<xs:enumeration value="U5:Psychology"/>
			<xs:enumeration value="F4:Public Administration"/>
			<xs:enumeration value="GF:Regional Studies"/>
			<xs:enumeration value="E1:Religion"/>
			<xs:enumeration value="E5:Religion - Comparative Religion"/>
			<xs:enumeration value="E2:Religion - History of Religion"/>
			<xs:enumeration value="E4:Religion - Non-Western Religion"/>
			<xs:enumeration value="E3:Religion - Philosophy of Religion"/>
			<xs:enumeration value="G9:Renaissance Studies"/>
			<xs:enumeration value="GC:Rural Studies"/>
			<xs:enumeration value="U2:Social Science"/>
			<xs:enumeration value="S1:Sociology"/>
			<xs:enumeration value="G2:Urban Studies"/>
			<xs:enumeration value="GB:Western Civilization"/>
			<xs:enumeration value="G1:Women's Studies"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="FellowshipsSupplemental_AffiliatedInstitution_DataType">
		<xs:sequence>
			<xs:element name="InstitutionName" type="globLib:OrganizationNameDataType"/>
			<xs:element name="Street1" type="globLib:StreetDataType" minOccurs="0"/>
			<xs:element name="Street2" type="globLib:StreetDataType" minOccurs="0"/>
			<xs:element name="City" type="globLib:CityDataType"/>
			<xs:element name="County" type="globLib:CountyDataType" minOccurs="0"/>
			<xs:element name="State" type="codes:StateCodeDataType" minOccurs="0"/>
			<xs:element name="Province" type="globLib:ProvinceDataType" minOccurs="0"/>
			<xs:element name="Country" type="codes:CountryCodeDataType"/>
			<xs:element name="ZipCode" type="globLib:ZipPostalCodeDataType" minOccurs="0"/>
			<xs:element name="DUNSNumber" type="globLib:DUNSIDDataType"/>
			<xs:element name="EmployerTaxpayerIdentificationNumber" type="globLib:EmployerIDDataType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>	
	<xs:complexType name="FellowshipsSupplemental_Reference_DataType">
		<xs:sequence>
			<xs:element name="FirstName" type="globLib:FirstNameDataType" minOccurs="0"/>
			<xs:element name="LastName" type="globLib:LastNameDataType" minOccurs="0"/>
			<xs:element name="Email" type="globLib:EmailDataType" minOccurs="0"/>
			<xs:element name="Title" type="globLib:HumanTitleDataType" minOccurs="0"/>
			<xs:element name="Department" type="globLib:DepartmentNameDataType" minOccurs="0"/>
			<xs:element name="Institution" type="globLib:OrganizationNameDataType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="FellowshipsSupplemental_Official_DataType">
		<xs:sequence>
			<xs:element name="FirstName" type="globLib:FirstNameDataType" minOccurs="0"/>
			<xs:element name="LastName" type="globLib:LastNameDataType" minOccurs="0"/>
			<xs:element name="Email" type="globLib:EmailDataType" minOccurs="0"/>
			<xs:element name="Title" type="globLib:HumanTitleDataType" minOccurs="0"/>
			<xs:element name="Institution" type="globLib:OrganizationNameDataType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
