coeus-code/src/main/resources/org/kuali/kra/s2s/gg/schema/Footer-V1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--************************************************************************-->
<!-- TITLE:    	Footer Schema	       		                            -->
<!-- DATE:    	October 17, 2003				   		        -->
<!-- VERSION:    1.0	 				   		                            -->
<!--   								   	                                   -->
<!-- COMMENTS: This schema contains information of the grant -->
<!--                      application that are generated by grants.gov   -->
<!--   								   	                                  -->
<!--************************************************************************-->
<xsd:schema targetNamespace="http://apply.grants.gov/system/Footer-V1.0" xmlns:glob="http://apply.grants.gov/system/Global-V1.0" xmlns:footer="http://apply.grants.gov/system/Footer-V1.0" xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="qualified" version="1.0">
    <!-- IMPORT GLOBAL SCHEMA -->
    <xsd:import namespace="http://apply.grants.gov/system/Global-V1.0" schemaLocation="http://at07apply.grants.gov/apply/system/schemas/Global-V1.0.xsd"/>
    <!-- ELEMENTS -->
    <!-- MAIN ELEMENT GROUP -->
    <xsd:element name="GrantSubmissionFooter">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element ref="glob:HashValue"/>
                <xsd:element ref="footer:ReceivedDateTime"/>
                <xsd:element ref="footer:SubmitterName"/>
                <xsd:element ref="footer:Grants_govTrackingNumber"/>
            </xsd:sequence>
            <xsd:attribute ref="glob:schemaVersion" use="required" fixed="1.0"/>
        </xsd:complexType>
    </xsd:element>
    <!-- OTHER ELEMENTS -->
    <xsd:element name="ReceivedDateTime" type="xsd:dateTime"/>
    <xsd:element name="SubmitterName" type="glob:StringMin1Max240Type"/>
    <xsd:element name="Grants_govTrackingNumber" type="glob:StringMin1Max240Type"/>
</xsd:schema>
