coeus-code/src/main/resources/org/kuali/kra/s2s/gg/schema/GABI_Budget-V1.1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--**********************************111405*********************************************************************************-->
<!-- TITLE: Line Item Budget Form for Head Start and Early Head Start-->
<!-- DESCRIPTION: -->
<!-- FORM VERSION: 1.0-->
<!-- SCHEMA VERSION: 1.0-->
<!-- OMB NUMBER: 0970-0207-->
<!-- FORM EXPIRATION DATE:  2006-05-21-->
<!-- REVISION HISTORY:-->
<!-- TO DO:-->
<!--............1. Find "xmlns:" and replace it by "xmlns:"-->
<!--*******************************************************************************************************************-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:codes="http://apply.grants.gov/system/UniversalCodes-V2.0" xmlns:globLib="http://apply.grants.gov/system/GlobalLibrary-V2.0" xmlns:GABI_Budget="http://apply.grants.gov/forms/GABI_Budget-V1.1" targetNamespace="http://apply.grants.gov/forms/GABI_Budget-V1.1" elementFormDefault="qualified" attributeFormDefault="qualified" version="1.0">
	<xs:import namespace="http://apply.grants.gov/system/UniversalCodes-V2.0" schemaLocation="http://at07apply.grants.gov/apply/system/schemas/UniversalCodes-V2.0.xsd"/>
	<xs:import namespace="http://apply.grants.gov/system/GlobalLibrary-V2.0" schemaLocation="http://at07apply.grants.gov/apply/system/schemas/GlobalLibrary-V2.0.xsd"/>
	<xs:element name="GABI_Budget">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="FederalID" type="globLib:ProjectAwardNumberDataType" minOccurs="0"/>
				<xs:element name="DelegateID">
					<xs:simpleType>
						<xs:restriction base="xs:int">
							<xs:minInclusive value="0"/>
							<xs:maxInclusive value="999"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="AgencyName" type="globLib:OrganizationNameDataType"/>
				<xs:element name="Personnel" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="BudgetPersonnelManagerOperationCostAmount" type="globLib:BudgetAmountDataType" minOccurs="0"/>
							<xs:element name="BudgetPersonnelManagerTrainingCostAmount" type="globLib:BudgetAmountDataType" minOccurs="0"/>
							<xs:element name="BudgetPersonnelManagerNonFederalAmount" type="globLib:BudgetAmountDataType" minOccurs="0"/>
							<xs:element name="BudgetPersonnelManagerEmployeeCount" minOccurs="0">
								<xs:simpleType>
									<xs:restriction base="xs:decimal">
										<xs:minInclusive value="0.00"/>
										<xs:maxInclusive value="999999999999.99"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="BudgetPersonnelTeacherOperationCostAmount" type="globLib:BudgetAmountDataType" minOccurs="0"/>
							<xs:element name="BudgetPersonnelTeacherTrainingCostAmount" type="globLib:BudgetAmountDataType" minOccurs="0"/>
							<xs:element name="BudgetPersonnelTeacherNonFederalAmount" type="globLib:BudgetAmountDataType" minOccurs="0"/>
							<xs:element name="BudgetPersonnelTeacherEmployeeCount" minOccurs="0">
								<xs:simpleType>
									<xs:restriction base="xs:decimal">
										<xs:minInclusive value="0.00"/>
										<xs:maxInclusive value="999999999999.99"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="BudgetPersonnelChildCareOperationCostAmount" type="globLib:BudgetAmountDataType" minOccurs="0"/>
							<xs:element name="BudgetPersonnelChildCareTrainingCostAmount" type="globLib:BudgetAmountDataType" minOccurs="0"/>
							<xs:element name="BudgetPersonnelChildCareNonFederalAmount" type="globLib:BudgetAmountDataType" minOccurs="0"/>
							<xs:element name="BudgetPersonnelChildCareEmployeeCount" minOccurs="0">
								<xs:simpleType>
									<xs:restriction base="xs:decimal">
										<xs:minInclusive value="0.00"/>
										<xs:maxInclusive value="999999999999.99"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="BudgetPersonnelHomeVisitorOperationCostAmount" type="globLib:BudgetAmountDataType" minOccurs="0"/>
							<xs:element name="BudgetPersonnelHomeVisitorTrainingCostAmount" type="globLib:BudgetAmountDataType" minOccurs="0"/>
							<xs:element name="BudgetPersonnelHomeVisitorNonFederalAmount" type="globLib:BudgetAmountDataType" minOccurs="0"/>
							<xs:element name="BudgetPersonnelHomeVisitorEmployeeCount" minOccurs="0">
								<xs:simpleType>
									<xs:restriction base="xs:decimal">
										<xs:minInclusive value="0.00"/>
										<xs:maxInclusive value="999999999999.99"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="BudgetPersonnelTeacherAidesOperationCostAmount" type="globLib:BudgetAmountDataType" minOccurs="0"/>
							<xs:element name="BudgetPersonnelTeacherAideTrainingCostAmount" type="globLib:BudgetAmountDataType" minOccurs="0"/>
							<xs:element name="BudgetPersonnelTeacherAideNonFederalAmount" type="globLib:BudgetAmountDataType" minOccurs="0"/>
							<xs:element name="BudgetPersonnelTeacherAideEmployeeCount" minOccurs="0">
								<xs:simpleType>
									<xs:restriction base="xs:decimal">
										<xs:minInclusive value="0.00"/>
										<xs:maxInclusive value="999999999999.99"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="BudgetPersonnelHealthOperationCostAmount" type="globLib:BudgetAmountDataType" minOccurs="0"/>
							<xs:element name="BudgetPersonnelHealthTrainingCostAmount" type="globLib:BudgetAmountDataType" minOccurs="0"/>
							<xs:element name="BudgetPersonnelHealthNonFederalAmount" type="globLib:BudgetAmountDataType" minOccurs="0"/>
							<xs:element name="BudgetPersonnelHealthEmployeeCount" minOccurs="0">
								<xs:simpleType>
									<xs:restriction base="xs:decimal">
										<xs:minInclusive value="0.00"/>
										<xs:maxInclusive value="999999999999.99"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="BudgetPersonnelDisabilityServiceOperationCostAmount" type="globLib:BudgetAmountDataType" minOccurs="0"/>
							<xs:element name="BudgetPersonnelDisabilityServiceTrainingCostAmount" type="globLib:BudgetAmountDataType" minOccurs="0"/>
							<xs:element name="BudgetPersonnelDisabilityServiceNonFederalAmount" type="globLib:BudgetAmountDataType" minOccurs="0"/>
							<xs:element name="BudgetPersonnelDisabilityServiceEmployeeCount" minOccurs="0">
								<xs:simpleType>
									<xs:restriction base="xs:decimal">
										<xs:minInclusive value="0.00"/>
										<xs:maxInclusive value="999999999999.99"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="BudgetPersonnelNutritionOperationCostAmount" type="globLib:BudgetAmountDataType" minOccurs="0"/>
							<xs:element name="BudgetPersonnelNutritionTrainingCostAmount" type="globLib:BudgetAmountDataType" minOccurs="0"/>
							<xs:element name="BudgetPersonnelNutritionNonFederalAmount" type="globLib:BudgetAmountDataType" minOccurs="0"/>
							<xs:element name="BudgetPersonnelNutritionEmployeeCount" minOccurs="0">
								<xs:simpleType>
									<xs:restriction base="xs:decimal">
										<xs:minInclusive value="0.00"/>
										<xs:maxInclusive value="999999999999.99"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="BudgetPersonnelOtherChildServiceOperationCostAmount" type="globLib:BudgetAmountDataType" minOccurs="0"/>
							<xs:element name="BudgetPersonnelOtherChildServiceTrainingCostAmount" type="globLib:BudgetAmountDataType" minOccurs="0"/>
							<xs:element name="BudgetPersonnelOtherChildServiceNonFederalAmount" type="globLib:BudgetAmountDataType" minOccurs="0"/>
							<xs:element name="BudgetPersonnelOtherChildServiceEmployeeCount" minOccurs="0">
								<xs:simpleType>
									<xs:restriction base="xs:decimal">
										<xs:minInclusive value="0.00"/>
										<xs:maxInclusive value="999999999999.99"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="BudgetPersonnelCommunityManagerOperationCostAmount" type="globLib:BudgetAmountDataType" minOccurs="0"/>
							<xs:element name="BudgetPersonnelCommunityManagerTrainingCostAmount" type="globLib:BudgetAmountDataType" minOccurs="0"/>
							<xs:element name="BudgetPersonnelCommunityManagerNonFederalAmount" type="globLib:BudgetAmountDataType" minOccurs="0"/>
							<xs:element name="BudgetPersonnelCommunityManagerEmployeeCount" minOccurs="0">
								<xs:simpleType>
									<xs:restriction base="xs:decimal">
										<xs:minInclusive value="0.00"/>
										<xs:maxInclusive value="999999999999.99"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="BudgetPersonnelOtherCommunityManagerOperationCostAmount" type="globLib:BudgetAmountDataType" minOccurs="0"/>
							<xs:element name="BudgetPersonnelOtherCommunityTrainingCostAmount" type="globLib:BudgetAmountDataType" minOccurs="0"/>
							<xs:element name="BudgetPersonnelOtherCommunityNonFederalAmount" type="globLib:BudgetAmountDataType" minOccurs="0"/>
							<xs:element name="BudgetPersonnelOtherFamilyCommunityEmployeeCount" minOccurs="0">
								<xs:simpleType>
									<xs:restriction base="xs:decimal">
										<xs:minInclusive value="0.00"/>
										<xs:maxInclusive value="999999999999.99"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="BudgetPersonnelDesignExecutiveOperationCostAmount" type="globLib:BudgetAmountDataType" minOccurs="0"/>
							<xs:element name="BudgetPersonnelDesignExecutiveTrainingCostAmount" type="globLib:BudgetAmountDataType" minOccurs="0"/>
							<xs:element name="BudgetPersonnelDesignExecutiveNonFederalAmount" type="globLib:BudgetAmountDataType" minOccurs="0"/>
							<xs:element name="BudgetPersonnelDesignExecutiveEmployeeCount" minOccurs="0">
								<xs:simpleType>
									<xs:restriction base="xs:decimal">
										<xs:minInclusive value="0.00"/>
										<xs:maxInclusive value="999999999999.99"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="BudgetPersonnelDirectorOperationCostAmount" type="globLib:BudgetAmountDataType" minOccurs="0"/>
							<xs:element name="BudgetPersonnelDesignDirectorTrainingCostAmount" type="globLib:BudgetAmountDataType" minOccurs="0"/>
							<xs:element name="BudgetPersonnelDesignDirectorNonFederalAmount" type="globLib:BudgetAmountDataType" minOccurs="0"/>
							<xs:element name="BudgetPersonnelDesignDirectorEmployeeCount" minOccurs="0">
								<xs:simpleType>
									<xs:restriction base="xs:decimal">
										<xs:minInclusive value="0.00"/>
										<xs:maxInclusive value="999999999999.99"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="BudgetPersonnelDesignManagerOperationCostAmount" type="globLib:BudgetAmountDataType" minOccurs="0"/>
							<xs:element name="BudgetPersonnelDesignManagerTrainingCostAmount" type="globLib:BudgetAmountDataType" minOccurs="0"/>
							<xs:element name="BudgetPersonnelDesignManagerNonFederalAmount" type="globLib:BudgetAmountDataType" minOccurs="0"/>
							<xs:element name="BudgetPersonnelDesignManagerEmployeeCount" minOccurs="0">
								<xs:simpleType>
									<xs:restriction base="xs:decimal">
										<xs:minInclusive value="0.00"/>
										<xs:maxInclusive value="999999999999.99"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="BudgetPersonnelStaffDevOperationCostAmount" type="globLib:BudgetAmountDataType" minOccurs="0"/>
							<xs:element name="BudgetPersonnelDesignStaffDevTrainingCostAmount" type="globLib:BudgetAmountDataType" minOccurs="0"/>
							<xs:element name="BudgetPersonnelStaffDevNonFederalAmount" type="globLib:BudgetAmountDataType" minOccurs="0"/>
							<xs:element name="BudgetPersonnelStaffDevEmployeeCount" minOccurs="0">
								<xs:simpleType>
									<xs:restriction base="xs:decimal">
										<xs:minInclusive value="0.00"/>
										<xs:maxInclusive value="999999999999.99"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="BudgetPersonnelClericalOperationCostAmount" type="globLib:BudgetAmountDataType" minOccurs="0"/>
							<xs:element name="BudgetPersonnelClericalTrainingCostAmount" type="globLib:BudgetAmountDataType" minOccurs="0"/>
							<xs:element name="BudgetPersonnelClericalNonFederalAmount" type="globLib:BudgetAmountDataType" minOccurs="0"/>
							<xs:element name="BudgetPersonnelClericalEmployeeCount" minOccurs="0">
								<xs:simpleType>
									<xs:restriction base="xs:decimal">
										<xs:minInclusive value="0.00"/>
										<xs:maxInclusive value="999999999999.99"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="BudgetPersonnelFiscalStaffOperationCostAmount" type="globLib:BudgetAmountDataType" minOccurs="0"/>
							<xs:element name="BudgetPersonnelFiscalStaffTrainingCostAmount" type="globLib:BudgetAmountDataType" minOccurs="0"/>
							<xs:element name="BudgetPersonnelFiscalStaffNonFederalAmount" type="globLib:BudgetAmountDataType" minOccurs="0"/>
							<xs:element name="BudgetPersonnelFiscalStaffEmployeeCount" minOccurs="0">
								<xs:simpleType>
									<xs:restriction base="xs:decimal">
										<xs:minInclusive value="0.00"/>
										<xs:maxInclusive value="999999999999.99"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="BudgetPersonnelOtherDesignOperationCostAmount" type="globLib:BudgetAmountDataType" minOccurs="0"/>
							<xs:element name="BudgetPersonnelOtherDesignTrainingCostAmount" type="globLib:BudgetAmountDataType" minOccurs="0"/>
							<xs:element name="BudgetPersonnelOtherDesignNonFederalAmount" type="globLib:BudgetAmountDataType" minOccurs="0"/>
							<xs:element name="BudgetPersonnelOtherDesignEmployeeCount" minOccurs="0">
								<xs:simpleType>
									<xs:restriction base="xs:decimal">
										<xs:minInclusive value="0.00"/>
										<xs:maxInclusive value="999999999999.99"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="BudgetPersonnelOtherMaintenanceOperationCostAmount" type="globLib:BudgetAmountDataType" minOccurs="0"/>
							<xs:element name="BudgetPersonnelOtherMaintenanceTrainingCostAmount" type="globLib:BudgetAmountDataType" minOccurs="0"/>
							<xs:element name="BudgetPersonnelOtherMaintenanceNonFederalAmount" type="globLib:BudgetAmountDataType" minOccurs="0"/>
							<xs:element name="BudgetPersonnelOtherMaintenanceEmployeeCount" minOccurs="0">
								<xs:simpleType>
									<xs:restriction base="xs:decimal">
										<xs:minInclusive value="0.00"/>
										<xs:maxInclusive value="999999999999.99"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="BudgetPersonnelOtherTransportOperationCostAmount" type="globLib:BudgetAmountDataType" minOccurs="0"/>
							<xs:element name="BudgetPersonnelOtherTransportTrainingCostAmount" type="globLib:BudgetAmountDataType" minOccurs="0"/>
							<xs:element name="BudgetPersonnelOtherTransportNonFederalAmount" type="globLib:BudgetAmountDataType" minOccurs="0"/>
							<xs:element name="BudgetPersonnelOtherTransportEmployeeCount" minOccurs="0">
								<xs:simpleType>
									<xs:restriction base="xs:decimal">
										<xs:minInclusive value="0.00"/>
										<xs:maxInclusive value="999999999999.99"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="BudgetPersonnelOtherStaffOperationCostAmount" type="globLib:BudgetAmountDataType" minOccurs="0"/>
							<xs:element name="BudgetPersonnelOtherStaffTrainingCostAmount" type="globLib:BudgetAmountDataType" minOccurs="0"/>
							<xs:element name="BudgetPersonnelOtherStaffNonFederalAmount" type="globLib:BudgetAmountDataType" minOccurs="0"/>
							<xs:element name="BudgetPersonnelOtherStaffEmployeeCount" minOccurs="0">
								<xs:simpleType>
									<xs:restriction base="xs:decimal">
										<xs:minInclusive value="0.00"/>
										<xs:maxInclusive value="999999999999.99"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="BudgetPersonnelOperationTotalAmount" type="globLib:BudgetTotalAmountDataType" minOccurs="0"/>
							<xs:element name="BudgetPersonnelTrainingTotalAmount" type="globLib:BudgetTotalAmountDataType" minOccurs="0"/>
							<xs:element name="BudgetPersonnelNonFederalTotalAmount" type="globLib:BudgetTotalAmountDataType" minOccurs="0"/>
							<xs:element name="BudgetPersonnelEmployeeCountTotalAmount" minOccurs="0">
								<xs:simpleType>
									<xs:restriction base="xs:decimal">
										<xs:minInclusive value="0.00"/>
										<xs:maxInclusive value="999999999999.99"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="FringeBenefits" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="BudgetFringeBenefitsTaxOperationCostAmount" type="globLib:BudgetAmountDataType" minOccurs="0"/>
							<xs:element name="BudgetFringeBenefitsTaxTrainingAmount" type="globLib:BudgetAmountDataType" minOccurs="0"/>
							<xs:element name="BudgetFringeBenefitsTaxNonFederalAmount" type="globLib:BudgetAmountDataType" minOccurs="0"/>
							<xs:element name="BudgetFringeBenefitsHealthOperationCostAmount" type="globLib:BudgetAmountDataType" minOccurs="0"/>
							<xs:element name="BudgetFringeBenefitsHealthTrainingAmount" type="globLib:BudgetAmountDataType" minOccurs="0"/>
							<xs:element name="BudgetFringeBenefitsHealthNonFederalAmount" type="globLib:BudgetAmountDataType" minOccurs="0"/>
							<xs:element name="BudgetFringeBenefitsRetirementOperationCostAmount" type="globLib:BudgetAmountDataType" minOccurs="0"/>
							<xs:element name="BudgetFringeBenefitsRetirementTrainingAmount" type="globLib:BudgetAmountDataType" minOccurs="0"/>
							<xs:element name="BudgetFringeBenefitsRetirementNonFederalAmount" type="globLib:BudgetAmountDataType" minOccurs="0"/>
							<xs:element name="BudgetFringeBenefitsOtherOperationCostAmount" type="globLib:BudgetAmountDataType" minOccurs="0"/>
							<xs:element name="BudgetFringeBenefitsOtherTrainingAmount" type="globLib:BudgetAmountDataType" minOccurs="0"/>
							<xs:element name="BudgetFringeBenefitsOtherNonFederalAmount" type="globLib:BudgetAmountDataType" minOccurs="0"/>
							<xs:element name="BudgetFringeBenefitsOperationTotalAmount" type="globLib:BudgetTotalAmountDataType"/>
							<xs:element name="BudgetFringeBenefitsTrainingTotalAmount" type="globLib:BudgetTotalAmountDataType"/>
							<xs:element name="BudgetFringeBenefitsNonFederalTotalAmount" type="globLib:BudgetTotalAmountDataType"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="Travel" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="BudgetTravelOperationAmount" type="globLib:BudgetAmountDataType" minOccurs="0"/>
							<xs:element name="BudgetTravelTrainingAmount" type="globLib:BudgetAmountDataType" minOccurs="0"/>
							<xs:element name="BudgetTravelNonFederalAmount" type="globLib:BudgetAmountDataType" minOccurs="0"/>
							<xs:element name="BudgetTravelOperationTotalAmount" type="globLib:BudgetTotalAmountDataType" minOccurs="0"/>
							<xs:element name="BudgetTravelTrainingTotalAmount" type="globLib:BudgetTotalAmountDataType" minOccurs="0"/>
							<xs:element name="BudgetTravelNonFederalTotalAmount" type="globLib:BudgetTotalAmountDataType" minOccurs="0"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="Equipment" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="BudgetEquipmentOfficeOperationCostAmount" type="globLib:BudgetAmountDataType" minOccurs="0"/>
							<xs:element name="BudgetEquipmentOfficeTrainingAmount" type="globLib:BudgetAmountDataType" minOccurs="0"/>
							<xs:element name="BudgetEquipmentOfficeNonFederalAmount" type="globLib:BudgetAmountDataType" minOccurs="0"/>
							<xs:element name="BudgetEquipmentClassroomOperationCostAmount" type="globLib:BudgetAmountDataType" minOccurs="0"/>
							<xs:element name="BudgetEquipmentClassroomTrainingAmount" type="globLib:BudgetAmountDataType" minOccurs="0"/>
							<xs:element name="BudgetEquipmentClassroomNonFederalAmount" type="globLib:BudgetAmountDataType" minOccurs="0"/>
							<xs:element name="BudgetEquipmentVehicleOperationCostAmount" type="globLib:BudgetAmountDataType" minOccurs="0"/>
							<xs:element name="BudgetEquipmentVehicleTrainingAmount" type="globLib:BudgetAmountDataType" minOccurs="0"/>
							<xs:element name="BudgetEquipmentVehicleNonFederalAmount" type="globLib:BudgetAmountDataType" minOccurs="0"/>
							<xs:element name="BudgetEquipmentOtherOperationCostAmount" type="globLib:BudgetAmountDataType" minOccurs="0"/>
							<xs:element name="BudgetEquipmentOtherTrainingAmount" type="globLib:BudgetAmountDataType" minOccurs="0"/>
							<xs:element name="BudgetEquipmentOtherNonFederalAmount" type="globLib:BudgetAmountDataType" minOccurs="0"/>
							<xs:element name="BudgetEquipmentOperationTotalAmount" type="globLib:BudgetTotalAmountDataType" minOccurs="0"/>
							<xs:element name="BudgetEquipmentTrainingTotalAmount" type="globLib:BudgetTotalAmountDataType" minOccurs="0"/>
							<xs:element name="BudgetEquipmentNonFederalTotalAmount" type="globLib:BudgetTotalAmountDataType" minOccurs="0"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="Supplies" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="BudgetSuppliesOfficeOperationCostAmount" type="globLib:BudgetAmountDataType" minOccurs="0"/>
							<xs:element name="BudgetSuppliesOfficeTrainingAmount" type="globLib:BudgetAmountDataType" minOccurs="0"/>
							<xs:element name="BudgetSuppliesOfficeNonFederalAmount" type="globLib:BudgetAmountDataType" minOccurs="0"/>
							<xs:element name="BudgetSuppliesChildOperationCostAmount" type="globLib:BudgetAmountDataType" minOccurs="0"/>
							<xs:element name="BudgetSuppliesChildTrainingAmount" type="globLib:BudgetAmountDataType" minOccurs="0"/>
							<xs:element name="BudgetSuppliesChildNonFederalAmount" type="globLib:BudgetAmountDataType" minOccurs="0"/>
							<xs:element name="BudgetSuppliesFoodOperationCostAmount" type="globLib:BudgetAmountDataType" minOccurs="0"/>
							<xs:element name="BudgetSuppliesFoodTrainingAmount" type="globLib:BudgetAmountDataType" minOccurs="0"/>
							<xs:element name="BudgetSuppliesFoodNonFederalAmount" type="globLib:BudgetAmountDataType" minOccurs="0"/>
							<xs:element name="BudgetSuppliesOtherOperationCostAmount" type="globLib:BudgetAmountDataType" minOccurs="0"/>
							<xs:element name="BudgetSuppliesOtherTrainingAmount" type="globLib:BudgetAmountDataType" minOccurs="0"/>
							<xs:element name="BudgetSuppliesOtherNonFederalAmount" type="globLib:BudgetAmountDataType" minOccurs="0"/>
							<xs:element name="BudgetSuppliesOperationTotalAmount" type="globLib:BudgetTotalAmountDataType" minOccurs="0"/>
							<xs:element name="BudgetSuppliesTrainingTotalAmount" type="globLib:BudgetTotalAmountDataType" minOccurs="0"/>
							<xs:element name="BudgetSuppliesNonFederalTotalAmount" type="globLib:BudgetTotalAmountDataType" minOccurs="0"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="Contractual" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="BudgetContractAdministrativeOperationCostAmount" type="globLib:BudgetAmountDataType" minOccurs="0"/>
							<xs:element name="BudgetContractAdministrativeTrainingCostAmount" type="globLib:BudgetAmountDataType" minOccurs="0"/>
							<xs:element name="BudgetContractAdministrativeNonFederalAmount" type="globLib:BudgetAmountDataType" minOccurs="0"/>
							<xs:element name="BudgetContractHealthServicesOperationCostAmount" type="globLib:BudgetAmountDataType" minOccurs="0"/>
							<xs:element name="BudgetContractHealthServicesTrainingCostAmount" type="globLib:BudgetAmountDataType" minOccurs="0"/>
							<xs:element name="BudgetContractHealthNonFederalAmount" type="globLib:BudgetAmountDataType" minOccurs="0"/>
							<xs:element name="BudgetContractFoodServicesOperationCostAmount" type="globLib:BudgetAmountDataType" minOccurs="0"/>
							<xs:element name="BudgetContractFoodServicesTrainingCostAmount" type="globLib:BudgetAmountDataType" minOccurs="0"/>
							<xs:element name="BudgetContractFoodNonFederalAmount" type="globLib:BudgetAmountDataType" minOccurs="0"/>
							<xs:element name="BudgetContractTransportationOperationCostAmount" type="globLib:BudgetAmountDataType" minOccurs="0"/>
							<xs:element name="BudgetContractTransportationTrainingCostAmount" type="globLib:BudgetAmountDataType" minOccurs="0"/>
							<xs:element name="BudgetContractTransportationNonFederalAmount" type="globLib:BudgetAmountDataType" minOccurs="0"/>
							<xs:element name="BudgetContractTrainingOperationCostAmount" type="globLib:BudgetAmountDataType" minOccurs="0"/>
							<xs:element name="BudgetContractTrainingTrainingCostAmount" type="globLib:BudgetAmountDataType" minOccurs="0"/>
							<xs:element name="BudgetContractTrainingNonFederalAmount" type="globLib:BudgetAmountDataType" minOccurs="0"/>
							<xs:element name="BudgetContractChildCareCostAmount" type="globLib:BudgetAmountDataType" minOccurs="0"/>
							<xs:element name="BudgetContractChildCareTrainingCostAmount" type="globLib:BudgetAmountDataType" minOccurs="0"/>
							<xs:element name="BudgetContractChildCareNonFederalAmount" type="globLib:BudgetAmountDataType" minOccurs="0"/>
							<xs:element name="BudgetContractDelegateAgencyOperationCostAmount" type="globLib:BudgetAmountDataType" minOccurs="0"/>
							<xs:element name="BudgetContractDelegateAgencyTrainingCostAmount" type="globLib:BudgetAmountDataType" minOccurs="0"/>
							<xs:element name="BudgetContractDelegateNonFederalAmount" type="globLib:BudgetAmountDataType" minOccurs="0"/>
							<xs:element name="BudgetContractOtherOperationCostAmount" type="globLib:BudgetAmountDataType" minOccurs="0"/>
							<xs:element name="BudgetContractOtherTrainingCostAmount" type="globLib:BudgetAmountDataType" minOccurs="0"/>
							<xs:element name="BudgetContractOtherNonFederalAmount" type="globLib:BudgetAmountDataType" minOccurs="0"/>
							<xs:element name="BudgetContractOperationTotalAmount" type="globLib:BudgetTotalAmountDataType" minOccurs="0"/>
							<xs:element name="BudgetContractTrainingTotalAmount" type="globLib:BudgetTotalAmountDataType" minOccurs="0"/>
							<xs:element name="BudgetContractNonFederalTotalAmount" type="globLib:BudgetTotalAmountDataType" minOccurs="0"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="Construction" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="BudgetConstructionNewOperationCostAmount" type="globLib:BudgetAmountDataType" minOccurs="0"/>
							<xs:element name="BudgetConstructionNewTrainingAmount" type="globLib:BudgetAmountDataType" minOccurs="0"/>
							<xs:element name="BudgetConstructionNewNonFederalAmount" type="globLib:BudgetAmountDataType" minOccurs="0"/>
							<xs:element name="BudgetConstructionRenovationOperationCostAmount" type="globLib:BudgetAmountDataType" minOccurs="0"/>
							<xs:element name="BudgetConstructionRenovationTrainingAmount" type="globLib:BudgetAmountDataType" minOccurs="0"/>
							<xs:element name="BudgetConstructionRenovationNonFederalAmount" type="globLib:BudgetAmountDataType" minOccurs="0"/>
							<xs:element name="BudgetConstructionAcqusitionOperationCostAmount" type="globLib:BudgetAmountDataType" minOccurs="0"/>
							<xs:element name="BudgetConstructionAcqusitionTrainingAmount" type="globLib:BudgetAmountDataType" minOccurs="0"/>
							<xs:element name="BudgetConstructionAcqusitionNonFederalAmount" type="globLib:BudgetAmountDataType" minOccurs="0"/>
							<xs:element name="BudgetConstructionOperationTotalAmount" type="globLib:BudgetTotalAmountDataType" minOccurs="0"/>
							<xs:element name="BudgetConstructionTrainingTotalAmount" type="globLib:BudgetTotalAmountDataType" minOccurs="0"/>
							<xs:element name="BudgetConstructionNonFederalTotalAmount" type="globLib:BudgetTotalAmountDataType" minOccurs="0"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="Other" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="BudgetOtherDepreciationOperationCostAmount" type="globLib:BudgetAmountDataType" minOccurs="0"/>
							<xs:element name="BudgetOtherDepreciationTrainingCostAmount" type="globLib:BudgetAmountDataType" minOccurs="0"/>
							<xs:element name="BudgetOtherDepreciationNonFederalAmount" type="globLib:BudgetAmountDataType" minOccurs="0"/>
							<xs:element name="BudgetOtherRentOperationCostAmount" type="globLib:BudgetAmountDataType" minOccurs="0"/>
							<xs:element name="BudgetOtherRentTrainingCostAmount" type="globLib:BudgetAmountDataType" minOccurs="0"/>
							<xs:element name="BudgetOtherRentNonFederalAmount" type="globLib:BudgetAmountDataType" minOccurs="0"/>
							<xs:element name="BudgetOtherMortgageOperationCostAmount" type="globLib:BudgetAmountDataType" minOccurs="0"/>
							<xs:element name="BudgetOtherMortgageTrainingCostAmount" type="globLib:BudgetAmountDataType" minOccurs="0"/>
							<xs:element name="BudgetOtherMortgageNonFederalAmount" type="globLib:BudgetAmountDataType" minOccurs="0"/>
							<xs:element name="BudgetOtherUtilityOperationCostAmount" type="globLib:BudgetAmountDataType" minOccurs="0"/>
							<xs:element name="BudgetOtherUtilityTrainingCostAmount" type="globLib:BudgetAmountDataType" minOccurs="0"/>
							<xs:element name="BudgetOtherUtilityNonFederalAmount" type="globLib:BudgetAmountDataType" minOccurs="0"/>
							<xs:element name="BudgetOtherBuildingInsuranceOperationCostAmount" type="globLib:BudgetAmountDataType" minOccurs="0"/>
							<xs:element name="BudgetOtherBuildingInsuranceTrainingCostAmount" type="globLib:BudgetAmountDataType" minOccurs="0"/>
							<xs:element name="BudgetOtherBuildingInsuranceNonFederalAmount" type="globLib:BudgetAmountDataType" minOccurs="0"/>
							<xs:element name="BudgetOtherBuildingMaintenanceOperationCostAmount" type="globLib:BudgetAmountDataType" minOccurs="0"/>
							<xs:element name="BudgetOtherBuildingMaintenanceTrainingCostAmount" type="globLib:BudgetAmountDataType" minOccurs="0"/>
							<xs:element name="BudgetOtherBuildingMaintenanceNonFederalAmount" type="globLib:BudgetAmountDataType" minOccurs="0"/>
							<xs:element name="BudgetOtherAlterationOperationCostAmount" type="globLib:BudgetAmountDataType" minOccurs="0"/>
							<xs:element name="BudgetOtherAlterationTrainingCostAmount" type="globLib:BudgetAmountDataType" minOccurs="0"/>
							<xs:element name="BudgetOtherAlterationNonFederalAmount" type="globLib:BudgetAmountDataType" minOccurs="0"/>
							<xs:element name="BudgetOtherLocalTravelOperationCostAmount" type="globLib:BudgetAmountDataType" minOccurs="0"/>
							<xs:element name="BudgetOtherLocalTravelTrainingCostAmount" type="globLib:BudgetAmountDataType" minOccurs="0"/>
							<xs:element name="BudgetOtherLocalTravelNonFederalAmount" type="globLib:BudgetAmountDataType" minOccurs="0"/>
							<xs:element name="BudgetOtherNutritionServicesOperationCostAmount" type="globLib:BudgetAmountDataType" minOccurs="0"/>
							<xs:element name="BudgetOtherNutritionServicesTrainingCostAmount" type="globLib:BudgetAmountDataType" minOccurs="0"/>
							<xs:element name="BudgetOtherNutritionServicesNonFederalAmount" type="globLib:BudgetAmountDataType" minOccurs="0"/>
							<xs:element name="BudgetOtherConsultantOperationCostAmount" type="globLib:BudgetAmountDataType" minOccurs="0"/>
							<xs:element name="BudgetOtherConsultantTrainingCostAmount" type="globLib:BudgetAmountDataType" minOccurs="0"/>
							<xs:element name="BudgetOtherConsultantNonFederalAmount" type="globLib:BudgetAmountDataType" minOccurs="0"/>
							<xs:element name="BudgetOtherVolunteerOperationCostAmount" type="globLib:BudgetAmountDataType" minOccurs="0"/>
							<xs:element name="BudgetOtherVolunteerTrainingCostAmount" type="globLib:BudgetAmountDataType" minOccurs="0"/>
							<xs:element name="BudgetOtherVolunteerNonFederalAmount" type="globLib:BudgetAmountDataType" minOccurs="0"/>
							<xs:element name="BudgetOtherSubstitutesOperationCostAmount" type="globLib:BudgetAmountDataType" minOccurs="0"/>
							<xs:element name="BudgetOtherSubstitutesTrainingCostAmount" type="globLib:BudgetAmountDataType" minOccurs="0"/>
							<xs:element name="BudgetOtherSubstitutesNonFederalAmount" type="globLib:BudgetAmountDataType" minOccurs="0"/>
							<xs:element name="BudgetOtherParentOperationCostAmount" type="globLib:BudgetAmountDataType" minOccurs="0"/>
							<xs:element name="BudgetOtherParentTrainingCostAmount" type="globLib:BudgetAmountDataType" minOccurs="0"/>
							<xs:element name="BudgetOtherParentNonFederalAmount" type="globLib:BudgetAmountDataType" minOccurs="0"/>
							<xs:element name="BudgetOtherAccountingOperationCostAmount" type="globLib:BudgetAmountDataType" minOccurs="0"/>
							<xs:element name="BudgetOtherAccountingTrainingCostAmount" type="globLib:BudgetAmountDataType" minOccurs="0"/>
							<xs:element name="BudgetOtherAccountingNonFederalAmount" type="globLib:BudgetAmountDataType" minOccurs="0"/>
							<xs:element name="BudgetOtherPublicationOperationCostAmount" type="globLib:BudgetAmountDataType" minOccurs="0"/>
							<xs:element name="BudgetOtherPublicationTrainingCostAmount" type="globLib:BudgetAmountDataType" minOccurs="0"/>
							<xs:element name="BudgetOtherPublicationNonFederalAmount" type="globLib:BudgetAmountDataType" minOccurs="0"/>
							<xs:element name="BudgetOtherTrainingOperationCostAmount" type="globLib:BudgetAmountDataType" minOccurs="0"/>
							<xs:element name="BudgetOtherTrainingTrainingCostAmount" type="globLib:BudgetAmountDataType" minOccurs="0"/>
							<xs:element name="BudgetOtherTrainingNonFederalAmount" type="globLib:BudgetAmountDataType" minOccurs="0"/>
							<xs:element name="BudgetOtherOtherOperationCostAmount" type="globLib:BudgetAmountDataType" minOccurs="0"/>
							<xs:element name="BudgetOtherOtherTrainingCostAmount" type="globLib:BudgetAmountDataType" minOccurs="0"/>
							<xs:element name="BudgetOtherOtherNonFederalAmount" type="globLib:BudgetAmountDataType" minOccurs="0"/>
							<xs:element name="BudgetOtherOperationTotalAmount" type="globLib:BudgetTotalAmountDataType" minOccurs="0"/>
							<xs:element name="BudgetOtherTrainingTotalAmount" type="globLib:BudgetTotalAmountDataType" minOccurs="0"/>
							<xs:element name="BudgetOtherNonFederalTotalAmount" type="globLib:BudgetTotalAmountDataType" minOccurs="0"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="TotalDirectCharges" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="BudgetDirectOperationsTotalAmount" type="globLib:BudgetTotalAmountDataType" minOccurs="0"/>
							<xs:element name="BudgetDirectTrainingTotalAmount" type="globLib:BudgetTotalAmountDataType" minOccurs="0"/>
							<xs:element name="BudgetDirectNonFederalTotalAmount" type="globLib:BudgetTotalAmountDataType" minOccurs="0"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="IndirectCosts" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="BudgetIndirectOperationsAmount" type="globLib:BudgetAmountDataType" minOccurs="0"/>
							<xs:element name="BudgetIndirectTrainingAmount" type="globLib:BudgetAmountDataType" minOccurs="0"/>
							<xs:element name="BudgetIndirectNonFederalAmount" type="globLib:BudgetAmountDataType" minOccurs="0"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="Totals" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="BudgetTotalOperations" type="globLib:BudgetTotalAmountDataType" minOccurs="0"/>
							<xs:element name="BudgetTotalTraining" type="globLib:BudgetTotalAmountDataType" minOccurs="0"/>
							<xs:element name="BudgetTotalNonFederal" type="globLib:BudgetTotalAmountDataType" minOccurs="0"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="FederalFunding" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="FederalChildDevelopmentAmount" type="globLib:BudgetAmountDataType" minOccurs="0"/>
							<xs:element name="FederalUSDANutritionAmount" type="globLib:BudgetAmountDataType" minOccurs="0"/>
							<xs:element name="FederalOtherAmount" type="globLib:BudgetAmountDataType" minOccurs="0"/>
							<xs:element name="FederalOtherAmountExplanation" minOccurs="0">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:minLength value="0"/>
										<xs:maxLength value="50"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="StateFunding" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="StatePreschoolAmount" type="globLib:BudgetAmountDataType" minOccurs="0"/>
							<xs:element name="StateOtherAmount" type="globLib:BudgetAmountDataType" minOccurs="0"/>
							<xs:element name="StateOtherAmountExplanation" minOccurs="0">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:minLength value="0"/>
										<xs:maxLength value="50"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="LocalGovernmentFunding" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="LocalSchoolDistrictAmount" type="globLib:BudgetAmountDataType" minOccurs="0"/>
							<xs:element name="LocalOtherAmount" type="globLib:BudgetAmountDataType" minOccurs="0"/>
							<xs:element name="LocalOtherAmountExplanation" minOccurs="0">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:minLength value="0"/>
										<xs:maxLength value="50"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="OtherFunding" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="OtherTribalGovernmentAmount" type="globLib:BudgetAmountDataType" minOccurs="0"/>
							<xs:element name="OtherFundraisingAmount" type="globLib:BudgetAmountDataType" minOccurs="0"/>
							<xs:element name="OtherOtherFundingAmount" type="globLib:BudgetAmountDataType" minOccurs="0"/>
							<xs:element name="OtherOtherFundingAmountExplanation" minOccurs="0">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:minLength value="0"/>
										<xs:maxLength value="50"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="TotalCashInKindAmount" type="globLib:BudgetTotalAmountDataType" minOccurs="0"/>
			</xs:sequence>
			<xs:attribute name="FormVersion" type="globLib:FormVersionDataType" use="required" fixed="1.1"/>
		</xs:complexType>
	</xs:element>
</xs:schema>
