coeus-code/src/main/resources/org/kuali/kra/s2s/gg/schema/HUD_LeadFactor3-V1.1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2005 sp2 U (http://www.altova.com) by david xia (Northrop Grumman Information Technology) -->
<!-- $Revision:   1.0  $ -->
<xs:schema xmlns:att="http://apply.grants.gov/system/Attachments-V1.0" xmlns:globLib="http://apply.grants.gov/system/GlobalLibrary-V2.0" xmlns:glob="http://apply.grants.gov/system/Global-V1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:HUD_LeadFactor3="http://apply.grants.gov/forms/HUD_LeadFactor3-V1.1" targetNamespace="http://apply.grants.gov/forms/HUD_LeadFactor3-V1.1" elementFormDefault="qualified" attributeFormDefault="qualified" version="1.0">
	<xs:import namespace="http://apply.grants.gov/system/Global-V1.0" schemaLocation="http://at07apply.grants.gov/apply/system/schemas/Global-V1.0.xsd"/>
	<xs:import namespace="http://apply.grants.gov/system/GlobalLibrary-V2.0" schemaLocation="http://at07apply.grants.gov/apply/system/schemas/GlobalLibrary-V2.0.xsd"/>
	<xs:element name="HUD_LeadFactor3">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="TotalUnits" type="globLib:BudgetAmountDataType"/>
				<xs:element name="IdentificationPerformAction">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:minLength value="1"/>
							<xs:maxLength value="60"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="IndentificationUnitNmbr">
					<xs:simpleType>
						<xs:restriction base="xs:int">
							<xs:minInclusive value="0"/>
							<xs:maxInclusive value="999999999"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="IndentificationOwnerOccupyNmbr">
					<xs:simpleType>
						<xs:restriction base="xs:int">
							<xs:minInclusive value="0"/>
							<xs:maxInclusive value="999999999"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="IndentificationRenterOccupyNmbr">
					<xs:simpleType>
						<xs:restriction base="xs:int">
							<xs:minInclusive value="0"/>
							<xs:maxInclusive value="999999999"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="IndentificationVacantNmbr">
					<xs:simpleType>
						<xs:restriction base="xs:int">
							<xs:minInclusive value="0"/>
							<xs:maxInclusive value="999999999"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="IndentificationEstimateTime">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:minLength value="1"/>
							<xs:maxLength value="20"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="IndentificationEstimateCost" type="globLib:BudgetAmountDataType"/>
				<xs:element name="IntakePerformAction">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:minLength value="1"/>
							<xs:maxLength value="60"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="IntakeUnitNmbr">
					<xs:simpleType>
						<xs:restriction base="xs:int">
							<xs:minInclusive value="0"/>
							<xs:maxInclusive value="999999999"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="IntakeOwnerOccupyNmbr">
					<xs:simpleType>
						<xs:restriction base="xs:int">
							<xs:minInclusive value="0"/>
							<xs:maxInclusive value="999999999"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="IntakeRenterOccupyNmbr">
					<xs:simpleType>
						<xs:restriction base="xs:int">
							<xs:minInclusive value="0"/>
							<xs:maxInclusive value="999999999"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="IntakeVacantNmbr">
					<xs:simpleType>
						<xs:restriction base="xs:int">
							<xs:minInclusive value="0"/>
							<xs:maxInclusive value="999999999"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="IntakeEstimateTime">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:minLength value="1"/>
							<xs:maxLength value="20"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="FinancePerformAction">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:minLength value="1"/>
							<xs:maxLength value="60"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="FinanceUnitNmbr">
					<xs:simpleType>
						<xs:restriction base="xs:int">
							<xs:minInclusive value="0"/>
							<xs:maxInclusive value="999999999"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="FinanceOwnerOccupyNmbr">
					<xs:simpleType>
						<xs:restriction base="xs:int">
							<xs:minInclusive value="0"/>
							<xs:maxInclusive value="999999999"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="FinanceRenterOccupyNmbr">
					<xs:simpleType>
						<xs:restriction base="xs:int">
							<xs:minInclusive value="0"/>
							<xs:maxInclusive value="999999999"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="FinanceVacantNmbr">
					<xs:simpleType>
						<xs:restriction base="xs:int">
							<xs:minInclusive value="0"/>
							<xs:maxInclusive value="999999999"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="FinanceEstimateTime">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:minLength value="1"/>
							<xs:maxLength value="20"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="BloodTestPerformAction">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:minLength value="1"/>
							<xs:maxLength value="60"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="BloodTestUnitNmbr">
					<xs:simpleType>
						<xs:restriction base="xs:int">
							<xs:minInclusive value="0"/>
							<xs:maxInclusive value="999999999"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="BloodTestEstimateTime">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:minLength value="1"/>
							<xs:maxLength value="20"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="BloodTestEstimateCost" type="globLib:BudgetAmountDataType"/>
				<xs:element name="PaintInspectionPerformAction">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:minLength value="1"/>
							<xs:maxLength value="60"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="PaintInspectionUnitNmbr">
					<xs:simpleType>
						<xs:restriction base="xs:int">
							<xs:minInclusive value="0"/>
							<xs:maxInclusive value="999999999"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="PaintInspectionOwnerOccupyNmbr">
					<xs:simpleType>
						<xs:restriction base="xs:int">
							<xs:minInclusive value="0"/>
							<xs:maxInclusive value="999999999"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="PaintInspectionRenterOccupyNmbr">
					<xs:simpleType>
						<xs:restriction base="xs:int">
							<xs:minInclusive value="0"/>
							<xs:maxInclusive value="999999999"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="PaintInspectionVacantNmbr">
					<xs:simpleType>
						<xs:restriction base="xs:int">
							<xs:minInclusive value="0"/>
							<xs:maxInclusive value="999999999"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="PaintInspectionEstimateTime">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:minLength value="1"/>
							<xs:maxLength value="20"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="PaintInspectionEstimateCost" type="globLib:BudgetAmountDataType"/>
				<xs:element name="LabAnalysisPerformAction">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:minLength value="1"/>
							<xs:maxLength value="60"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="LabAnalysisUnitNmbr">
					<xs:simpleType>
						<xs:restriction base="xs:int">
							<xs:minInclusive value="0"/>
							<xs:maxInclusive value="999999999"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="LabAnalysisEstimateTime">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:minLength value="1"/>
							<xs:maxLength value="20"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="LabAnalysisEstimateCost" type="globLib:BudgetAmountDataType"/>
				<xs:element name="WorkSpecificationPerformAction">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:minLength value="1"/>
							<xs:maxLength value="60"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="WorkSpecificationUnitNmbr">
					<xs:simpleType>
						<xs:restriction base="xs:int">
							<xs:minInclusive value="0"/>
							<xs:maxInclusive value="999999999"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="WorkSpecificationEstimateTime">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:minLength value="1"/>
							<xs:maxLength value="20"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="WorkSpecificationEstimateCost" type="globLib:BudgetAmountDataType"/>
				<xs:element name="BidProcessPerformAction">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:minLength value="1"/>
							<xs:maxLength value="60"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="BidProcessUnitNmbr">
					<xs:simpleType>
						<xs:restriction base="xs:int">
							<xs:minInclusive value="0"/>
							<xs:maxInclusive value="999999999"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="BidProcessEstimateTime">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:minLength value="1"/>
							<xs:maxLength value="20"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="BidProcessEstimateCost" type="globLib:BudgetAmountDataType"/>
				<xs:element name="RelocationPerformAction">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:minLength value="1"/>
							<xs:maxLength value="60"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="RelocationUnitNmbr">
					<xs:simpleType>
						<xs:restriction base="xs:int">
							<xs:minInclusive value="0"/>
							<xs:maxInclusive value="999999999"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="RelocationOwnerOccupyNmbr">
					<xs:simpleType>
						<xs:restriction base="xs:int">
							<xs:minInclusive value="0"/>
							<xs:maxInclusive value="999999999"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="RelocationRenterOccupyNmbr">
					<xs:simpleType>
						<xs:restriction base="xs:int">
							<xs:minInclusive value="0"/>
							<xs:maxInclusive value="999999999"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="RelocationEstimateTime">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:minLength value="1"/>
							<xs:maxLength value="20"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="RelocationEstimateCost" type="globLib:BudgetAmountDataType"/>
				<xs:element name="ControlsPerformAction">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:minLength value="1"/>
							<xs:maxLength value="60"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="ControlsUnitNmbr">
					<xs:simpleType>
						<xs:restriction base="xs:int">
							<xs:minInclusive value="0"/>
							<xs:maxInclusive value="999999999"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="ControlsOwnerOccupyNmbr">
					<xs:simpleType>
						<xs:restriction base="xs:int">
							<xs:minInclusive value="0"/>
							<xs:maxInclusive value="999999999"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="ControlsRenterOccupyNmbr">
					<xs:simpleType>
						<xs:restriction base="xs:int">
							<xs:minInclusive value="0"/>
							<xs:maxInclusive value="999999999"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="ControlsVacantNmbr">
					<xs:simpleType>
						<xs:restriction base="xs:int">
							<xs:minInclusive value="0"/>
							<xs:maxInclusive value="999999999"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="ControlsEstimateTime">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:minLength value="1"/>
							<xs:maxLength value="20"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="ControlsEstimateCost" type="globLib:BudgetAmountDataType"/>
				<xs:element name="HazardPerformAction">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:minLength value="1"/>
							<xs:maxLength value="60"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="HazardUnitNmbr">
					<xs:simpleType>
						<xs:restriction base="xs:int">
							<xs:minInclusive value="0"/>
							<xs:maxInclusive value="999999999"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="HazardOwnerOccupyNmbr">
					<xs:simpleType>
						<xs:restriction base="xs:int">
							<xs:minInclusive value="0"/>
							<xs:maxInclusive value="999999999"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="HazardRenterOccupyNmbr">
					<xs:simpleType>
						<xs:restriction base="xs:int">
							<xs:minInclusive value="0"/>
							<xs:maxInclusive value="999999999"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="HazardVacantNmbr">
					<xs:simpleType>
						<xs:restriction base="xs:int">
							<xs:minInclusive value="0"/>
							<xs:maxInclusive value="999999999"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="HazardEstimateTime">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:minLength value="1"/>
							<xs:maxLength value="20"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="HazardEstimateCost" type="globLib:BudgetAmountDataType"/>
				<xs:element name="ControlPerformAction">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:minLength value="1"/>
							<xs:maxLength value="60"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="ControlUnitNmbr">
					<xs:simpleType>
						<xs:restriction base="xs:int">
							<xs:minInclusive value="0"/>
							<xs:maxInclusive value="999999999"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="ControlEstimateTime">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:minLength value="1"/>
							<xs:maxLength value="20"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="ClearancePerformAction">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:minLength value="1"/>
							<xs:maxLength value="60"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="ClearanceUnitNmbr">
					<xs:simpleType>
						<xs:restriction base="xs:int">
							<xs:minInclusive value="0"/>
							<xs:maxInclusive value="999999999"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="ClearanceEstimateTime">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:minLength value="1"/>
							<xs:maxLength value="20"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="ClearanceEstimateCost" type="globLib:BudgetAmountDataType"/>
				<xs:element name="MaintenancePlanPerformAction">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:minLength value="1"/>
							<xs:maxLength value="60"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="MaintenancePlanUnitNmbr">
					<xs:simpleType>
						<xs:restriction base="xs:int">
							<xs:minInclusive value="0"/>
							<xs:maxInclusive value="999999999"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="MaintenancePlanEstimateTime">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:minLength value="1"/>
							<xs:maxLength value="20"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="OutreachPerformAction">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:minLength value="1"/>
							<xs:maxLength value="60"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="OutreachPlanEstimateTime">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:minLength value="1"/>
							<xs:maxLength value="20"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="TrainPerformAction">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:minLength value="1"/>
							<xs:maxLength value="60"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="TrainPlanEstimateTime">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:minLength value="1"/>
							<xs:maxLength value="20"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
			</xs:sequence>
			<xs:attribute name="FormVersion" type="globLib:FormVersionDataType" use="required" fixed="1.1"/>
		</xs:complexType>
	</xs:element>
</xs:schema>
