coeus-code/src/main/resources/org/kuali/kra/s2s/gg/schema/NARANEH_Budget-V1.1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- $Revision:   1.2  $ -->
<xs:schema xmlns:att="http://apply.grants.gov/system/Attachments-V1.0" xmlns:globLib="http://apply.grants.gov/system/GlobalLibrary-V2.0" xmlns:glob="http://apply.grants.gov/system/Global-V1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:NARANEH_Budget="http://apply.grants.gov/forms/NARANEH_Budget-V1.1" targetNamespace="http://apply.grants.gov/forms/NARANEH_Budget-V1.1" elementFormDefault="qualified" attributeFormDefault="qualified" version="1.1">
	<xs:import namespace="http://apply.grants.gov/system/Attachments-V1.0" schemaLocation="http://at07apply.grants.gov/apply/system/schemas/Attachments-V1.0.xsd"/>
	<xs:import namespace="http://apply.grants.gov/system/Global-V1.0" schemaLocation="http://at07apply.grants.gov/apply/system/schemas/Global-V1.0.xsd"/>
	<xs:import namespace="http://apply.grants.gov/system/GlobalLibrary-V2.0" schemaLocation="http://at07apply.grants.gov/apply/system/schemas/GlobalLibrary-V2.0.xsd"/>
	<xs:element name="NARANEH_Budget">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="NARANEH_Budget" maxOccurs="3">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="BudgetPeriod">
								<xs:simpleType>
									<xs:restriction base="xs:int">
										<xs:enumeration value="1"/>
										<xs:enumeration value="2"/>
										<xs:enumeration value="3"/>
									</xs:restriction>
								</xs:simpleType> 
							</xs:element>
							<xs:element name="ProjectDirName" type="globLib:HumanNameDataType"/>
							<xs:element name="ApplicantOrganization" type="globLib:OrganizationNameDataType"/>
							<xs:element name="RequestedGrantPeriodFrom" type="xs:date"/>
							<xs:element name="RequestedGrantPeriodTo" type="xs:date"/>
							<xs:element name="ApplicationNumber" minOccurs="0">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:minLength value="5"/>
										<xs:maxLength value="10"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="BudgetDetailPeriodFrom" type="xs:date"/>
							<xs:element name="BudgetDetailPeriodTo" type="xs:date"/>
							<xs:element name="SalariesAndWages">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="SalaryRows" minOccurs="0" maxOccurs="7">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="NameTitlePosition" type="NARANEH_Budget:DescriptionDataType" minOccurs="0"/>
													<xs:element name="SalaryNoofPosition" minOccurs="0">
														<xs:simpleType>
															<xs:restriction base="xs:int">
																<xs:minInclusive value="0"/>
																<xs:maxInclusive value="99999"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element name="SalaryCostComputationMethod" type="NARANEH_Budget:DescriptionDataType" minOccurs="0"/>
													<xs:element name="SalaryFunds" type="globLib:BudgetAmountDataType" minOccurs="0"/>
													<xs:element name="SalaryCostSharing" type="globLib:BudgetAmountDataType" minOccurs="0"/>
													<xs:element name="SalaryPositionTotal" type="globLib:BudgetTotalAmountDataType" minOccurs="0"/>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="SalarySubtotalFunds" type="globLib:BudgetTotalAmountDataType" minOccurs="0"/>
										<xs:element name="SalarySubtotalCostSharing" type="globLib:BudgetTotalAmountDataType" minOccurs="0"/>
										<xs:element name="SalarySubtotal" type="globLib:BudgetTotalAmountDataType" minOccurs="0"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="FringeBenefits" minOccurs="0">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="FringeRow" minOccurs="0" maxOccurs="3">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="FringeRate" type="globLib:PercentageDecimalDataType" minOccurs="0"/>
													<xs:element name="FringeBase" type="globLib:BudgetAmountDataType" minOccurs="0"/>
													<xs:element name="FringeFunds" type="globLib:BudgetAmountDataType" minOccurs="0"/>
													<xs:element name="FringeCostSharing" type="globLib:BudgetAmountDataType" minOccurs="0"/>
													<xs:element name="FringeRateTotal" type="globLib:BudgetTotalAmountDataType" minOccurs="0"/>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="FringeSubtotalFunds" type="globLib:BudgetTotalAmountDataType" minOccurs="0"/>
										<xs:element name="FringeSubtotalCostSharing" type="globLib:BudgetTotalAmountDataType" minOccurs="0"/>
										<xs:element name="FringeSubtotal" type="globLib:BudgetTotalAmountDataType" minOccurs="0"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="ConsultantFees" minOccurs="0">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="ConsultantRow" minOccurs="0" maxOccurs="4">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="ConsultNameType" type="NARANEH_Budget:DescriptionDataType" minOccurs="0"/>
													<xs:element name="ConsultNoofDays" minOccurs="0">
														<xs:simpleType>
															<xs:restriction base="xs:int">
																<xs:minInclusive value="0"/>
																<xs:maxInclusive value="99999"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element name="ConsultDailyRate" type="globLib:BudgetAmountDataType" minOccurs="0"/>
													<xs:element name="ConsultFunds" type="globLib:BudgetAmountDataType" minOccurs="0"/>
													<xs:element name="ConsultCostSharing" type="globLib:BudgetAmountDataType" minOccurs="0"/>
													<xs:element name="ConsultTotal" type="globLib:BudgetTotalAmountDataType" minOccurs="0"/>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="ConsultSubtotalFunds" type="globLib:BudgetTotalAmountDataType" minOccurs="0"/>
										<xs:element name="ConsultSubtotalCostSharing" type="globLib:BudgetTotalAmountDataType" minOccurs="0"/>
										<xs:element name="ConsultSubtotal" type="globLib:BudgetTotalAmountDataType" minOccurs="0"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="Travels" minOccurs="0">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="TravelRow" minOccurs="0" maxOccurs="7">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="TravelItem" type="NARANEH_Budget:DescriptionDataType" minOccurs="0"/>
													<xs:element name="TravelNumOfPersons" minOccurs="0">
														<xs:simpleType>
															<xs:restriction base="xs:int">
																<xs:minInclusive value="0"/>
																<xs:maxInclusive value="99999"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element name="TotalTravelDays" minOccurs="0">
														<xs:simpleType>
															<xs:restriction base="xs:int">
																<xs:minInclusive value="0"/>
																<xs:maxInclusive value="99999"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element name="TravelSubsistenceCosts" type="globLib:BudgetAmountDataType" minOccurs="0"/>
													<xs:element name="TravelTransportationCosts" type="globLib:BudgetAmountDataType" minOccurs="0"/>
													<xs:element name="TravelFunds" type="globLib:BudgetAmountDataType" minOccurs="0"/>
													<xs:element name="TravelCostSharing" type="globLib:BudgetAmountDataType" minOccurs="0"/>
													<xs:element name="TravelTotal" type="globLib:BudgetTotalAmountDataType" minOccurs="0"/>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="TravelSubtotalCostSharing" type="globLib:BudgetTotalAmountDataType" minOccurs="0"/>
										<xs:element name="TravelSubtotal" type="globLib:BudgetTotalAmountDataType" minOccurs="0"/>
										<xs:element name="TravelSubtotalFunds" type="globLib:BudgetTotalAmountDataType" minOccurs="0"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="SuppliesMaterials" minOccurs="0">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="SupplyRow" minOccurs="0" maxOccurs="10">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="SupplyItem" type="NARANEH_Budget:DescriptionDataType" minOccurs="0"/>
													<xs:element name="SupplyBasisMethodOfComputation" type="NARANEH_Budget:DescriptionDataType" minOccurs="0"/>
													<xs:element name="SupplyFunds" type="globLib:BudgetAmountDataType" minOccurs="0"/>
													<xs:element name="SupplyCostSharing" type="globLib:BudgetAmountDataType" minOccurs="0"/>
													<xs:element name="SupplyTotal" type="globLib:BudgetTotalAmountDataType" minOccurs="0"/>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="SupplySubtotalFunds" type="globLib:BudgetTotalAmountDataType" minOccurs="0"/>
										<xs:element name="SupplySubtotalCostSharing" type="globLib:BudgetTotalAmountDataType" minOccurs="0"/>
										<xs:element name="SupplySubtotal" type="globLib:BudgetTotalAmountDataType" minOccurs="0"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="Services" minOccurs="0">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="ServiceRow" minOccurs="0" maxOccurs="7">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="ServicesItem" type="NARANEH_Budget:DescriptionDataType" minOccurs="0"/>
													<xs:element name="ServicesBasisMethodOfComputation" type="xs:string" default="50" minOccurs="0"/>
													<xs:element name="ServicesFunds" type="globLib:BudgetAmountDataType" minOccurs="0"/>
													<xs:element name="ServicesCostSharing" type="globLib:BudgetAmountDataType" minOccurs="0"/>
													<xs:element name="ServicesTotal" type="globLib:BudgetTotalAmountDataType" minOccurs="0"/>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="ServicesSubtotalFunds" type="globLib:BudgetTotalAmountDataType" minOccurs="0"/>
										<xs:element name="ServicesSubtotalCostSharing" type="globLib:BudgetTotalAmountDataType" minOccurs="0"/>
										<xs:element name="ServicesSubtotal" type="globLib:BudgetTotalAmountDataType" minOccurs="0"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="OtherCosts" minOccurs="0">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="OtherRow" minOccurs="0" maxOccurs="8">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="OtherCostsItem" type="NARANEH_Budget:DescriptionDataType" minOccurs="0"/>
													<xs:element name="OtherBasisMethodOfComputation" type="NARANEH_Budget:DescriptionDataType" minOccurs="0"/>
													<xs:element name="OtherFunds" type="globLib:BudgetAmountDataType" minOccurs="0"/>
													<xs:element name="OtherCostSharing" type="globLib:BudgetAmountDataType" minOccurs="0"/>
													<xs:element name="OtherTotal" type="globLib:BudgetTotalAmountDataType" minOccurs="0"/>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="OtherSubtotalFunds" type="globLib:BudgetTotalAmountDataType" minOccurs="0"/>
										<xs:element name="OtherSubtotalCostSharing" type="globLib:BudgetTotalAmountDataType" minOccurs="0"/>
										<xs:element name="OtherSubtotal" type="globLib:BudgetTotalAmountDataType" minOccurs="0"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="DirectCostsTotal" minOccurs="0">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="TotalDirectCostsFunds" type="globLib:BudgetTotalAmountDataType" minOccurs="0"/>
										<xs:element name="TotalDirectCostsCostSharing" type="globLib:BudgetTotalAmountDataType" minOccurs="0"/>
										<xs:element name="TotalDirectCosts" type="globLib:BudgetTotalAmountDataType" minOccurs="0"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="IndirectCosts" minOccurs="0">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="IndirectCostsFedType" minOccurs="0">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:enumeration value="IndirectCostsFedType1"/>
													<xs:enumeration value="IndirectCostsFedType2"/>
													<xs:enumeration value="IndirectCostsFedType3"/>
													<xs:enumeration value="IndirectCostsFedType4"/>
													<xs:enumeration value="IndirectCostsFedType5"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="IndirectCostsFederalAgencyName" type="globLib:AgencyNameDataType" minOccurs="0"/>
										<xs:element name="IndirectCostsAgreementDate" type="xs:date" minOccurs="0"/>
										<xs:element name="IndirectCostRow" minOccurs="0" maxOccurs="3">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="IndirectCostsRate" type="globLib:PercentageDecimalDataType" minOccurs="0"/>
													<xs:element name="IndirectCostsBase" type="globLib:BudgetAmountDataType" minOccurs="0"/>
													<xs:element name="IndirectCostsFunds" type="globLib:BudgetAmountDataType" minOccurs="0"/>
													<xs:element name="IndirectCostsCostSharing" type="globLib:BudgetAmountDataType" minOccurs="0"/>
													<xs:element name="IndirectCostsTotal" type="globLib:BudgetTotalAmountDataType" minOccurs="0"/>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="TotalIndirectCostsFunds" type="globLib:BudgetTotalAmountDataType" minOccurs="0"/>
										<xs:element name="TotalIndirectCostsCostSharing" type="globLib:BudgetTotalAmountDataType" minOccurs="0"/>
										<xs:element name="TotalIndirectCosts" type="globLib:BudgetTotalAmountDataType" minOccurs="0"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="TotalProjectCosts" minOccurs="0">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="TotalProjectCostsFunds" type="globLib:BudgetTotalAmountDataType" minOccurs="0"/>
										<xs:element name="TotalProjectCostsCostSharing" type="globLib:BudgetTotalAmountDataType" minOccurs="0"/>
										<xs:element name="SumTotalProjectCosts" type="globLib:BudgetTotalAmountDataType" minOccurs="0"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="SummaryBudget">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="SumBudFirstYearFrom" type="xs:date"/>
										<xs:element name="SumBudFirstYearThru" type="xs:date"/>
										<xs:element name="SumBudSecondYearFrom" type="xs:date" minOccurs="0"/>
										<xs:element name="SumBudSecondYearThru" type="xs:date" minOccurs="0"/>
										<xs:element name="SumBudThirdYearFrom" type="xs:date" minOccurs="0"/>
										<xs:element name="SumBudThirdYearThru" type="xs:date" minOccurs="0"/>
										<xs:element name="SumBudSalWag1" type="globLib:BudgetTotalAmountDataType" minOccurs="0"/>
										<xs:element name="SumBudSalWag2" type="globLib:BudgetTotalAmountDataType" minOccurs="0"/>
										<xs:element name="SumBudSalWag3" type="globLib:BudgetTotalAmountDataType" minOccurs="0"/>
										<xs:element name="SumBudSalWagTotal" type="globLib:BudgetTotalAmountDataType" minOccurs="0"/>
										<xs:element name="SumBudFringe1" type="globLib:BudgetTotalAmountDataType" minOccurs="0"/>
										<xs:element name="SumBudFringe2" type="globLib:BudgetTotalAmountDataType" minOccurs="0"/>
										<xs:element name="SumBudFringe3" type="globLib:BudgetTotalAmountDataType" minOccurs="0"/>
										<xs:element name="SumBudFringeTotal" type="globLib:BudgetTotalAmountDataType" minOccurs="0"/>
										<xs:element name="SumBudConsult1" type="globLib:BudgetTotalAmountDataType" minOccurs="0"/>
										<xs:element name="SumBudConsult2" type="globLib:BudgetTotalAmountDataType" minOccurs="0"/>
										<xs:element name="SumBudConsult3" type="globLib:BudgetTotalAmountDataType" minOccurs="0"/>
										<xs:element name="SumBudConsultTotal" type="globLib:BudgetTotalAmountDataType" minOccurs="0"/>
										<xs:element name="SumBudTravel1" type="globLib:BudgetTotalAmountDataType" minOccurs="0"/>
										<xs:element name="SumBudTravel2" type="globLib:BudgetTotalAmountDataType" minOccurs="0"/>
										<xs:element name="SumBudTravel3" type="globLib:BudgetTotalAmountDataType" minOccurs="0"/>
										<xs:element name="SumBudTravelTotal" type="globLib:BudgetTotalAmountDataType" minOccurs="0"/>
										<xs:element name="SumBudSuppl1" type="globLib:BudgetTotalAmountDataType" minOccurs="0"/>
										<xs:element name="SumBudSuppl2" type="globLib:BudgetTotalAmountDataType" minOccurs="0"/>
										<xs:element name="SumBudSuppl3" type="globLib:BudgetTotalAmountDataType" minOccurs="0"/>
										<xs:element name="SumBudSupplTotal" type="globLib:BudgetTotalAmountDataType" minOccurs="0"/>
										<xs:element name="SumBudSvc1" type="globLib:BudgetTotalAmountDataType" minOccurs="0"/>
										<xs:element name="SumBudSvc2" type="globLib:BudgetTotalAmountDataType" minOccurs="0"/>
										<xs:element name="SumBudSvc3" type="globLib:BudgetTotalAmountDataType" minOccurs="0"/>
										<xs:element name="SumBudSvcTotal" type="globLib:BudgetTotalAmountDataType" minOccurs="0"/>
										<xs:element name="SumBudOth1" type="globLib:BudgetTotalAmountDataType" minOccurs="0"/>
										<xs:element name="SumBudOth2" type="globLib:BudgetTotalAmountDataType" minOccurs="0"/>
										<xs:element name="SumBudOth3" type="globLib:BudgetTotalAmountDataType" minOccurs="0"/>
										<xs:element name="SumBudOthTotal" type="globLib:BudgetTotalAmountDataType" minOccurs="0"/>
										<xs:element name="SumBudTotalDirect1" type="globLib:BudgetTotalAmountDataType" minOccurs="0"/>
										<xs:element name="SumBudTotalDirect2" type="globLib:BudgetTotalAmountDataType" minOccurs="0"/>
										<xs:element name="SumBudTotalDirect3" type="globLib:BudgetTotalAmountDataType" minOccurs="0"/>
										<xs:element name="SumBudTotalDirectTotal" type="globLib:BudgetTotalAmountDataType" minOccurs="0"/>
										<xs:element name="SumBudIndirect1" type="globLib:BudgetTotalAmountDataType" minOccurs="0"/>
										<xs:element name="SumBudIndirect2" type="globLib:BudgetTotalAmountDataType" minOccurs="0"/>
										<xs:element name="SumBudIndirect3" type="globLib:BudgetTotalAmountDataType" minOccurs="0"/>
										<xs:element name="SumBudTotalIndirectTotal" type="globLib:BudgetTotalAmountDataType" minOccurs="0"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="SumPageTotalProjectCosts" minOccurs="0">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="SumBudTotalProject_1" type="globLib:BudgetTotalAmountDataType" minOccurs="0"/>
										<xs:element name="SumBudTotalProject_2" type="globLib:BudgetTotalAmountDataType" minOccurs="0"/>
										<xs:element name="SumBudTotalProject_3" type="globLib:BudgetTotalAmountDataType" minOccurs="0"/>
										<xs:element name="SumBudTotalProjectTotal" type="globLib:BudgetTotalAmountDataType" minOccurs="0"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="GrantFundsRequested">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="ReqOutright" type="globLib:BudgetAmountDataType"/>
										<xs:element name="ReqMatching" type="globLib:BudgetAmountDataType"/>
										<xs:element name="TotalFunding" type="globLib:BudgetTotalAmountDataType"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="CostSharing">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="ShareCash" type="globLib:BudgetAmountDataType"/>
										<xs:element name="ShareKind" type="globLib:BudgetAmountDataType"/>
										<xs:element name="ShareProjectincome" type="globLib:BudgetAmountDataType"/>
										<xs:element name="ShareOtherFederal" type="globLib:BudgetAmountDataType"/>
										<xs:element name="TotalCostSharing" type="globLib:BudgetTotalAmountDataType"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="TotalProjectFund" minOccurs="0">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="TotalProjectFunding" type="globLib:BudgetTotalAmountDataType"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="BudgetAttachment" type="att:AttachedFileDataType" minOccurs="0"/>
			</xs:sequence>
			<xs:attribute name="FormVersion" type="globLib:FormVersionDataType" use="required" fixed="1.1"/>
		</xs:complexType>
	</xs:element>
	<xs:simpleType name="DescriptionDataType">
		<xs:restriction base="xs:string">
			<xs:minLength value="0"/>
			<xs:maxLength value="50"/>
		</xs:restriction>
	</xs:simpleType>
</xs:schema>
