coeus-code/src/main/resources/org/kuali/kra/s2s/gg/schema/NEAOrganization_2_2-V2.2.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- $Revision:   1.0  $ -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:glob="http://apply.grants.gov/system/Global-V1.0" xmlns:codes="http://apply.grants.gov/system/UniversalCodes-V2.0" xmlns:globLib="http://apply.grants.gov/system/GlobalLibrary-V2.0" xmlns:NEAOrganization_2_2="http://apply.grants.gov/forms/NEAOrganization_2_2-V2.2" targetNamespace="http://apply.grants.gov/forms/NEAOrganization_2_2-V2.2" elementFormDefault="qualified" attributeFormDefault="qualified" version="2.2">
	<xs:import namespace="http://apply.grants.gov/system/UniversalCodes-V2.0" schemaLocation="http://at07apply.grants.gov/apply/system/schemas/UniversalCodes-V2.0.xsd"/>
	<xs:import namespace="http://apply.grants.gov/system/GlobalLibrary-V2.0" schemaLocation="http://at07apply.grants.gov/apply/system/schemas/GlobalLibrary-V2.0.xsd"/>
	<!--Root element definition-->
	<xs:element name="NEAOrganization_2_2">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="OrganizationName" type="globLib:OrganizationNameDataType"/>
				<xs:element name="PopularOrganizationName" type="globLib:OrganizationNameDataType" minOccurs="0"/>
				<xs:element name="TotalOperatingExpenses" type="globLib:BudgetAmountDataType"/>
				<xs:element name="FYEndDate">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:minLength value="7"/>
							<xs:maxLength value="7"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="ApplicantServiceType">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:enumeration value="NA: Not Applicable"/>
							<xs:enumeration value="IC: Parent of a Component"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="OnBehalfEntity" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:minLength value="0"/>
							<xs:maxLength value="120"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="OrganizationStatus">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:enumeration value="02: Nonprofit organization"/>
							<xs:enumeration value="08: Municipal government"/>
							<xs:enumeration value="05: State government"/>
							<xs:enumeration value="09: Tribal government"/>
							<xs:enumeration value="07: County government"/>
							<xs:enumeration value="99: None of the above"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="OrganizationDescription">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:enumeration value="49: Artists' Community, Arts Institute, or Camp"/>
							<xs:enumeration value="15: Arts Center"/>
							<xs:enumeration value="16: Arts Council or Agency"/>
							<xs:enumeration value="17: Arts Service Organization"/>
							<xs:enumeration value="26: College or University"/>
							<xs:enumeration value="32: Community Service Organization"/>
							<xs:enumeration value="14: Fair or Festival"/>
							<xs:enumeration value="30: Foundation"/>
							<xs:enumeration value="10: Gallery/Exhibition Space"/>
							<xs:enumeration value="38: Government"/>
							<xs:enumeration value="28: Historical Society/Commission"/>
							<xs:enumeration value="29: Humanities Council or Agency"/>
							<xs:enumeration value="12: Independent Press"/>
							<xs:enumeration value="27: Library"/>
							<xs:enumeration value="13: Literary Magazine"/>
							<xs:enumeration value="11: Media-Film"/>
							<xs:enumeration value="98: Media-Internet"/>
							<xs:enumeration value="45: Media-Radio"/>
							<xs:enumeration value="46: Media-Television"/>
							<xs:enumeration value="08: Museum-Art"/>
							<xs:enumeration value="09: Museum-Other"/>
							<xs:enumeration value="07: Performance Facility"/>
							<xs:enumeration value="03: Performing Group"/>
							<xs:enumeration value="47: Presenter/Cultural Series Organization"/>
							<xs:enumeration value="35: Religious Organization"/>
							<xs:enumeration value="19: School District"/>
							<xs:enumeration value="48: School of the Arts"/>
							<xs:enumeration value="50: Social Service Organization"/>
							<xs:enumeration value="18: Union or Professional Association"/>
							<xs:enumeration value="99: None of the above"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="OtherOrganizationDescription" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:minLength value="0"/>
							<xs:maxLength value="60"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="OrganizationDiscipline">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:enumeration value="72: Artist Communities"/>
							<xs:enumeration value="51: Arts Education"/>
							<xs:enumeration value="33: Dance"/>
							<xs:enumeration value="42: Design"/>
							<xs:enumeration value="55: Folk &amp; Traditional Arts"/>
							<xs:enumeration value="52: Literature"/>
							<xs:enumeration value="62: Local Arts Agencies"/>
							<xs:enumeration value="34: Media Arts"/>
							<xs:enumeration value="44: Museums"/>
							<xs:enumeration value="31: Music"/>
							<xs:enumeration value="36: Opera"/>
							<xs:enumeration value="54: Presenting &amp; Multidisciplinary Works"/>
							<xs:enumeration value="32: Theater &amp; Musical Theater"/>
							<xs:enumeration value="41: Visual Arts"/>
							<xs:enumeration value="99: None of the above"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="OtherOrganizationDiscipline" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:minLength value="0"/>
							<xs:maxLength value="60"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="ProjectFieldDiscipline">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:enumeration value="72: Artist Communities"/>
							<xs:enumeration value="51: Arts Education"/>
							<xs:enumeration value="33: Dance"/>
							<xs:enumeration value="42: Design"/>
							<xs:enumeration value="55: Folk &amp; Traditional Arts"/>
							<xs:enumeration value="52: Literature"/>
							<xs:enumeration value="62: Local Arts Agencies"/>
							<xs:enumeration value="34: Media Arts"/>
							<xs:enumeration value="44: Museums"/>
							<xs:enumeration value="31: Music"/>
							<xs:enumeration value="36: Opera"/>
							<xs:enumeration value="54: Presenting &amp; Multidisciplinary Works"/>
							<xs:enumeration value="32: Theater &amp; Musical Theater"/>
							<xs:enumeration value="41: Visual Arts"/>
							<xs:enumeration value="38: Research"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="SecondProjectFieldDiscipline" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:enumeration value="33: Dance"/>
							<xs:enumeration value="42: Design"/>
							<xs:enumeration value="55: Folk &amp; Traditional Arts"/>
							<xs:enumeration value="52: Literature"/>
							<xs:enumeration value="62: Local Arts Agencies"/>
							<xs:enumeration value="34: Media Arts"/>
							<xs:enumeration value="44: Museums"/>
							<xs:enumeration value="31: Music"/>
							<xs:enumeration value="36: Opera"/>
							<xs:enumeration value="54: Presenting &amp; Multidisciplinary Works"/>
							<xs:enumeration value="32: Theater &amp; Musical Theater"/>
							<xs:enumeration value="41: Visual Arts"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="Category">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:enumeration value="01: Art Works"/>
							<xs:enumeration value="02: Challenge America Fast-Track: Arts event(s) with guest artist"/>
							<xs:enumeration value="03: Challenge America Fast-Track: Public art"/>
							<xs:enumeration value="04: Challenge America Fast-Track:  Design activities"/>
							<xs:enumeration value="05: Challenge America Fast-Track: Unified Promotion/Cultural Tourism"/>
							<xs:enumeration value="06: Research: Art Works"/>
							<xs:enumeration value="07: Our Town"/>
							<xs:enumeration value="08: Other"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="PrimaryOutcome">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:enumeration value="E: Creation: The Portfolio of American Art is Expanded"/>
							<xs:enumeration value="F: Engagement: Americans Throughout the Nation Experience Art"/>
							<xs:enumeration value="G: Learning: Americans of All Ages Acquire Knowledge or Skills in the Arts"/>
							<xs:enumeration value="H: Livability: American Communities are Strengthened Through the Arts"/>
							<xs:enumeration value="I: Understanding: Evidence of the Value and Impact of the Arts is Expanded and/or Promoted"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="SecondaryOutcome" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:enumeration value="E: Creation: The Portfolio of American Art is Expanded"/>
							<xs:enumeration value="F: Engagement: Americans Throughout the Nation Experience Art"/>
							<xs:enumeration value="G: Learning: Americans of All Ages Acquire Knowledge or Skills in the Arts"/>
							<xs:enumeration value="H: Livability: American Communities are Strengthened Through the Arts"/>
							<xs:enumeration value="I: Understanding: Evidence of the Value and Impact of the Arts is Expanded and/or Promoted"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="AmountRequested" type="globLib:BudgetAmountDataType"/>
				<xs:element name="TotalMatch" type="globLib:BudgetAmountDataType"/>
				<xs:element name="TotalProjectCosts" type="globLib:BudgetTotalAmountDataType"/>
				<xs:element name="PrimaryActivityType">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:enumeration value="25: Apprenticeship"/>
							<xs:enumeration value="12: Arts Instruction"/>
							<xs:enumeration value="04: Artwork Creation"/>
							<xs:enumeration value="02: Audience Services"/>
							<xs:enumeration value="36: Broadcasting"/>
							<xs:enumeration value="33: Building Public Awareness"/>
							<xs:enumeration value="95: Building International Understanding"/>
							<xs:enumeration value="05: Concert/Performance/Reading"/>
							<xs:enumeration value="31: Curriculum Development/Implementation"/>
							<xs:enumeration value="24: Distribution of Art"/>
							<xs:enumeration value="06: Exhibition"/>
							<xs:enumeration value="08: Fair/Festival"/>
							<xs:enumeration value="09: Identification/Documentation"/>
							<xs:enumeration value="13: Marketing"/>
							<xs:enumeration value="96: Presenting/Touring"/>
							<xs:enumeration value="29: Professional Development/Training"/>
							<xs:enumeration value="14: Professional Support: Administrative"/>
							<xs:enumeration value="15: Professional Support: Artistic"/>
							<xs:enumeration value="17: Publication"/>
							<xs:enumeration value="16: Recording/Filming/Taping"/>
							<xs:enumeration value="18: Repair/Restoration/Conservation"/>
							<xs:enumeration value="19: Research/Planning"/>
							<xs:enumeration value="20: Residency - School"/>
							<xs:enumeration value="21: Residency - Other"/>
							<xs:enumeration value="22: Seminar/Conference"/>
							<xs:enumeration value="30: Student Assessment"/>
							<xs:enumeration value="34: Technical Assistance"/>
							<xs:enumeration value="35: Web Site/Internet Development"/>
							<xs:enumeration value="28: Writing About Art/Criticism"/>
							<xs:enumeration value="99: None of the above"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="OtherPrimaryActivityType" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:minLength value="0"/>
							<xs:maxLength value="60"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="SecondaryActivityType" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:enumeration value="25: Apprenticeship"/>
							<xs:enumeration value="12: Arts Instruction"/>
							<xs:enumeration value="04: Artwork Creation"/>
							<xs:enumeration value="02: Audience Services"/>
							<xs:enumeration value="36: Broadcasting"/>
							<xs:enumeration value="33: Building Public Awareness"/>
							<xs:enumeration value="95: Building International Understanding"/>
							<xs:enumeration value="05: Concert/Performance/Reading"/>
							<xs:enumeration value="31: Curriculum Development/Implementation"/>
							<xs:enumeration value="24: Distribution of Art"/>
							<xs:enumeration value="06: Exhibition"/>
							<xs:enumeration value="08: Fair/Festival"/>
							<xs:enumeration value="09: Identification/Documentation"/>
							<xs:enumeration value="13: Marketing"/>
							<xs:enumeration value="96: Presenting/Touring"/>
							<xs:enumeration value="29: Professional Development/Training"/>
							<xs:enumeration value="14: Professional Support: Administrative"/>
							<xs:enumeration value="15: Professional Support: Artistic"/>
							<xs:enumeration value="17: Publication"/>
							<xs:enumeration value="16: Recording/Filming/Taping"/>
							<xs:enumeration value="18: Repair/Restoration/Conservation"/>
							<xs:enumeration value="19: Research/Planning"/>
							<xs:enumeration value="20: Residency - School"/>
							<xs:enumeration value="21: Residency - Other"/>
							<xs:enumeration value="22: Seminar/Conference"/>
							<xs:enumeration value="30: Student Assessment"/>
							<xs:enumeration value="34: Technical Assistance"/>
							<xs:enumeration value="35: Web Site/Internet Development"/>
							<xs:enumeration value="28: Writing About Art/Criticism"/>
							<xs:enumeration value="99: None of the above"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="OtherSecondaryActivityType" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:minLength value="0"/>
							<xs:maxLength value="60"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="IndividualsBenefiting" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Artists" minOccurs="0">
								<xs:simpleType>
									<xs:restriction base="xs:int">
										<xs:minInclusive value="0"/>
										<xs:maxInclusive value="999999999"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="Teachers" minOccurs="0">
								<xs:simpleType>
									<xs:restriction base="xs:int">
										<xs:minInclusive value="0"/>
										<xs:maxInclusive value="999999999"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="Others" minOccurs="0">
								<xs:simpleType>
									<xs:restriction base="xs:int">
										<xs:minInclusive value="0"/>
										<xs:maxInclusive value="999999999"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="NumberIndividualsBenefiting" minOccurs="0">
								<xs:simpleType>
									<xs:restriction base="xs:int">
										<xs:minInclusive value="0"/>
										<xs:maxInclusive value="999999999"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="Adults" minOccurs="0">
								<xs:simpleType>
									<xs:restriction base="xs:int">
										<xs:minInclusive value="0"/>
										<xs:maxInclusive value="999999999"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="ChildrenYouth" minOccurs="0">
								<xs:simpleType>
									<xs:restriction base="xs:int">
										<xs:minInclusive value="0"/>
										<xs:maxInclusive value="999999999"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="TotalAudience" minOccurs="0">
								<xs:simpleType>
									<xs:restriction base="xs:int">
										<xs:minInclusive value="0"/>
										<xs:maxInclusive value="999999999"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="NumberBroadcastAudience" minOccurs="0">
								<xs:simpleType>
									<xs:restriction base="xs:int">
										<xs:minInclusive value="0"/>
										<xs:maxInclusive value="999999999"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="NumberPhysicalMaterialsAudience" minOccurs="0">
								<xs:simpleType>
									<xs:restriction base="xs:int">
										<xs:minInclusive value="0"/>
										<xs:maxInclusive value="999999999"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="FacebookTwitterWiki" type="globLib:YesNoDataType" minOccurs="0"/>
							<xs:element name="Websites" type="globLib:YesNoDataType" minOccurs="0"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="RaceEthnicity" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:enumeration value="N: American Indian / Alaska Native"/>
							<xs:enumeration value="A: Asian"/>
							<xs:enumeration value="B: Black / African American"/>
							<xs:enumeration value="H: Hispanic / Latino"/>
							<xs:enumeration value="O: Native Hawaiian / Other Pacific Islander"/>
							<xs:enumeration value="W: White"/>
							<xs:enumeration value="G: No Single Group"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="AgeRange" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:enumeration value="2: Pre-Kindergarten (0-5 years)"/>
							<xs:enumeration value="3: K-12 (6-18 years)"/>
							<xs:enumeration value="4: Young Adults (19-24 years)"/>
							<xs:enumeration value="5: Adults (25-64 years)"/>
							<xs:enumeration value="6: Older Adults (65+ years)"/>
							<xs:enumeration value="1: No Single Group"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="Geography" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:enumeration value="2: International"/>
							<xs:enumeration value="3: Multiple States (whether contiguous or not)"/>
							<xs:enumeration value="4: Statewide (multiple counties within a state)"/>
							<xs:enumeration value="5: City / County"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="Communities" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:enumeration value="2: Urban"/>
							<xs:enumeration value="3: Rural"/>
							<xs:enumeration value="4: Suburban"/>
							<xs:enumeration value="1: No Single Group"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="UnderservedDistinctGroups" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Disabilities" type="globLib:YesNoDataType" minOccurs="0"/>
							<xs:element name="Institutions" type="globLib:YesNoDataType" minOccurs="0"/>
							<xs:element name="LowIncome" type="globLib:YesNoDataType" minOccurs="0"/>
							<xs:element name="LimitedEnglish" type="globLib:YesNoDataType" minOccurs="0"/>
							<xs:element name="Veterans" type="globLib:YesNoDataType" minOccurs="0"/>
							<xs:element name="NoneOfAbove" type="globLib:YesNoDataType" minOccurs="0"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
			<xs:attribute name="FormVersion" type="globLib:FormVersionDataType" use="required" fixed="2.2"/>
		</xs:complexType>
	</xs:element>
</xs:schema>
