coeus-code/src/main/resources/org/kuali/kra/s2s/gg/schema/NEH_SF424CoverPageSupplemental-V1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSPY v2004 rel. 2 U (http://www.xmlspy.com) by Andy Andrews (Northrop Grumman IT) -->
<!--************************************************************************************************-->
<!-- TITLE:         NEH, Supplementary Cover Sheet for NEH Grant Programs              -->
<!--                   OMB Number:                                                                                       -->
<!--                                                                                                                                -->
<!-- DATE:        May 4, 2004                                                                                         -->
<!-- VERSION:  1.0                                                                                                        -->
<!--                                                                                                                                -->
<!--                                                                                                                                -->
<!-- REVISION HISTORY:                                                                                              -->
<!--                                                                                                                                -->
<!--************************************************************************************************-->
<xs:schema targetNamespace="http://apply.grants.gov/forms/NEH_SF424CoverPageSupplemental-V1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:att="http://apply.grants.gov/system/Attachments-V1.0" xmlns:glob="http://apply.grants.gov/system/Global-V1.0" xmlns:globLib="http://apply.grants.gov/system/GlobalLibrary-V1.0" xmlns:NEH_SF424CoverPageSupplemental="http://apply.grants.gov/forms/NEH_SF424CoverPageSupplemental-V1.0" elementFormDefault="qualified" attributeFormDefault="qualified" version="1.0">
   <xs:import namespace="http://apply.grants.gov/system/Attachments-V1.0" schemaLocation="http://at07apply.grants.gov/apply/system/schemas/Attachments-V1.0.xsd"/>
   <xs:import namespace="http://apply.grants.gov/system/Global-V1.0" schemaLocation="http://at07apply.grants.gov/apply/system/schemas/Global-V1.0.xsd"/>
   <xs:import namespace="http://apply.grants.gov/system/GlobalLibrary-V1.0" schemaLocation="http://at07apply.grants.gov/apply/system/schemas/GlobalLibrary-V1.0.xsd"/>
   <xs:element name="NEH_SF424CoverPageSupplemental">
      <xs:complexType>
         <xs:sequence>
            <xs:element name="ProjectDirector">
               <xs:complexType>
                  <xs:sequence>
                     <xs:element name="MajorField" type="NEH_SF424CoverPageSupplemental:MajorFieldDataType"/>
                     <xs:element name="OrganizationName" type="globLib:OrganizationNameDataType"/>
                     <xs:element name="DepartmentName" type="globLib:DepartmentNameDataType" minOccurs="0"/>
                     <xs:element name="DivisionName" type="globLib:DivisionNameDataType" minOccurs="0"/>
                     <xs:element name="PersonalInfo" type="globLib:ContactPersonDataType"/>
                     <xs:element name="MailingAddressIndicator" default="Work">
                        <xs:simpleType>
                           <xs:restriction base="xs:string">
                              <xs:enumeration value="Work"/>
                              <xs:enumeration value="Home"/>
                           </xs:restriction>
                        </xs:simpleType>
                     </xs:element>
                  </xs:sequence>
               </xs:complexType>
            </xs:element>
            <xs:element name="InstitutionInformation">
               <xs:complexType>
                  <xs:sequence>
                     <xs:element name="OrganizationType" type="NEH_SF424CoverPageSupplemental:OrganizationTypeDataType"/>
                     <xs:element name="Status">
                        <xs:simpleType>
                           <xs:restriction base="xs:string">
                              <xs:enumeration value="Private Non-Profit"/>
                              <xs:enumeration value="Unit of State/Local Government"/>
                           </xs:restriction>
                        </xs:simpleType>
                     </xs:element>
                  </xs:sequence>
               </xs:complexType>
            </xs:element>
            <xs:element name="ProjectFunding" nillable="true" minOccurs="0">
               <xs:complexType>
                  <xs:sequence>
                     <xs:element name="ProgramsOtherThanChallengeGrants" nillable="true" minOccurs="0">
                        <xs:complexType>
                           <xs:sequence>
                              <xs:element name="OutrightFunds" type="globLib:BudgetAmountDataType" minOccurs="0"/>
                              <xs:element name="FederalMatch" type="globLib:BudgetAmountDataType" minOccurs="0"/>
                              <xs:element name="TotalfromNEH" type="globLib:BudgetTotalAmountDataType" minOccurs="0"/>
                              <xs:element name="CostSharing" type="globLib:BudgetAmountDataType" minOccurs="0"/>
                              <xs:element name="TotalProjectCosts" type="globLib:BudgetTotalAmountDataType" minOccurs="0"/>
                           </xs:sequence>
                        </xs:complexType>
                     </xs:element>
                     <xs:element name="ChallengeGrantsApplicantOnly" nillable="true" minOccurs="0">
                        <xs:complexType>
                           <xs:sequence>
                              <xs:element name="FiscaYear1" type="globLib:BudgetAmountDataType" minOccurs="0"/>
                              <xs:element name="FiscaYear2" type="globLib:BudgetAmountDataType" minOccurs="0"/>
                              <xs:element name="FiscaYear3" type="globLib:BudgetAmountDataType" minOccurs="0"/>
                              <xs:element name="TotalfromNEH" type="globLib:BudgetTotalAmountDataType" minOccurs="0"/>
                              <xs:element name="NonFederalMatch" type="globLib:BudgetAmountDataType" minOccurs="0"/>
                              <xs:element name="Total" type="globLib:BudgetTotalAmountDataType" minOccurs="0"/>
                              <xs:element name="MatchingRatio" minOccurs="0">
                                 <xs:simpleType>
                                    <xs:restriction base="xs:decimal">
                                       <xs:minInclusive value="0.00"/>
                                       <xs:maxInclusive value="9.99"/>
                                    </xs:restriction>
                                 </xs:simpleType>
                              </xs:element>
                           </xs:sequence>
                        </xs:complexType>
                     </xs:element>
                  </xs:sequence>
               </xs:complexType>
            </xs:element>
            <xs:element name="AdditionalFunding">
               <xs:complexType>
                  <xs:sequence>
                     <xs:element name="SubmitToOtherNEHIndicator" type="globLib:YesNoDataType"/>
                     <xs:element name="SubmitToOtherNEHIndicatorSupplemental" minOccurs="0">
                        <xs:complexType>
                           <xs:simpleContent>
                              <xs:extension base="glob:StringMin1Max50Type">
                                 <xs:attribute name="SubmitToOtherNEHIndicator" type="globLib:YesNoDataType" use="required" fixed="Yes"/>
                              </xs:extension>
                           </xs:simpleContent>
                        </xs:complexType>
                     </xs:element>
                  </xs:sequence>
               </xs:complexType>
            </xs:element>
            <xs:element name="AppType" type="NEH_SF424CoverPageSupplemental:AppTypeType"/>
            <xs:element name="SupGrantNumber" type="NEH_SF424CoverPageSupplemental:SupGrantNumberType" minOccurs="0"/>
            <xs:element name="ProjFieldCode" type="NEH_SF424CoverPageSupplemental:MajorFieldDataType"/>
            <xs:element name="ProjDescription" type="NEH_SF424CoverPageSupplemental:StringMin1Max1000Type"/>
            <xs:element name="InstitutionalGrantsAdministrator">
               <xs:complexType>
                  <xs:sequence>
                     <xs:element name="OrganizationName" type="globLib:OrganizationNameDataType"/>
                     <xs:element name="DepartmentName" type="globLib:DepartmentNameDataType" minOccurs="0"/>
                     <xs:element name="DivisionName" type="globLib:DivisionNameDataType" minOccurs="0"/>
                     <xs:element name="PersonalInfo" type="globLib:ContactPersonDataType"/>
                     <xs:element name="MailingAddressIndicator" default="Work">
                        <xs:simpleType>
                           <xs:restriction base="xs:string">
                              <xs:enumeration value="Work"/>
                              <xs:enumeration value="Home"/>
                           </xs:restriction>
                        </xs:simpleType>
                     </xs:element>
                  </xs:sequence>
               </xs:complexType>
            </xs:element>
         </xs:sequence>
      </xs:complexType>
      <xs:key name="SubmitToOtherNEHIndicatorKey">
         <xs:selector xpath="./NEH_SF424CoverPageSupplemental:AdditionalFunding"/>
         <xs:field xpath="NEH_SF424CoverPageSupplemental:SubmitToOtherNEHIndicator"/>
      </xs:key>
      <xs:keyref name="SubmitToOtherNEHIndicatorKeyRef" refer="NEH_SF424CoverPageSupplemental:SubmitToOtherNEHIndicatorKey">
         <xs:selector xpath="./NEH_SF424CoverPageSupplemental:AdditionalFunding/NEH_SF424CoverPageSupplemental:SubmitToOtherNEHIndicatorSupplemental"/>
         <xs:field xpath="@SubmitToOtherNEHIndicator"/>
      </xs:keyref>
      <xs:key name="AppTypeKey">
         <xs:selector xpath="./NEH_SF424CoverPageSupplemental:AppType"/>
         <xs:field xpath="."/>
      </xs:key>
      <xs:keyref name="AppTypeKeyRef" refer="NEH_SF424CoverPageSupplemental:AppTypeKey">
         <xs:selector xpath="./NEH_SF424CoverPageSupplemental:SupGrantNumber"/>
         <xs:field xpath="@NEH_SF424CoverPageSupplemental:AppType"/>
      </xs:keyref>
   </xs:element>
   <xs:simpleType name="MajorFieldDataType">
      <xs:annotation>
         <xs:documentation>value="G3" text="American Studies";</xs:documentation>
         <xs:documentation>value="L1" text="Anthropology";</xs:documentation>
         <xs:documentation>value="U6" text="Archaeology";</xs:documentation>
         <xs:documentation>value="I1" text="Archival Management/Conservation";</xs:documentation>
         <xs:documentation>value="GH" text="Area Studies";</xs:documentation>
         <xs:documentation>value="MA" text="Arts: History and Criticism";</xs:documentation>
         <xs:documentation>value="U3" text="Arts: History and Criticism - Architecture";</xs:documentation>
         <xs:documentation>value="M1" text="Arts: History and Criticism - Art";</xs:documentation>
         <xs:documentation>value="M3" text="Arts: History and Criticism - Dance";</xs:documentation>
         <xs:documentation>value="M4" text="Arts: History and Criticism - Film";</xs:documentation>
         <xs:documentation>value="M5" text="Arts: History and Criticism - Music";</xs:documentation>
         <xs:documentation>value="M2" text="Arts: History and Criticism - Theater";</xs:documentation>
         <xs:documentation>value="G5" text="Asian Studies";</xs:documentation>
         <xs:documentation>value="G7" text="Classics";</xs:documentation>
         <xs:documentation>value="P2" text="Communications";</xs:documentation>
         <xs:documentation>value="P1" text="Communications - Composition and Rhetoric";</xs:documentation>
         <xs:documentation>value="P4" text="Communications - Journalism";</xs:documentation>
         <xs:documentation>value="P3" text="Communications - Media";</xs:documentation>
         <xs:documentation>value="N1" text="Economics";</xs:documentation>
         <xs:documentation>value="H1" text="Education";</xs:documentation>
         <xs:documentation>value="K1" text="Ethnic Studies";</xs:documentation>
         <xs:documentation>value="K5" text="Ethnic Studies - Asian American";</xs:documentation>
         <xs:documentation>value="K4" text="Ethnic Studies - Black/African American";</xs:documentation>
         <xs:documentation>value="K3" text="Ethnic Studies - Hispanic American";</xs:documentation>
         <xs:documentation>value="K6" text="Ethnic Studies - Jewish";</xs:documentation>
         <xs:documentation>value="K2" text="Ethnic Studies - Native American";</xs:documentation>
         <xs:documentation>value="R1" text="Folklore/Folklife";</xs:documentation>
         <xs:documentation>value="U7" text="Geography";</xs:documentation>
         <xs:documentation>value="A1" text="History";</xs:documentation>
         <xs:documentation>value="A2" text="History - African";</xs:documentation>
         <xs:documentation>value="A3" text="History - American";</xs:documentation>
         <xs:documentation>value="AC" text="History - Ancient";</xs:documentation>
         <xs:documentation>value="A4" text="History - British";</xs:documentation>
         <xs:documentation>value="A5" text="History - Classical";</xs:documentation>
         <xs:documentation>value="A6" text="History - European";</xs:documentation>
         <xs:documentation>value="A7" text="History - Far Eastern";</xs:documentation>
         <xs:documentation>value="A8" text="History - Latin American";</xs:documentation>
         <xs:documentation>value="A9" text="History - Near Eastern";</xs:documentation>
         <xs:documentation>value="AA" text="History - Russian";</xs:documentation>
         <xs:documentation>value="AB" text="History - South Asian";</xs:documentation>
         <xs:documentation>value="GA" text="History and Philosophy of Science/Technology/Medicine";</xs:documentation>
         <xs:documentation>value="U8" text="Humanities";</xs:documentation>
         <xs:documentation>value="U1" text="Interdisciplinary";</xs:documentation>
         <xs:documentation>value="F3" text="International Relations";></xs:documentation>
         <xs:documentation>value="GG" text="International Studies";</xs:documentation>
         <xs:documentation>value="G4" text="Labor Studies";</xs:documentation>
         <xs:documentation>value="C1" text="Languages";</xs:documentation>
         <xs:documentation>value="CC" text="Languages - Ancient";</xs:documentation>
         <xs:documentation>value="CA" text="Languages - Asian";</xs:documentation>
         <xs:documentation>value="C2" text="Languages - Classical";</xs:documentation>
         <xs:documentation>value="C9" text="Languages - Comparative";</xs:documentation>
         <xs:documentation>value="CE" text="Languages - English";</xs:documentation>
         <xs:documentation>value="C3" text="Languages - French";</xs:documentation>
         <xs:documentation>value="C4" text="Languages - German";</xs:documentation>
         <xs:documentation>value="C5" text="Languages - Italian";</xs:documentation>
         <xs:documentation>value="C6" text="Languages - Latin American";</xs:documentation>
         <xs:documentation>value="CB" text="Languages - Near Eastern";</xs:documentation>
         <xs:documentation>value="C7" text="Languages - Slavic";</xs:documentation>
         <xs:documentation>value="C8" text="Languages - Spanish";</xs:documentation>
         <xs:documentation>value="GJ" text="Latin American Studies";</xs:documentation>
         <xs:documentation>value="Q1" text="Law/Jurisprudence";</xs:documentation>
         <xs:documentation>value="H3" text="Library Science";</xs:documentation>
         <xs:documentation>value="J1" text="Linguistics";</xs:documentation>
         <xs:documentation>value="DI" text="Literary Criticism";</xs:documentation>
         <xs:documentation>value="D1" text="Literature";</xs:documentation>
         <xs:documentation>value="DK" text="Literature - African";</xs:documentation>
         <xs:documentation>value="DE" text="Literature - American";</xs:documentation>
         <xs:documentation>value="DC" text="Literature - Ancient";</xs:documentation>
         <xs:documentation>value="DA" text="Literature - Asian";</xs:documentation>
         <xs:documentation>value="DD" text="Literature - British";</xs:documentation>
         <xs:documentation>value="D2" text="Literature - Classical";</xs:documentation>
         <xs:documentation>value="D9" text="Literature - Comparative";</xs:documentation>
         <xs:documentation>value="D3" text="Literature - French";</xs:documentation>
         <xs:documentation>value="D4" text="Literature - German";</xs:documentation>
         <xs:documentation>value="D5" text="Literature - Italian";</xs:documentation>
         <xs:documentation>value="D6" text="Literature - Latin American";</xs:documentation>
         <xs:documentation>value="DB" text="Literature - Near Eastern";</xs:documentation>
         <xs:documentation>value="D7" text="Literature - Slavic";</xs:documentation>
         <xs:documentation>value="D8" text="Literature - Spanish";</xs:documentation>
         <xs:documentation>value="G8" text="Medieval Studies";</xs:documentation>
         <xs:documentation>value="I2" text="Museum Studies/Historic Preservation";</xs:documentation>
         <xs:documentation>value="B1" text="Philosophy";</xs:documentation>
         <xs:documentation>value="B2" text="Philosophy - Aesthetics";</xs:documentation>
         <xs:documentation>value="B3" text="Philosophy - Epistemology";</xs:documentation>
         <xs:documentation>value="B4" text="Philosophy - Ethics";</xs:documentation>
         <xs:documentation>value="B5" text="Philosophy - History of Philosophy";</xs:documentation>
         <xs:documentation>value="B6" text="Philosophy - Logic";</xs:documentation>
         <xs:documentation>value="B7" text="Philosophy - Metaphysics";</xs:documentation>
         <xs:documentation>value="B8" text="Philosophy - Non-Western Philosophy";</xs:documentation>
         <xs:documentation>value="F1" text="Political Science";</xs:documentation>
         <xs:documentation>value="U5" text="Psychology";</xs:documentation>
         <xs:documentation>value="F4" text="Public Administration";</xs:documentation>
         <xs:documentation>value="GF" text="Regional Studies";</xs:documentation>
         <xs:documentation>value="E1" text="Religion";</xs:documentation>
         <xs:documentation>value="E5" text="Religion - Comparative Religion";</xs:documentation>
         <xs:documentation>value="E2" text="Religion - History of Religion";</xs:documentation>
         <xs:documentation>value="E4" text="Religion - Non-Western Religion";</xs:documentation>
         <xs:documentation>value="E3" text="Religion - Philosophy of Religion";</xs:documentation>
         <xs:documentation>value="G9" text="Renaissance Studies";</xs:documentation>
         <xs:documentation>value="GC" text="Rural Studies";</xs:documentation>
         <xs:documentation>value="U2" text="Social Science";</xs:documentation>
         <xs:documentation>value="S1" text="Sociology";</xs:documentation>
         <xs:documentation>value="G2" text="Urban Studies";</xs:documentation>
         <xs:documentation>value="GB" text="Western Civilization";</xs:documentation>
         <xs:documentation>value="G1" text="Women's Studies";</xs:documentation>
      </xs:annotation>
      <xs:restriction base="xs:string">
         <xs:enumeration value="G3: American Studies"/>
         <xs:enumeration value="L1: Anthropology"/>
         <xs:enumeration value="U6: Archaeology"/>
         <xs:enumeration value="I1: Archival Management/Conservation"/>
         <xs:enumeration value="GH: Area Studies"/>
         <xs:enumeration value="MA: Arts: History and Criticism"/>
         <xs:enumeration value="U3: Arts: History and Criticism - Architecture"/>
         <xs:enumeration value="M1: Arts: History and Criticism - Art"/>
         <xs:enumeration value="M3: Arts: History and Criticism - Dance"/>
         <xs:enumeration value="M4: Arts: History and Criticism - Film"/>
         <xs:enumeration value="M5: Arts: History and Criticism - Music"/>
         <xs:enumeration value="M2: Arts: History and Criticism - Theater"/>
         <xs:enumeration value="G5: Asian Studies"/>
         <xs:enumeration value="G7: Classics"/>
         <xs:enumeration value="P2: Communications"/>
         <xs:enumeration value="P1: Communications - Composition and Rhetoric"/>
         <xs:enumeration value="P4: Communications - Journalism"/>
         <xs:enumeration value="P3: Communications - Media"/>
         <xs:enumeration value="N1: Economics"/>
         <xs:enumeration value="H1: Education"/>
         <xs:enumeration value="K1: Ethnic Studies"/>
         <xs:enumeration value="K5: Ethnic Studies - Asian American"/>
         <xs:enumeration value="K4: Ethnic Studies - Black/African American"/>
         <xs:enumeration value="K3: Ethnic Studies - Hispanic American"/>
         <xs:enumeration value="K6: Ethnic Studies - Jewish"/>
         <xs:enumeration value="K2: Ethnic Studies - Native American"/>
         <xs:enumeration value="R1: Folklore/Folklife"/>
         <xs:enumeration value="U7: Geography"/>
         <xs:enumeration value="A1: History"/>
         <xs:enumeration value="A2: History - African"/>
         <xs:enumeration value="A3: History - American"/>
         <xs:enumeration value="AC: History - Ancient"/>
         <xs:enumeration value="A4: History - British"/>
         <xs:enumeration value="A5: History - Classical"/>
         <xs:enumeration value="A6: History - European"/>
         <xs:enumeration value="A7: History - Far Eastern"/>
         <xs:enumeration value="A8: History - Latin American"/>
         <xs:enumeration value="A9: History - Near Eastern"/>
         <xs:enumeration value="AA: History - Russian"/>
         <xs:enumeration value="AB: History - South Asian"/>
         <xs:enumeration value="GA: History and Philosophy of Science/Technology/Medicine"/>
         <xs:enumeration value="U8: Humanities"/>
         <xs:enumeration value="U1: Interdisciplinary"/>
         <xs:enumeration value="F3: International Relations"/>
         <xs:enumeration value="GG: International Studies"/>
         <xs:enumeration value="G4: Labor Studies"/>
         <xs:enumeration value="C1: Languages"/>
         <xs:enumeration value="CC: Languages - Ancient"/>
         <xs:enumeration value="CA: Languages - Asian"/>
         <xs:enumeration value="C2: Languages - Classical"/>
         <xs:enumeration value="C9: Languages - Comparative"/>
         <xs:enumeration value="CE: Languages - English"/>
         <xs:enumeration value="C3: Languages - French"/>
         <xs:enumeration value="C4: Languages - German"/>
         <xs:enumeration value="C5: Languages - Italian"/>
         <xs:enumeration value="C6: Languages - Latin American"/>
         <xs:enumeration value="CB: Languages - Near Eastern"/>
         <xs:enumeration value="C7: Languages - Slavic"/>
         <xs:enumeration value="C8: Languages - Spanish"/>
         <xs:enumeration value="GJ: Latin American Studies"/>
         <xs:enumeration value="Q1: Law/Jurisprudence"/>
         <xs:enumeration value="H3: Library Science"/>
         <xs:enumeration value="J1: Linguistics"/>
         <xs:enumeration value="DI: Literary Criticism"/>
         <xs:enumeration value="D1: Literature"/>
         <xs:enumeration value="DK: Literature - African"/>
         <xs:enumeration value="DE: Literature - American"/>
         <xs:enumeration value="DC: Literature - Ancient"/>
         <xs:enumeration value="DA: Literature - Asian"/>
         <xs:enumeration value="DD: Literature - British"/>
         <xs:enumeration value="D2: Literature - Classical"/>
         <xs:enumeration value="D9: Literature - Comparative"/>
         <xs:enumeration value="D3: Literature - French"/>
         <xs:enumeration value="D4: Literature - German"/>
         <xs:enumeration value="D5: Literature - Italian"/>
         <xs:enumeration value="D6: Literature - Latin American"/>
         <xs:enumeration value="DB: Literature - Near Eastern"/>
         <xs:enumeration value="D7: Literature - Slavic"/>
         <xs:enumeration value="D8: Literature - Spanish"/>
         <xs:enumeration value="G8: Medieval Studies"/>
         <xs:enumeration value="I2: Museum Studies/Historic Preservation"/>
         <xs:enumeration value="B1: Philosophy"/>
         <xs:enumeration value="B2: Philosophy - Aesthetics"/>
         <xs:enumeration value="B3: Philosophy - Epistemology"/>
         <xs:enumeration value="B4: Philosophy - Ethics"/>
         <xs:enumeration value="B5: Philosophy - History of Philosophy"/>
         <xs:enumeration value="B6: Philosophy - Logic"/>
         <xs:enumeration value="B7: Philosophy - Metaphysics"/>
         <xs:enumeration value="B8: Philosophy - Non-Western Philosophy"/>
         <xs:enumeration value="F1: Political Science"/>
         <xs:enumeration value="U5: Psychology"/>
         <xs:enumeration value="F4: Public Administration"/>
         <xs:enumeration value="GF: Regional Studies"/>
         <xs:enumeration value="E1: Religion"/>
         <xs:enumeration value="E5: Religion - Comparative Religion"/>
         <xs:enumeration value="E2: Religion - History of Religion"/>
         <xs:enumeration value="E4: Religion - Non-Western Religion"/>
         <xs:enumeration value="E3: Religion - Philosophy of Religion"/>
         <xs:enumeration value="G9: Renaissance Studies"/>
         <xs:enumeration value="GC: Rural Studies"/>
         <xs:enumeration value="U2: Social Science"/>
         <xs:enumeration value="S1: Sociology"/>
         <xs:enumeration value="G2: Urban Studies"/>
         <xs:enumeration value="GB: Western Civilization"/>
         <xs:enumeration value="G1: Women's Studies"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="OrganizationTypeDataType">
      <xs:annotation>
         <xs:documentation>value="1326"  Center For Advanced Study/Research Institute</xs:documentation>
         <xs:documentation>value="1327"  Publishing</xs:documentation>
         <xs:documentation>value="1328"  Two-Year College</xs:documentation>
         <xs:documentation>value="1329"  Four-Year College</xs:documentation>
         <xs:documentation>value="1330"  University</xs:documentation>
         <xs:documentation>value="1331"  Professional School</xs:documentation>
         <xs:documentation>value="1332"  Elementary/Middle School</xs:documentation>
         <xs:documentation>value="1333"  Secondary School</xs:documentation>
         <xs:documentation>value="1334"  School District</xs:documentation>
         <xs:documentation>value="1335"  State Department of Education</xs:documentation>
         <xs:documentation>value="1336"  Non-Profit Educational Center</xs:documentation>
         <xs:documentation>value="1337"  Educational Consortium</xs:documentation>
         <xs:documentation>value="1338"  Philanthropic Foundation</xs:documentation>
         <xs:documentation>value="1339"  State/Local/Federal Government</xs:documentation>
         <xs:documentation>value="1340"  Historical Society</xs:documentation>
         <xs:documentation>value="1341"  Archives</xs:documentation>
         <xs:documentation>value="1342"  Historical Site/House</xs:documentation>
         <xs:documentation>value="1343"  Historic Preservation Organization</xs:documentation>
         <xs:documentation>value="1344"  Public Library</xs:documentation>
         <xs:documentation>value="1345"  Academic Library</xs:documentation>
         <xs:documentation>value="1346"  Independent Research Library</xs:documentation>
         <xs:documentation>value="1347"  History Museum</xs:documentation>
         <xs:documentation>value="1348"  Natural History Museum</xs:documentation>
         <xs:documentation>value="1349"  Art Museum</xs:documentation>
         <xs:documentation>value="1350"  University Museum</xs:documentation>
         <xs:documentation>value="1351"  Anthropology/Archaeology Museum</xs:documentation>
         <xs:documentation>value="1352"  Science and Technology Museum</xs:documentation>
         <xs:documentation>value="1353"  General Museum</xs:documentation>
         <xs:documentation>value="1354"  Nature Center/Botanical Garden/Arboretum</xs:documentation>
         <xs:documentation>value="1355"  National Organization</xs:documentation>
         <xs:documentation>value="1356"  State Humanities Council</xs:documentation>
         <xs:documentation>value="1357"  Community-Level Organization</xs:documentation>
         <xs:documentation>value="1358"  Indian Tribal Organization</xs:documentation>
         <xs:documentation>value="1359"  Professional Association</xs:documentation>
         <xs:documentation>value="1360"  Arts Related Organizations</xs:documentation>
         <xs:documentation>value="1361"  Television/Station</xs:documentation>
         <xs:documentation>value="1362"  Radio Station</xs:documentation>
         <xs:documentation>value="1363"  Independent Production Company</xs:documentation>
         <xs:documentation>value="1364"  Press</xs:documentation>
         <xs:documentation>value="2786"  Museums</xs:documentation>
         <xs:documentation>value="2787"  Libraries</xs:documentation>
         <xs:documentation>value="2819"  Unknown</xs:documentation>
      </xs:annotation>
      <xs:restriction base="xs:string">
         <xs:enumeration value="1326: Center For Advanced Study/Research Institute"/>
         <xs:enumeration value="1327: Publishing"/>
         <xs:enumeration value="1328: Two-Year College"/>
         <xs:enumeration value="1329: Four-Year College"/>
         <xs:enumeration value="1330: University"/>
         <xs:enumeration value="1331: Professional School"/>
         <xs:enumeration value="1332: Elementary/Middle School"/>
         <xs:enumeration value="1333: Secondary School"/>
         <xs:enumeration value="1334: School District"/>
         <xs:enumeration value="1335: State Department of Education"/>
         <xs:enumeration value="1336: Non-Profit Educational Center"/>
         <xs:enumeration value="1337: Educational Consortium"/>
         <xs:enumeration value="1338: Philanthropic Foundation"/>
         <xs:enumeration value="1339: State/Local/Federal Government"/>
         <xs:enumeration value="1340: Historical Society"/>
         <xs:enumeration value="1341: Archives"/>
         <xs:enumeration value="1342: Historical Site/House"/>
         <xs:enumeration value="1343: Historic Preservation Organization"/>
         <xs:enumeration value="1344: Public Library"/>
         <xs:enumeration value="1345: Academic Library"/>
         <xs:enumeration value="1346: Independent Research Library"/>
         <xs:enumeration value="1347: History Museum"/>
         <xs:enumeration value="1348: Natural History Museum"/>
         <xs:enumeration value="1349: Art Museum"/>
         <xs:enumeration value="1350: University Museum"/>
         <xs:enumeration value="1351: Anthropology/Archaeology Museum"/>
         <xs:enumeration value="1352: Science and Technology Museum"/>
         <xs:enumeration value="1353: General Museum"/>
         <xs:enumeration value="1354: Nature Center/Botanical Garden/Arboretum"/>
         <xs:enumeration value="1355: National Organization"/>
         <xs:enumeration value="1356: State Humanities Council"/>
         <xs:enumeration value="1357: Community-Level Organization"/>
         <xs:enumeration value="1358: Indian Tribal Organization"/>
         <xs:enumeration value="1359: Professional Association"/>
         <xs:enumeration value="1360: Arts Related Organizations"/>
         <xs:enumeration value="1361: Television/Station"/>
         <xs:enumeration value="1362: Radio Station"/>
         <xs:enumeration value="1363: Independent Production Company"/>
         <xs:enumeration value="1364: Press"/>
         <xs:enumeration value="2786: Museums"/>
         <xs:enumeration value="2787: Libraries"/>
         <xs:enumeration value="2819: Unknown"/>
      </xs:restriction>
   </xs:simpleType>

   <xs:simpleType name="AppTypeType">
      <xs:restriction base="xs:string">
         <xs:enumeration value="New"/>
         <xs:enumeration value="Supplement"/>
      </xs:restriction>
   </xs:simpleType>

   <xs:complexType name="SupGrantNumberType">
      <xs:simpleContent>
         <xs:extension base="glob:StringMin1Max50Type">
            <xs:attribute name="AppType" type="NEH_SF424CoverPageSupplemental:AppTypeType" use="required" fixed="Supplement"/>
         </xs:extension>
      </xs:simpleContent>
   </xs:complexType>

    <xs:simpleType name="StringMin1Max1000Type">
        <xs:annotation>
            <xs:documentation>String - Min length 1, max length 1000</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="1000"/>
        </xs:restriction>
    </xs:simpleType>
</xs:schema>
