coeus-impl/src/main/resources/wsdl/ApplicantWebServices-V2_0.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions 
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
	xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
	xmlns:xmime="http://www.w3.org/2005/05/xmlmime"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	
	xmlns:GrantsCommonElements="http://apply.grants.gov/system/GrantsCommonElements-V1.0"
	xmlns:applicantws="http://apply.grants.gov/services/ApplicantWebServices-V2.0"
	
	targetNamespace="http://apply.grants.gov/services/ApplicantWebServices-V2.0"
	name="ApplicantWebServices-V2_0">
	
	<wsdl:types>
		<xsd:schema
			targetNamespace="http://apply.grants.gov/services/ApplicantWebServices-V2.0"
			
			xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
			xmlns:xmime="http://www.w3.org/2005/05/xmlmime"
			xmlns:GrantsCommonElements="http://apply.grants.gov/system/GrantsCommonElements-V1.0"
			xmlns:applicantws="http://apply.grants.gov/services/ApplicantWebServices-V2.0"
			
			elementFormDefault="qualified" 
			attributeFormDefault="qualified"
			version="2.0">
			
			<!--Data Types-->
			<xsd:import namespace="http://schemas.xmlsoap.org/wsdl/" schemaLocation="http://schemas.xmlsoap.org/wsdl/" />
			<xsd:import namespace="http://schemas.xmlsoap.org/wsdl/soap/" schemaLocation="http://schemas.xmlsoap.org/wsdl/soap/" />
			
			<!--
			<xsd:import namespace="http://apply.grants.gov/system/GrantsCommonElements-V1.0" schemaLocation="file:/Dev/grants_schemas/Source/schema/bizobj/GrantsCommonElements-V1.0.xsd"  /> 
			-->	
			
			<xsd:import namespace="http://apply.grants.gov/system/GrantsCommonElements-V1.0" schemaLocation="coeus-impl/src/main/resources/wsdl/schemas/GrantsCommonElements-V1.0.xsd" />
 			

			<xsd:element name="GetOpportunitiesRequest">
				<xsd:complexType>
					<xsd:sequence>
						<!-- One of the elements are required -->
						<xsd:element ref="GrantsCommonElements:FundingOpportunityNumber" minOccurs="0" />
						<xsd:element ref="GrantsCommonElements:CFDANumber" minOccurs="0" />
						<xsd:element ref="GrantsCommonElements:CompetitionID" minOccurs="0" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="GetOpportunitiesResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="OpportunityInfo" minOccurs="0" maxOccurs="unbounded">
							<xsd:complexType>
								<xsd:sequence>
									<xsd:element ref="GrantsCommonElements:FundingOpportunityNumber" minOccurs="1" maxOccurs="1" />
									<xsd:element ref="GrantsCommonElements:CFDANumber" minOccurs="0"  maxOccurs="1" />
									<xsd:element ref="GrantsCommonElements:CompetitionID" minOccurs="0" maxOccurs="1" />
									<xsd:element name="OpeningDate" type="xsd:date" minOccurs="0" maxOccurs="1" />
									<xsd:element name="ClosingDate" type="xsd:date" minOccurs="1" maxOccurs="1" />
									<xsd:element ref="GrantsCommonElements:FundingOpportunityTitle" minOccurs="0" maxOccurs="1" />
									<xsd:element ref="GrantsCommonElements:OfferingAgency" minOccurs="0" maxOccurs="1" />
									<xsd:element ref="GrantsCommonElements:AgencyContactInfo" minOccurs="0" maxOccurs="1" />
									<xsd:element ref="GrantsCommonElements:CFDADescription" minOccurs="0" maxOccurs="1" />
									<xsd:element ref="GrantsCommonElements:SchemaURL" minOccurs="0" maxOccurs="1" />
									<xsd:element ref="GrantsCommonElements:InstructionsURL" minOccurs="0" maxOccurs="1" />
									<xsd:element name="IsMultiProject" type="xsd:boolean" minOccurs="0" maxOccurs="1" />
								</xsd:sequence>
							</xsd:complexType>
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			
			<xsd:element name="SubmitApplicationRequest">
				<xsd:complexType>
					<xsd:sequence>
						<!-- A Valid Grants.gov XML application -->
						<xsd:element name="GrantApplicationXML" type="xsd:string" minOccurs="1" maxOccurs="1" />
                  		<xsd:element ref="GrantsCommonElements:Attachment" minOccurs="0" maxOccurs="unbounded" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="SubmitApplicationResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element ref="GrantsCommonElements:GrantsGovTrackingNumber" />
						<xsd:element name="ReceivedDateTime" type="xsd:dateTime" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			
			<xsd:element name="SubmitApplicationAsThirdPartyRequest">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element ref="GrantsCommonElements:Token" minOccurs="1" maxOccurs="1" />
						<!-- A Valid Grants.gov Single or Multi-Project XML -->
						<xsd:element name="ApplicationXML" type="xsd:string" minOccurs="1" maxOccurs="1" />
                  		<xsd:element ref="GrantsCommonElements:Attachment" minOccurs="0" maxOccurs="unbounded" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="SubmitApplicationAsThirdPartyResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element ref="GrantsCommonElements:GrantsGovTrackingNumber" />
						<xsd:element name="ReceivedDateTime" type="xsd:dateTime" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			

			<xsd:element name="GetApplicationListRequest">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element ref="GrantsCommonElements:ApplicationFilter" minOccurs="0" maxOccurs="unbounded" />
               		</xsd:sequence>
				</xsd:complexType>
            	<xsd:unique name="filter">
               		<xsd:selector xpath="GetApplicationListRequest/ApplicationFilter"/>
               		<xsd:field xpath="Filter"/>
            	</xsd:unique>
         	</xsd:element>
         	<xsd:element name="GetApplicationListResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="AvailableApplicationNumber" type="xsd:int" />
						<xsd:element name="ApplicationInfo" minOccurs="0" maxOccurs="unbounded">
							<xsd:complexType>
								<xsd:sequence>
									<xsd:element ref="GrantsCommonElements:CFDANumber" minOccurs="0" />
									<xsd:element ref="GrantsCommonElements:FundingOpportunityNumber" minOccurs="0" />
									<xsd:element ref="GrantsCommonElements:CompetitionID" minOccurs="0" />
									<xsd:element ref="GrantsCommonElements:GrantsGovTrackingNumber" />
									<xsd:element name="ReceivedDateTime" type="xsd:dateTime" minOccurs="0" />
								   	<xsd:element ref="GrantsCommonElements:GrantsGovApplicationStatus" />
									<xsd:element name="StatusDateTime" type="xsd:dateTime" minOccurs="0" />
									<xsd:element ref="GrantsCommonElements:AgencyTrackingNumber" minOccurs="0" />
									<xsd:element ref="GrantsCommonElements:SubmissionTitle" minOccurs="0" />
								</xsd:sequence>
							</xsd:complexType>
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			
			
			<xsd:element name="GetApplicationListAsThirdPartyRequest">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element ref="GrantsCommonElements:ApplicationFilter" minOccurs="0" maxOccurs="unbounded" />
               		</xsd:sequence>
				</xsd:complexType>
            	<xsd:unique name="AsThirdPartyFilter">
               		<xsd:selector xpath="GetApplicationListAsThirdPartyRequest/ApplicationFilter"/>
               		<xsd:field xpath="Filter"/>
            	</xsd:unique>
         	</xsd:element>
         	<xsd:element name="GetApplicationListAsThirdPartyResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="AvailableApplicationNumber" type="xsd:int" />
						<xsd:element name="ApplicationInfo" minOccurs="0" maxOccurs="unbounded">
							<xsd:complexType>
								<xsd:sequence>
									<xsd:element ref="GrantsCommonElements:CFDANumber" minOccurs="0" />
									<xsd:element ref="GrantsCommonElements:FundingOpportunityNumber" minOccurs="0" />
									<xsd:element ref="GrantsCommonElements:CompetitionID" minOccurs="0" />
									<xsd:element ref="GrantsCommonElements:GrantsGovTrackingNumber" />
									<xsd:element name="ReceivedDateTime" type="xsd:dateTime" minOccurs="0" />
								   	<xsd:element ref="GrantsCommonElements:GrantsGovApplicationStatus" />
									<xsd:element name="StatusDateTime" type="xsd:dateTime" minOccurs="0" />
									<xsd:element ref="GrantsCommonElements:AgencyTrackingNumber" minOccurs="0" />
									<xsd:element ref="GrantsCommonElements:SubmissionTitle" minOccurs="0" />
								</xsd:sequence>
							</xsd:complexType>
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			
			<!-- GetApplicationStatusDetail Deprecated ... remove from next version of Applicant Web Services -->
			<xsd:element name="GetApplicationStatusDetailRequest">
				<xsd:complexType>
					<xsd:sequence>
					   	<xsd:element ref="GrantsCommonElements:GrantsGovTrackingNumber" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="GetApplicationStatusDetailResponse">
				<xsd:complexType>
					<xsd:sequence>
					   	<xsd:element ref="GrantsCommonElements:GrantsGovTrackingNumber" />
						<!-- IMPORTANT:  The DetailedStatus may include XML in the case of a rejected application -->
						<xsd:element name="DetailedStatus" type="xsd:string" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			
			<xsd:element name="GetApplicationInfoRequest">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element ref="GrantsCommonElements:GrantsGovTrackingNumber" minOccurs="1" maxOccurs="1" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="GetApplicationInfoResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element ref="GrantsCommonElements:GrantsGovTrackingNumber" minOccurs="1" maxOccurs="1" />
						<xsd:element ref="GrantsCommonElements:StatusDetail" minOccurs="1" maxOccurs="1" />
						<xsd:element ref="GrantsCommonElements:AgencyNotes" minOccurs="0" maxOccurs="1" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			
			<xsd:element name="GetApplicationInfoAsThirdPartyRequest">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element ref="GrantsCommonElements:GrantsGovTrackingNumber" minOccurs="1" maxOccurs="1" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="GetApplicationInfoAsThirdPartyResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element ref="GrantsCommonElements:GrantsGovTrackingNumber" minOccurs="1" maxOccurs="1" />
						<xsd:element ref="GrantsCommonElements:StatusDetail" minOccurs="1" maxOccurs="1" />
						<xsd:element ref="GrantsCommonElements:AgencyTrackingNumber" minOccurs="0" maxOccurs="1" />
						<xsd:element ref="GrantsCommonElements:AgencyNotes" minOccurs="0" maxOccurs="1" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			
			<xsd:element name="AuthenticateAORRequest">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="AORUserID" type="xsd:string" minOccurs="1" maxOccurs="1" />
						<xsd:element name="AORPassword" type="xsd:string" minOccurs="1" maxOccurs="1" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="AuthenticateAORResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element ref="GrantsCommonElements:Token" minOccurs="1" maxOccurs="1" />
						<xsd:element ref="GrantsCommonElements:SecurityMessage" minOccurs="0" maxOccurs="1" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			
		</xsd:schema>
	</wsdl:types>
	
	
	<wsdl:message name="GetOpportunitiesRequestMessage">
		<wsdl:part name="GetOpportunitiesRequest" element="applicantws:GetOpportunitiesRequest" />
	</wsdl:message>
	<wsdl:message name="GetOpportunitiesResponseMessage">
		<wsdl:part name="GetOpportunitiesResponse" element="applicantws:GetOpportunitiesResponse" />
	</wsdl:message>
	
	<wsdl:message name="SubmitApplicationRequestMessage">
		<wsdl:part name="SubmitApplicationRequest" element="applicantws:SubmitApplicationRequest" />
	</wsdl:message>
	<wsdl:message name="SubmitApplicationResponseMessage">
		<wsdl:part name="SubmitApplicationResponse" element="applicantws:SubmitApplicationResponse" />
	</wsdl:message>
	
	<wsdl:message name="SubmitApplicationAsThirdPartyRequestMessage">
		<wsdl:part name="SubmitApplicationAsThirdPartyRequest" element="applicantws:SubmitApplicationAsThirdPartyRequest" />
	</wsdl:message>
	<wsdl:message name="SubmitApplicationAsThirdPartyResponseMessage">
		<wsdl:part name="SubmitApplicationAsThirdPartyResponse" element="applicantws:SubmitApplicationAsThirdPartyResponse" />
	</wsdl:message>
	
	<wsdl:message name="GetApplicationListRequestMessage">
		<wsdl:part name="GetApplicationListRequest" element="applicantws:GetApplicationListRequest" />
	</wsdl:message>
	<wsdl:message name="GetApplicationListResponseMessage">
		<wsdl:part name="GetApplicationListResponse" element="applicantws:GetApplicationListResponse" />
	</wsdl:message>
	
	<wsdl:message name="GetApplicationListAsThirdPartyRequestMessage">
		<wsdl:part name="GetApplicationListAsThirdPartyRequest" element="applicantws:GetApplicationListAsThirdPartyRequest" />
	</wsdl:message>
	<wsdl:message name="GetApplicationListAsThirdPartyResponseMessage">
		<wsdl:part name="GetApplicationListAsThirdPartyResponse" element="applicantws:GetApplicationListAsThirdPartyResponse" />
	</wsdl:message>
	
	<!-- GetApplicationStatusDetail Deprecated ... remove from next version of Applicant Web Services -->
	<wsdl:message name="GetApplicationStatusDetailRequestMessage">
		<wsdl:part name="GetApplicationStatusDetailRequest" element="applicantws:GetApplicationStatusDetailRequest" />
	</wsdl:message>
	<wsdl:message name="GetApplicationStatusDetailResponseMessage">
		<wsdl:part name="GetApplicationStatusDetailResponse" element="applicantws:GetApplicationStatusDetailResponse" />
	</wsdl:message>

	<wsdl:message name="ErrorMessage">
		<wsdl:part name="ErrorMessage" element="soap:fault" />
	</wsdl:message>
	
	<wsdl:message name="GetApplicationInfoRequestMessage">
		<wsdl:part name="GetApplicationInfoRequest" element="applicantws:GetApplicationInfoRequest" />
	</wsdl:message>
	<wsdl:message name="GetApplicationInfoResponseMessage">
		<wsdl:part name="GetApplicationInfoResponse" element="applicantws:GetApplicationInfoResponse" />
	</wsdl:message>
	
	<wsdl:message name="GetApplicationInfoAsThirdPartyRequestMessage">
		<wsdl:part name="GetApplicationInfoAsThirdPartyRequest" element="applicantws:GetApplicationInfoAsThirdPartyRequest" />
	</wsdl:message>
	<wsdl:message name="GetApplicationInfoAsThirdPartyResponseMessage">
		<wsdl:part name="GetApplicationInfoAsThirdPartyResponse" element="applicantws:GetApplicationInfoAsThirdPartyResponse" />
	</wsdl:message>
	
	<wsdl:message name="AuthenticateAORRequestMessage">
		<wsdl:part name="AuthenticateAORRequest" element="applicantws:AuthenticateAORRequest" />
	</wsdl:message>
	<wsdl:message name="AuthenticateAORResponseMessage">
		<wsdl:part name="AuthenticateAORResponse" element="applicantws:AuthenticateAORResponse" />
	</wsdl:message>
	
	

	<wsdl:portType name="ApplicantWebServicesPortType">
		<wsdl:operation name="GetOpportunities">
			<wsdl:input message="applicantws:GetOpportunitiesRequestMessage" />
			<wsdl:output message="applicantws:GetOpportunitiesResponseMessage" />
			<wsdl:fault name="GetOpportunitiesErrorMessage" message="applicantws:ErrorMessage" />
		</wsdl:operation>
		
		<wsdl:operation name="SubmitApplication">
			<wsdl:input message="applicantws:SubmitApplicationRequestMessage" />
			<wsdl:output message="applicantws:SubmitApplicationResponseMessage" />
			<wsdl:fault name="SubmitApplicationErrorMessage" message="applicantws:ErrorMessage" />
		</wsdl:operation>
		
		<wsdl:operation name="SubmitApplicationAsThirdParty">
			<wsdl:input message="applicantws:SubmitApplicationAsThirdPartyRequestMessage" />
			<wsdl:output message="applicantws:SubmitApplicationAsThirdPartyResponseMessage" />
			<wsdl:fault name="SubmitApplicationAsThirdPartyErrorMessage" message="applicantws:ErrorMessage" />
		</wsdl:operation>
		
		<wsdl:operation name="GetApplicationList">
			<wsdl:input message="applicantws:GetApplicationListRequestMessage" />
			<wsdl:output message="applicantws:GetApplicationListResponseMessage" />
			<wsdl:fault name="GetApplicationListErrorMessage" message="applicantws:ErrorMessage" />
		</wsdl:operation>
		
		<wsdl:operation name="GetApplicationListAsThirdParty">
			<wsdl:input message="applicantws:GetApplicationListAsThirdPartyRequestMessage" />
			<wsdl:output message="applicantws:GetApplicationListAsThirdPartyResponseMessage" />
			<wsdl:fault name="GetApplicationListAsThirdPartyErrorMessage" message="applicantws:ErrorMessage" />
		</wsdl:operation>
		
		<!-- GetApplicationStatusDetail Deprecated ... remove from next version of Applicant Web Services -->
		<wsdl:operation name="GetApplicationStatusDetail">
			<wsdl:input message="applicantws:GetApplicationStatusDetailRequestMessage" />
			<wsdl:output message="applicantws:GetApplicationStatusDetailResponseMessage" />
			<wsdl:fault name="GetApplicationStatusDetailErrorMessage" message="applicantws:ErrorMessage" />
		</wsdl:operation>
		
		<wsdl:operation name="GetApplicationInfo">
			<wsdl:input message="applicantws:GetApplicationInfoRequestMessage" />
			<wsdl:output message="applicantws:GetApplicationInfoResponseMessage" />
			<wsdl:fault name="GetApplicationInfoErrorMessage" message="applicantws:ErrorMessage" />
		</wsdl:operation>
		
		<wsdl:operation name="GetApplicationInfoAsThirdParty">
			<wsdl:input message="applicantws:GetApplicationInfoAsThirdPartyRequestMessage" />
			<wsdl:output message="applicantws:GetApplicationInfoAsThirdPartyResponseMessage" />
			<wsdl:fault name="GetApplicationInfoAsThirdPartyErrorMessage" message="applicantws:ErrorMessage" />
		</wsdl:operation>
		
		<wsdl:operation name="AuthenticateAOR">
			<wsdl:input message="applicantws:AuthenticateAORRequestMessage" />
			<wsdl:output message="applicantws:AuthenticateAORResponseMessage" />
			<wsdl:fault name="AuthenticateAORErrorMessage" message="applicantws:ErrorMessage" />
		</wsdl:operation>

	</wsdl:portType>

	<wsdl:binding name="ApplicantWebServicesSoapBinding" type="applicantws:ApplicantWebServicesPortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
		
		<wsdl:operation name="GetOpportunities">
			<soap:operation soapAction="http://ws.grants.gov:446/grantsws-applicant/services/v2/ApplicantWebServicesSoapPort/GetOpportunities" style="document" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="GetOpportunitiesErrorMessage">
				<soap:fault name="GetOpportunitiesErrorMessage"
					use="literal" />
			</wsdl:fault>
		</wsdl:operation>

		<wsdl:operation name="SubmitApplication">
			<soap:operation soapAction="http://ws.grants.gov:446/grantsws-applicant/services/v2/ApplicantWebServicesSoapPort/SubmitApplication" style="document" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="SubmitApplicationErrorMessage">
				<soap:fault name="SubmitApplicationErrorMessage" use="literal" />
			</wsdl:fault>
		</wsdl:operation>
		
		<wsdl:operation name="SubmitApplicationAsThirdParty">
			<soap:operation soapAction="http://ws.grants.gov:446/grantsws-applicant/services/v2/ApplicantWebServicesSoapPort/SubmitApplicationAsThirdParty" style="document" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="SubmitApplicationAsThirdPartyErrorMessage">
				<soap:fault name="SubmitApplicationAsThirdPartyErrorMessage" use="literal" />
			</wsdl:fault>
		</wsdl:operation>

		<wsdl:operation name="GetApplicationList">
			<soap:operation soapAction="http://ws.grants.gov:446/grantsws-applicant/services/v2/ApplicantWebServicesSoapPort/GetApplicationList" style="document" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="GetApplicationListErrorMessage">
				<soap:fault name="GetApplicationListErrorMessage" use="literal" />
			</wsdl:fault>
		</wsdl:operation>
		
		<wsdl:operation name="GetApplicationListAsThirdParty">
			<soap:operation soapAction="http://ws.grants.gov:446/grantsws-applicant/services/v2/ApplicantWebServicesSoapPort/GetApplicationListAsThirdParty" style="document" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="GetApplicationListAsThirdPartyErrorMessage">
				<soap:fault name="GetApplicationListAsThirdPartyErrorMessage" use="literal" />
			</wsdl:fault>
		</wsdl:operation>
		
		<!-- GetApplicationStatusDetail Deprecated ... remove from next version of Applicant Web Services -->
		<wsdl:operation name="GetApplicationStatusDetail">
			<soap:operation soapAction="http://ws.grants.gov:446/grantsws-applicant/services/v2/ApplicantWebServicesSoapPort/GetApplicationStatusDetail" style="document" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="GetApplicationStatusDetailErrorMessage">
				<soap:fault
					name="GetApplicationStatusDetailErrorMessage" use="literal" />
			</wsdl:fault>
		</wsdl:operation>

		<wsdl:operation name="GetApplicationInfo">
			<soap:operation soapAction="http://ws.grants.gov:446/grantsws-applicant/services/v2/ApplicantWebServicesSoapPort/GetApplicationInfo" style="document" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="GetApplicationInfoErrorMessage">
				<soap:fault name="GetApplicationInfoErrorMessage"
					use="literal" />
			</wsdl:fault>
		</wsdl:operation>
		
		<wsdl:operation name="GetApplicationInfoAsThirdParty">
			<soap:operation soapAction="http://ws.grants.gov:446/grantsws-applicant/services/v2/ApplicantWebServicesSoapPort/GetApplicationInfoAsThirdParty" style="document" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="GetApplicationInfoAsThirdPartyErrorMessage">
				<soap:fault name="GetApplicationInfoAsThirdPartyErrorMessage"
					use="literal" />
			</wsdl:fault>
		</wsdl:operation>
		
		<wsdl:operation name="AuthenticateAOR">
			<soap:operation soapAction="http://ws.grants.gov:446/grantsws-applicant/services/v2/ApplicantWebServicesSoapPort/AuthenticateAOR" style="document" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="AuthenticateAORErrorMessage">
				<soap:fault name="AuthenticateAORErrorMessage"
					use="literal" />
			</wsdl:fault>
		</wsdl:operation>
		
	</wsdl:binding>

	<wsdl:service name="ApplicantWebServices-V2.0">
		<wsdl:port name="ApplicantWebServicesSoapPort"
			binding="applicantws:ApplicantWebServicesSoapBinding">
			<soap:address
				location="http://ws.grants.gov:446/grantsws-applicant/services/v2/ApplicantWebServicesSoapPort/" />
		</wsdl:port>
	</wsdl:service>

</wsdl:definitions>
