coeus-impl/src/main/resources/org/kuali/kra/printing/schema/DevProposal.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
   - Kuali Coeus, a comprehensive research administration system for higher education.
   - 
   - Copyright 2005-2016 Kuali, Inc.
   - 
   - This program is free software: you can redistribute it and/or modify
   - it under the terms of the GNU Affero General Public License as
   - published by the Free Software Foundation, either version 3 of the
   - License, or (at your option) any later version.
   - 
   - This program is distributed in the hope that it will be useful,
   - but WITHOUT ANY WARRANTY; without even the implied warranty of
   - MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
   - GNU Affero General Public License for more details.
   - 
   - You should have received a copy of the GNU Affero General Public License
   - along with this program.  If not, see <http://www.gnu.org/licenses/>.
 -->
<!-- edited with XMLSpy v2006 rel. 3 U (http://www.altova.com) by Geo Thomas (Massachusetts Institute of Technology) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"	
	xmlns:propdev="http://v2.xml.utils.coeus.mit.edu/propdev" 
	xmlns:budget="http://v2.xml.utils.coeus.mit.edu/budget" 
	xmlns:organization="http://v2.xml.utils.coeus.mit.edu/organization" 
	xmlns:lookuptypes="http://v2.xml.utils.coeus.mit.edu/lookuptypes" 
	xmlns:sponsor="http://v2.xml.utils.coeus.mit.edu/sponsor" 
	xmlns:rolodex="http://v2.xml.utils.coeus.mit.edu/rolodex" 
	xmlns:user_unit="http://v2.xml.utils.coeus.mit.edu/user_unit" 
	targetNamespace="http://v2.xml.utils.coeus.mit.edu/propdev" 
	elementFormDefault="qualified" 
	attributeFormDefault="qualified">

	
	<xs:import namespace="http://v2.xml.utils.coeus.mit.edu/budget" schemaLocation="ProposalBudget.xsd"/>
	<xs:import namespace="http://v2.xml.utils.coeus.mit.edu/organization" schemaLocation="Orgnaization.xsd"/>
	<xs:import namespace="http://v2.xml.utils.coeus.mit.edu/sponsor" schemaLocation="Sponsor.xsd"/>
	<xs:import namespace="http://v2.xml.utils.coeus.mit.edu/lookuptypes" schemaLocation="LookupTypes.xsd"/>
	<xs:import namespace="http://v2.xml.utils.coeus.mit.edu/rolodex" schemaLocation="Rolodex.xsd"/>
	<xs:import namespace="http://v2.xml.utils.coeus.mit.edu/user_unit" schemaLocation="User_Unit.xsd"/>
	
	<xs:element name="PROPOSAL">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="propdev:PROPOSAL_MASTER"/>
				<xs:element ref="propdev:PROP_ABSTRACT" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="propdev:PROP_APPROVAL_MAPS" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="propdev:PROP_CHANGED_DATA_31" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="propdev:PROP_CUSTOM_DATA" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="propdev:PROP_INVESTIGATORS" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="propdev:PROP_INVESTIGATORS_BASIC_DETAILS" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="propdev:PROP_KEY_PERSONS" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="propdev:PROP_LOCATION" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="propdev:PROP_NOTEPAD" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="propdev:PROP_PERSON" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="propdev:PROP_SCIENCE_CODE" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="propdev:PROP_SPECIAL_REVIEW" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="propdev:PROP_PER_CREDIT_SPLIT" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="propdev:CREDIT_SPLIT_COLUMNS" minOccurs="0"/>
				<xs:element ref="propdev:PROP_UNIT_CREDIT_SPLIT" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="propdev:PROP_USER_ROLES" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="propdev:PROP_YNQ" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="budget:BUDGET" minOccurs="0"/>
				<xs:element ref="propdev:PROP_UNITS" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element name="CUR_DATE" type="xs:string" minOccurs="0"/>
				<xs:element name="LOGO_PATH" type="xs:string" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="PROP_ABSTRACT">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="PROPOSAL_NUMBER" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="8"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element ref="lookuptypes:ABSTRACT_TYPE" minOccurs="0"/>
				<xs:element name="ABSTRACT" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="2147483647"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="UPDATE_TIMESTAMP" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:dateTime"/>
					</xs:simpleType>
				</xs:element>
				<xs:element name="UPDATE_USER" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="8"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="PROP_APPROVAL">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="PROPOSAL_NUMBER">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="8"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="MAP_ID">
					<xs:simpleType>
						<xs:restriction base="xs:decimal">
							<xs:totalDigits value="6"/>
							<xs:fractionDigits value="0"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="LEVEL_NUMBER">
					<xs:simpleType>
						<xs:restriction base="xs:decimal">
							<xs:totalDigits value="2"/>
							<xs:fractionDigits value="0"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="STOP_NUMBER">
					<xs:simpleType>
						<xs:restriction base="xs:decimal">
							<xs:totalDigits value="2"/>
							<xs:fractionDigits value="0"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="USER_ID">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="8"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="PRIMARY_APPROVER_FLAG">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="1"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="DESCRIPTION" nillable="true" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="60"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="APPROVAL_STATUS">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="1"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="SUBMISSION_DATE" nillable="true" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:dateTime"/>
					</xs:simpleType>
				</xs:element>
				<xs:element name="APPROVAL_DATE" nillable="true" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:dateTime"/>
					</xs:simpleType>
				</xs:element>
				<xs:element name="COMMENTS" nillable="true" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="2147483647"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="UPDATE_TIMESTAMP">
					<xs:simpleType>
						<xs:restriction base="xs:dateTime"/>
					</xs:simpleType>
				</xs:element>
				<xs:element name="UPDATE_USER">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="8"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="PROP_APPROVAL_MAPS">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="PROPOSAL_NUMBER">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="8"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="MAP_ID">
					<xs:simpleType>
						<xs:restriction base="xs:decimal">
							<xs:totalDigits value="6"/>
							<xs:fractionDigits value="0"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="PARENT_MAP_ID">
					<xs:simpleType>
						<xs:restriction base="xs:decimal">
							<xs:totalDigits value="6"/>
							<xs:fractionDigits value="0"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="DESCRIPTION">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="200"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="SYSTEM_FLAG" nillable="true" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="1"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="APPROVAL_STATUS">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="1"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="UPDATE_USER">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="8"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="UPDATE_TIMESTAMP">
					<xs:simpleType>
						<xs:restriction base="xs:dateTime"/>
					</xs:simpleType>
				</xs:element>
				<xs:element ref="propdev:PROP_APPROVAL" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="PROP_CHANGED_DATA">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="PROPOSAL_NUMBER">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="8"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="COLUMN_NAME">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="30"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="CHANGE_NUMBER">
					<xs:simpleType>
						<xs:restriction base="xs:decimal">
							<xs:totalDigits value="3"/>
							<xs:fractionDigits value="0"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="CHANGED_VALUE" nillable="true">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="200"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="DISPLAY_VALUE" nillable="true">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="200"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="OLD_DISPLAY_VALUE" nillable="true">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="200"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="COMMENTS" nillable="true">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="300"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="UPDATE_TIMESTAMP">
					<xs:simpleType>
						<xs:restriction base="xs:dateTime"/>
					</xs:simpleType>
				</xs:element>
				<xs:element name="UPDATE_USER">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="8"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="PROP_CHANGED_DATA_31">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="PROPOSAL_NUMBER">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="8"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="COLUMN_NAME">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="30"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="CHANGED_VALUE" nillable="true" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="200"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="DISPLAY_VALUE" nillable="true" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="200"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="COMMENTS" nillable="true" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="300"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="UPDATE_TIMESTAMP">
					<xs:simpleType>
						<xs:restriction base="xs:dateTime"/>
					</xs:simpleType>
				</xs:element>
				<xs:element name="UPDATE_USER">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="8"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="PROP_COLUMNS_TO_ALTER">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="COLUMN_NAME">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="30"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="COLUMN_LABEL">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="30"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="DATA_TYPE">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="9"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="DATA_LENGTH" nillable="true">
					<xs:simpleType>
						<xs:restriction base="xs:decimal">
							<xs:totalDigits value="4"/>
							<xs:fractionDigits value="0"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="HAS_LOOKUP">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="1"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="LOOKUP_WINDOW" nillable="true">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="100"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="LOOKUP_ARGUMENT" nillable="true">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="30"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="UPDATE_TIMESTAMP">
					<xs:simpleType>
						<xs:restriction base="xs:dateTime"/>
					</xs:simpleType>
				</xs:element>
				<xs:element name="UPDATE_USER">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="8"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="PROP_COST_SHARING">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="PROPOSAL_NUMBER">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="8"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="VERSION_NUMBER">
					<xs:simpleType>
						<xs:restriction base="xs:decimal">
							<xs:totalDigits value="3"/>
							<xs:fractionDigits value="0"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="FISCAL_YEAR">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="4"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="COST_SHARING_PERCENTAGE" nillable="true">
					<xs:simpleType>
						<xs:restriction base="xs:decimal">
							<xs:totalDigits value="5"/>
							<xs:fractionDigits value="2"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="SOURCE_ACCOUNT">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="7"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="AMOUNT" nillable="true">
					<xs:simpleType>
						<xs:restriction base="xs:decimal">
							<xs:totalDigits value="12"/>
							<xs:fractionDigits value="2"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="UPDATE_TIMESTAMP">
					<xs:simpleType>
						<xs:restriction base="xs:dateTime"/>
					</xs:simpleType>
				</xs:element>
				<xs:element name="UPDATE_USER">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="8"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="PROP_CUSTOM_DATA">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="PROPOSAL_NUMBER">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="8"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="COLUMN_NAME">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="30"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="COLUMN_VALUE" nillable="true" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="2000"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="UPDATE_TIMESTAMP">
					<xs:simpleType>
						<xs:restriction base="xs:dateTime"/>
					</xs:simpleType>
				</xs:element>
				<xs:element name="UPDATE_USER">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="8"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="PROP_IDC_RATE">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="PROPOSAL_NUMBER">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="8"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="VERSION_NUMBER">
					<xs:simpleType>
						<xs:restriction base="xs:decimal">
							<xs:totalDigits value="3"/>
							<xs:fractionDigits value="0"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="APPLICABLE_IDC_RATE">
					<xs:simpleType>
						<xs:restriction base="xs:decimal">
							<xs:totalDigits value="5"/>
							<xs:fractionDigits value="2"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="FISCAL_YEAR">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="4"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="ON_CAMPUS_FLAG">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="1"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="UNDERRECOVERY_OF_IDC" nillable="true">
					<xs:simpleType>
						<xs:restriction base="xs:decimal">
							<xs:totalDigits value="12"/>
							<xs:fractionDigits value="2"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="SOURCE_ACCOUNT">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="7"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="UPDATE_TIMESTAMP">
					<xs:simpleType>
						<xs:restriction base="xs:dateTime"/>
					</xs:simpleType>
				</xs:element>
				<xs:element name="UPDATE_USER">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="8"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
<xs:element name="PROP_INVESTIGATORS" type="propdev:PROP_INVESTIGATOR_TYPE"/>
<xs:element name="PROP_INVESTIGATORS_BASIC_DETAILS" type="propdev:PROP_INVESTIGATOR_TYPE"/>

	<xs:complexType name="PROP_INVESTIGATOR_TYPE">
		<xs:sequence>
				<xs:element name="PROPOSAL_NUMBER" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="8"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="PERSON_ID" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="9"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="PERSON_NAME" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="90"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="PRINCIPAL_INVESTIGATOR_FLAG" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="1"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="FACULTY_FLAG" nillable="true" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="1"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="MULTI_PI_FLAG" nillable="true" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="1"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="NON_MIT_PERSON_FLAG" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="1"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="CONFLICT_OF_INTEREST_FLAG" nillable="true" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="1"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="PERCENTAGE_EFFORT" nillable="true" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:decimal">
							<xs:totalDigits value="5"/>
							<xs:fractionDigits value="2"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="ACADEMIC_YEAR_EFFORT" nillable="true" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:decimal">
							<xs:totalDigits value="5"/>
							<xs:fractionDigits value="2"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="SUMMER_YEAR_EFFORT" nillable="true" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:decimal">
							<xs:totalDigits value="5"/>
							<xs:fractionDigits value="2"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="CALENDAR_YEAR_EFFORT" nillable="true" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:decimal">
							<xs:totalDigits value="5"/>
							<xs:fractionDigits value="2"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="FEDR_DEBR_FLAG" nillable="true" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="1"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="FEDR_DELQ_FLAG" nillable="true" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="1"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="UPDATE_TIMESTAMP" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:dateTime"/>
					</xs:simpleType>
				</xs:element>
				<xs:element name="UPDATE_USER" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="8"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element ref="propdev:PROP_UNITS" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="propdev:PROP_PER_CREDIT_SPLIT" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>

	
	<xs:element name="PROP_KEY_PERSONS">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="PROPOSAL_NUMBER">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="8"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element ref="propdev:PROP_PERSON"/>
				<xs:element name="PERSON_NAME">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="90"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="PROJECT_ROLE">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="60"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="FACULTY_FLAG" nillable="true" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="1"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="NON_MIT_PERSON_FLAG">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="1"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="PERCENTAGE_EFFORT" nillable="true" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:decimal">
							<xs:totalDigits value="5"/>
							<xs:fractionDigits value="2"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="UPDATE_TIMESTAMP">
					<xs:simpleType>
						<xs:restriction base="xs:dateTime"/>
					</xs:simpleType>
				</xs:element>
				<xs:element name="UPDATE_USER">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="8"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="PROP_LA_RATES">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="PROPOSAL_NUMBER">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="8"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="VERSION_NUMBER">
					<xs:simpleType>
						<xs:restriction base="xs:decimal">
							<xs:totalDigits value="3"/>
							<xs:fractionDigits value="0"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="RATE_TYPE_CODE">
					<xs:simpleType>
						<xs:restriction base="xs:decimal">
							<xs:totalDigits value="3"/>
							<xs:fractionDigits value="0"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="FISCAL_YEAR">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="4"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="ON_OFF_CAMPUS_FLAG">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="1"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="START_DATE">
					<xs:simpleType>
						<xs:restriction base="xs:dateTime"/>
					</xs:simpleType>
				</xs:element>
				<xs:element name="APPLICABLE_RATE">
					<xs:simpleType>
						<xs:restriction base="xs:decimal">
							<xs:totalDigits value="5"/>
							<xs:fractionDigits value="2"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="INSTITUTE_RATE" nillable="true">
					<xs:simpleType>
						<xs:restriction base="xs:decimal">
							<xs:totalDigits value="5"/>
							<xs:fractionDigits value="2"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="UPDATE_TIMESTAMP">
					<xs:simpleType>
						<xs:restriction base="xs:dateTime"/>
					</xs:simpleType>
				</xs:element>
				<xs:element name="UPDATE_USER">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="8"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="RATE_CLASS_CODE">
					<xs:simpleType>
						<xs:restriction base="xs:decimal">
							<xs:totalDigits value="3"/>
							<xs:fractionDigits value="0"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="PROP_LOCATION">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="PROPOSAL_NUMBER">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="8"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="LOCATION">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="60"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element ref="rolodex:ROLODEX"/>
				<xs:element name="UPDATE_TIMESTAMP">
					<xs:simpleType>
						<xs:restriction base="xs:dateTime"/>
					</xs:simpleType>
				</xs:element>
				<xs:element name="UPDATE_USER">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="8"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="PROP_NOTEPAD">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="PROPOSAL_NUMBER">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="8"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="ENTRY_NUMBER">
					<xs:simpleType>
						<xs:restriction base="xs:decimal">
							<xs:totalDigits value="4"/>
							<xs:fractionDigits value="0"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="COMMENTS">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="2147483647"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="RESTRICTED_VIEW">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="1"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="UPDATE_TIMESTAMP">
					<xs:simpleType>
						<xs:restriction base="xs:dateTime"/>
					</xs:simpleType>
				</xs:element>
				<xs:element name="UPDATE_USER">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="8"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="PROP_PER_CUSTOM_DATA">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="PROPOSAL_NUMBER">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="8"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="PERSON_ID">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="9"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="COLUMN_NAME">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="30"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="COLUMN_VALUE" nillable="true" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="2000"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="UPDATE_TIMESTAMP">
					<xs:simpleType>
						<xs:restriction base="xs:dateTime"/>
					</xs:simpleType>
				</xs:element>
				<xs:element name="UPDATE_USER">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="8"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="PROP_PERS_YNQ">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="PROPOSAL_NUMBER">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="8"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="PERSON_ID">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="9"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="QUESTION_ID">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="4"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="ANSWER">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="1"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="UPDATE_TIMESTAMP">
					<xs:simpleType>
						<xs:restriction base="xs:dateTime"/>
					</xs:simpleType>
				</xs:element>
				<xs:element name="UPDATE_USER">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="8"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="PROP_PERSON">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="PROPOSAL_NUMBER">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="8"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="PERSON_ID">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="9"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="SSN" nillable="true" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="9"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="LAST_NAME" nillable="true" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="30"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="FIRST_NAME" nillable="true" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="30"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="MIDDLE_NAME" nillable="true" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="30"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="FULL_NAME" nillable="true" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="90"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="PRIOR_NAME" nillable="true" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="30"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="USER_NAME" nillable="true" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="60"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="EMAIL_ADDRESS" nillable="true" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="60"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="DATE_OF_BIRTH" nillable="true" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:dateTime"/>
					</xs:simpleType>
				</xs:element>
				<xs:element name="AGE" nillable="true" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:decimal">
							<xs:totalDigits value="3"/>
							<xs:fractionDigits value="0"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="AGE_BY_FISCAL_YEAR" nillable="true" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:decimal">
							<xs:totalDigits value="3"/>
							<xs:fractionDigits value="0"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="GENDER" nillable="true" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="30"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="RACE" nillable="true" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="30"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="EDUCATION_LEVEL" nillable="true" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="30"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="DEGREE" nillable="true" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="11"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="MAJOR" nillable="true" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="30"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="IS_HANDICAPPED" nillable="true" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="1"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="HANDICAP_TYPE" nillable="true" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="30"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="IS_VETERAN" nillable="true" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="1"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="VETERAN_TYPE" nillable="true" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="30"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="VISA_CODE" nillable="true" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="20"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="VISA_TYPE" nillable="true" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="30"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="VISA_RENEWAL_DATE" nillable="true" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:dateTime"/>
					</xs:simpleType>
				</xs:element>
				<xs:element name="HAS_VISA" nillable="true" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="1"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="OFFICE_LOCATION" nillable="true" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="30"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="OFFICE_PHONE" nillable="true" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="20"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="SECONDRY_OFFICE_LOCATION" nillable="true" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="30"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="SECONDRY_OFFICE_PHONE" nillable="true" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="20"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="SCHOOL" nillable="true" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="50"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="YEAR_GRADUATED" nillable="true" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="30"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="DIRECTORY_DEPARTMENT" nillable="true" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="30"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="SALUTATION" nillable="true" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="30"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="COUNTRY_OF_CITIZENSHIP" nillable="true" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="30"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="PRIMARY_TITLE" nillable="true" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="51"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="DIRECTORY_TITLE" nillable="true" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="50"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="HOME_UNIT" nillable="true" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="8"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="IS_FACULTY" nillable="true" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="1"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="IS_GRADUATE_STUDENT_STAFF" nillable="true" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="1"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="IS_RESEARCH_STAFF" nillable="true" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="1"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="IS_SERVICE_STAFF" nillable="true" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="1"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="IS_SUPPORT_STAFF" nillable="true" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="1"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="IS_OTHER_ACCADEMIC_GROUP" nillable="true" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="1"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="IS_MEDICAL_STAFF" nillable="true" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="1"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="VACATION_ACCURAL" nillable="true" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="1"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="IS_ON_SABBATICAL" nillable="true" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="1"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="ID_PROVIDED" nillable="true" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="30"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="ID_VERIFIED" nillable="true" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="30"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="UPDATE_TIMESTAMP">
					<xs:simpleType>
						<xs:restriction base="xs:dateTime"/>
					</xs:simpleType>
				</xs:element>
				<xs:element name="UPDATE_USER">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="8"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="ADDRESS_LINE_1" nillable="true" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="80"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="ADDRESS_LINE_2" nillable="true" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="80"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="ADDRESS_LINE_3" nillable="true" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="80"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="CITY" nillable="true" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="30"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="COUNTY" nillable="true" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="30"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="STATE" nillable="true" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="30"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="POSTAL_CODE" nillable="true" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="15"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="COUNTRY_CODE" nillable="true" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="3"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="FAX_NUMBER" nillable="true" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="20"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="PAGER_NUMBER" nillable="true" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="20"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="MOBILE_PHONE_NUMBER" nillable="true" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="20"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="ERA_COMMONS_USER_NAME" nillable="true" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="20"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="SORT_ID" nillable="true" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:decimal">
							<xs:totalDigits value="3"/>
							<xs:fractionDigits value="0"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element ref="propdev:PROP_PER_CUSTOM_DATA" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="propdev:PROP_PERS_YNQ" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="propdev:PROP_PERSON_BIO" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="propdev:PROP_PERSON_DEGREE" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="PROP_PERSON_BIO">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="PROPOSAL_NUMBER">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="8"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="PERSON_ID">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="9"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="BIO_NUMBER">
					<xs:simpleType>
						<xs:restriction base="xs:decimal">
							<xs:totalDigits value="3"/>
							<xs:fractionDigits value="0"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="DESCRIPTION">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="200"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="UPDATE_TIMESTAMP">
					<xs:simpleType>
						<xs:restriction base="xs:dateTime"/>
					</xs:simpleType>
				</xs:element>
				<xs:element name="UPDATE_USER">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="8"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="PROP_PERSON_BIO_PDF">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="PROPOSAL_NUMBER">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="8"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="PERSON_ID">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="9"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="BIO_NUMBER">
					<xs:simpleType>
						<xs:restriction base="xs:decimal">
							<xs:totalDigits value="3"/>
							<xs:fractionDigits value="0"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="BIO_PDF" nillable="true">
					<xs:simpleType>
						<xs:restriction base="xs:base64Binary">
							<xs:maxLength value="2147483647"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="FILE_NAME" nillable="true">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="150"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="UPDATE_TIMESTAMP">
					<xs:simpleType>
						<xs:restriction base="xs:dateTime"/>
					</xs:simpleType>
				</xs:element>
				<xs:element name="UPDATE_USER">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="8"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="PROP_PERSON_BIO_SOURCE">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="PROPOSAL_NUMBER">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="8"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="PERSON_ID">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="9"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="BIO_NUMBER">
					<xs:simpleType>
						<xs:restriction base="xs:decimal">
							<xs:totalDigits value="3"/>
							<xs:fractionDigits value="0"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="BIO_SOURCE" nillable="true">
					<xs:simpleType>
						<xs:restriction base="xs:base64Binary">
							<xs:maxLength value="2147483647"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="SOURCE_EDITOR" nillable="true">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="50"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="FILE_NAME" nillable="true">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="150"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="INPUT_TYPE" nillable="true">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="1"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="PLATFORM_TYPE" nillable="true">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="1"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="UPDATE_TIMESTAMP">
					<xs:simpleType>
						<xs:restriction base="xs:dateTime"/>
					</xs:simpleType>
				</xs:element>
				<xs:element name="UPDATE_USER">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="8"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="PROP_PERSON_DEGREE">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="PROPOSAL_NUMBER">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="8"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="PERSON_ID">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="9"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="DEGREE_CODE">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="6"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="GRADUATION_DATE">
					<xs:simpleType>
						<xs:restriction base="xs:dateTime"/>
					</xs:simpleType>
				</xs:element>
				<xs:element name="DEGREE">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="80"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="FIELD_OF_STUDY" nillable="true" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="80"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="SPECIALIZATION" nillable="true" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="80"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="SCHOOL" nillable="true" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="50"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="SCHOOL_ID_CODE" nillable="true" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="3"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="SCHOOL_ID" nillable="true" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="20"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="UPDATE_TIMESTAMP">
					<xs:simpleType>
						<xs:restriction base="xs:dateTime"/>
					</xs:simpleType>
				</xs:element>
				<xs:element name="UPDATE_USER">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="8"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="PROP_RATES">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="PROPOSAL_NUMBER">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="8"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="VERSION_NUMBER">
					<xs:simpleType>
						<xs:restriction base="xs:decimal">
							<xs:totalDigits value="3"/>
							<xs:fractionDigits value="0"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="RATE_CLASS_CODE">
					<xs:simpleType>
						<xs:restriction base="xs:decimal">
							<xs:totalDigits value="3"/>
							<xs:fractionDigits value="0"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="RATE_TYPE_CODE">
					<xs:simpleType>
						<xs:restriction base="xs:decimal">
							<xs:totalDigits value="3"/>
							<xs:fractionDigits value="0"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="FISCAL_YEAR">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="4"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="ON_OFF_CAMPUS_FLAG">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="1"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="ACTIVITY_TYPE_CODE">
					<xs:simpleType>
						<xs:restriction base="xs:decimal">
							<xs:totalDigits value="3"/>
							<xs:fractionDigits value="0"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="START_DATE">
					<xs:simpleType>
						<xs:restriction base="xs:dateTime"/>
					</xs:simpleType>
				</xs:element>
				<xs:element name="APPLICABLE_RATE">
					<xs:simpleType>
						<xs:restriction base="xs:decimal">
							<xs:totalDigits value="5"/>
							<xs:fractionDigits value="2"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="INSTITUTE_RATE" nillable="true">
					<xs:simpleType>
						<xs:restriction base="xs:decimal">
							<xs:totalDigits value="5"/>
							<xs:fractionDigits value="2"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="UPDATE_TIMESTAMP">
					<xs:simpleType>
						<xs:restriction base="xs:dateTime"/>
					</xs:simpleType>
				</xs:element>
				<xs:element name="UPDATE_USER">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="8"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="PROP_SCIENCE_CODE">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="PROPOSAL_NUMBER" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="8"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="SCIENCE_CODE" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="15"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="PROP_STATUS">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="PROPOSAL_STATUS_CODE">
					<xs:simpleType>
						<xs:restriction base="xs:decimal">
							<xs:totalDigits value="3"/>
							<xs:fractionDigits value="0"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="DESCRIPTION">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="200"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="UPDATE_TIMESTAMP">
					<xs:simpleType>
						<xs:restriction base="xs:dateTime"/>
					</xs:simpleType>
				</xs:element>
				<xs:element name="UPDATE_USER">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="8"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="PROP_UNIT_CREDIT_SPLIT">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="PROPOSAL_NUMBER" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="8"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="PERSON_ID" minOccurs="0"/>
				<xs:element name="UNIT" type="xs:string" minOccurs="0"/>
				<xs:element name="UNIT_NAME" type="xs:string" minOccurs="0"/>
				<xs:element ref="lookuptypes:INV_CREDIT_TYPE" minOccurs="0"/>
				<xs:element name="CREDIT" nillable="true" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:decimal">
							<xs:totalDigits value="5"/>
							<xs:fractionDigits value="2"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="UPDATE_TIMESTAMP" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:dateTime"/>
					</xs:simpleType>
				</xs:element>
				<xs:element name="UPDATE_USER" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="8"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="PRIMARY" type="xs:string" minOccurs="0"/>
				<xs:element name="SECONDARY" type="xs:string" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="PROP_UNITS">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="PROPOSAL_NUMBER" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="8"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element ref="propdev:PROP_PERSON" minOccurs="0"/>
				<xs:element ref="user_unit:UNIT" minOccurs="0"/>
				<xs:element name="LEAD_UNIT_FLAG" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="1"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="UPDATE_TIMESTAMP" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:dateTime"/>
					</xs:simpleType>
				</xs:element>
				<xs:element name="UPDATE_USER" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="8"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="PROP_USER_ROLES">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="PROPOSAL_NUMBER">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="8"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element ref="user_unit:USER"/>
				<xs:element name="ROLE_ID">
					<xs:simpleType>
						<xs:restriction base="xs:decimal">
							<xs:totalDigits value="5"/>
							<xs:fractionDigits value="0"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="UPDATE_TIMESTAMP">
					<xs:simpleType>
						<xs:restriction base="xs:dateTime"/>
					</xs:simpleType>
				</xs:element>
				<xs:element name="UPDATE_USER">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="8"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="PROP_YNQ">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="PROPOSAL_NUMBER" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="8"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="QUESTION_ID" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="4"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="ANSWER" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="1"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="EXPLANATION" nillable="true" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="2147483647"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="REVIEW_DATE" nillable="true" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:dateTime"/>
					</xs:simpleType>
				</xs:element>
				<xs:element name="UPDATE_TIMESTAMP" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:dateTime"/>
					</xs:simpleType>
				</xs:element>
				<xs:element name="UPDATE_USER" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="8"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="PROPOSAL_MASTER">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="PROPOSAL_NUMBER">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="8"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element ref="lookuptypes:PROPOSAL_TYPE" minOccurs="0"/>
				<xs:element name="STATUS" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element ref="lookuptypes:PROPOSAL_STATUS"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element ref="lookuptypes:PROPOSAL_STATUS" minOccurs="0"/>
				<xs:element name="BASE_PROPOSAL_NUMBER" nillable="true" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="8"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="CONTINUED_FROM" nillable="true" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="8"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="PRINCIPAL_INVESTIGATOR_NAME">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="90"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="PRINCIPAL_INVESTIGATOR_ID">
					<xs:simpleType>
						<xs:restriction base="xs:string"/>
					</xs:simpleType>
				</xs:element>
				<xs:element name="TEMPLATE_FLAG" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="1"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element ref="organization:ORGANIZATION" minOccurs="0"/>
				<xs:element name="PERFORMING_ORG" nillable="true" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element ref="organization:ORGANIZATION"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="CURRENT_ACCOUNT_NUMBER" nillable="true" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="7"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="CURRENT_AWARD_NUMBER" nillable="true" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="10"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="TITLE" nillable="true" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="150"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element ref="sponsor:SPONSOR" minOccurs="0"/>
				<xs:element name="SPONSOR_PROPOSAL_NUMBER" nillable="true" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="70"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="INTR_COOP_ACTIVITIES_FLAG" nillable="true" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="1"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="INTR_COUNTRY_LIST" nillable="true" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="150"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="OTHER_AGENCY_FLAG" nillable="true" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="1"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element ref="lookuptypes:NOTICE_OF_OPPORTUNITY" minOccurs="0"/>
				<xs:element name="PROGRAM_ANNOUNCEMENT_NUMBER" nillable="true" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="50"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="PROGRAM_ANNOUNCEMENT_TITLE" nillable="true" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="255"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element ref="lookuptypes:ACTIVITY_TYPE" minOccurs="0"/>
				<xs:element ref="lookuptypes:ANTICIPATED_AWARD_TYPE" minOccurs="0"/>
				<xs:element name="REQUESTED_START_DATE_INITIAL" nillable="true" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:dateTime"/>
					</xs:simpleType>
				</xs:element>
				<xs:element name="REQUESTED_START_DATE_TOTAL" nillable="true" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:dateTime"/>
					</xs:simpleType>
				</xs:element>
				<xs:element name="REQUESTED_END_DATE_INITIAL" nillable="true" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:dateTime"/>
					</xs:simpleType>
				</xs:element>
				<xs:element name="REQUESTED_END_DATE_TOTAL" nillable="true" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:dateTime"/>
					</xs:simpleType>
				</xs:element>
				<xs:element name="DURATION_MONTHS" nillable="true" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:decimal">
							<xs:totalDigits value="3"/>
							<xs:fractionDigits value="0"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="NUMBER_OF_COPIES" nillable="true" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="7"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="DEADLINE_DATE" nillable="true" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:dateTime"/>
					</xs:simpleType>
				</xs:element>
				<xs:element name="DEADLINE_TYPE" nillable="true" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="1"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="MAIL_ADDRESS" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element ref="rolodex:ROLODEX"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="MAIL_BY" nillable="true" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="1"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="MAIL_TYPE" nillable="true" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="3"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="CARRIER_CODE_TYPE" nillable="true" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="3"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="CARRIER_CODE" nillable="true" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="20"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="MAIL_DESCRIPTION" nillable="true" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="80"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="MAIL_ACCOUNT_NUMBER" nillable="true" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="7"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="SUBCONTRACT_FLAG" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="1"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="NARRATIVE_STATUS" nillable="true" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="1"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="BUDGET_STATUS" nillable="true" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="1"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="OWNED_BY_UNIT" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="8"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="CREATE_TIMESTAMP" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:dateTime"/>
					</xs:simpleType>
				</xs:element>
				<xs:element name="CREATE_USER" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="8"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="UPDATE_TIMESTAMP" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:dateTime"/>
					</xs:simpleType>
				</xs:element>
				<xs:element name="UPDATE_USER" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="8"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="NSF_CODE" nillable="true" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="15"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="PRIME_SPONSOR" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element ref="sponsor:SPONSOR"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="CFDA_NUMBER" nillable="true" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="6"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="AGENCY_PROGRAM_CODE" nillable="true" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="50"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="AGENCY_DIVISION_CODE" nillable="true" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="50"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="LEAD_UNIT" type="xs:string" minOccurs="0"/>
				<xs:element ref="propdev:PROP_INVESTIGATORS" minOccurs="0"/>
				<xs:element name="PERIOD" type="xs:string" minOccurs="0"/>
				<xs:element name="SPONSOR_COST" type="xs:string" minOccurs="0"/>
				<xs:element name="COST_SHARING" type="xs:string" minOccurs="0"/>
				<xs:element name="OTHER_COMMENTS" type="xs:string" minOccurs="0"/>
				<xs:element name="COI" type="xs:string" minOccurs="0"/>
				<xs:element name="DEADLINE" type="xs:string" minOccurs="0"/>
				<xs:element name="ADDL_MAILING_INSTR" type="xs:string" minOccurs="0"/>
				<xs:element name="CENTER_INST" type="xs:string" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="PROP_PER_CREDIT_SPLIT">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="PROPOSAL_NUMBER" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="8"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="PERSON_ID" type="xs:string" minOccurs="0"/>
				<xs:element name="PERSON_NAME" type="xs:string" minOccurs="0"/>
				<xs:element ref="lookuptypes:INV_CREDIT_TYPE" minOccurs="0"/>
				<xs:element name="CREDIT" type="xs:string" nillable="true" minOccurs="0"/>
				<xs:element name="UPDATE_TIMESTAMP" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:dateTime"/>
					</xs:simpleType>
				</xs:element>
				<xs:element name="UPDATE_USER" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="8"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element ref="propdev:PROP_UNIT_CREDIT_SPLIT" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="CREDIT_SPLIT_COLUMNS">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="ColumnName1"   type="xs:string" minOccurs="0"/>
				<xs:element name="ColumnName2"   type="xs:string" minOccurs="0"/>
				<xs:element name="ColumnName3"   type="xs:string" minOccurs="0"/>
				<xs:element name="ColumnName4"   type="xs:string" minOccurs="0"/>
				<xs:element name="ColumnName5"   type="xs:string" minOccurs="0"/>
				<xs:element name="ColumnName6"   type="xs:string" minOccurs="0"/>
				<xs:element name="ColumnName7"   type="xs:string" minOccurs="0"/>
				<xs:element name="ColumnName8"   type="xs:string" minOccurs="0"/>
				<xs:element name="ColumnName9"   type="xs:string" minOccurs="0"/>
				<xs:element name="ColumnName10"  type="xs:string" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="PROP_SPECIAL_REVIEW">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="PROPOSAL_NUMBER" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="8"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="SPECIAL_REVIEW_NUMBER" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:decimal">
							<xs:totalDigits value="3"/>
							<xs:fractionDigits value="0"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element ref="lookuptypes:SPECIAL_REVIEW" minOccurs="0"/>
				<xs:element ref="lookuptypes:APPLICABLE_REVIEW_TYPE" minOccurs="0"/>
				<xs:element name="PROTOCOL_NUMBER" nillable="true" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="20"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="APPLICATION_DATE" nillable="true" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:dateTime"/>
					</xs:simpleType>
				</xs:element>
				<xs:element name="APPROVAL_DATE" nillable="true" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:dateTime"/>
					</xs:simpleType>
				</xs:element>
				<xs:element name="COMMENTS" nillable="true" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="2147483647"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="UPDATE_USER" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="8"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="UPDATE_TIMESTAMP" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:dateTime"/>
					</xs:simpleType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
