coeus-impl/src/main/resources/org/kuali/kra/printing/schema/iacuc.xsd

<?xml version="1.0" encoding="utf-8"?>
<!--
   - Kuali Coeus, a comprehensive research administration system for higher education.
   - 
   - Copyright 2005-2016 Kuali, Inc.
   - 
   - This program is free software: you can redistribute it and/or modify
   - it under the terms of the GNU Affero General Public License as
   - published by the Free Software Foundation, either version 3 of the
   - License, or (at your option) any later version.
   - 
   - This program is distributed in the hope that it will be useful,
   - but WITHOUT ANY WARRANTY; without even the implied warranty of
   - MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
   - GNU Affero General Public License for more details.
   - 
   - You should have received a copy of the GNU Affero General Public License
   - along with this program.  If not, see <http://www.gnu.org/licenses/>.
 -->
<!-- Created with Liquid XML Studio 1.0.8.0 (http://www.liquid-technologies.com) -->
<xs:schema xmlns="http://xml.coeus.mit.edu/iacuc"
           attributeFormDefault="unqualified"
           elementFormDefault="qualified"
           targetNamespace="http://xml.coeus.mit.edu/iacuc"
           xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <xs:element name="Committee"        type="CommitteeType" />
    <xs:element name="Correspondence"   type="CorrespondenceType" />
    <xs:element name="Protocol"         type="ProtocolType" />
    <xs:element name="Schedule"         type="ScheduleType" />
    <xs:element name="RenewalReminder"  type="RenewalReminderType" />


    <xs:complexType name="CommitteeType">
        <xs:annotation>
            <xs:documentation>replaced CommitteeMasterData with Committee </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="CommitteeMasterData" type="CommitteeMasterDataType" />
            <xs:element name="CommitteeMember"     type="CommitteeMemberType" minOccurs="0" maxOccurs="unbounded" />
            <xs:element name="ResearchArea"        type="ResearchAreaType"    minOccurs="0" maxOccurs="unbounded"  />
            <xs:element name="Schedule"            type="ScheduleType"        minOccurs="0" maxOccurs="unbounded"  />
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="CommitteeMasterDataType">
        <xs:sequence>
            <xs:element name="CommitteeId"            type="String15Char" />
            <xs:element name="CommitteeName"          type="String60Char" />
            <xs:element name="CommDescription"        type="String2000Char" nillable="true" minOccurs="0" />
            <xs:element name="HomeUnitNumber"         type="String8Char" />
            <xs:element name="HomeUnitName"           type="String60Char" />
            <xs:element name="CommitteeTypeCode"      type="xs:integer" />
            <xs:element name="CommitteeTypeDesc"      type="String200Char" />
            <xs:element name="ScheduleDescription"    type="String2000Char" nillable="true" minOccurs="0" />
            <xs:element name="MinimumMembersRequired" type="xs:integer"     nillable="true" minOccurs="0" />
            <xs:element name="MaxProtocols"           type="xs:integer"     nillable="true" minOccurs="0" />
            <xs:element name="AdvSubmissionDays"      type="xs:integer"     nillable="true" minOccurs="0" />
            <xs:element name="DefaultReviewTypeCode"  type="xs:integer"     nillable="true" minOccurs="0" />
            <xs:element name="DefaultReviewTypeDesc"  type="String200Char"  nillable="true" minOccurs="0"  />
	    <xs:element name="UpdateUser" type="xs:string"></xs:element>
	    <xs:element name="UpdateTimestamp" type="xs:dateTime"></xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="CommitteeMemberType">
        <xs:sequence>
            <xs:element name="Person"              type="PersonType" />
            <xs:element name="TermStart"           type="xs:date" />
            <xs:element name="TermEnd"             type="xs:date" />
            <xs:element name="MemberStatus"        type="xs:string" />
            <xs:element name="MemberStatusStartDt" type="xs:date" />
            <xs:element name="MemberStatusEndDt"   type="xs:date" />
            <xs:element name="MemberType"          type="xs:string" />
            <xs:element name="ResearchArea"        type="ResearchAreaType"        maxOccurs="unbounded"  />
            <xs:element name="PaidMemberFlag"      type="xs:boolean" />
            <xs:element name="CommitteeMemberRole" type="CommitteeMemberRoleType" maxOccurs="unbounded" />
	     <xs:element name="UpdateTimestamp" type="xs:dateTime"></xs:element>
	    <xs:element name="UpdateUser" type="xs:string"></xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="CommitteeMemberRoleType">
        <xs:sequence>
            <xs:element name="MemberRoleCode"    type="xs:integer" />
            <xs:element name="MemberRoleDesc"    type="String200Char" />
            <xs:element name="MemberRoleStartDt" type="xs:date" />
            <xs:element name="MemberRoleEndDt"   type="xs:date" />
        </xs:sequence>
    </xs:complexType>
        <xs:complexType name="CorrespondentType">
        <xs:sequence>
            <xs:element name="Person"                type="PersonType"/>
            <xs:element name="TypeOfCorrespondent"   type="String200Char"  minOccurs="0" />
            <xs:element name="CorrespondentComments" type="String2000Char" minOccurs="0" />
	    <xs:element name="NonEmployeeFlag" type="xs:string"></xs:element>
	    <xs:element name="CorrespondentTypeCode" type="xs:int"></xs:element>
	    <xs:element name="CorrespondentTypeDesc" type="xs:string"></xs:element>
	    <xs:element name="Comments" type="xs:string"></xs:element>
	    <xs:element name="UpdateTimestamp" type="xs:dateTime"></xs:element>
	    <xs:element name="UpdateUser" type="xs:string"></xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="InvestigatorType">
        <xs:sequence>
            <xs:element name="Person"          type="PersonType" />
            <xs:element name="PIFlag"          type="xs:boolean" />
            <xs:element name="AffiliationDesc" type ="String200Char" minOccurs="0" />
            <xs:element name="AffiliationCode" type="xs:integer"     minOccurs="0" />
	     <xs:element name="UpdateUser" type="xs:string"></xs:element>
	     <xs:element name="UpdateTimestamp" type="xs:dateTime"></xs:element>
            <xs:element name="Unit"  minOccurs="0" maxOccurs="unbounded">
                <xs:complexType>
                    <xs:complexContent>
                        <xs:extension base="UnitType">   
                            <xs:sequence>
                                <xs:element name="LeadUnitFlag" type="xs:boolean"/>
                            </xs:sequence>
                        </xs:extension>
                    </xs:complexContent>
                </xs:complexType>
            </xs:element>
	    <xs:element name="TrainingFlag" type="String5Char" /> 
            <!--
            <xs:sequence maxOccurs="unbounded">
                <xs:element name="Unit"          type="UnitType"/>
                <xs:element name="LeadUnit_Flag" type="xs:boolean" />
            </xs:sequence>
            -->
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="KeyStudyPersonType">
        <xs:sequence>
           <xs:element name="Person"      type="PersonType" />
            <xs:element name="Role"        type="String60Char" minOccurs="0" />
	     <xs:element name="AffiliationTypeCode" type="xs:int"></xs:element>
            <xs:element name="Affiliation" type="String200Char" />
	    <xs:element name="TrainingFlag" type="String5Char" />
	    <xs:element name="UpdateTimestamp" type="xs:dateTime"></xs:element>
	    <xs:element name="UpdateUser" type="xs:string"></xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="PersonType">
        <xs:sequence>
            <xs:element name="PersonID"                type="String9Char"  minOccurs="0" />
            <xs:element name="LastName"                type="String30Char" nillable="true" />
            <xs:element name="Middlename"              type="String30Char" nillable="true" minOccurs="0" />
            <xs:element name="Salutation"              type="String30Char" nillable="true" minOccurs="0" />
            <xs:element name="Firstname"               type="String30Char" nillable="true" minOccurs="0" />
            <xs:element name="Fullname"                type="String90Char" nillable="true" />
            <xs:element name="Email"                   type="String60Char" nillable="true" minOccurs="0" />
            <xs:element name="Degree"                  type="String11Char" nillable="true" minOccurs="0" />
            <xs:element name="OfficeLocation"          type="String30Char" nillable="true" minOccurs="0" />
            <xs:element name="OfficePhone"             type="String20Char" nillable="true" minOccurs="0" />
            <xs:element name="School"                  type="String50Char" nillable="true" minOccurs="0" />
            <xs:element name="YearGraduated"           type="String30Char" nillable="true" minOccurs="0" />
            <xs:element name="Department_Organization" type="String80Char" nillable="true" minOccurs="0" >
                <xs:annotation>
                    <xs:documentation>
                        Department in case of a Person (Employee)
                        Organization in case of Rolodex (Non Employee)
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Citizenship"             type="String30Char" nillable="true" minOccurs="0" />
            <xs:element name="PrimaryTitle"            type="String51Char" nillable="true" minOccurs="0" />
            <xs:element name="DirectoryTitle"          type="String50Char" nillable="true" minOccurs="0" />
            <xs:element name="HomeUnit"                type="UnitType"     minOccurs="0" />
            <xs:element name="FacultyFlag"             type="xs:boolean"   nillable="true" />
            <xs:element name="EmployeeFlag"            type="xs:boolean" />
            <xs:element name="AddressLine1"            type="String80Char" nillable="true" minOccurs="0" />
            <xs:element name="AddressLine2"            type="String80Char" nillable="true" minOccurs="0" />
            <xs:element name="AddressLine3"            type="String80Char" nillable="true" minOccurs="0" />
            <xs:element name="City"                    type="String30Char" nillable="true" minOccurs="0" />
            <xs:element name="County"		       type="String30Char" nillable="true" minOccurs="0" />
            <xs:element name="Country"                 type="String40Char" nillable="true" minOccurs="0" />
            <xs:element name="State"                   type="String30Char" nillable="true" minOccurs="0" />
            <xs:element name="PostalCode"              type="String15Char" nillable="true" minOccurs="0" />
            <xs:element name="CountryCode"             type="String3Char"  nillable="true" minOccurs="0" />
            <xs:element name="FaxNumber"               type="String20Char" nillable="true" minOccurs="0" />
            <xs:element name="PagerNumber"             type="String20Char" nillable="true" minOccurs="0" />
            <xs:element name="MobilePhoneNumber"       type="String20Char" nillable="true" minOccurs="0" />

        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="ProtocolType">
        <xs:sequence>
            <xs:element name="ProtocolMasterData" type="ProtocolMasterDataType"/>
            <xs:element name="Investigator"       type="InvestigatorType"       maxOccurs="unbounded"  />
            <xs:element name="KeyStudyPerson"     type="KeyStudyPersonType"     minOccurs="0" maxOccurs="unbounded"  />
            <xs:element name="Correspondent"      type="CorrespondentType"      minOccurs="0" maxOccurs="unbounded" />
            <xs:element name="ResearchArea"       type="ResearchAreaType"       maxOccurs="unbounded"  />
            <xs:element name="FundingSource"      type="FundingSourceType"      minOccurs="0" maxOccurs="unbounded" />
            <xs:element name="SpecialReview"      type="SpecialReviewType"      minOccurs="0" maxOccurs="unbounded" />
            <xs:element name="Species"            type="SpeciesType"            minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="Principles"         type="PrinciplesType"         minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="AlternateDbSearch"  type="AlternateDbSearchType"  minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="StudyGroup"         type="StudyGroupType"         minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="RiskLevel"         type="RiskLevelType"         minOccurs="0" maxOccurs="unbounded"/>

	    <xs:element name="Actions"  type="ProtocolActionsType"   minOccurs="0" maxOccurs="unbounded"></xs:element>
	    <xs:element name="OthersData"  type="OtherDataType"  minOccurs="0" maxOccurs="unbounded"></xs:element>
	    <xs:element name="Documents"   type="DocumentType"  minOccurs="0" maxOccurs="unbounded"> </xs:element>
	    <xs:element name="Organization"  type="LocationType"  maxOccurs="unbounded" minOccurs="0"></xs:element>
	    <xs:element name="Notes"   type="NotesType"  minOccurs="0" maxOccurs="unbounded"></xs:element>
	    <xs:element name="References" type="ReferencesType" minOccurs="0" maxOccurs="unbounded"></xs:element>
	    <xs:element name="UserRoles" type="RolesType" minOccurs="0" maxOccurs="unbounded"></xs:element>
	    <xs:element name="AmenRenewal" type="AmendRenewalType" maxOccurs="unbounded" minOccurs="0"></xs:element>
	    <xs:element name="AmendRenewSummary" type="AmendRenewSummaryType" minOccurs="0" maxOccurs="unbounded"></xs:element>
            <xs:element name="ProtoCorresp"  type="ProtoCorrespType" minOccurs="0" maxOccurs="unbounded"></xs:element>
	    <xs:element name="PrintRequirement"  type="PrintRequirementType" minOccurs="0" maxOccurs="unbounded"></xs:element>
	    <xs:element name="SchoolInfo"	type="SchoolInfoType" /> 
            <xs:element name="Submissions"        minOccurs="0" maxOccurs="unbounded" >
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="SubmissionDetails"     type="SubmissionDetailsType"/>
                        <xs:element name="CommitteeMasterData"   type="CommitteeMasterDataType" minOccurs="0" />
                        <xs:element name="CommitteeMember"       type="CommitteeMemberType"     minOccurs="0" maxOccurs="unbounded" />
                        <xs:element name="Minutes"               type="MinuteType"              minOccurs="0" maxOccurs="unbounded" />
                        <xs:element name="ScheduleMasterData"    type="ScheduleMasterDataType"  minOccurs="0"/>
                        <xs:element name="PrevSchedule"          type="ScheduleSummaryType"     minOccurs="0" />
                        <xs:element name="NextSchedule"          type="ScheduleSummaryType"     minOccurs="0" />
                        <xs:element name="CurrentSubmissionFlag" type="xs:string" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="ProtocolSubmissionType">
        <xs:sequence>
            <xs:element name="ProtocolSummary"   type="ProtocolSummaryType" />
            <xs:element name="SubmissionDetails" type="SubmissionDetailsType"/>
            <xs:element name="Minutes"           type="MinuteType" minOccurs="0" maxOccurs="unbounded" />
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="ProtocolMasterDataType">
        <xs:sequence>
            <xs:element name="ProtocolNumber"			type="String20Char" />
            <xs:element name="SequenceNumber"			type="xs:integer" />
            <xs:element name="ProtocolTypeCode"			type="xs:integer" />
            <xs:element name="ProtocolTypeDesc"			type="String200Char" />
            <xs:element name="ProjectTypeCode"			type="xs:integer" />
            <xs:element name="ProjectTypeDesc"			type="String200Char" />
            <xs:element name="ProtocolStatusCode"		type="xs:integer" />
            <xs:element name="ProtocolStatusDesc"		type="String200Char" />
            <xs:element name="ProtocolTitle"			type="String2000Char" />
            <xs:element name="ProtocolDescription"		type="String2000Char" nillable="true" minOccurs="0" />
            <xs:element name="ApplicationDate"			type="xs:date" />
            <xs:element name="ApprovalDate"			type="xs:date"        nillable="true" minOccurs="0" />
            <xs:element name="LastApprovalDate"			type="xs:date"        nillable="true" minOccurs="0" />            
            <xs:element name="ExpirationDate"			type="xs:date"        nillable="true" minOccurs="0" />
            <xs:element name="BillableFlag"			type="xs:boolean"     minOccurs="0" />
            <xs:element name="FdaApplicationNumber"		type="String15Char"   nillable="true" minOccurs="0" />
            <xs:element name="RefNumber1"			type="String50Char"   nillable="true" minOccurs="0" />
            <xs:element name="RefNumber2"			type="String50Char"   nillable="true" minOccurs="0" />
            <xs:element name="LayStatement1"			type="String2000Char" nillable="true" minOccurs="0" />
            <xs:element name="LayStatement2"			type="String2000Char" nillable="true" minOccurs="0" />
	    <xs:element name="PrincipleInvestigatorName"	type="String90Char" />
            <xs:element name="OverviewTimeline"			type="String2000Char" nillable="true" minOccurs="0" />
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="ProtocolSummaryType">
        <xs:sequence>
            <xs:element name="ProtocolMasterData" type="ProtocolMasterDataType"/>
            <xs:element name="Investigator"       type="InvestigatorType"  maxOccurs="unbounded" />
            <xs:element name="FundingSource"      type="FundingSourceType" minOccurs="0" maxOccurs="unbounded" />
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="ResearchAreaType">
        <xs:sequence>
            <xs:element name="ResearchAreaCode"        type="String8Char" />
            <xs:element name="ResearchAreaDescription" type="String200Char" />
	     <xs:element name="UpdateTimestamp" type="xs:dateTime"></xs:element>
	    <xs:element name="UpdateUser" type="xs:string"></xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="NextScheduleDateType">
        <xs:sequence>
            <xs:element name="ScheduleNumber" type="xs:int" />
            <xs:element name="ScheduleDate"   type="xs:date" />
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="ScheduleType">
        <xs:sequence>
            <xs:element name="ScheduleMasterData" type="ScheduleMasterDataType" />
            <xs:element name="ProtocolSubmission" type="ProtocolSubmissionType" minOccurs="0" maxOccurs="unbounded" />
            <xs:element name="OtherBusiness"      minOccurs="0" maxOccurs="unbounded" >
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="ActionItemNumber"   type="xs:integer" />
                        <xs:element name="ActionItemCode"     type="xs:integer" />
                        <xs:element name="ActionItemCodeDesc" type="String200Char" />
                        <xs:element name="ActionItemDesc"     type="String2000Char" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="Minutes"    type="MinuteType" minOccurs="0" maxOccurs="unbounded" />
            <xs:element name="Attendents" minOccurs="0" maxOccurs="unbounded" >
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="AttendentName" type="xs:string" />
                        <xs:element name="GuestFlag"     type="xs:boolean" />
                        <xs:element name="AlternateFlag" type="xs:boolean" />
                        <xs:element name="AlternateFor"  type="xs:string" minOccurs="0" />
                        <xs:element name="PresentFlag"   type="xs:boolean" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="NextSchedule"     type="ScheduleSummaryType" minOccurs="0" />
            <xs:element name="PreviousSchedule" type="ScheduleSummaryType"  minOccurs="0" />
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="ScheduleSummaryType">
        <xs:sequence>
            <xs:element name="ScheduleMasterData" type="ScheduleMasterDataType" />
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="ScheduleMasterDataType">
        <xs:sequence>
            <xs:element name="ScheduleId"          type="String10Char" />
            <xs:element name="CommitteeId"         type="String15Char"  nillable="true" />
            <xs:element name="CommitteeName"       type="String60Char" />
            <xs:element name="ScheduleStatusCode"  type="xs:integer" />
            <xs:element name="ScheduleStatusDesc"  type="String200Char" />
            <xs:element name="ScheduledDate"       type="xs:date" />
            <xs:element name="ScheduledTime"       type="xs:time"        minOccurs="0" />
            <xs:element name="Place"               type="String200Char"  nillable="true" minOccurs="0" />
            <xs:element name="ProtocolSubDeadline" type="xs:date"        minOccurs="0" />
            <xs:element name="MeetingDate"         type="xs:date"        nillable="true" minOccurs="0" />
            <xs:element name="StartTime"           type="xs:time"        nillable="true" minOccurs="0" />
            <xs:element name="EndTime"             type="xs:time"        nillable="true" minOccurs="0" />
            <xs:element name="AgendaProdRevDate"   type="xs:date"        nillable="true" minOccurs="0" />
            <xs:element name="MaxProtocols"        type="xs:integer"     nillable="true" minOccurs="0" />
            <xs:element name="Comments"            type="String2000Char" nillable="true" minOccurs="0" />
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="SpecialReviewType">
        <xs:sequence>
            <xs:element name="SpecialReviewNumber"           type="xs:integer" />
            <xs:element name="SpecialReviewTypeCode"         type="xs:integer" />
            <xs:element name="SpecialReviewTypeDesc"         type="String200Char" />
            <xs:element name="SpecialReviewApprovalTypeCode" type="xs:integer" />
            <xs:element name="SpecialReviewApprovalTypeDesc" type="String200Char" />
            <xs:element name="SpecialReviewProtocolNumber"   type="String20Char" minOccurs="0" />
            <xs:element name="SpecialReviewApplicationDate"  type="xs:date"      minOccurs="0" />
            <xs:element name="SpecialReviewApprovalDate"     type="xs:date"      minOccurs="0" />
            <xs:element name="SpecialReviewComments"         type="xs:string"    minOccurs="0" />
	    <xs:element name="UpdateUser" type="xs:string"></xs:element>
	    <xs:element name="UpdateTimestamp" type="xs:dateTime"></xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="SubmissionDetailsType">
        <xs:sequence>
            <xs:element name="ProtocolNumber"              type="String20Char" />
            <xs:element name="SubmissionNumber"            type="xs:integer" />
            <xs:element name="SubmissionTypeCode"          type="xs:integer" />
            <xs:element name="SubmissionTypeDesc"          type="String200Char"/>
            <xs:element name="SubmissionTypeQualifierCode" type="xs:integer"            minOccurs="0" />
            <xs:element name="SubmissionTypeQualifierDesc" type="String200Char"         minOccurs="0" />
            <xs:element name="ProtocolReviewTypeCode"      type="xs:integer" />
            <xs:element name="ProtocolReviewTypeDesc"      type="String200Char" />
            <xs:element name="SubmissionStatusCode"        type="xs:integer" />
            <xs:element name="SubmissionStatusDesc"        type="xs:string" />
            <xs:element name="SubmissionDate"              type="xs:date" />
            <xs:element name="SubmissionComments"          type="String2000Char"        minOccurs="0" />
            <xs:element name="YesVote"                     type="xs:integer"            minOccurs="0" />
            <xs:element name="NoVote"                      type="xs:integer"            minOccurs="0" />
            <xs:element name="AbstainerCount"              type="xs:integer"            minOccurs="0" />
            <xs:element name="VotingComments"              type="String2000Char"        minOccurs="0" />
            <xs:element name="ProtocolReviewer"            type="ProtocolReviewerType"  minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="SubmissionChecklistInfo"     minOccurs="0" >
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="ChecklistCodesFormatted"  type="xs:string" />
                        <xs:element name="Checklists"               maxOccurs="unbounded" >
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="ChecklistCode"        type="xs:string" />
                                    <xs:element name="ChecklistDescription" type="xs:string" />
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element minOccurs="0" name="ActionType">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="ActionId"              type="xs:integer" />
                        <xs:element name="ActionTypeCode"        type="xs:integer" />
                        <xs:element name="ActionTypeDescription" type="xs:string" />
                        <xs:element name="ActionDate"            type="xs:date" />
                        <xs:element name="ActionComments"        type="xs:string" minOccurs="0" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="UnitType">
        <xs:sequence>
            <xs:element name="UnitNumber" type="String8Char" />
            <xs:element name="UnitName"   type="String60Char" />
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="MinuteType">
        <xs:sequence>
            <xs:element name="ScheduleId"               type="String10Char" />
            <xs:element name="EntryNumber"              type="xs:integer" />
            <xs:element name="EntryTypeCode"            type="xs:integer" />
            <xs:element name="EntryTypeDesc"            type="xs:string" />
            <xs:element name="EntrySortCode"            type="xs:integer"   minOccurs="0" />
            <xs:element name="ProtocolNumber"           type="String20Char" minOccurs="0" />
            <xs:element name="PrivateCommentFlag"       type="xs:boolean" />
            <xs:element name="ProtocolContingencyCode"  type="String4Char"  minOccurs="0"  />
            <xs:element name="MinuteEntry"              type="xs:string" />
	     <xs:element name="UpdateUser"               type="xs:string"    nillable="true" />
            <xs:element name="UpdateTimestamp"          type="xs:date"      nillable="true"  />
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="CorrespondenceType">
        <xs:sequence>
            <xs:element name="Protocol"    type="ProtocolType" />
            <xs:element name="CurrentUser" type="xs:string" minOccurs="0" />
            <xs:element name="CurrentDate" type="xs:date"   minOccurs="0" />
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="ProtocolReviewerType">
        <xs:sequence>
            <xs:element name="Person"           type="PersonType"/>
            <xs:element name="ReviewerTypeDesc" type="xs:string" />
            <xs:element name="ReviewerTypeCode" type="xs:integer" />
	     <xs:element name="UpdateUser" type="xs:string"></xs:element>
	    <xs:element name="UpdateTimestamp" type="xs:dateTime"></xs:element>

        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="RenewalReminderType">
        <xs:sequence>
            <xs:element name="CommitteeMasterData"  type="CommitteeMasterDataType"/>
            <xs:element name="Protocol"             type="ProtocolType" />
            <xs:element name="NextScheduleDate"     type="NextScheduleDateType" minOccurs="0" maxOccurs="5" />
            <xs:element name="CurrentUser"          type="xs:string"            minOccurs="0" />
            <xs:element name="CurrentDate"          type="xs:date"              minOccurs="0" />
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="FundingSourceType">
        <xs:sequence>
            <xs:element name="TypeOfFundingSource" type="String200Char" />
            <xs:element name="FundingSourceName"   type="String200Char" />
	    <xs:element name="Title" type="String200Char" />
	    <xs:element name="FundingSource" type="String200Char" />
	    <xs:element name="UpdateUser" type="xs:string"></xs:element>
	    <xs:element name="UpdateTimestamp" type="xs:dateTime"></xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="SpeciesType">
        <xs:sequence>
            <xs:element name="SpeciesCode"    type="xs:int"/>
            <xs:element name="SpeciesDesc"    type="xs:string"/>
            <xs:element name="SpeciesId"      type="xs:integer"/>
            <xs:element name="SpeciesGroup"   type="xs:string"/>
            <xs:element name="IsUsdaCovered"  type="String5Char"/>
            <xs:element name="Strain"         type="String30Char"/>
            <xs:element name="SpeciesCount"   type="xs:int"/>
            <xs:element name="CountTypeCode"  type="xs:int" minOccurs="0"/>
	    <xs:element name="CountTypeDesc"  type="String200Char"/>
            <xs:element name="PainCategoryCode" type="xs:int"  minOccurs="0"/>
            <xs:element name="PainCategoryDesc" type="String200Char"/>
       	    <xs:element name="ExceptionPresent"	type="String5Char"/>
            <xs:element name="Exception"        type="ExceptionType"   minOccurs="0" maxOccurs="unbounded"/>
	    <xs:element name="UpdateUser"	type="xs:string"/>
	    <xs:element name="UpdateTimestamp"  type="xs:dateTime"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="ExceptionType">
        <xs:sequence>
            <xs:element name="SpeciesId"		type="xs:integer"/>
            <xs:element name="ExceptionCategoryCode"    type="xs:int"/>
            <xs:element name="ExceptionCategoryDesc"    type="xs:string"/>
            <xs:element name="ExceptionId"              type="xs:integer"/>
            <xs:element name="Description"              type="xs:string"/>
	     <xs:element name="UpdateUser"		type="xs:string"/>
	    <xs:element name="UpdateTimestamp"		type="xs:dateTime"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="PrinciplesType">
        <xs:sequence>
            <xs:element name="ReductionPrinciple"   type="xs:string"/>
            <xs:element name="RefinementPrinciple"  type="xs:string"/>
            <xs:element name="ReplacementPrinciple" type="xs:string"/>

	    <xs:element name="UpdateUser"	    type="xs:string"/>
	    <xs:element name="UpdateTimestamp"      type="xs:dateTime"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="AlternateDbSearchType">
        <xs:sequence>
	    <xs:element name="SearchDate"       type="xs:dateTime"/>
            <xs:element name="DatbaseId"        type="xs:int"/>
            <xs:element name="DatabasDesc"      type="xs:string"/>
            <xs:element name="SearchId"         type="xs:int"/>
            <xs:element name="YearsSearched"    type="xs:string"/>
            <xs:element name="KeywordsSearched" type="xs:string"/>
            <xs:element name="Comments"         type="xs:string"/>
	    <xs:element name="UpdateUser"	type="xs:string"/>
	    <xs:element name="UpdateTimestamp"	type="xs:dateTime"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="StudyGroupType">
        <xs:sequence>
            <xs:element name="StudyGroupId"          type="xs:int"/>
            <xs:element name="SpeciesCode"           type="xs:int"/>
            <xs:element name="SpeciesDesc"           type="xs:string"/>
            <xs:element name="SpeciesGroup"          type="xs:string"/>
            <xs:element name="ProcedureCode"         type="xs:int"/>
            <xs:element name="ProcedureDesc"         type="xs:string"/>
            <xs:element name="ProcedureCategoryCode" type="xs:int"/>
            <xs:element name="ProcedureCategoryDesc" type="xs:string"/>
            <xs:element name="PainCategoryCode"      type="xs:int"/>
	    <xs:element name="PainCategoryDesc"      type="String200Char"/>
            <xs:element name="Count"                 type="xs:int"/>
	    <xs:element name="UpdateUser"	     type="xs:string"/>
	    <xs:element name="UpdateTimestamp"	     type="xs:dateTime"/>
            <xs:element name="Location"              type="StudyGroupLocationType"   minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="CustomData"            type="StudyGroupCustomDataType" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="PersonResponsible"     type="PersonResponsibleType" minOccurs="0" maxOccurs="unbounded"/>
	    
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="StudyGroupLocationType">
        <xs:sequence>
            <xs:element name="StudyGroupLocationId" type="xs:int"/>
            <xs:element name="LocationId"           type="xs:int"/>
            <xs:element name="LocationName"         type="xs:string"/>
            <xs:element name="LocationTypeCode"     type="xs:int"/>
            <xs:element name="LocationTypeDesc"     type="xs:string"/>
            <xs:element name="Description"          type="xs:string"/>
            <xs:element name="LocationRoom"         type="xs:string"/>
	    <xs:element name="UpdateUser" type="xs:string"></xs:element>
	    <xs:element name="UpdateTimestamp" type="xs:dateTime"></xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="PersonResponsibleType">
        <xs:sequence>
            <xs:element name="InvestigatorKeyPerson" type="xs:string"/>
            <xs:element name="PersonTrainedFlag"     type="xs:string"/>
	    <xs:element name="UpdateUser"	     type="xs:string"/>
	    <xs:element name="UpdateTimestamp"	     type="xs:dateTime"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="StudyGroupCustomDataType">
        <xs:sequence>
            <xs:element name="ColumnName"  type="xs:string"/>
            <xs:element name="ColumnValue" type="xs:string"/>
	    <xs:element name="UpdateUser" type="xs:string"></xs:element>
	    <xs:element name="UpdateTimestamp" type="xs:dateTime"></xs:element>
        </xs:sequence>
    </xs:complexType>
    
    <xs:complexType name="RiskLevelType">
		<xs:sequence>
			<xs:element name="ProtocolNumber" type="xs:string"></xs:element>
			<xs:element name="SequenceNumber" type="xs:int"></xs:element>
			<xs:element name="RiskLevelCode" type="xs:int"></xs:element>
			<xs:element name="RiskLevelDesc" type="xs:string"></xs:element>
			<xs:element name="Comments" type="xs:string"></xs:element>
			<xs:element name="DateAssigned" type="xs:date"></xs:element>
			<xs:element name="DateUpdated" type="xs:date"></xs:element>
			<xs:element name="Status" type="xs:string"></xs:element>
			<xs:element name="UpdateUser" type="xs:string"></xs:element>
		</xs:sequence>
	</xs:complexType>


    <!-- modifications start-->

              <xs:complexType name="PrintRequirementType">
				<xs:sequence>
					<xs:element name="SignatureRequired"  type="xs:string" minOccurs="0" />
					<xs:element name="ProtocolDetailsRequired" type="xs:string" minOccurs="0" />
					<xs:element name="OrganizationRequired" type="xs:string" minOccurs="0" />
					<xs:element name="InvestigatorsRequired" type="xs:string" minOccurs="0" />
					<xs:element name="KeyPersonsRequired" type="xs:string" minOccurs="0" />
					<xs:element name="CorrespondentsRequired" type="xs:string" minOccurs="0" />
					<xs:element name="ResearchAreasRequired" type="xs:string" minOccurs="0" />
					<xs:element name="FundingSourcesRequired" type="xs:string" minOccurs="0" />
					<xs:element name="ActionsRequired" type="xs:string" minOccurs="0" />
					<xs:element name="DocumentsRequired" type="xs:string" minOccurs="0" />
					<xs:element name="SpecialReviewRequired" type="xs:string" minOccurs="0" />
					<xs:element name="NotesRequired" type="xs:string" minOccurs="0" />
					<xs:element name="AmendRenewModulesRequired" type="xs:string" minOccurs="0" />
					<xs:element name="AmendRenewSRequired" type="xs:string" minOccurs="0" />
					<xs:element name="UserRolesRequired" type="xs:string" minOccurs="0" />
					<xs:element name="ReferencesRequired" type="xs:string" minOccurs="0" />					
					<xs:element name="QuestionnaireDetailsRequired" type="xs:string" minOccurs="0" />
					<xs:element name="OtherDataRequired" type="xs:string" minOccurs="0" />

					<xs:element name="SpeciesGroupRequired" type="xs:string" minOccurs="0" />
					<xs:element name="ProceduresRequired" type="xs:string" minOccurs="0" />
					<xs:element name="AlternativeSearchesRequired" type="xs:string" minOccurs="0" />					
					<xs:element name="PrinciplesRequired" type="xs:string" minOccurs="0" />
					<xs:element name="ExceptionsRequired" type="xs:string" minOccurs="0" />
					<xs:element name="RiskLevelsRequired" type="xs:string" minOccurs="0" />

					<xs:element name="CurrentDate" type="xs:date" minOccurs="0" />
				</xs:sequence>
	</xs:complexType>


	<xs:complexType name="ProtocolActionsType">
		<xs:sequence>
			<xs:element name="ActionId" type="xs:int"></xs:element>
			<xs:element name="ActionTypeCode" type="xs:int"></xs:element>
			<xs:element name="ActionTypeDesc" type="xs:string"></xs:element>
			<xs:element name="SubmissionNumber" type="xs:int"></xs:element>
			<xs:element name="Comments" type="xs:string"></xs:element>
			<xs:element name="UpdateUser" type="xs:string"></xs:element>
			<xs:element name="UpdateTimestamp" type="xs:dateTime"></xs:element>
			<xs:element name="ActionDate" type="xs:date"></xs:element>
			<xs:element name="Actions" type="ActionType" minOccurs="0" maxOccurs="unbounded"></xs:element>
			<xs:element name="ApprovalDate" type="xs:date"></xs:element>			
			</xs:sequence>
	</xs:complexType>

	<xs:complexType name="ActionType">
		<xs:sequence>
			<xs:element name="ActionTypeCode" type="xs:int"></xs:element>
			<xs:element name="Description" type="xs:string"></xs:element>
			<xs:element name="TriggerSubmission" type="xs:string"></xs:element>
			<xs:element name="TriggerCorrespondence" type="xs:string"></xs:element>
			<xs:element name="UpdateTimestamp" type="xs:dateTime"></xs:element>
			<xs:element name="UpdateUser" type="xs:string"></xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="ContingencyType">
		<xs:sequence>
			<xs:element name="ContingencyCode" type="xs:string"></xs:element>
			<xs:element name="Description" type="xs:string"></xs:element>
			<xs:element name="UpdateTimeStamp" type="xs:dateTime"></xs:element>
			<xs:element name="UpdateUser" type="xs:string"></xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="OtherDataType">
		<xs:sequence>
			<xs:element name="ColumnName" type="xs:string"></xs:element>
			<xs:element name="ColumnValue" type="xs:string"></xs:element>
			<xs:element name="UpdateTimestamp" type="xs:dateTime"></xs:element>
			<xs:element name="UpdateUser" type="xs:string"></xs:element>
		</xs:sequence>
	</xs:complexType>


    <xs:complexType name="DocumentType">
		<xs:sequence>
			<xs:element name="DocumentId" type="xs:int"></xs:element>
			<xs:element name="DocumentTypeCode" type="xs:int"></xs:element>
			<xs:element name="DocumentTypeDesc" type="xs:string"></xs:element>
			<xs:element name="DocumentStatusCode" type="xs:int"></xs:element>
			<xs:element name="Description" type="xs:string"></xs:element>
			<xs:element name="FileName" type="xs:string"></xs:element>
			<xs:element name="VersionNumber" type="xs:int" minOccurs="0"></xs:element>
			<xs:element name="DocumentTypeGroup" type="xs:string" minOccurs="0"></xs:element>
			<xs:element name="UpdateTimestamp" type="xs:dateTime"></xs:element>
			<xs:element name="UpdateUser" type="xs:string"></xs:element>
		</xs:sequence>
	</xs:complexType>


	<xs:complexType name="LocationType">
		<xs:sequence>
			<xs:element name="OrgTypeCode" type="xs:int"></xs:element>
			<xs:element name="OrgTypeDesc" type="xs:string"></xs:element>
			<xs:element name="OrganizationId" type="xs:string"></xs:element>
			<xs:element name="RolodexId" type="xs:int"></xs:element>
			<xs:element name="Address" type="xs:string"></xs:element>
			<xs:element name="OrgName" type="xs:string"></xs:element>			
			<xs:element name="AnimalWelfareAssurance" type="String20Char"></xs:element>
			<xs:element name="UpdateTimestamp" type="xs:dateTime"></xs:element>
			<xs:element name="UpdateUser" type="xs:string"></xs:element>
		</xs:sequence>
	</xs:complexType>


	<xs:complexType name="NotesType">
		<xs:sequence>
			<xs:element name="EntryNumber" type="xs:int"></xs:element>
			<xs:element name="Comments" type="xs:string"></xs:element>
			<xs:element name="RestrictedView" type="xs:string"></xs:element>
			<xs:element name="UpdateTimestamp" type="xs:dateTime"></xs:element>
			<xs:element name="UpdateUser" type="xs:string"></xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="ReferencesType">
		<xs:sequence>
			<xs:element name="ReferenceNumber" type="xs:int"></xs:element>
			<xs:element name="ReferenceTypeCode" type="xs:int"></xs:element>
			<xs:element name="ReferenceTypeDesc" type="xs:string"></xs:element>
			<xs:element name="ReferenceKey" type="xs:string"></xs:element>
			<xs:element name="ApplicationDate" type="xs:date"></xs:element>
			<xs:element name="ApprovalDate" type="xs:date"></xs:element>
			<xs:element name="Comments" type="xs:string"></xs:element>
			<xs:element name="UpdateTimestamp" type="xs:dateTime"></xs:element>
			<xs:element name="UpdateUser" type="xs:string"></xs:element>			
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="RolesType">
		<xs:sequence>			
			<xs:element name="RoleId" type="xs:int"></xs:element>
			<xs:element name="RoleName" type="xs:string"></xs:element>
			<xs:element name="UserRoles" type="UserRolesType" minOccurs="0" maxOccurs="unbounded"></xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="UserRolesType">
		<xs:sequence>
			<xs:element name="RoleId" type="xs:int"></xs:element>
			<xs:element name="RoleDesc" type="xs:string"></xs:element>
			<xs:element name="UserId" type="xs:string"></xs:element>
			<xs:element name="UnitNumber" type="xs:string"></xs:element>
			<xs:element name="UnitName" type="xs:string"></xs:element>
			<xs:element name="PersonId" type="xs:string"></xs:element>
			<xs:element name="PersonName" type="xs:string"></xs:element>
			<xs:element name="UserName" type="xs:string"></xs:element>
			<xs:element name="UpdateTimestamp" type="xs:dateTime"></xs:element>
			<xs:element name="UpdateUser" type="xs:string"></xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="AmendRenewalType">
		<xs:sequence>
			<xs:element name="AmendRenNumber" type="xs:string"></xs:element>
			<xs:element name="DateCreated" type="xs:date"></xs:element>
			<xs:element name="Summary" type="String4000Char"></xs:element>
			<xs:element name="AmendmentType" type="xs:string"></xs:element>
			<xs:element name="ProtocolStatusCode" type="xs:int"></xs:element>
			<xs:element name="ProtocolStatusDesc" type="xs:string"></xs:element>
			<xs:element name="Version" type="xs:string"></xs:element>
			<xs:element name="ModuleCode" type="xs:string"></xs:element>
			<xs:element name="ModuleDescription" type="xs:string"></xs:element>
			<xs:element name="UpdateTimestamp" type="xs:dateTime"></xs:element>
			<xs:element name="UpdateUser" type="xs:string"></xs:element>
			
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="AmendRenewSummaryType">
		<xs:sequence>
			<xs:element name="ProtoAmendRenewalNumber" type="xs:string"></xs:element>
			<xs:element name="Summary" type="String4000Char"></xs:element> 
			<xs:element name="UpdateTimestamp" type="xs:dateTime"></xs:element>
			<xs:element name="UpdateUser" type="xs:string"></xs:element>	
			<xs:element name="ProtocolModules" type="ProtocolModuleType" minOccurs="0" maxOccurs="unbounded"></xs:element>
		</xs:sequence>
	</xs:complexType>
 
	<xs:complexType name="ProtocolModuleType">
		<xs:sequence>
			<xs:element name="ProtocolModuleCode" type="xs:string"></xs:element>
			<xs:element name="ProtocolModuleDesc" type="xs:string"></xs:element>
			<xs:element name="UpdateTimestamp" type="xs:dateTime"></xs:element>
			<xs:element name="UpdateUser" type="xs:string"></xs:element>	
		</xs:sequence>
	</xs:complexType>


	<xs:complexType name="ProtoCorrespType">
		<xs:sequence>
			<xs:element name="ProtoCorrespTypeCode" type="xs:int"></xs:element>
			<xs:element name="Description" type="xs:string"></xs:element>
			<xs:element name="ModuleId" type="xs:string"></xs:element>
			<xs:element name="UpdateUser" type="xs:string"></xs:element>
			<xs:element name="UpdateTimestamp" type="xs:dateTime"></xs:element>
			<xs:element name="CorrespondenceDefRecip" type="CorrespondenceDefRecipType" minOccurs="0" maxOccurs="unbounded"></xs:element>
			<xs:element name="CorrespondenceRecipients" type="CorrespondenceRecipientsType" minOccurs="0" maxOccurs="unbounded"></xs:element>
		</xs:sequence>
	</xs:complexType>

     <xs:complexType name="CorrespondenceDefRecipType">
		<xs:sequence>
			<xs:element name="CorrespTypeCode" type="xs:int"></xs:element>
			<xs:element name="CorrespondentTypeCode" type="xs:int"></xs:element>
			<xs:element name="UpdateTimestamp" type="xs:dateTime"></xs:element>
			<xs:element name="UpdateUser" type="xs:string"></xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="CorrespondenceRecipientsType">
		<xs:sequence>
			<xs:element name="ActionId" type="xs:int"></xs:element>
			<xs:element name="CorrespTypeCode" type="xs:int"></xs:element>
			<xs:element name="PersonId" type="xs:string"></xs:element>
			<xs:element name="PersonName" type="xs:string"></xs:element>
			<xs:element name="NonEmployeeFlag" type="xs:string"></xs:element>
			<xs:element name="Comments" type="xs:string"></xs:element>
			<xs:element name="NumberOfCopies" type="xs:int"></xs:element>
			<xs:element name="UpdateTimestamp" type="xs:dateTime"></xs:element>
			<xs:element name="UpdateUser" type="xs:string"></xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="SchoolInfoType">
		<xs:sequence>
			<xs:element name="SchoolName" type="xs:string" minOccurs="0"></xs:element>
			<xs:element name="Acronym" type="xs:string" minOccurs="0"></xs:element>
		</xs:sequence>
	</xs:complexType>


 <!-- modifications end-->

    <!-- Type declaration for various String sizes -->
    <xs:simpleType name="String1Char">
        <xs:restriction base="xs:string">
            <xs:maxLength value="1" />
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="String3Char">
        <xs:restriction base="xs:string">
            <xs:maxLength value="3" />
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="String4Char">
        <xs:restriction base="xs:string">
            <xs:maxLength value="4" />
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="String5Char">
        <xs:restriction base="xs:string">
            <xs:maxLength value="5" />
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="String8Char">
        <xs:restriction base="xs:string">
            <xs:maxLength value="8" />
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="String9Char">
        <xs:restriction base="xs:string">
            <xs:maxLength value="9" />
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="String10Char">
        <xs:restriction base="xs:string">
            <xs:maxLength value="10" />
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="String11Char">
        <xs:restriction base="xs:string">
            <xs:maxLength value="11" />
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="String15Char">
        <xs:restriction base="xs:string">
            <xs:maxLength value="15" />
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="String20Char">
        <xs:restriction base="xs:string">
            <xs:maxLength value="20" />
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="String30Char">
        <xs:restriction base="xs:string">
            <xs:maxLength value="30" />
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="String40Char">
        <xs:restriction base="xs:string">
            <xs:maxLength value="40" />
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="String50Char">
        <xs:restriction base="xs:string">
            <xs:maxLength value="50" />
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="String51Char">
        <xs:restriction base="xs:string">
            <xs:maxLength value="51" />
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="String60Char">
        <xs:restriction base="xs:string">
            <xs:maxLength value="60" />
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="String80Char">
        <xs:restriction base="xs:string">
            <xs:maxLength value="80" />
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="String90Char">
        <xs:restriction base="xs:string">
            <xs:maxLength value="90" />
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="String200Char">
        <xs:restriction base="xs:string">
            <xs:maxLength value="200" />
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="String2000Char">
        <xs:restriction base="xs:string">
            <xs:maxLength value="2000" />
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="String4000Char">
        <xs:restriction base="xs:string">
            <xs:maxLength value="4000" />
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="StringMin6Max9Char">
        <xs:restriction base="xs:string">
            <xs:minLength value="6" />
            <xs:maxLength value="9" />
        </xs:restriction>
    </xs:simpleType>

</xs:schema>
