coeus-impl/src/main/resources/org/kuali/kra/printing/schema/instituteProposal.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
   - Kuali Coeus, a comprehensive research administration system for higher education.
   - 
   - Copyright 2005-2016 Kuali, Inc.
   - 
   - This program is free software: you can redistribute it and/or modify
   - it under the terms of the GNU Affero General Public License as
   - published by the Free Software Foundation, either version 3 of the
   - License, or (at your option) any later version.
   - 
   - This program is distributed in the hope that it will be useful,
   - but WITHOUT ANY WARRANTY; without even the implied warranty of
   - MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
   - GNU Affero General Public License for more details.
   - 
   - You should have received a copy of the GNU Affero General Public License
   - along with this program.  If not, see <http://www.gnu.org/licenses/>.
 -->
<!-- edited with XMLSPY v2004 rel. 3 U (http://www.xmlspy.com) by jenlu (Massachusetts Institute of Technology) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:element name="InstituteProposal">
		<xs:annotation>
			<xs:documentation>Comment describing your root element</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="instProposalMaster" type="instProposalMasterData"/>
				<xs:element name="investigators" type="investigatorType2" maxOccurs="unbounded"/>
				<xs:element name="budgetData" type="budgetDataType" minOccurs="0"/>
				<xs:element name="mailingInfo" type="mailingInfoType" minOccurs="0"/>
				<xs:element name="IDCRates" type="IDCRateType" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element name="IDCRatesComments" type="xs:string" minOccurs="0"/>
				<xs:element name="specialReviews" type="specialReviewType2" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element name="costSharingInfo" type="costSharingType" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element name="costSharingComments" type="xs:string" minOccurs="0"/>
				<xs:element name="scienceCode" type="scienceCodeType" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element name="SchoolInfo" type="IPSchoolInfoType" minOccurs="0"/>
				<xs:element name="DisclosureItem" type="IPDisclosureItemType" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element name="keyPersons" type="IPKeyPersonType" maxOccurs="unbounded"/>
				<xs:element name="costSharingProjectPeriodFieldDescription" type="xs:string" minOccurs="0"/>
				<xs:element name="CFDANum" type="xs:string" minOccurs="0"/>
				<xs:element name="opportunityID" type="xs:string" minOccurs="0"/>
				<xs:element name="otherData" type="OtherGroupTypes" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="proposalType">
		<xs:sequence>
			<xs:element name="proposalTypeCode" type="xs:int" minOccurs="0"/>
			<xs:element name="proposalTypeDesc" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="anticipatedAwardType">
		<xs:sequence>
			<xs:element name="anticipatedAwardTypeCode" type="xs:int" minOccurs="0"/>
			<xs:element name="anticipatedAwardTypeDesc" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>	
	<xs:complexType name="IPsponsorType">
		<xs:sequence>
			<xs:element name="sponsorCode" type="xs:string" minOccurs="0"/>
			<xs:element name="sponsorName" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="investigatorType2">
		<xs:sequence>
			<xs:element name="PIName" type="personType" minOccurs="0"/>
			<xs:element name="principalInvFlag" type="xs:boolean" minOccurs="0"/>
			<xs:element name="facultyFlag" type="xs:boolean" minOccurs="0"/>
			<xs:element name="unit" type="unitType" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="IPKeyPersonType">
		<xs:sequence>
			<xs:element name="proposalNumber" type="xs:string" minOccurs="0"/>			
			<xs:element name="PersonId" type="xs:string" minOccurs="0"/>
			<xs:element name="PersonName" type="xs:string" minOccurs="0"/>
			<xs:element name="RoleName" type="xs:string" minOccurs="0"/>
			<xs:element name="PersonAddress" type="xs:string" minOccurs="0"/>
			<xs:element name="NonEmployee" type="xs:boolean" minOccurs="0"/>
			<xs:element name="Faculty" type="xs:boolean" minOccurs="0"/>			
			<xs:element name="PercentEffort" type="xs:decimal" minOccurs="0"/>			
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="unitType">
		<xs:sequence>
			<xs:element name="unitNumber" type="xs:string" minOccurs="0"/>
			<xs:element name="unitName" type="xs:string" minOccurs="0"/>
			<xs:element name="leadUnitFlag" type="xs:boolean" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="activityType">
		<xs:sequence>
			<xs:element name="activityTypeCode" type="xs:int" minOccurs="0"/>
			<xs:element name="activityTypeDesc" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="instProposalMasterData">
		<xs:sequence>
			<xs:element name="proposalNumber" type="xs:string" minOccurs="0"/>
			<xs:element name="accountNumber" type="xs:string" minOccurs="0"/>
			<xs:element name="awardNumber" type="xs:string" minOccurs="0"/>
			<xs:element name="proposalStatus" type="proposalStatusType" minOccurs="0"/>
			<xs:element name="proposalType" type="proposalType" minOccurs="0"/>
			<xs:element name="title" type="xs:string" minOccurs="0"/>
			<xs:element name="activityType" type="activityType" minOccurs="0"/>
			<xs:element name="sponsorProposalNumber" type="xs:string" minOccurs="0"/>
			<xs:element name="NoticeOfOpportunity" type="NoticeOfOppType" minOccurs="0"/>
			<xs:element name="NSFcode" type="NSFcodeType" minOccurs="0"/>
			<xs:element name="sponsor" type="IPsponsorType" minOccurs="0"/>
			<xs:element name="primeSponsor" type="IPsponsorType" minOccurs="0"/>
			<xs:element name="hasSubcontracts" type="xs:boolean" minOccurs="0"/>
			<xs:element name="gradStudentCount" type="xs:int" minOccurs="0"/>
			<xs:element name="gradStudentmonths" type="xs:double" minOccurs="0"/>
			<xs:element name="accountType" type="xs:string" minOccurs="0"/>
			<xs:element name="SequenceNumber" type="xs:int" minOccurs="0"/>
			<xs:element name="comments" type="xs:string" minOccurs="0"/>
			<xs:element name="anticipatedAwardType" type="anticipatedAwardType" minOccurs="0"/>			
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="budgetDataType">
		<xs:sequence>
			<xs:element name="AccountType" type="xs:string" minOccurs="0"/>
			<xs:element name="requestedStartDateInitial" type="xs:date" minOccurs="0"/>
			<xs:element name="requestedEndDateInitial" type="xs:date" minOccurs="0"/>
			<xs:element name="requestedStartDateTotal" type="xs:date" minOccurs="0"/>
			<xs:element name="requestedEndDateTotal" type="xs:date" minOccurs="0"/>
			<xs:element name="totalDirectCostInitial" type="xs:decimal" minOccurs="0"/>
			<xs:element name="totalDirectCostTotal" type="xs:decimal" minOccurs="0"/>
			<xs:element name="totalCostInitial" type="xs:decimal" minOccurs="0"/>
			<xs:element name="totalCostTotal" type="xs:decimal" minOccurs="0"/>
			<xs:element name="totalIndirectCostInitial" type="xs:decimal" minOccurs="0"/>
			<xs:element name="totalIndirectCostTotal" type="xs:decimal" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="personType">
		<xs:sequence>
			<xs:element name="lastName" type="xs:string" minOccurs="0"/>
			<xs:element name="firstName" type="xs:string" minOccurs="0"/>
			<xs:element name="middleName" type="xs:string" minOccurs="0"/>
			<xs:element name="fullName" type="xs:string" minOccurs="0"/>
			<xs:element name="phone" type="xs:string" minOccurs="0"/>
			<xs:element name="address" type="xs:string" minOccurs="0"/>
			<xs:element name="City" type="xs:string" minOccurs="0"/>
			<xs:element name="state" type="xs:string" minOccurs="0"/>
			<xs:element name="zip" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="mailingInfoType">
		<xs:sequence>
			<xs:element name="deadlineDate" type="xs:date" minOccurs="0"/>
			<xs:element name="deadlineType" type="xs:string" minOccurs="0"/>
			<xs:element name="mailByOSP" type="xs:string" minOccurs="0"/>
			<xs:element name="mailType" type="xs:string" minOccurs="0"/>
			<xs:element name="mailAccount" type="xs:string" minOccurs="0"/>
			<xs:element name="numberCopies" type="xs:int" minOccurs="0"/>
			<xs:element name="mailToPerson" type="personType" minOccurs="0"/>
			<xs:element name="comments" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="IDCRateType">
		<xs:sequence>
			<xs:element name="rate" type="xs:double" minOccurs="0"/>
			<xs:element name="rateType" type="xs:string" minOccurs="0"/>
			<xs:element name="FY" type="xs:string" minOccurs="0"/>
			<xs:element name="onCampus" type="xs:boolean" minOccurs="0"/>
			<xs:element name="underRecovery" type="xs:double" minOccurs="0"/>
			<xs:element name="sourceAccount" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="specialReviewType2">
		<xs:sequence>
			<xs:element name="specialReviewType" type="xs:string" minOccurs="0"/>
			<xs:element name="specialReviewStatus" type="xs:string" minOccurs="0"/>
			<xs:element name="protocolNumber" type="xs:string" minOccurs="0"/>
			<xs:element name="applicationDate" type="xs:date" minOccurs="0"/>
			<xs:element name="approvalDate" type="xs:date" minOccurs="0"/>
			<xs:element name="comments" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="costSharingType">
		<xs:sequence>
			<xs:element name="percentage" type="xs:double" minOccurs="0"/>
			<xs:element name="costSharingType" type="xs:string" minOccurs="0"/>
			<xs:element name="FY" type="xs:string" minOccurs="0"/>
			<xs:element name="sourceAccount" type="xs:string" minOccurs="0"/>
			<xs:element name="amount" type="xs:double" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="proposalStatusType">
		<xs:sequence>
			<xs:element name="statusCode" type="xs:int" minOccurs="0"/>
			<xs:element name="statusDesc" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="NSFcodeType">
		<xs:sequence>
			<xs:element name="NSFcode" type="xs:string" minOccurs="0"/>
			<xs:element name="NSFcodeDesc" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="NoticeOfOppType">
		<xs:sequence>
			<xs:element name="NoticeOfOppcode" type="xs:string" minOccurs="0"/>
			<xs:element name="NoticeOfOppDesc" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="IPSchoolInfoType">
		<xs:sequence>
			<xs:element name="SchoolName" type="xs:string" minOccurs="0"/>
			<xs:element name="Acronym" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="IPDisclosureItemType">
		<xs:sequence>
			<xs:element name="DisclosureNumber" type="xs:string" minOccurs="0"/>
			<xs:element name="PersonId" type="xs:string" minOccurs="0"/>
			<xs:element name="PersonName" type="xs:string" minOccurs="0"/>
			<xs:element name="DisclosureTypeCode" type="xs:string" minOccurs="0"/>
			<xs:element name="DisclosureTypeDesc" type="xs:string" minOccurs="0"/>
			<xs:element name="DisclosureStatusCode" type="xs:string" minOccurs="0"/>
			<xs:element name="DisclosureStatusDesc" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="scienceCodeType">
		<xs:sequence>
			<xs:element name="scienceCode" type="xs:string" minOccurs="0"/>
			<xs:element name="scienceCodeDesc" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="OtherGroupDetailsTypes">
		<xs:sequence>
			<xs:element name="ColumnName" type="xs:string" minOccurs="0"/>
			<xs:element name="ColumnValue" type="xs:string" minOccurs="0"/>
			<xs:element name="ColumnDesc" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="OtherGroupTypes">
		<xs:sequence>
			<xs:element name="groupName" type="xs:string" minOccurs="0"/>
			<xs:element name="groupDesc" type="xs:string" minOccurs="0"/>
			<xs:element name="OtherGroupDetails" type="OtherGroupDetailsTypes" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
