coeus-impl/src/main/resources/org/kuali/kra/printing/schema/nihschema.xsd

<?xml version="1.0"?>
<!--
   - Kuali Coeus, a comprehensive research administration system for higher education.
   - 
   - Copyright 2005-2016 Kuali, Inc.
   - 
   - This program is free software: you can redistribute it and/or modify
   - it under the terms of the GNU Affero General Public License as
   - published by the Free Software Foundation, either version 3 of the
   - License, or (at your option) any later version.
   - 
   - This program is distributed in the hope that it will be useful,
   - but WITHOUT ANY WARRANTY; without even the implied warranty of
   - MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
   - GNU Affero General Public License for more details.
   - 
   - You should have received a copy of the GNU Affero General Public License
   - along with this program.  If not, see <http://www.gnu.org/licenses/>.
 -->
<!-- edited with XMLSpy v2008 sp1 (http://www.altova.com) by Eleanor Shavell (Massachusetts Institute of Technology) -->
<!-- edited with XMLSPY v2004 rel. 3 U (http://www.xmlspy.com) by Eleanor Shavell (Massachusetts Institute of Technology) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:common="http://era.nih.gov/Projectmgmt/SBIR/CGAP/common.namespace" xmlns:rar="http://era.nih.gov/Projectmgmt/SBIR/CGAP/researchandrelated.namespace" xmlns:nih="http://era.nih.gov/Projectmgmt/SBIR/CGAP/nihspecific.namespace" targetNamespace="http://era.nih.gov/Projectmgmt/SBIR/CGAP/nihspecific.namespace">
	<xs:import namespace="http://era.nih.gov/Projectmgmt/SBIR/CGAP/common.namespace" schemaLocation="commontypes.xsd"/>
	<xs:import namespace="http://era.nih.gov/Projectmgmt/SBIR/CGAP/researchandrelated.namespace" schemaLocation="rarschema.xsd"/>
	<!-- ****************** Simple Types Definitions ****************** -->
	<!-- ****************** Complex Type Definitions ****************** -->
	<xs:complexType name="SignatureType">
		<xs:sequence>
			<xs:element name="SignatureAuthentication" type="xs:string">
				<xs:annotation>
					<xs:documentation>Actual form of this is still TBD.  Some form of information will be captured in the stream to verify that an individual has provided his or her assent to the submitted application.  The actual substance of this data item is as yet undetermined, though the need for some data item to convey this is clear.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SignatureDate" type="xs:date"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="EducationDetailType">
		<xs:sequence>
			<xs:element name="DegreeTypeCode" type="xs:token" minOccurs="0"/>
			<xs:element name="Years" type="xs:string"/>
			<xs:element name="FieldOfStudyText" type="xs:string"/>
			<xs:element name="InstitutionName" type="xs:string"/>
			<xs:element name="InstitutionLocationText" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AbstractType">
		<xs:annotation>
			<xs:documentation>NSF extension</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="AbstractTypeCode" type="xs:integer"/>
			<xs:element name="AbstractTypeDesc" type="xs:string"/>
			<xs:element name="AbstractText" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="InventionsAndPatentsType">
		<xs:choice>
			<xs:element name="InventionsPreviouslyReported">
				<xs:simpleType>
					<xs:restriction base="xs:token">
						<xs:length value="0"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="InventionsNotPreviouslyReported">
				<xs:simpleType>
					<xs:restriction base="xs:token">
						<xs:length value="0"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="NoInventions">
				<xs:simpleType>
					<xs:restriction base="xs:token">
						<xs:length value="0"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:choice>
	</xs:complexType>
	<!-- ****************** Research and Related Elements ****************** -->
	<xs:complexType name="KeyPersonType">
		<xs:complexContent>
			<xs:extension base="rar:KeyPersonType">
				<xs:sequence>
					<xs:element ref="nih:AccountIdentifier" minOccurs="0"/>
					<xs:element ref="nih:RoleOnProject"/>
					<xs:element name="OrganizationDuns" type="common:DUNSType" minOccurs="0"/>
					<xs:element name="NIHBiographicalSketch" type="nih:KeyPersonBiosketchType"/>
					<xs:element name="Degree" type="xs:string" minOccurs="0" maxOccurs="3"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="AuthorizedOrganizationalRepresentativeType">
		<xs:complexContent>
			<xs:extension base="rar:AuthorizedOrganizationalRepresentativeType">
				<xs:sequence>
					<xs:element name="OrganizationalOfficialSignature" type="nih:SignatureType"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="ApplicantOrganizationType">
		<xs:complexContent>
			<xs:extension base="rar:ApplicantOrganizationType">
				<xs:sequence>
					<xs:element name="OrganizationClassification">
						<xs:complexType>
							<xs:sequence>
								<xs:element name="CategoryCode" type="xs:token"/>
								<xs:element name="SubCategoryCode" type="xs:token"/>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="FundingOpportunityDetailsType">
		<xs:complexContent>
			<xs:extension base="rar:FundingOpportunityDetailsType">
				<xs:sequence>
					<xs:element name="FundingOpportunityResponseCode" type="xs:boolean"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SalariesAndWagesType">
		<xs:complexContent>
			<xs:extension base="rar:SalariesAndWagesType">
				<xs:sequence>
					<xs:element name="FullTimeQuestion" type="xs:boolean" minOccurs="0"/>
					<xs:element name="PercentEffort" type="xs:string" minOccurs="0">
						<xs:annotation>
							<xs:documentation>changed type for coeus</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element ref="nih:AccountIdentifier" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="HumanSubjectsType">
		<xs:complexContent>
			<xs:extension base="rar:HumanSubjectsType">
				<xs:sequence>
					<xs:element name="Phase3ClinicalTrialQuestion" type="xs:boolean"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="BudgetPeriodType">
		<xs:sequence>
			<xs:element name="BudgetPeriodID" type="xs:integer"/>
			<xs:element name="StartDate" type="xs:date"/>
			<xs:element name="EndDate" type="xs:date"/>
			<xs:element name="ProgramIncome" type="common:CurrencyType"/>
			<xs:element name="Fee" type="common:CurrencyType"/>
			<xs:element name="NumberOfParticipants" type="xs:integer"/>
			<xs:element name="SalariesAndWages" type="nih:SalariesAndWagesType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="rar:EquipmentCosts" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="rar:TravelCosts" minOccurs="0" maxOccurs="2"/>
			<xs:element ref="rar:ParticipantPatientCosts" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="rar:OtherDirectCosts" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="SalariesWagesTotal" type="common:CurrencyType" minOccurs="0"/>
			<xs:element name="EquipmentTotal" type="common:CurrencyType" minOccurs="0"/>
			<xs:element name="TravelTotal" type="common:CurrencyType" minOccurs="0"/>
			<xs:element name="ParticipantPatientTotal" type="common:CurrencyType" minOccurs="0"/>
			<xs:element name="OtherDirectTotal" type="common:CurrencyType" minOccurs="0"/>
			<xs:element name="PeriodDirectCostsTotal" type="common:CurrencyType" minOccurs="0"/>
			<xs:element name="IndirectCostsTotal" type="common:CurrencyType"/>
			<xs:element name="PeriodCostsTotal" type="common:CurrencyType" minOccurs="0"/>
			<xs:element name="ProgramIncomeDetails" minOccurs="0" maxOccurs="unbounded">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="AnticipatedAmount" type="common:CurrencyType"/>
						<xs:element name="Sources" type="xs:string"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="NSFSeniorPersonnel" type="nih:NSFSeniorPersonnelType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>NSF extension</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ModularPeriodAmount" type="common:CurrencyType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Modular extension</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="NSFTotalSeniorPersonnel" type="xs:integer" minOccurs="0">
				<xs:annotation>
					<xs:documentation>NSF Extension</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="NSFOtherPersonnel" type="nih:NSFOtherPersonnelType" minOccurs="0"/>
			<xs:element name="NSFTotalOtherDirectCosts" type="common:CurrencyType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>NSF Extension</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="NSFCostSharingAmount" type="common:CurrencyType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>NSF Extension - NIH Schema does not have cost sharing for each period</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="BudgetSummaryType">
		<xs:sequence>
			<xs:element name="InitialBudgetTotals" type="rar:BudgetTotalsType"/>
			<xs:element name="AllBudgetTotals" type="rar:BudgetTotalsType"/>
			<xs:element name="BudgetPeriod" maxOccurs="5">
				<xs:complexType>
					<xs:complexContent>
						<xs:extension base="nih:BudgetPeriodType">
							<xs:sequence>
								<xs:element name="SalarySubtotals" minOccurs="0">
									<xs:complexType>
										<xs:sequence>
											<xs:element name="SalaryRequested" type="common:CurrencyType"/>
											<xs:element name="FringeBenefits" type="common:CurrencyType"/>
										</xs:sequence>
									</xs:complexType>
								</xs:element>
								<xs:element name="NonConsortiumDirectCostSubtotal" type="common:CurrencyType"/>
								<xs:element name="ConsortiumCosts" minOccurs="0">
									<xs:complexType>
										<xs:sequence>
											<xs:element name="DirectCosts" type="common:CurrencyType"/>
											<xs:element name="IndirectCosts" type="common:CurrencyType"/>
										</xs:sequence>
									</xs:complexType>
								</xs:element>
								<xs:element name="IndirectCostDetails" minOccurs="0" maxOccurs="unbounded">
									<xs:annotation>
										<xs:documentation>changed for coeus</xs:documentation>
									</xs:annotation>
									<xs:complexType>
										<xs:sequence>
											<xs:element name="BaseAmount" type="common:CurrencyType"/>
											<xs:element name="Rate" minOccurs="0">
												<xs:simpleType>
													<xs:restriction base="xs:decimal">
														<xs:totalDigits value="5"/>
														<xs:fractionDigits value="2"/>
													</xs:restriction>
												</xs:simpleType>
											</xs:element>
											<xs:element name="FundsRequested" type="common:CurrencyType" minOccurs="0"/>
											<xs:element name="CostType" type="xs:string"/>
										</xs:sequence>
									</xs:complexType>
								</xs:element>
							</xs:sequence>
						</xs:extension>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="BudgetJustification" type="rar:DescriptionBlockType" minOccurs="0"/>
			<xs:element name="BudgetDirectCostsTotal" type="common:CurrencyType" minOccurs="0"/>
			<xs:element name="BudgetIndirectCostsTotal" type="common:CurrencyType" minOccurs="0"/>
			<xs:element name="BudgetCostsTotal" type="common:CurrencyType" minOccurs="0"/>
			<xs:element name="BudgetFeesTotal" type="common:CurrencyType" minOccurs="0"/>
			<xs:element name="ModularBudgetQuestion" type="xs:boolean"/>
			<xs:element name="ModularBudgetDetails" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="PersonnelExplanation" type="xs:string"/>
						<xs:element name="ConsortiumExplanation" type="xs:string"/>
						<xs:element name="FeeExplanation" type="xs:string" minOccurs="0"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="IndirectCostRateDetails">
				<xs:complexType>
					<xs:sequence>
						<xs:choice>
							<xs:element name="NoIndirectCostsRequested">
								<xs:simpleType>
									<xs:restriction base="xs:token">
										<xs:length value="0"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="DHHSAgreementDate" type="xs:date"/>
							<xs:element name="DHHSAgreementNegotiationOffice" type="xs:string"/>
							<xs:element name="NoDHHSAgreement">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="AgencyName" type="xs:string"/>
										<xs:element name="AgreementDate" type="xs:date"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:choice>
						<xs:element name="BaseRateDescriptors" minOccurs="0">
							<xs:complexType>
								<xs:sequence>
									<xs:choice>
										<xs:element name="SalaryAndWagesBase">
											<xs:simpleType>
												<xs:restriction base="xs:token">
													<xs:length value="0"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="OtherBase">
											<xs:simpleType>
												<xs:restriction base="xs:token">
													<xs:length value="0"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="ModifiedTotalDirectCostsBase">
											<xs:simpleType>
												<xs:restriction base="xs:token">
													<xs:length value="0"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
									</xs:choice>
									<xs:element name="OffsiteOtherSpecialOrMultipleRate" minOccurs="0">
										<xs:simpleType>
											<xs:restriction base="xs:token">
												<xs:length value="0"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
									<xs:element name="Explanations" type="xs:string" minOccurs="0"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="NSFSeniorPersonnel" type="nih:NSFSeniorPersonnelType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="NSFOtherPersonnel" type="nih:NSFOtherPersonnelType" minOccurs="0"/>
			<xs:element name="TotalSalariesAndWages" type="common:CurrencyType">
				<xs:annotation>
					<xs:documentation>NSF extension</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TotalFringe" type="common:CurrencyType">
				<xs:annotation>
					<xs:documentation>NSF extension</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TotalSalariesWagesAndFringe" type="common:CurrencyType">
				<xs:annotation>
					<xs:documentation>NSF Extension</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="OrgAssurancesType">
		<xs:complexContent>
			<xs:extension base="rar:OrgAssurancesType">
				<xs:sequence>
					<xs:element name="HumanSubjects" type="common:AssuranceType"/>
					<xs:element name="HumanFetalTissue" type="common:AssuranceType"/>
					<xs:element name="WomenAndMinorityInclusionPolicy" type="common:AssuranceType"/>
					<xs:element name="ChildrenInclusionPolicy" type="common:AssuranceType"/>
					<xs:element name="HumanEmbryonicStemCells" type="common:AssuranceType"/>
					<xs:element name="VertebrateAnimals" type="common:AssuranceType"/>
					<xs:element name="NondelinquencyOnFederalDebt" type="common:AssuranceType"/>
					<xs:element name="RecombinantDNAHumanGeneTransfer" type="common:AssuranceType"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="GrantNumberType">
		<xs:sequence>
			<xs:element name="ApplicationTypeCode" type="xs:token" minOccurs="0"/>
			<xs:element name="ActivityCode" type="xs:token" minOccurs="0"/>
			<xs:element name="AdministeringOrganizationID">
				<xs:simpleType>
					<xs:restriction base="xs:token">
						<xs:minLength value="2"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="SerialNumber" type="xs:positiveInteger"/>
			<xs:element name="SupportYear" type="xs:positiveInteger" minOccurs="0"/>
			<xs:element name="SuffixCode" type="xs:token" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="KeyPersonBiosketchType">
		<xs:sequence>
			<xs:element name="PositionsHonorsCitationsFileIdentifier" type="common:FileIdentifierType">
				<xs:annotation>
					<xs:documentation>Identifies the external file containing the Positions, Honors and Citations section of this particular person's biographical sketch.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ResearchSupportFileIdentifier" type="common:FileIdentifierType">
				<xs:annotation>
					<xs:documentation>Identifies the external file containing the Research Support section of this person's biographical sketch.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="NonKeyPersonBiosketchType">
		<xs:complexContent>
			<xs:extension base="nih:KeyPersonBiosketchType">
				<xs:sequence>
					<xs:element name="Name" type="rar:PersonFullNameType"/>
					<xs:element name="PositionTitle" type="xs:string" minOccurs="0"/>
					<xs:element name="AccountIdentifier" minOccurs="0">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:minLength value="1"/>
								<xs:maxLength value="20"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="ResearchCoverPage">
		<xs:complexType>
			<xs:sequence>
				<xs:group ref="rar:CoverPageQuestionsType"/>
				<xs:element name="ApplicantOrganization" type="nih:ApplicantOrganizationType"/>
				<xs:element name="PrimaryProjectSite" type="rar:ProjectSiteType" minOccurs="0"/>
				<xs:element ref="nih:ProgramDirectorPrincipalInvestigator"/>
				<xs:element name="FundingOpportunityDetails" type="nih:FundingOpportunityDetailsType" minOccurs="0"/>
				<xs:element name="AuthorizedOrganizationalRepresentative" type="nih:AuthorizedOrganizationalRepresentativeType"/>
				<xs:element name="AlternateProjectSites" type="rar:ProjectSiteType" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="ProgramDirectorPrincipalInvestigator">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="NewInvestigatorQuestion" type="xs:boolean"/>
				<xs:element ref="nih:AccountIdentifier"/>
				<xs:element name="DirectorInvestigatorSignature" type="nih:SignatureType"/>
				<xs:group ref="rar:ContactPersonType"/>
				<xs:element name="Degree" type="xs:string" minOccurs="0" maxOccurs="3"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="HumanSubject" type="nih:HumanSubjectsType"/>
	<xs:element name="OrgAssurances" type="nih:OrgAssurancesType"/>
	<!-- ****************** Research and Related Root Element ****************** -->
	<xs:element name="ResearchAndRelatedProject">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="nih:ProjectDescription"/>
				<xs:element ref="rar:OrgAssurances"/>
				<xs:element name="BudgetSummary" type="nih:BudgetSummaryType" minOccurs="0"/>
				<xs:sequence>
					<xs:element name="KeyPerson" type="nih:KeyPersonType" maxOccurs="unbounded"/>
				</xs:sequence>
				<xs:sequence>
					<xs:element name="Abstract" type="nih:AbstractType" minOccurs="0" maxOccurs="unbounded"/>
				</xs:sequence>
				<xs:element ref="nih:ResearchCoverPage"/>
				<xs:sequence>
					<xs:element name="ProposalPerson" type="rar:ProposalPersonType" minOccurs="0" maxOccurs="unbounded"/>
				</xs:sequence>
				<xs:element name="NSFPreviousAwardNumber" type="xs:string" minOccurs="0">
					<xs:annotation>
						<xs:documentation>NSF Extension</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="NSFProjectDuration" type="xs:positiveInteger" minOccurs="0">
					<xs:annotation>
						<xs:documentation>NSF Extension</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="nihPriorGrantNumber" type="xs:string" minOccurs="0">
					<xs:annotation>
						<xs:documentation>application extension</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="nihActivityCode" type="xs:string" minOccurs="0">
					<xs:annotation>
						<xs:documentation>application extension</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="nihApplicationTypeCode" type="xs:string" minOccurs="0">
					<xs:annotation>
						<xs:documentation>application extension</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="nihInventions" type="xs:string" minOccurs="0">
					<xs:annotation>
						<xs:documentation>application extension</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="totalProjectStartDt" type="xs:date" minOccurs="0"/>
				<xs:element name="totalProjectEndDt" type="xs:date" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="ProjectDescription">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="nih:HumanSubject"/>
				<xs:element ref="rar:AnimalSubject"/>
				<xs:element ref="rar:ProjectSurvey"/>
				<xs:element name="ProjectSummary" type="rar:DescriptionBlockType" minOccurs="0"/>
				<xs:element name="FacilitiesDescription" type="rar:DescriptionBlockType" minOccurs="0"/>
				<xs:element name="EquipmentDescription" type="rar:DescriptionBlockType" minOccurs="0"/>
				<xs:element name="References" type="rar:DescriptionBlockType" minOccurs="0"/>
				<xs:element name="ActivityType" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Coeus extension</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="ActivityTypeCode" type="xs:integer"/>
							<xs:element name="ActivityTypeDesc" type="xs:string"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<!-- ****************** Possible Cross Agency Candidates ****************** -->
	<xs:element name="ResearchProjectDetails">
		<xs:annotation>
			<xs:documentation>Provides details about ONE research project comprising this application.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="nih:ResearchAndRelatedProject"/>
				<xs:element ref="nih:ResearchApplicationExtension"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<!--****************** NIH-specific structures *******************-->
	<xs:element name="RoleOnProject" type="xs:token"/>
	<xs:element name="AccountIdentifier">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:minLength value="1"/>
				<xs:maxLength value="20"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="EducationDetails" type="nih:EducationDetailType"/>
	<xs:element name="ResearchApplicationExtension">
		<xs:annotation>
			<xs:documentation>Information that NIH collects,  which is independent and not directly associated with the information collected within the "Research Project" structure.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:choice>
					<xs:element name="NewApplicationQualifiers">
						<xs:complexType>
							<xs:choice minOccurs="0">
								<xs:element name="SBIRQuestions">
									<xs:complexType>
										<xs:choice>
											<xs:element name="Phase1Indicator" type="xs:boolean"/>
											<xs:element name="Phase2Details">
												<xs:complexType>
													<xs:sequence>
														<xs:element name="Phase2Indicator" type="xs:boolean"/>
														<xs:element name="Phase1GrantNumber" type="xs:token"/>
														<xs:element name="InventionsAndPatents" type="nih:InventionsAndPatentsType"/>
													</xs:sequence>
												</xs:complexType>
											</xs:element>
											<xs:element name="FastTrackIndicator" type="xs:boolean"/>
										</xs:choice>
									</xs:complexType>
								</xs:element>
								<xs:element name="STTRQuestions">
									<xs:complexType>
										<xs:choice>
											<xs:element name="Phase1Indicator" type="xs:boolean"/>
											<xs:element name="Phase2Details">
												<xs:complexType>
													<xs:sequence>
														<xs:element name="Phase2Indicator" type="xs:boolean"/>
														<xs:element name="Phase1GrantNumber" type="xs:token"/>
														<xs:element name="InventionsAndPatents" type="nih:InventionsAndPatentsType"/>
													</xs:sequence>
												</xs:complexType>
											</xs:element>
											<xs:element name="FastTrackIndicator" type="xs:boolean"/>
										</xs:choice>
									</xs:complexType>
								</xs:element>
							</xs:choice>
						</xs:complexType>
					</xs:element>
					<xs:element name="RevisionOfApplicationNumber" type="nih:GrantNumberType"/>
					<xs:element name="CompetingContinuationQualifiers">
						<xs:complexType>
							<xs:sequence>
								<xs:element name="PriorGrantNumber" type="nih:GrantNumberType"/>
								<xs:element name="InventionsAndPatents" type="nih:InventionsAndPatentsType"/>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
					<xs:element name="SupplementGrantNumber" type="nih:GrantNumberType"/>
				</xs:choice>
				<xs:element name="PIChangeIndicator" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="FormerPIName" type="xs:string"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="ForeignApplicationIndicator" type="xs:boolean"/>
				<xs:element name="SmokeFreeWorkplaceIndicator" type="xs:boolean"/>
				<xs:element name="ResearchPlan">
					<xs:complexType>
						<xs:sequence>
							<xs:choice minOccurs="0">
								<xs:element name="RevisedApplicationIntroAttachment" type="common:FileIdentifierType"/>
								<xs:element name="SupplementalApplicationIntroAttachment" type="common:FileIdentifierType"/>
							</xs:choice>
							<xs:element name="Narrative">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="SpecificAims" type="common:FileIdentifierType"/>
										<xs:element name="BackgroundAndSignificance" type="common:FileIdentifierType"/>
										<xs:choice>
											<xs:element name="PreliminaryStudies" type="common:FileIdentifierType"/>
											<xs:element name="ProgressReport" type="common:FileIdentifierType"/>
										</xs:choice>
										<xs:element name="ResearchDesignAndMethods" type="common:FileIdentifierType"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="HumanSubjects" type="common:FileIdentifierType"/>
							<xs:element name="VertebrateAnimals" type="common:FileIdentifierType"/>
							<xs:element name="LiteratureCited" type="common:FileIdentifierType"/>
							<xs:element name="ConsortiumAndContractualArrangements" type="common:FileIdentifierType"/>
							<xs:element name="Consultants" type="common:FileIdentifierType"/>
							<xs:element name="ProductDevelopmentPlan" type="common:FileIdentifierType"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="AssuranceAndCertificationCompliance" type="common:AssuranceType"/>
				<xs:element name="InvestigatorCoverLetter" type="common:FileIdentifierType" minOccurs="0"/>
				<xs:element name="NonKeyPersonBiographicalSketch" type="nih:NonKeyPersonBiosketchType" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="OrganizationDUNS">
		<xs:annotation>
			<xs:documentation>DUNS number associated with an organization</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="OrganizationIPFCode" type="xs:integer">
		<xs:annotation>
			<xs:documentation>Institution Profile Number, associated with an organization</xs:documentation>
		</xs:annotation>
	</xs:element>
	<!---->
	<xs:complexType name="NSFSeniorPersonnelType">
		<xs:annotation>
			<xs:documentation>NSF extension</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Rownumber" type="xs:integer" minOccurs="0"/>
			<xs:element name="personID" type="xs:string"/>
			<xs:element name="FullName" type="xs:string"/>
			<xs:element name="Title" type="xs:string" minOccurs="0"/>
			<xs:element name="CalendarMonthsFunded" type="xs:decimal" minOccurs="0"/>
			<xs:element name="AcademicMonthsFunded" type="xs:decimal" minOccurs="0"/>
			<xs:element name="SummerMonthsFunded" type="xs:decimal" minOccurs="0"/>
			<xs:element name="FundsRequested" type="common:CurrencyType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="NSFOtherPersonnelType">
		<xs:annotation>
			<xs:documentation>NSF extension</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="PostDocCount" type="xs:integer" minOccurs="0"/>
			<xs:element name="PostDocFunds" type="common:CurrencyType" minOccurs="0"/>
			<xs:element name="OtherProfCount" type="xs:integer" minOccurs="0"/>
			<xs:element name="OtherProfFunds" type="common:CurrencyType" minOccurs="0"/>
			<xs:element name="GradCount" type="xs:integer" minOccurs="0"/>
			<xs:element name="GradFunds" type="common:CurrencyType" minOccurs="0"/>
			<xs:element name="UnderGradCount" type="xs:integer" minOccurs="0"/>
			<xs:element name="UnderGradFunds" type="common:CurrencyType" minOccurs="0"/>
			<xs:element name="ClericalCount" type="xs:integer" minOccurs="0"/>
			<xs:element name="ClericalFunds" type="common:CurrencyType" minOccurs="0"/>
			<xs:element name="OtherCount" type="xs:integer" minOccurs="0"/>
			<xs:element name="OtherLAFunds" type="common:CurrencyType" minOccurs="0"/>
			<xs:element name="OtherFunds" type="common:CurrencyType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
