coeus-impl/src/main/resources/org/kuali/kra/printing/schema/ProposalBudget.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
   - Kuali Coeus, a comprehensive research administration system for higher education.
   - 
   - Copyright 2005-2016 Kuali, Inc.
   - 
   - This program is free software: you can redistribute it and/or modify
   - it under the terms of the GNU Affero General Public License as
   - published by the Free Software Foundation, either version 3 of the
   - License, or (at your option) any later version.
   - 
   - This program is distributed in the hope that it will be useful,
   - but WITHOUT ANY WARRANTY; without even the implied warranty of
   - MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
   - GNU Affero General Public License for more details.
   - 
   - You should have received a copy of the GNU Affero General Public License
   - along with this program.  If not, see <http://www.gnu.org/licenses/>.
 -->
<!-- edited with XMLSpy v2006 sp2 U (http://www.altova.com) by Geo Thomas (Massachusetts Institute of Technology) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" 
			xmlns:lookuptypes="http://v2.xml.utils.coeus.mit.edu/lookuptypes" 
			xmlns:rateandbase="http://v2.xml.utils.coeus.mit.edu/rateandbase" 
			xmlns:modularbudget="http://v2.xml.utils.coeus.mit.edu/modularbudget" 
			xmlns:propbudget="http://v2.xml.utils.coeus.mit.edu/budget" 
			targetNamespace="http://v2.xml.utils.coeus.mit.edu/budget" 
			elementFormDefault="qualified" 
			attributeFormDefault="qualified">
			
			<xs:import namespace="http://v2.xml.utils.coeus.mit.edu/modularbudget" schemaLocation="ModularBudget.xsd"/>
			<xs:import namespace="http://v2.xml.utils.coeus.mit.edu/lookuptypes" schemaLocation="LookupTypes.xsd"/>
			<xs:import namespace="http://v2.xml.utils.coeus.mit.edu/rateandbase" schemaLocation="RateAndBase.xsd"/>
	<xs:element name="BUDGET">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="BudgetMaster">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="VERSION_NUMBER">
								<xs:simpleType>
									<xs:restriction base="xs:decimal">
										<xs:totalDigits value="3"/>
										<xs:fractionDigits value="0"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="START_DATE">
								<xs:simpleType>
									<xs:restriction base="xs:dateTime"/>
								</xs:simpleType>
							</xs:element>
							<xs:element name="END_DATE">
								<xs:simpleType>
									<xs:restriction base="xs:dateTime"/>
								</xs:simpleType>
							</xs:element>
							<xs:element name="TOTAL_COST" nillable="true" minOccurs="0">
								<xs:simpleType>
									<xs:restriction base="xs:decimal">
										<xs:totalDigits value="12"/>
										<xs:fractionDigits value="2"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="TOTAL_DIRECT_COST" nillable="true" minOccurs="0">
								<xs:simpleType>
									<xs:restriction base="xs:decimal">
										<xs:totalDigits value="12"/>
										<xs:fractionDigits value="2"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="TOTAL_INDIRECT_COST" nillable="true" minOccurs="0">
								<xs:simpleType>
									<xs:restriction base="xs:decimal">
										<xs:totalDigits value="12"/>
										<xs:fractionDigits value="2"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="COST_SHARING_AMOUNT" nillable="true" minOccurs="0">
								<xs:simpleType>
									<xs:restriction base="xs:decimal">
										<xs:totalDigits value="12"/>
										<xs:fractionDigits value="2"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="UNDERRECOVERY_AMOUNT" nillable="true" minOccurs="0">
								<xs:simpleType>
									<xs:restriction base="xs:decimal">
										<xs:totalDigits value="12"/>
										<xs:fractionDigits value="2"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="RESIDUAL_FUNDS" nillable="true" minOccurs="0">
								<xs:simpleType>
									<xs:restriction base="xs:decimal">
										<xs:totalDigits value="12"/>
										<xs:fractionDigits value="2"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="TOTAL_COST_LIMIT" nillable="true" minOccurs="0">
								<xs:simpleType>
									<xs:restriction base="xs:decimal">
										<xs:totalDigits value="12"/>
										<xs:fractionDigits value="2"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="TOTAL_DIRECT_COST_LIMIT" nillable="true" minOccurs="0">
                                <xs:simpleType>

                                    <xs:restriction base="xs:decimal">
                                        <xs:totalDigits value="12"/>
                                        <xs:fractionDigits value="2"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
							<xs:element name="OH_RATE_CLASS_CODE">
								<xs:simpleType>
									<xs:restriction base="xs:decimal">
										<xs:totalDigits value="3"/>
										<xs:fractionDigits value="0"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="OH_RATE_TYPE_CODE" nillable="true" minOccurs="0">
								<xs:simpleType>
									<xs:restriction base="xs:decimal">
										<xs:totalDigits value="3"/>
										<xs:fractionDigits value="0"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="OH_RATE_TYPE_DESCRIPTION" nillable="true" minOccurs="0">
                                <xs:simpleType>
                                    <xs:restriction base="xs:string"/>
                                </xs:simpleType>
                            </xs:element>
							   <xs:element name="UR_RATE_TYPE_CODE" nillable="true" minOccurs="0">
                                <xs:simpleType>

                                    <xs:restriction base="xs:decimal">
                                        <xs:totalDigits value="3"/>
                                        <xs:fractionDigits value="0"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
			   <xs:element name="UR_RATE_TYPE_DESCRIPTION" nillable="true" minOccurs="0">
                                <xs:simpleType>
                                    <xs:restriction base="xs:string"/>
                                </xs:simpleType>
                            </xs:element>
							<xs:element name="COMMENTS" nillable="true" minOccurs="0">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:maxLength value="2147483647"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="FINAL_VERSION_FLAG" nillable="true" minOccurs="0">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:maxLength value="1"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="SUBMIT_COST_SHARING_FLAG" nillable="true" minOccurs="0">
                                <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                        <xs:maxLength value="1"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
							 <xs:element name="ON_OFF_CAMPUS_FLAG">

								<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="1"/>
								</xs:restriction>
							 </xs:simpleType>
							</xs:element>
							<xs:element name="UPDATE_TIMESTAMP">
								<xs:simpleType>
									<xs:restriction base="xs:dateTime"/>
								</xs:simpleType>
							</xs:element>
							<xs:element name="UPDATE_USER">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:maxLength value="8"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="UR_RATE_CLASS_CODE">
								<xs:simpleType>
									<xs:restriction base="xs:decimal">
										<xs:totalDigits value="3"/>
										<xs:fractionDigits value="0"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="MODULAR_BUDGET_FLAG" default="1" nillable="true" minOccurs="0">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:maxLength value="1"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="PROPOSAL_NUMBER" default="N">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:maxLength value="8"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element ref="modularbudget:MODULAR_BUDGET" minOccurs="0" maxOccurs="unbounded"/>
                            <xs:element ref="rateandbase:RATE_AND_BASE" minOccurs="0" maxOccurs="unbounded"/>                            
							<xs:element ref="propbudget:BUDGET_PERIOD" minOccurs="0" maxOccurs="unbounded"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	 <xs:element name="BUDGET_PERIOD">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="PROPOSAL_NUMBER" default="N">
                    <xs:simpleType>
                        <xs:restriction base="xs:string">
                            <xs:maxLength value="8"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:element>
                <xs:element name="VERSION_NUMBER" type="xs:int"/>
                <xs:element name="BUDGET_PERIOD_NUMBER" type="xs:int"/>
                <xs:element name="START_DATE">
                    <xs:simpleType>
                        <xs:restriction base="xs:dateTime"/>
                    </xs:simpleType>
                </xs:element>

                <xs:element name="END_DATE">
                    <xs:simpleType>
                        <xs:restriction base="xs:dateTime"/>
                    </xs:simpleType>
                </xs:element>
		<xs:element name="NO_OF_MONTHS">
		    <xs:simpleType>
			<xs:restriction base="xs:decimal"/>
		    </xs:simpleType>
		</xs:element>
                <xs:element name="TOTAL_COST">
                    <xs:simpleType>
                        <xs:restriction base="xs:decimal">
                            <xs:totalDigits value="12"/>
                            <xs:fractionDigits value="2"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:element>

                <xs:element name="TOTAL_DIRECT_COST">
                    <xs:simpleType>
                        <xs:restriction base="xs:decimal">
                            <xs:totalDigits value="12"/>
                            <xs:fractionDigits value="2"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:element>

                <xs:element name="TOTAL_INDIRECT_COST">
                    <xs:simpleType>
                        <xs:restriction base="xs:decimal">
                            <xs:totalDigits value="12"/>
                            <xs:fractionDigits value="2"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:element>

                <xs:element name="COST_SHARING_AMOUNT">
                    <xs:simpleType>
                        <xs:restriction base="xs:decimal">
                            <xs:totalDigits value="12"/>
                            <xs:fractionDigits value="2"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:element>

                <xs:element name="UNDERRECOVERY_AMOUNT">
                    <xs:simpleType>
                        <xs:restriction base="xs:decimal">
                            <xs:totalDigits value="12"/>
                            <xs:fractionDigits value="2"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:element>

                <xs:element name="TOTAL_COST_LIMIT">
                    <xs:simpleType>
                        <xs:restriction base="xs:decimal">
                            <xs:totalDigits value="12"/>
                            <xs:fractionDigits value="2"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:element>

                <xs:element name="COMMENTS" type="xs:string"/>

                <xs:element name="TOTAL_DIRECT_COST_LIMIT" >
                    <xs:simpleType>
                        <xs:restriction base="xs:decimal">
                            <xs:totalDigits value="12"/>
                            <xs:fractionDigits value="2"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:element>

                <xs:element ref="propbudget:BUDGET_DETAIL" minOccurs="0" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
	<xs:element name="BUDGET_DETAIL">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="PROPOSAL_NUMBER" default="N">
                    <xs:simpleType>
                        <xs:restriction base="xs:string">
                            <xs:maxLength value="8"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:element>
                <xs:element name="VERSION_NUMBER" type="xs:int"/>
                <xs:element name="BUDGET_PERIOD_NUMBER" type="xs:int"/>
                <xs:element name="LINE_ITEM_NUMBER" type="xs:int"/>
                <xs:element name="BUDGET_CATEGORY_CODE" type="xs:int"/>
                <xs:element name="COST_ELEMENT" type="xs:string"/>
                <xs:element name="LINE_ITEM_DESCRIPTION" type="xs:string"/>
                <xs:element name="BASED_ON_LINE_ITEM" type="xs:int"/>
                <xs:element name="LINE_ITEM_SEQUENCE" type="xs:int"/>
                <xs:element name="START_DATE">
                    <xs:simpleType>
                        <xs:restriction base="xs:dateTime"/>
                    </xs:simpleType>
                </xs:element>

                <xs:element name="END_DATE">
                    <xs:simpleType>
                        <xs:restriction base="xs:dateTime"/>
                    </xs:simpleType>
                </xs:element>

                <xs:element name="LINE_ITEM_COST">
                    <xs:simpleType>
                        <xs:restriction base="xs:decimal">
                            <xs:totalDigits value="12"/>
                            <xs:fractionDigits value="2"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:element>
                <xs:element name="COST_SHARING_AMOUNT">
                    <xs:simpleType>
                        <xs:restriction base="xs:decimal">
                            <xs:totalDigits value="12"/>
                            <xs:fractionDigits value="2"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:element>
                <xs:element name="UNDERRECOVERY_AMOUNT">
                    <xs:simpleType>
                        <xs:restriction base="xs:decimal">
                            <xs:totalDigits value="12"/>
                            <xs:fractionDigits value="2"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:element>
                <xs:element name="ON_OFF_CAMPUS_FLAG">
                    <xs:simpleType>
                        <xs:restriction base="xs:string">
                            <xs:maxLength value="1"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:element>
                <xs:element name="APPLY_IN_RATE_FLAG">
                    <xs:simpleType>
                        <xs:restriction base="xs:string">
                            <xs:maxLength value="1"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:element>
                <xs:element name="BUDGET_JUSTIFICATION" type="xs:string"/>

                <xs:element name="QUANTITY" type="xs:int"/>

                <xs:element name="SUBMIT_COST_SHARING">
                    <xs:simpleType>
                        <xs:restriction base="xs:string">
                            <xs:maxLength value="1"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:element>
            </xs:sequence>


        </xs:complexType>
    </xs:element>
	
	
</xs:schema>
