coeus-impl/src/main/resources/org/kuali/kra/printing/schema/ProtocolSummary.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
   - Kuali Coeus, a comprehensive research administration system for higher education.
   - 
   - Copyright 2005-2016 Kuali, Inc.
   - 
   - This program is free software: you can redistribute it and/or modify
   - it under the terms of the GNU Affero General Public License as
   - published by the Free Software Foundation, either version 3 of the
   - License, or (at your option) any later version.
   - 
   - This program is distributed in the hope that it will be useful,
   - but WITHOUT ANY WARRANTY; without even the implied warranty of
   - MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
   - GNU Affero General Public License for more details.
   - 
   - You should have received a copy of the GNU Affero General Public License
   - along with this program.  If not, see <http://www.gnu.org/licenses/>.
 -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.w3.org/2001/ProtocolSummarySchema" xmlns:ps="http://www.w3.org/2001/ProtocolSummarySchema" elementFormDefault="qualified" attributeFormDefault="unqualified" xmlns:qs="http://www.w3.org/2001/QuesionnaireSchema">
	<xs:import  namespace="http://www.w3.org/2001/QuesionnaireSchema" schemaLocation="ProtocolQuestionnaire.xsd"></xs:import>
	<xs:element name="ProtocolSummary">
	<xs:complexType>
	<xs:sequence>

        <xs:element name="SchoolInfo" type="ps:SchoolInfoType" minOccurs="0"></xs:element>
        <xs:element name="ProtocolDetails" type="ps:ProtocolDetailsType" minOccurs="0" maxOccurs="unbounded">
		</xs:element>
                <xs:element name="ProtocolOrganization"
			type="ps:ProtocolLocationType" maxOccurs="unbounded" minOccurs="0">
		</xs:element>
		<xs:element name="ProtocolInvestigators"
			type="ps:ProtocolInvestigatorType" minOccurs="0"
			maxOccurs="unbounded">
		</xs:element>
		<xs:element name="ProtocolKeyPersons"
			type="ps:ProtocolKeyPersonsType" minOccurs="0"
			maxOccurs="unbounded">
		</xs:element>
		<xs:element name="ProtocolCorrespondents"
			type="ps:ProtocolCorrespondentType" minOccurs="0"
			maxOccurs="unbounded">
		</xs:element>
		<xs:element name="ProtocolResearchAreas"
			type="ps:ProtocolResearchAreasType" minOccurs="0"
			maxOccurs="unbounded">
		</xs:element>
		<xs:element name="ProtocolFundingSources"
			type="ps:ProtocolFundingSourceType" minOccurs="0"
			maxOccurs="unbounded">
		</xs:element>
		<xs:element name="ProtocolActions" type="ps:ProtocolActionsType"
			minOccurs="0" maxOccurs="unbounded">
		</xs:element>
		<xs:element name="ProtocolSubjects"
			type="ps:ProtocolSubjectsType" minOccurs="0" maxOccurs="unbounded">
		</xs:element>
		<xs:element name="ProtocolDocuments"
			type="ps:ProtocolDocumentsType" minOccurs="0"
			maxOccurs="unbounded">
		</xs:element>
		<xs:element name="ProtocolOtherDocs"
			type="ps:ProtocolOtherDocumentsType" minOccurs="0"
			maxOccurs="unbounded">
		</xs:element>
		<xs:element name="ProtocolSpecialReview"
			type="ps:ProtocolSpecialReviewType" minOccurs="0"
			maxOccurs="unbounded">
		</xs:element>
		<xs:element name="ProtocolRiskLevels"
			type="ps:ProtocolRiskLevelsType" minOccurs="0"
			maxOccurs="unbounded">
		</xs:element>
		<xs:element name="ProtocolNotes" type="ps:ProtocolNotesType"
			minOccurs="0" maxOccurs="unbounded">
		</xs:element>
		<xs:element name="ProtocolAmenRenewal"
			type="ps:ProtoAmendRenewalType" maxOccurs="unbounded"
			minOccurs="0">
		</xs:element>
		<xs:element name="ProtoAmendRenewSummary"
			type="ps:ProtoAmendRenewSummaryType" minOccurs="0"
			maxOccurs="unbounded">
		</xs:element>
		<xs:element name="ProtocolOthersData"
			type="ps:ProtocolOtherDataType" minOccurs="0"
			maxOccurs="unbounded">
		</xs:element>
		<xs:element name="ProtocolUserRoles"
			type="ps:ProtocolRolesType" minOccurs="0"
			maxOccurs="unbounded">
		</xs:element>
		<xs:element name="ProtocolSubmissions"
			type="ps:ProtocolSubmissionType" minOccurs="0"
			maxOccurs="unbounded">
		</xs:element>
		<xs:element name="ProtocolReferences"
			type="ps:ProtocolReferencesType" minOccurs="0"
			maxOccurs="unbounded">
		</xs:element>
		<xs:element name="ProtoCorresp" type="ps:ProtoCorrespType"
			minOccurs="0" maxOccurs="unbounded">
		</xs:element>
		<xs:element name="QuestionnaireDetails" maxOccurs="unbounded"
			minOccurs="0">
			<xs:complexType>
				<xs:sequence>
					<xs:element name="QuestionnaireId" type="xs:int" />
					<xs:element name="QuestionnaireName"
						type="xs:string" />
					<xs:element name="QuestionnaireDesc"
						type="xs:string" minOccurs="0" />
					<xs:element name="IsFinal" type="xs:string"
						minOccurs="0" />
					<xs:element name="ModuleUsage"
						type="qs:ModuleUsageType" minOccurs="0" /> 
					<xs:element name="ProtocolInfo"
						type="qs:ProtocolInfoType" minOccurs="0" maxOccurs="unbounded" />
					<xs:element name="ProposalInfo"
						type="qs:ProposalInfoType" minOccurs="0" maxOccurs="unbounded" />
					<xs:element name="Questions" type="qs:QuestionsType"
						minOccurs="0" maxOccurs="unbounded" />
					<xs:element name="AnswerHeader"
						type="qs:AnswerHeaderType" minOccurs="0" maxOccurs="unbounded" />
					<xs:element name="UserOption" type="qs:UserOptions" />
				</xs:sequence>
			</xs:complexType>

		</xs:element>
		<xs:element name="PrintRequirement" minOccurs="0">
			<xs:complexType>
				<xs:sequence>
					<xs:element name="SignatureRequired"
						type="xs:string" minOccurs="0" />
					<xs:element name="ProtocolDetailsRequired"
						type="xs:string" minOccurs="0" />
					<xs:element name="OrganizationRequired"
						type="xs:string" minOccurs="0" />
					<xs:element name="InvestigatorsRequired"
						type="xs:string" minOccurs="0" />
					<xs:element name="KeyPersonsRequired"
						type="xs:string" minOccurs="0" />
					<xs:element name="CorrespondentsRequired"
						type="xs:string" minOccurs="0" />
					<xs:element name="ResearchAreasRequired"
						type="xs:string" minOccurs="0" />
					<xs:element name="FundingSourcesRequired"
						type="xs:string" minOccurs="0" />
					<xs:element name="ActionsRequired" type="xs:string"
						minOccurs="0" />
					<xs:element name="SubjectsRequired" type="xs:string"
						minOccurs="0" />
					<xs:element name="DocumentsRequired"
						type="xs:string" minOccurs="0" />
					<xs:element name="SpecialReviewRequired"
						type="xs:string" minOccurs="0" />
					<xs:element name="RiskLevelsRequired"
						type="xs:string" minOccurs="0" />
					<xs:element name="NotesRequired" type="xs:string"
						minOccurs="0" />
					<xs:element name="AmendRenewModulesRequired"
						type="xs:string" minOccurs="0" />
					<xs:element name="AmendRenewSRequired"
						type="xs:string" minOccurs="0" />
					<xs:element name="UserRolesRequired"
						type="xs:string" minOccurs="0" />
					<xs:element name="ReferencesRequired"
						type="xs:string" minOccurs="0" />					
					<xs:element name="QuestionnaireDetailsRequired"
						type="xs:string" minOccurs="0" />
					<xs:element name="OtherDataRequired"
						type="xs:string" minOccurs="0" />
					<xs:element name="CurrentDate" type="xs:date"
						minOccurs="0" />
				</xs:sequence>
			</xs:complexType>
		</xs:element>

	</xs:sequence>
	</xs:complexType>
	</xs:element>	
	
	<xs:complexType name="ProtocolDetailsType">
		<xs:sequence>
			<xs:element name="ProtocolNumber" type="xs:string"></xs:element>
			<xs:element name="SequenceNumber" type="xs:int"></xs:element>
			<xs:element name="ProtocolTypeCode" type="xs:int"></xs:element>
			<xs:element name="ProtocolStatusCode" type="xs:int"></xs:element>
			<xs:element name="ProtocolStatusDesc" type="xs:string"></xs:element>
			<xs:element name="Title" type="xs:string"></xs:element>
			<xs:element name="Description" type="xs:string"></xs:element>
			<xs:element name="ApplicationDate" type="xs:date"></xs:element>
			<xs:element name="ApprovalDate" type="xs:date"></xs:element>
			<xs:element name="ExpirationDate" type="xs:date"></xs:element>
			<xs:element name="FdaApplicationNumber" type="xs:string"></xs:element>
			<xs:element name="ReferenceNumber1" type="xs:string"></xs:element>
			<xs:element name="ReferenceNumber2" type="xs:string"></xs:element>
			<xs:element name="IsBillable" type="xs:string"></xs:element>
			<xs:element name="SpecialReviewIndicator" type="xs:string"></xs:element>
			<xs:element name="VulnerableSubjectIndicator" type="xs:string"></xs:element>
			<xs:element name="KeyStudyPersonIndicator"	type="xs:string"></xs:element>
			<xs:element name="FundingSourceIndicator" type="xs:string"></xs:element>
			<xs:element name="CorrespondentIndicator" type="xs:string"></xs:element>
			<xs:element name="ReferenceIndicator" type="xs:string"></xs:element>
			<xs:element name="RelatedProjectsIndicator" type="xs:string"></xs:element>
			<xs:element name="CreateTimestamp" type="xs:dateTime"></xs:element>
			<xs:element name="CreateUser" type="xs:string"></xs:element>
			<xs:element name="UpdateTimestamp" type="xs:dateTime"></xs:element>
			<xs:element name="UpdateUser" type="xs:string"></xs:element>
			<xs:element name="LastApprovalDate" type="xs:date"></xs:element>
			<xs:element name="ProtocolOrg" type="ps:ProtocolOrgType" minOccurs="0" maxOccurs="unbounded"></xs:element>
			<xs:element name="ProtocolLocation" type="ps:ProtocolLocationType" minOccurs="0" maxOccurs="unbounded"></xs:element>
			<xs:element name="ProtocolStatus" type="ps:ProtocolStatusType" minOccurs="0" maxOccurs="unbounded"></xs:element>
			<xs:element name="protocolType" type="ps:protocolType" minOccurs="0" maxOccurs="unbounded"></xs:element>
			<xs:element name="ProtocolTypeDesc" type="xs:string"></xs:element>
			<xs:element name="MeetingDate" type="xs:date"></xs:element>
			<xs:element name="Investigator" type="xs:string"></xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ProtocolActionsType">
		<xs:sequence>
			<xs:element name="ProtocolNumber" type="xs:string"></xs:element>
			<xs:element name="SequenceNumber" type="xs:int"></xs:element>
			<xs:element name="ActionId" type="xs:int"></xs:element>
			<xs:element name="ActionDesc" type="xs:string"></xs:element>
			<xs:element name="ProtocolActionTypeCode" type="xs:int"></xs:element>
			<xs:element name="ProtocolActionTypeDesc" type="xs:string"></xs:element>
			<xs:element name="SubmissionNumber" type="xs:int"></xs:element>
			<xs:element name="Comments" type="xs:string"></xs:element>
			<xs:element name="UpdateTimestamp" type="xs:dateTime"></xs:element>
			<xs:element name="UpdateUser" type="xs:string"></xs:element>
			<xs:element name="ActionDate" type="xs:date"></xs:element>
			<xs:element name="ProtocolActions" type="ps:ProtocolActionType" minOccurs="0" maxOccurs="unbounded"></xs:element>
			<xs:element name="ApprovalDate" type="xs:date"></xs:element>			
			</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ProtocolActionType">
		<xs:sequence>
			<xs:element name="ProtocolActionTypeCode" type="xs:int"></xs:element>
			<xs:element name="Description" type="xs:string"></xs:element>
			<xs:element name="TriggerSubmission" type="xs:string"></xs:element>
			<xs:element name="TriggerCorrespondence" type="xs:string"></xs:element>
			<xs:element name="UpdateTimestamp" type="xs:dateTime"></xs:element>
			<xs:element name="UpdateUser" type="xs:string"></xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ProtocolContingencyType">
		<xs:sequence>
			<xs:element name="ProtocolContingencyCode"
				type="xs:string">
			</xs:element>
			<xs:element name="Description" type="xs:string"></xs:element>
			<xs:element name="UpdateTimeStamp" type="xs:dateTime"></xs:element>
			<xs:element name="UpdateUser" type="xs:string"></xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ProtocolCorrespondenceType">
		<xs:sequence>
			<xs:element name="FinalFlag" type="xs:string"></xs:element>
			<xs:element name="ProtocolNumber" type="xs:string"></xs:element>
			<xs:element name="SequenceNumber" type="xs:int"></xs:element>
			<xs:element name="ActionId" type="xs:int"></xs:element>
			<xs:element name="ProtoCorrespTypeCode" type="xs:int"></xs:element>
			<xs:element name="CorrespondentTypeDesc" type="xs:string"></xs:element>
			<xs:element name="UpdateTimestamp" type="xs:dateTime"></xs:element>
			<xs:element name="UpdateUser" type="xs:string"></xs:element>
			<xs:element name="ProtocolCorrespondents" type="ps:ProtocolCorrespondentType" minOccurs="0" maxOccurs="unbounded"></xs:element>
			</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ProtocolCorrespondentType">
		<xs:sequence>
			<xs:element name="ProtocolNumber" type="xs:string"></xs:element>
			<xs:element name="SequenceNumber" type="xs:int"></xs:element>
			<xs:element name="PersonId" type="xs:string"></xs:element>
			<xs:element name="PersonName" type="xs:string"></xs:element>
			<xs:element name="NonEmployeeFlag" type="xs:string"></xs:element>
			<xs:element name="CorrespondentTypeCode" type="xs:int"></xs:element>
			<xs:element name="CorrespondentTypeDesc" type="xs:string"></xs:element>
			<xs:element name="Comments" type="xs:string"></xs:element>
			<xs:element name="UpdateTimestamp" type="xs:dateTime"></xs:element>
			<xs:element name="UpdateUser" type="xs:string"></xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ProtocolOtherDataType">
		<xs:sequence>
			<xs:element name="ProtocolNumber" type="xs:string"></xs:element>
			<xs:element name="SequenceNumber" type="xs:int"></xs:element>
			<xs:element name="ColumnName" type="xs:string"></xs:element>
			<xs:element name="ColumnValue" type="xs:string"></xs:element>
			<xs:element name="UpdateTimestamp" type="xs:dateTime"></xs:element>
			<xs:element name="UpdateUser" type="xs:string"></xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ProtocolDocumentsType">
		<xs:sequence>
			<xs:element name="ProtocolNumber" type="xs:string"></xs:element>
			<xs:element name="SequenceNumber" type="xs:int"></xs:element>
			<xs:element name="DocumentTypeCode" type="xs:int"></xs:element>
			<xs:element name="Description" type="xs:string"></xs:element>
			<xs:element name="FileName" type="xs:string"></xs:element>
			<xs:element name="UpdateTimestamp" type="xs:dateTime"></xs:element>
			<xs:element name="UpdateUser" type="xs:string"></xs:element>
			<xs:element name="VersionNumber" type="xs:int"></xs:element>
			<xs:element name="DocumentStatusCode" type="xs:int"></xs:element>
			<xs:element name="DocumentId" type="xs:int"></xs:element>
			<xs:element name="ProtocolDocumentStatus" type="ps:ProtocolDocumentStatusType" minOccurs="0" maxOccurs="unbounded"></xs:element>
			<xs:element name="ProtocolDocument" type="ps:ProtocolDocumentType" minOccurs="0" maxOccurs="unbounded"></xs:element>
			<xs:element name="ProtocolOtherDocuments" type="ps:ProtocolOtherDocumentsType" minOccurs="0" maxOccurs="unbounded"></xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ProtocolDocumentStatusType">
		<xs:sequence>
			<xs:element name="DocumentStatusCode" type="xs:int"></xs:element>
			<xs:element name="Description" type="xs:string"></xs:element>
			<xs:element name="UpdateTimestamp" type="xs:dateTime"></xs:element>
			<xs:element name="UpdateUser" type="xs:string"></xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ProtocolDocumentType">
		<xs:sequence>
			<xs:element name="DocumentTypeCode" type="xs:int"></xs:element>
			<xs:element name="Description" type="xs:string"></xs:element>
			<xs:element name="UpdateTimestamp" type="xs:dateTime"></xs:element>
			<xs:element name="UpdateUser" type="xs:string"></xs:element>
			<xs:element name="DocumentTypeGroup" type="xs:string"></xs:element>
			<xs:element name="FileName" type="xs:string"></xs:element>	
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ProtocolExemptChklstType">
		<xs:sequence>
			<xs:element name="ProtocolNumber" type="xs:string"></xs:element>
			<xs:element name="SequenceNumber" type="xs:int"></xs:element>
			<xs:element name="SubmissionNumber" type="xs:int"></xs:element>
			<xs:element name="ExemptStudiesChecklistCode"
				type="xs:string">
			</xs:element>
			<xs:element name="UpdateTimestamp" type="xs:dateTime"></xs:element>
			<xs:element name="UpdateUser" type="xs:string"></xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ProtocolExpiditedChklstType">
		<xs:sequence>
			<xs:element name="ProtocolNumber" type="xs:string"></xs:element>
			<xs:element name="SequenceNumber" type="xs:int"></xs:element>
			<xs:element name="SubmissionNumber" type="xs:int"></xs:element>
			<xs:element name="ExpeditedRevChklstCode"
				type="xs:string">
			</xs:element>
			<xs:element name="UpdateTimestamp" type="xs:dateTime"></xs:element>
			<xs:element name="UpdateUser" type="xs:string"></xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ProtocolFundingSourceType">
		<xs:sequence>
			<xs:element name="ProtocolNumber" type="xs:string"></xs:element>
			<xs:element name="SequenceNumber" type="xs:int"></xs:element>
			<xs:element name="FundingSourceTypeCode" type="xs:int"></xs:element>
			<xs:element name="FundingSourceTypeDesc" type="xs:string"></xs:element>
			<xs:element name="FundingSource" type="xs:string"></xs:element>
			<xs:element name="UpdateTimestamp" type="xs:dateTime"></xs:element>
			<xs:element name="UpdateUser" type="xs:string"></xs:element>
			<xs:element name="Title" type="xs:string"></xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ProtocolInvestigatorType">
		<xs:sequence>
			<xs:element name="ProtocolNumber" type="xs:string"></xs:element>
			<xs:element name="SequenceNumber" type="xs:int"></xs:element>
			<xs:element name="PersonId" type="xs:string"></xs:element>
			<xs:element name="PersonName" type="xs:string"></xs:element>
			<xs:element name="NonEmployeeFlag" type="xs:string"></xs:element>
			<xs:element name="PrincipalInvestigatorFlag" type="xs:string"></xs:element>
			<xs:element name="AffiliationTypeCode" type="xs:int"></xs:element>
			<xs:element name="AffiliationTypeDesc" type="xs:string"></xs:element>
			<xs:element name="UpdateTimestamp" type="xs:dateTime"></xs:element>
			<xs:element name="UpdateUser" type="xs:string"></xs:element>
			<xs:element name="TrainingFlag" type="xs:string"></xs:element>
			<xs:element name="ProtocolUnits" type="ps:ProtocolUnitsType" minOccurs="0" maxOccurs="unbounded"></xs:element>
			</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ProtocolKeyPersonsType">
		<xs:sequence>
			<xs:element name="ProtocolNumber" type="xs:string"></xs:element>
			<xs:element name="SequenceNumber" type="xs:int"></xs:element>
			<xs:element name="PersonId" type="xs:string"></xs:element>
			<xs:element name="PersonName" type="xs:string"></xs:element>
			<xs:element name="PersonRole" type="xs:string"></xs:element>
			<xs:element name="NonEmployeeFlag" type="xs:string"></xs:element>
			<xs:element name="TrainingFlag" type="xs:string"></xs:element>
			<xs:element name="AffiliationTypeCode" type="xs:int"></xs:element>
			<xs:element name="AffiliationTypeDesc" type="xs:string"></xs:element>
			<xs:element name="UpdateTimestamp" type="xs:dateTime"></xs:element>
			<xs:element name="UpdateUser" type="xs:string"></xs:element>
			</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ProtocolLinksType">
		<xs:sequence>
			<xs:element name="ProtocolNumber" type="xs:string"></xs:element>
			<xs:element name="SequenceNumber" type="xs:int"></xs:element>
			<xs:element name="ModuleCode" type="xs:int"></xs:element>
			<xs:element name="ModuleItemKey" type="xs:string"></xs:element>
			<xs:element name="ModuleItemSequenceNumber" type="xs:int"></xs:element>
			<xs:element name="ActionType" type="xs:string"></xs:element>
			<xs:element name="Comments" type="xs:string"></xs:element>
			<xs:element name="UpdateTimestamp" type="xs:dateTime"></xs:element>
			<xs:element name="UpdateUser" type="xs:string"></xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ProtocolLocationType">
		<xs:sequence>
			<xs:element name="ProtocolNumber" type="xs:string"></xs:element>
			<xs:element name="SequenceNumber" type="xs:int"></xs:element>
			<xs:element name="ProtocolOrgTypeCode" type="xs:int"></xs:element>
			<xs:element name="ProtocolOrgTypeDesc" type="xs:string"></xs:element>
			<xs:element name="OrganizationId" type="xs:string"></xs:element>
			<xs:element name="RolodexId" type="xs:int"></xs:element>
			<xs:element name="UpdateTimestamp" type="xs:dateTime"></xs:element>
			<xs:element name="UpdateUser" type="xs:string"></xs:element>
			<xs:element name="Address" type="xs:string"></xs:element>
			<xs:element name="OrgName" type="xs:string"></xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ProtocolModulesType">
		<xs:sequence>
			<xs:element name="ProtocolModuleCode" type="xs:string"></xs:element>
			<xs:element name="Description" type="xs:string"></xs:element>
			<xs:element name="UpdateTimestamp" type="xs:dateTime"></xs:element>
			<xs:element name="UpdateUser" type="xs:string"></xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ProtocolNotesType">
		<xs:sequence>
			<xs:element name="ProtocolNumber" type="xs:string"></xs:element>
			<xs:element name="SequenceNumber" type="xs:int"></xs:element>
			<xs:element name="EntryNumber" type="xs:int"></xs:element>
			<xs:element name="Comments" type="xs:string"></xs:element>
			<xs:element name="RestrictedView" type="xs:string"></xs:element>
			<xs:element name="UpdateTimestamp" type="xs:dateTime"></xs:element>
			<xs:element name="UpdateUser" type="xs:string"></xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ProtocolOrgType">
		<xs:sequence>
			<xs:element name="ProtocolOrgTypeCode" type="xs:int"></xs:element>
			<xs:element name="Description" type="xs:string"></xs:element>
			<xs:element name="UpdateTimestamp" type="xs:dateTime"></xs:element>
			<xs:element name="UpdateUser" type="xs:string"></xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ProtocolOtherDocumentsType">
		<xs:sequence>
			<xs:element name="ProtocolNumber" type="xs:string"></xs:element>
			<xs:element name="SequenceNumber" type="xs:int"></xs:element>
			<xs:element name="DocumentId" type="xs:int"></xs:element>
			<xs:element name="DocumentTypeCode" type="xs:int"></xs:element>
			<xs:element name="DocumentTypeDesc" type="xs:string"></xs:element>
			<xs:element name="Description" type="xs:string"></xs:element>
			<xs:element name="FileName" type="xs:string"></xs:element>
			<xs:element name="UpdateTimestamp" type="xs:dateTime"></xs:element>
			<xs:element name="UpdateUser" type="xs:string"></xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ProtocolReferencesType">
		<xs:sequence>
			<xs:element name="ProtocolNumber" type="xs:string"></xs:element>
			<xs:element name="SequenceNumber" type="xs:int"></xs:element>
			<xs:element name="ProtocolReferenceNumber" type="xs:int"></xs:element>
			<xs:element name="ProtocolReferenceTypeCode" type="xs:int"></xs:element>
			<xs:element name="ProtocolReferenceTypeDesc" type="xs:string"></xs:element>
			<xs:element name="ReferenceKey" type="xs:string"></xs:element>
			<xs:element name="ApplicationDate" type="xs:date"></xs:element>
			<xs:element name="ApprovalDate" type="xs:date"></xs:element>
			<xs:element name="Comments" type="xs:string"></xs:element>
			<xs:element name="UpdateTimestamp" type="xs:dateTime"></xs:element>
			<xs:element name="UpdateUser" type="xs:string"></xs:element>			
			<xs:element name="ProtocolReference" type="ps:ProtocolReferenceType" minOccurs="0" maxOccurs="unbounded"></xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ProtocolReferenceType">
		<xs:sequence>
			<xs:element name="ProtocolReferenceTypeCode"
				type="xs:int">
			</xs:element>
			<xs:element name="Description" type="xs:string"></xs:element>
			<xs:element name="UpdateTimestamp" type="xs:dateTime"></xs:element>
			<xs:element name="UpdateUser" type="xs:string"></xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ProtocolRelatedProjectsType">
		<xs:sequence>
			<xs:element name="ProtocolNumber" type="xs:string"></xs:element>
			<xs:element name="SequenceNumber" type="xs:int"></xs:element>
			<xs:element name="ModuleCode" type="xs:int"></xs:element>
			<xs:element name="ProjectNumber" type="xs:string"></xs:element>
			<xs:element name="UpdateTimestamp" type="xs:dateTime"></xs:element>
			<xs:element name="UpdateUser" type="xs:string"></xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ProtocolResearchAreasType">
		<xs:sequence>
			<xs:element name="ProtocolNumber" type="xs:string"></xs:element>
			<xs:element name="SequenceNumber" type="xs:int"></xs:element>
			<xs:element name="ResearchAreaCode" type="xs:string"></xs:element>
			<xs:element name="ResearchAreaDesc" type="xs:string"></xs:element>
			<xs:element name="UpdateTimestamp" type="xs:dateTime"></xs:element>
			<xs:element name="UpdateUser" type="xs:string"></xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ProtocolReviewersType">
		<xs:sequence>
			<xs:element name="ProtocolNumber" type="xs:string"></xs:element>
			<xs:element name="SequenceNumber" type="xs:int"></xs:element>
			<xs:element name="SubmissionNumber" type="xs:int"></xs:element>
			<xs:element name="PersonId" type="xs:string"></xs:element>
			<xs:element name="NonEmployeeFlag" type="xs:string"></xs:element>
			<xs:element name="ReviewerTypeCode" type="xs:int"></xs:element>
			<xs:element name="UpdateTimestamp" type="xs:dateTime"></xs:element>
			<xs:element name="UpdateUser" type="xs:string"></xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ProtocolReviewerType">
		<xs:sequence>
			<xs:element name="UpdateUser" type="xs:string"></xs:element>
			<xs:element name="ReviewerTypeCode" type="xs:int"></xs:element>
			<xs:element name="Description" type="xs:string"></xs:element>
			<xs:element name="UpdateTimestamp" type="xs:dateTime"></xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ProtocolReviewType">
		<xs:sequence>
			<xs:element name="AvailableInLite" type="xs:string"></xs:element>
			<xs:element name="ProtocolReviewTypeCode" type="xs:int"></xs:element>
			<xs:element name="Description" type="xs:string"></xs:element>
			<xs:element name="UpdateTimestamp" type="xs:dateTime"></xs:element>
			<xs:element name="UpdateUser" type="xs:string"></xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ProtocolRiskLevelsType">
		<xs:sequence>
			<xs:element name="ProtocolNumber" type="xs:string"></xs:element>
			<xs:element name="SequenceNumber" type="xs:int"></xs:element>
			<xs:element name="RiskLevelCode" type="xs:int"></xs:element>
			<xs:element name="RiskLevelDesc" type="xs:string"></xs:element>
			<xs:element name="Comments" type="xs:string"></xs:element>
			<xs:element name="DateAssigned" type="xs:date"></xs:element>
			<xs:element name="DateUpdated" type="xs:date"></xs:element>
			<xs:element name="Status" type="xs:string"></xs:element>
			<xs:element name="UpdateUser" type="xs:string"></xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ProtocolSpecialReviewType">
		<xs:sequence>
			<xs:element name="ProtocolNumber" type="xs:string"></xs:element>
			<xs:element name="SequenceNumber" type="xs:int"></xs:element>
			<xs:element name="SpecialReviewNumber" type="xs:int"></xs:element>
			<xs:element name="SpecialReviewCode" type="xs:int"></xs:element>
			<xs:element name="SpecialReviewDesc" type="xs:string"></xs:element>
			<xs:element name="ApprovalTypeCode" type="xs:int"></xs:element>
			<xs:element name="ApprovalTypeDesc" type="xs:string"></xs:element>
			<xs:element name="SpRevProtocolNumber" type="xs:string"></xs:element>
			<xs:element name="ApplicationDate" type="xs:date"></xs:element>
			<xs:element name="ApprovalDate" type="xs:date"></xs:element>
			<xs:element name="Comments" type="xs:string"></xs:element>
			<xs:element name="UpdateUser" type="xs:string"></xs:element>
			<xs:element name="UpdateTimestamp" type="xs:dateTime"></xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ProtocolStatusType">
		<xs:sequence>
			<xs:element name="ProtocolStatusCode" type="xs:int"></xs:element>
			<xs:element name="Description" type="xs:string"></xs:element>
			<xs:element name="UpdateTimestamp" type="xs:dateTime"></xs:element>
			<xs:element name="UpdateUser" type="xs:string"></xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ProtocolSubmissionType">
		<xs:sequence>
			<xs:element name="ProtocolNumber" type="xs:string"></xs:element>
			<xs:element name="SequenceNumber" type="xs:int"></xs:element>
			<xs:element name="SubmissionNumber" type="xs:int"></xs:element>
			<xs:element name="ScheduleId" type="xs:string"></xs:element>
			<xs:element name="CommitteeId" type="xs:string"></xs:element>
			<xs:element name="SubmissionTypeCode" type="xs:int"></xs:element>
			<xs:element name="SubmissionTypeQualCode" type="xs:int"></xs:element>
			<xs:element name="ProtocolReviewTypeCode" type="xs:int"></xs:element>
			<xs:element name="SubmissionStatusCode" type="xs:int"></xs:element>
			<xs:element name="SubmissionDate" type="xs:date"></xs:element>
			<xs:element name="Comments" type="xs:string"></xs:element>
			<xs:element name="YesVoteCount" type="xs:int"></xs:element>
			<xs:element name="NoVoteCount" type="xs:int"></xs:element>
			<xs:element name="AbstainerCount" type="xs:int"></xs:element>
			<xs:element name="VotingComments" type="xs:string"></xs:element>
			<xs:element name="UpdateTimestamp" type="xs:dateTime"></xs:element>
			<xs:element name="UpdateUser" type="xs:string"></xs:element>
			<xs:element name="ProtocolSubmissionDoc" type="ps:ProtocolSubmissionDocType" minOccurs="0" maxOccurs="unbounded"></xs:element>
			<xs:element name="ProtocolActions" type="ps:ProtocolActionsType" minOccurs="0" maxOccurs="unbounded"></xs:element>
			<xs:element name="ProtocolExemptChklst" type="ps:ProtocolExemptChklstType" minOccurs="0" maxOccurs="unbounded"></xs:element>
			<xs:element name="ProtocolExpiditedChklst" type="ps:ProtocolExpiditedChklstType" minOccurs="0" maxOccurs="unbounded"></xs:element>
			<xs:element name="ProtocolReviewers" type="ps:ProtocolReviewersType" minOccurs="0" maxOccurs="unbounded"></xs:element>
			</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ProtocolSubmissionDocType">
		<xs:sequence>
			<xs:element name="ProtocolNumber" type="xs:string"></xs:element>
			<xs:element name="SequenceNumber" type="xs:int"></xs:element>
			<xs:element name="SubmissionNumber" type="xs:int"></xs:element>
			<xs:element name="DocumentId" type="xs:int"></xs:element>
			<xs:element name="FileName" type="xs:string"></xs:element>
			<xs:element name="UpdateTimestamp" type="xs:dateTime"></xs:element>
			<xs:element name="UpdateUser" type="xs:string"></xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="protocolType">
		<xs:sequence>
			<xs:element name="AvailableInLite" type="xs:string"></xs:element>
			<xs:element name="ProtocolTypeCode" type="xs:int"></xs:element>
			<xs:element name="Description" type="xs:string"></xs:element>
			<xs:element name="UpdateTimestamp" type="xs:dateTime"></xs:element>
			<xs:element name="UpdateUser" type="xs:string"></xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ProtocolUnitsType">
		<xs:sequence>
			<xs:element name="ProtocolNumber" type="xs:string"></xs:element>
			<xs:element name="SequenceNumber" type="xs:int"></xs:element>
			<xs:element name="UnitNumber" type="xs:string"></xs:element>
			<xs:element name="UnitName" type="xs:string"></xs:element>
			<xs:element name="LeadUnitFlag" type="xs:string"></xs:element>
			<xs:element name="PersonId" type="xs:string"></xs:element>
			<xs:element name="UpdateTimestamp" type="xs:dateTime"></xs:element>
			<xs:element name="UpdateUser" type="xs:string"></xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ProtocolRolesType">
		<xs:sequence>			
			<xs:element name="Role" type="xs:int"></xs:element>
			<xs:element name="RoleName" type="xs:string"></xs:element>
			<xs:element name="UserRoles" type="ps:ProtocolUserRolesType" minOccurs="0" maxOccurs="unbounded"></xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ProtocolUserRolesType">
		<xs:sequence>
			<xs:element name="ProtocolNumber" type="xs:string"></xs:element>
			<xs:element name="SequenceNumber" type="xs:int"></xs:element>
			<xs:element name="RoleId" type="xs:int"></xs:element>
			<xs:element name="RoleDesc" type="xs:string"></xs:element>
			<xs:element name="UserId" type="xs:string"></xs:element>
			<xs:element name="UpdateTimestamp" type="xs:dateTime"></xs:element>
			<xs:element name="UpdateUser" type="xs:string"></xs:element>
			<xs:element name="UnitNumber" type="xs:string"></xs:element>
			<xs:element name="UnitName" type="xs:string"></xs:element>
			<xs:element name="PersonId" type="xs:string"></xs:element>
			<xs:element name="PersonName" type="xs:string"></xs:element>
			<xs:element name="UserName" type="xs:string"></xs:element>
		</xs:sequence>
	</xs:complexType>

	
	<xs:complexType name="ProtocolVoteAbstaineesType">
		<xs:sequence>
			<xs:element name="ProtocolNumber" type="xs:string"></xs:element>
			<xs:element name="SequenceNumber" type="xs:int"></xs:element>
			<xs:element name="ScheduleId" type="xs:string"></xs:element>
			<xs:element name="PersonId" type="xs:string"></xs:element>
			<xs:element name="NonEmployeeFlag" type="xs:int"></xs:element>
			<xs:element name="Comments" type="xs:int"></xs:element>
			<xs:element name="UpdateTimestamp" type="xs:dateTime"></xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ProtocolSubjectsType">
		<xs:sequence>
			<xs:element name="ProtocolNumber" type="xs:string"></xs:element>
			<xs:element name="SequenceNumber" type="xs:int"></xs:element>
			<xs:element name="VulnerableSubjectTypeCode" type="xs:int">	</xs:element>
			<xs:element name="VulnerableSubjectTypeDesc" type="xs:string"></xs:element>
			<xs:element name="SubjectCount" type="xs:int"></xs:element>
			<xs:element name="UpdateTimestamp" type="xs:dateTime"></xs:element>
			<xs:element name="UpdateUser" type="xs:string"></xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ProtoAmendRenewalType">
		<xs:sequence>
			<xs:element name="ProtoAmendRenNumber" type="xs:string"></xs:element>
			<xs:element name="DateCreated" type="xs:date"></xs:element>
			<xs:element name="Summary" type="xs:string"></xs:element>
			<xs:element name="ProtocolNumber" type="xs:string"></xs:element>
			<xs:element name="SequenceNumber" type="xs:int"></xs:element>
			<xs:element name="UpdateTimestamp" type="xs:dateTime"></xs:element>
			<xs:element name="UpdateUser" type="xs:string"></xs:element>
			<xs:element name="Type" type="xs:string"></xs:element>
			<xs:element name="ProtocolStatusCode" type="xs:int"></xs:element>
			<xs:element name="ProtocolStatusDesc" type="xs:string"></xs:element>
			<xs:element name="Version" type="xs:string"></xs:element>
			<xs:element name="ProtocolModules" type="ps:ProtocolModulesType" minOccurs="0" maxOccurs="unbounded"></xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ProtoAmendRenewSummaryType">
		<xs:sequence>
			<xs:element name="ProtocolNumber" type="xs:string"></xs:element>
			<xs:element name="ProtoAmendRenewalNumber"
				type="xs:string">
			</xs:element>
			<xs:element name="ProtocolModuleCode" type="xs:int"></xs:element>
			<xs:element name="ProtocolModuleDesc" type="xs:string"></xs:element>
			<xs:element name="UpdateTimestamp" type="xs:dateTime"></xs:element>
			<xs:element name="UpdateUser" type="xs:string"></xs:element>			
			<xs:element name="ProtocolModules" type="ps:ProtocolModulesType" minOccurs="0" maxOccurs="unbounded"></xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ProtoCorrespDefRecipType">
		<xs:sequence>
			<xs:element name="ProtoCorrespTypeCode" type="xs:int"></xs:element>
			<xs:element name="CorrespondentTypeCode" type="xs:int">
			</xs:element>
			<xs:element name="UpdateTimestamp" type="xs:dateTime"></xs:element>
			<xs:element name="UpdateUser" type="xs:string"></xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ProtoCorrespRecipientsType">
		<xs:sequence>
			<xs:element name="ProtocolNumber" type="xs:string"></xs:element>
			<xs:element name="ActionId" type="xs:int"></xs:element>
			<xs:element name="ProtoCorrespTypeCode" type="xs:int">
			</xs:element>
			<xs:element name="PersonId" type="xs:string"></xs:element>
			<xs:element name="PersonName" type="xs:string"></xs:element>
			<xs:element name="NonEmployeeFlag" type="xs:string"></xs:element>
			<xs:element name="Comments" type="xs:string"></xs:element>
			<xs:element name="NumberOfCopies" type="xs:int"></xs:element>
			<xs:element name="UpdateTimestamp" type="xs:dateTime"></xs:element>
			<xs:element name="UpdateUser" type="xs:string"></xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ProtoCorrespTemplType">
		<xs:sequence>
			<xs:element name="ProtoCorrespTypeCode" type="xs:int"></xs:element>
			<xs:element name="CommitteeId" type="xs:string"></xs:element>
			<xs:element name="UpdateTimestamp" type="xs:dateTime"></xs:element>
			<xs:element name="UpdateUser" type="xs:string"></xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ProtoCorrespType">
		<xs:sequence>
			<xs:element name="ProtoCorrespTypeCode" type="xs:int"></xs:element>
			<xs:element name="Description" type="xs:string"></xs:element>
			<xs:element name="UpdateTimestamp" type="xs:dateTime"></xs:element>
			<xs:element name="UpdateUser" type="xs:string"></xs:element>
			<xs:element name="ModuleId" type="xs:string"></xs:element>
			<xs:element name="ProtocolCorrespondence" type="ps:ProtocolCorrespondenceType" minOccurs="0" maxOccurs="unbounded"></xs:element>
			<xs:element name="ProtoCorrespDefRecip" type="ps:ProtoCorrespDefRecipType" minOccurs="0" maxOccurs="unbounded"></xs:element>
			<xs:element name="ProtoCorrespRecipients" type="ps:ProtoCorrespRecipientsType" minOccurs="0" maxOccurs="unbounded"></xs:element>
			<xs:element name="ProtoCorrespTempl" type="ps:ProtoCorrespTemplType" minOccurs="0" maxOccurs="unbounded"></xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ProtoViewHistoryItemsType">
		<xs:sequence>
			<xs:element name="ProtoViewHistoryItemCode" type="xs:int"></xs:element>
			<xs:element name="Description" type="xs:string"></xs:element>
			<xs:element name="ItemType" type="xs:string"></xs:element>
			<xs:element name="TableName" type="xs:string"></xs:element>
			<xs:element name="ColumnName" type="xs:string"></xs:element>
			<xs:element name="ConditionalValue" type="xs:string"></xs:element>
			<xs:element name="UpdateTimestamp" type="xs:dateTime"></xs:element>
			<xs:element name="UpdateUser" type="xs:string"></xs:element>
		</xs:sequence>
	</xs:complexType>	

	<xs:complexType name="SchoolInfoType">
		<xs:sequence>
			<xs:element name="SchoolName" type="xs:string" minOccurs="0"></xs:element>
			<xs:element name="Acronym" type="xs:string" minOccurs="0"></xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
