coeus-impl/src/main/resources/org/kuali/kra/printing/schema/Sponsor.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
   - Kuali Coeus, a comprehensive research administration system for higher education.
   - 
   - Copyright 2005-2016 Kuali, Inc.
   - 
   - This program is free software: you can redistribute it and/or modify
   - it under the terms of the GNU Affero General Public License as
   - published by the Free Software Foundation, either version 3 of the
   - License, or (at your option) any later version.
   - 
   - This program is distributed in the hope that it will be useful,
   - but WITHOUT ANY WARRANTY; without even the implied warranty of
   - MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
   - GNU Affero General Public License for more details.
   - 
   - You should have received a copy of the GNU Affero General Public License
   - along with this program.  If not, see <http://www.gnu.org/licenses/>.
 -->
<!-- edited with XMLSpy v2006 rel. 3 U (http://www.altova.com) by Geo Thomas (Massachusetts Institute of Technology) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:sponsor="http://v2.xml.utils.coeus.mit.edu/sponsor" targetNamespace="http://v2.xml.utils.coeus.mit.edu/sponsor" elementFormDefault="qualified" attributeFormDefault="qualified">
	<xs:element name="SPONSOR">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="SPONSOR_CODE" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="6"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="SPONSOR_NAME" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="60"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="ACRONYM" nillable="true" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="10"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element ref="sponsor:SPONSOR_TYPES" minOccurs="0"/>
				<xs:element name="DUN_AND_BRADSTREET_NUMBER" nillable="true" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="20"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="DUNS_PLUS_FOUR_NUMBER" nillable="true" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="20"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="DODAC_NUMBER" nillable="true" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="20"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="CAGE_NUMBER" nillable="true" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="20"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="POSTAL_CODE" nillable="true" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="15"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="STATE" nillable="true" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="30"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="COUNTRY_CODE" nillable="true" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="3"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="ROLODEX_ID" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:decimal">
							<xs:totalDigits value="6"/>
							<xs:fractionDigits value="0"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="AUDIT_REPORT_SENT_FOR_FY" nillable="true" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="4"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="OWNED_BY_UNIT" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="8"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="CREATE_USER" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="8"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="UPDATE_TIMESTAMP" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:dateTime"/>
					</xs:simpleType>
				</xs:element>
				<xs:element name="UPDATE_USER" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="8"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element ref="sponsor:SPONSOR_CONTACT" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="sponsor:SPONSOR_FORMS" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="sponsor:SPONSOR_HIERARCHY" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="SPONSOR_CONTACT">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="SPONSOR_CODE" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="6"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element ref="sponsor:SPONSOR_CONT_TYPE" minOccurs="0"/>
				<xs:element name="PERSON_ID" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="9"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="UPDATE_TIMESTAMP" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:dateTime"/>
					</xs:simpleType>
				</xs:element>
				<xs:element name="UPDATE_USER" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="8"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="SPONSOR_CONT_TYPE">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="SPONSOR_CONTACT_TYPE_CODE" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:decimal">
							<xs:totalDigits value="3"/>
							<xs:fractionDigits value="0"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="DESCRIPTION" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="200"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="UPDATE_TIMESTAMP" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:dateTime"/>
					</xs:simpleType>
				</xs:element>
				<xs:element name="UPDATE_USER" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="8"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element ref="sponsor:SPONSOR_CONTACT" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="SPONSOR_FORM_PAGE_FOOTER">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="SPONSOR_CODE" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="6"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="PACKAGE_NUMBER" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:decimal">
							<xs:totalDigits value="3"/>
							<xs:fractionDigits value="0"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="PAGE_NUMBER" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:decimal">
							<xs:totalDigits value="3"/>
							<xs:fractionDigits value="0"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="PAGE_FOOTER" nillable="true" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="2147483647"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="UPDATE_TIMESTAMP" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:dateTime"/>
					</xs:simpleType>
				</xs:element>
				<xs:element name="UPDATE_USER" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="8"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="SPONSOR_FORM_PAGES">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="SPONSOR_CODE" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="6"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="PACKAGE_NUMBER" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:decimal">
							<xs:totalDigits value="3"/>
							<xs:fractionDigits value="0"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="PAGE_NUMBER" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:decimal">
							<xs:totalDigits value="3"/>
							<xs:fractionDigits value="0"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="PAGE_DESCRIPTION" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="200"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="PAGE_TYPE" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="2"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="LOOP_FLAG" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="1"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="LOOP_ON" nillable="true" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="30"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="PB_DW_RETRIEVE_FLAG" nillable="true" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="1"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="PAGE" nillable="true" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="2147483647"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="UPDATE_TIMESTAMP" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:dateTime"/>
					</xs:simpleType>
				</xs:element>
				<xs:element name="UPDATE_USER" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="8"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element ref="sponsor:SPONSOR_FORM_PAGE_FOOTER" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="SPONSOR_FORM_TEMPLATES">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="SPONSOR_CODE" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="6"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="PACKAGE_NUMBER" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:decimal">
							<xs:totalDigits value="3"/>
							<xs:fractionDigits value="0"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="PAGE_NUMBER" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:decimal">
							<xs:totalDigits value="3"/>
							<xs:fractionDigits value="0"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="PAGE_DESCRIPTION" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="200"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="FORM_TEMPLATE" nillable="true" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:base64Binary">
							<xs:maxLength value="4000"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="UPDATE_TIMESTAMP" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:dateTime"/>
					</xs:simpleType>
				</xs:element>
				<xs:element name="UPDATE_USER" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="8"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="SPONSOR_FORMS">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="SPONSOR_CODE" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="6"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="PACKAGE_NUMBER" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:decimal">
							<xs:totalDigits value="3"/>
							<xs:fractionDigits value="0"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="PACKAGE_NAME" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="200"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="UPDATE_TIMESTAMP" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:dateTime"/>
					</xs:simpleType>
				</xs:element>
				<xs:element name="UPDATE_USER" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="8"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element ref="sponsor:SPONSOR_FORM_PAGES" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="sponsor:SPONSOR_FORM_TEMPLATES" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="SPONSOR_HIERARCHY">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="HIERARCHY_NAME" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="100"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="SPONSOR_CODE" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="6"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="LEVEL1" nillable="true" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="50"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="LEVEL2" nillable="true" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="50"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="LEVEL3" nillable="true" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="50"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="LEVEL4" nillable="true" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="50"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="LEVEL5" nillable="true" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="50"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="LEVEL6" nillable="true" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="50"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="LEVEL7" nillable="true" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="50"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="LEVEL8" nillable="true" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="50"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="LEVEL9" nillable="true" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="50"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="LEVEL10" nillable="true" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="50"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="UPDATE_TIMESTAMP" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:dateTime"/>
					</xs:simpleType>
				</xs:element>
				<xs:element name="UPDATE_USER" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="8"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="LEVEL1_SORTID" nillable="true" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:decimal">
							<xs:totalDigits value="4"/>
							<xs:fractionDigits value="0"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="LEVEL2_SORTID" nillable="true" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:decimal">
							<xs:totalDigits value="4"/>
							<xs:fractionDigits value="0"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="LEVEL3_SORTID" nillable="true" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:decimal">
							<xs:totalDigits value="4"/>
							<xs:fractionDigits value="0"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="LEVEL4_SORTID" nillable="true" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:decimal">
							<xs:totalDigits value="4"/>
							<xs:fractionDigits value="0"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="LEVEL5_SORTID" nillable="true" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:decimal">
							<xs:totalDigits value="4"/>
							<xs:fractionDigits value="0"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="LEVEL6_SORTID" nillable="true" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:decimal">
							<xs:totalDigits value="4"/>
							<xs:fractionDigits value="0"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="LEVEL7_SORTID" nillable="true" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:decimal">
							<xs:totalDigits value="4"/>
							<xs:fractionDigits value="0"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="LEVEL8_SORTID" nillable="true" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:decimal">
							<xs:totalDigits value="4"/>
							<xs:fractionDigits value="0"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="LEVEL9_SORTID" nillable="true" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:decimal">
							<xs:totalDigits value="4"/>
							<xs:fractionDigits value="0"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="LEVEL10_SORTID" nillable="true" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:decimal">
							<xs:totalDigits value="4"/>
							<xs:fractionDigits value="0"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="SPONSOR_TYPES">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="SPONSOR_TYPE_CODE">
					<xs:simpleType>
						<xs:restriction base="xs:decimal">
							<xs:totalDigits value="2"/>
							<xs:fractionDigits value="0"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="DESCRIPTION">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="100"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="UPDATE_TIMESTAMP">
					<xs:simpleType>
						<xs:restriction base="xs:dateTime"/>
					</xs:simpleType>
				</xs:element>
				<xs:element name="UPDATE_USER">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="8"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
